[2021-06-09 19:59] lstocchi commented on #955
Hi @cilerler, thanks for opening this issue and sorry for the late response. We are working on improving the log viewer and this issue will be fixed when https://github.com/Azure/vscode-kubernetes-tools/pull/949 will be merged. Sorry for the trouble.

[2021-06-10 01:38] cilerler commented on #955
Thanks for the update 🤗

[2021-06-10 14:19] TJM opened #959 "Support: What triggers the extension to connect to the cluster?"
Hi all,

Firstly, let me say thank you for maintaining this awesome extension!

I use the Kubernetes extension mostly for checking helm charts we are editing, and I really do like it... however it *aggressively* tries to connect to whatever Kubernetes cluster is the current context in my kubeconfig whenever I have my Puppet control-repo open (I am sure there are other folders, but this is the one

[2021-06-18 17:32] IAmHopp commented on #617
Guys, I'm bumping this up because, although I see the conversation evolved a lot from the original issue mentioned, I still get that same behavior. Meaning, I get this error message when I click on Open Dashboard:

[2021-06-18 17:39] squillace commented on #617
@IAmHopp apologies but this is not a VS Code Kubernetes extension issue -- unfortunately. AKS changed the security stance of the Kube dashboard, and for good reason. It turns out that an available dashboard is the main single security weakness for exploiting clusters across all clouds, and I'm fairly sure that no cloud now enables it by default (if they do, it's a vector).

We do need documentatio

[2021-06-18 17:48] IAmHopp commented on #617
I see. I just wonder if there isn't a way to better communicate this to the end user? The error message I get seems to not be descriptive of the actual issue at all. It seems to be a basic file permission error. If it goes any deeper than that, I think that should be communicated to the end user, if possible.

FYI I'm not using AKS. (: I don't think the workaround applies for me at all. I'm not ge

[2021-06-18 17:51] squillace commented on #617
yes, we'll work on a general "fix" -- which is almost certainly going to be a better error message pointing out the general problem. But note, because all we're doing is what can be done on the command line, quite literally one fix could be, "if you can't run <command> on the command line, VS Code can't do it either. Go fix it." :-)

You should also remember that other than trying to figure out wh

[2021-06-18 18:26] IAmHopp commented on #617
I get it if you're talking about the Kubernetes commands themselves. But kubectl proxy (which is the Kubernetes part of the command Visual Studio Code is issuing) works fine here from the command line. (:

The error is an access denied on the file inside the folder of the extension. That's where I think either we're not speaking about the same thing, or I'm missing something from what you're sayin

[2021-06-18 18:38] squillace commented on #617
THAT we'll be sure to understand and fix, IF possible. Note that now VS Code has changed its behavior to require trusting of certain extension resources -- so we now have a larger issue to address that may or may NOT be related to what you're seeing here. :-|

Life is fun.

[2021-06-18 18:41] IAmHopp commented on #617
Perfect. All I was asking. (:

[2021-06-19 14:07] exocode opened #960 "Lint yells when using improvements"
Hi there,

[code]

I have this problem when I use skaffold.dev which generates a Yaml files from my docker-compose.yml files like so:

`skaffold init --compose-file docker-compose.yml`

[2021-06-19 14:12] exocode opened #961 "Lint yells when using 'null'"
Hi there,
no big deal but I like my IDE silent.

 linter is yelling, but `null` and `{}` seems legit for me at this point.

I have this problem when I use skaffold.dev which generates a Yaml files from my docker-compose.yml files like so:
`skaffold init --compose-file docker-compose.yml`

Should I post that to the skaffold.dev Team?

[code]

regards

[2021-06-20 17:37] iamfredrickokereke commented on #669
Hi Team,

I was hoping the ReplicaSet snippet option would be added to the snippet tool extension from the above request by @nwipfli and @emangual.
Kindly point me to it if this has already been sorted out.

Well-done,
Regards.

[2021-06-29 07:34] pantosha opened #962 "Provide ability to config path to vsdbg"
PR #674 added the ability to attach and debug containers with .net core inside.

Unfortunately, path to vsdbg is hardcoded in PR (`/vsdbg/vsdbg`) and differs from instructions (`~/vsdbg/vsdbg`): [vscode-omnisharp](https://github.com/OmniSharp/omnisharp-vscode/wiki/Attaching-to-remote-processes#installing-vsdbg-on-the-server), [debug instruction for extension itslef](https://github.com/Azure/vscode

[2021-06-29 10:49] cronventis commented on #769
This is still the case.

And for me, since I'm not using the kubectl command at all in the terminal, I would like to be able to disable the kubectl usage.

[2021-07-06 03:53] #942 closed

[2021-07-06 03:54] #917 closed

[2021-07-06 14:41] TJM commented on #959
Wow, I was sortof hoping someone would have some advice as to why VSCode thinks it needs to connect to the Kubernetes cluster, when it is not even being used (vscode is running in the background).

[2021-07-06 16:35] bacongobbler commented on #959
I assume the extension attempts to use your active kubectl context to [update the status bar](https://github.com/Azure/vscode-kubernetes-tools/blob/455a188c0a32e786a8b64bf306fb4b88c866ffe2/src/extension.ts#L362-L370), which is why it requires a connection. Have you tried [debugging the extension](https://vscode.readthedocs.io/en/latest/extensions/debugging-extensions/) to determine the cause?

Tha

[2021-07-06 16:37] bacongobbler commented on #959
Note: the status bar can be disabled with the `vs-kubernetes.disable-context-info-status-bar` option.

[2021-07-06 20:48] TJM commented on #959
The status bar does display the "current" context, which should just be reading a yaml file or `kubectl config current-context` ... Neither requires authentication. It is almost like it is kicking off some sort of "status" interface? (I will have to look into the debugging thing, to see if I can do it) :)

[code]

good lord, there are a lot of them #238

Perhaps there is an unintended interaction

[2021-07-06 21:31] itowlson commented on #959
@TJM Not much to add to what @bacongobbler said except to apologise for not getting you a response sooner - I _am_ a maintainer and I should have got to it quicker!

The list of things that cause the extension to load is in `package.json` at https://github.com/Azure/vscode-kubernetes-tools/blob/455a188c0a32e786a8b64bf306fb4b88c866ffe2/package.json#L27 - most are explicit commands or views, so the

[2021-07-06 21:40] TJM commented on #959
That would make sense as to why my puppet control-repo is "activating" as it has a bunch of yaml files in it. I might also be able to set some sort of workspace-level parameter that sets the context to something like minikube or kind or whatever so that it doesn't bother me. The things that you say about checking version and what not make sense, as I also noticed that it "activates" when the kubec

[2021-07-06 22:01] teamtitangithub commented on #823
The issue is back since i updated to
![image](https://user-images.githubusercontent.com/80030984/124671874-6f70a700-deb6-11eb-98ed-09a9603e6ac3.png)

[2021-07-06 22:05] teamtitangithub opened #968 "issue empty list for secrets child tree'is back"
I would reopen https://github.com/Azure/vscode-kubernetes-tools/issues/823, but i don't have the right.
Same symptom since viscode /plugin update
![image](https://user-images.githubusercontent.com/80030984/124672102-c5dde580-deb6-11eb-8167-bf7b6c35a083.png)
![image](https://user-images.githubusercontent.com/80030984/124672134-d3936b00-deb6-11eb-9b0e-ca9744fd737c.png)
![image](https://user-images.g

[2021-07-06 23:01] itowlson commented on #968
Looking back at #823 I'm not sure we ever got to the bottom of it - @bacongobbler looks like you were investigating it - any ideas?

[2021-07-06 23:32] bacongobbler commented on #968
I wasn't able to reproduce the original issue. Not sure what would cause it, sorry!

[2021-07-07 04:38] #962 closed

[2021-07-07 10:17] teamtitangithub commented on #968
well the same as before
Big secrets (binary charts) prodcued by helm

[2021-07-07 12:19] lstocchi commented on #968
I was able to replicate it. With many big secrets the execution fails but nothing is shown to the user

[code]

[2021-07-07 15:38] bacongobbler commented on #968
Interesting... So is this an upstream bug with `helm list` or the extension?

I know there have been a few issues related to server-side release filtering with `helm list` in Helm 2. The changes in Helm 3 to scope the client to the namespace should have resolved most cases.

This use case doesn't seem like something Helm sees on a regular basis, as we're talking about a VERY large release ledger w

[2021-07-07 16:01] lstocchi commented on #968
@bacongobbler i found the error inside the extension. When it tries to execute the command `get secret -o json` it ends up with that error, but it can also happen with configMaps, for example, if they are too big. This is not a problem only related to secrets generated by helm. Or maybe i found another issue? :thinking:
BTW I created big secrets without using helm (~1MB size)

[2021-07-07 22:29] itowlson commented on #968
This is when we access secrets directly via kubectl.  It's not using `helm list`.  That the secrets were created via Helm is, as Luca says, incidental.

@lstocchi I bet you are right that it affects configmaps as well, but we are seeing it more with secrets because lots of people use Helm and that creates lots of secrets.  It is almost certainly the same extension code for configmaps and secrets.

[2021-07-07 23:17] brendandburns commented on #968
fwiw, my bet is that we're trying to load the entire stdout buffer in one go, rather than taking it as a stream, and that we're running into some sort of max buffer size (judging by the error above)

If you look at this:
https://nodejs.org/api/child_process.html#child_process_child_process_exec_command_options_callback

The default max size is 1Mb, sounds like yours are bigger than that.

[2021-07-08 06:47] sheikalthaf opened #970 "I can't able to connect to my cluster win wsl2"

[2021-07-08 09:46] lstocchi commented on #968
Yes, finishing one thing and i'll work on it :+1:

[2021-07-15 16:49] lyledodgegh opened #972 "Switch AAD Tenant being used in tree"
Is there a way to switch the tenant being used? I can't see how to switch that tenant so it picks up subscriptions that you'd normally switch to in the cli or the portal.

[2021-07-16 11:02] RafaelMoreira1180778 commented on #561
Got it working using this, should be found somewhere in the documentation, the command makes sense but wouldn't get there without help.

[2021-07-23 07:56] bil9000 commented on #914
I had that same issue. I'm baffled.

[2021-07-23 23:29] josephaVMW opened #973 "Add customizable filters to Helm Releases via command flags"
Hey All,

Love being able to visualize everything inside of VSCode. I noticed that the list that populates in the **Helm Releases** section appears to be using the command `helm list` without any flags (as far as I can tell). It would be great if there were some option to add one or more of [the flags](https://helm.sh/docs/helm/helm_list/#options). For example, I would love to default to `helm lis

[2021-07-25 20:04] jleni commented on #950
any updates?

[2021-07-29 14:07] sudhirverma opened #974 "Delete multiple cluster at once."
It is difficult to delete clusters one by one if we have a lot of clusters in the tree view. It would be nice if we have select multiple clusters and delete them.

[2021-07-29 20:58] gorkem opened #975 "Unset kubeconfig"
Once a kubeconfig is set via using the vscode command Set Kubeconfig it can not be unset to default to system.

[2021-08-27 05:03] johnbendi opened #976 "Helm 3 is not recognized"
It seems the tool does not recognize the latest helm version and it's api changes as it's still looking for repositories in the wrong location at `$HOME/.helm/repository/repositories.yaml`

[2021-09-03 13:50] felipecrs opened #977 "Breaks `Chart.yaml` validation"
The `vscode-yaml` extension provides validation for `Chart.yaml` files through https://json.schemastore.org/chart.json, but when this extension is enabled, it breaks it and the `Chart.yaml` is treated as a normal Kubernetes manifest.

[2021-09-07 14:44] bacongobbler commented on #977
Please see https://github.com/Azure/vscode-kubernetes-tools/pull/948. Does that fix the issue for you?

[2021-09-07 15:12] felipecrs commented on #977
Hm... most likely. Let's see in the next release. :D

[2021-09-08 04:33] arash-bizcover opened #978 "Support K3D (k3s)"
Support using K3D(k3s) rather than minikube.
https://k3d.io/

[2021-09-08 15:36] bacongobbler commented on #976
ping.

[2021-09-09 14:40] chrismason opened #979 "Error: kubectl not found"
System Information:
- MacOS: 10.15.7
- VSCode: 1.60.0
- Kubernetes Extension: v1.3.3

Recently I started having an issue where the extension cannot find `kubectl` on VSCode launch. I get an error saying

In my settings, I have tried setting both `vscode-kubernetes.kubectl-path` as well as `vscode-kubernetes.kubectl-path.mac` to a specific path and it is giving the same error. E.g.
[code]
And `/usr

[2021-09-09 15:07] bacongobbler commented on #979
Just to confirm... This is how your settings file looks like at the moment, right?

[code]

Note that `vs-kubernetes` needs to be noted twice in the document.

[2021-09-09 15:25] chrismason commented on #979
Correct, there are actually 2 entires in there, not sure which one is the proper one. e.g.
[code]

I am not seeing anything specific in the path that might be causing issues and looks how I would expect it to look

[2021-09-14 11:10] chinmayeemishra1 opened #980 "unable to install kubectl"
Issue Type: <b>Feature Request</b>

Installing kubectl...
Already got Helm...
Installing Minikube...
Unable to install kubectl: Failed to download kubectl: Response code 403 (Forbidden)
Unable to install Minikube: Failed to download Minikube: error was Response code 403 (Forbidden)
Done
Installing kubectl...
Already got Helm...
Installing Minikube...
Unable to install kubectl: Failed to download k

[2021-09-14 14:03] Bafff commented on #979
"vscode-kubernetes.kubectl-path.mac": "/usr/**loca**/bin/kubectl" maybe because of this?

[2021-09-14 20:59] chrismason commented on #979
Any idea where the `vscode-kubernetes.kubectl-path.mac` setting may be coming from?

[2021-09-29 06:03] luismanuelmontoro opened #981 "Can we create a finder in the pods menu?"
I have tons of pods in the same namespace and i usually do in command a Grep or Select-String, can we have the same in this incredible plugin?

[2021-09-30 06:27] olljanat opened #982 "[Feature request] Support namespace selector"
Shared multi-tenant/multi-application clusters can easily contain hundreds of namespaces which makes using this extension hard.

Most of the users however are working with one/couple of application(s) which why it would be very useful to have support for filtering those. Kubernetes RBAC does not and will not support that at least on near future https://github.com/kubernetes/kubernetes/issues/56582

[2021-10-04 10:18] isidorn opened #983 "Simplify debug"
Hi VS Code PM here 👋

We would love if Kubernetes debug would simplify debugging as much as possible.
Currently I see that users have to trigger a special command in order to start debugging.

Could Kubernetes instead contribute  a dynamic `resolveDebugConfiguartion` that will provide a launch configuration on the fly. [Example](https://github.com/microsoft/vscode-mock-debug/blob/main/src/activate

[2021-10-05 19:55] gnunn1 commented on #982
I was going to open a new feature request for an idea which addresses this issue but I think it would make sense to include it here.

As noted in this issue the extension isn't very useable when the context has hundreds of clusters/users/namespaces as finding the right context to open is difficult. Additionally switching quickly between two namespaces, say dev and qa namespaces to troubleshoot, is

[2021-10-05 22:48] olljanat commented on #982
Definitely it make sense try find common solution. However some comments to these:

We need combination of these like it was on original request where user have permission to list all namespaces but access to only some of them which why there need to be some kind of filtering feature.

Example in case fully dynamic environments where namespace(s) gets automatically created for each pull request (a

[2021-10-07 09:50] dessite commented on #976
Same issue for me
[code]

Yet the extension does not see repos
![image](https://user-images.githubusercontent.com/8626322/136361608-848b0b1f-6519-4f0f-a755-f2e468eb790d.png)

![image](https://user-images.githubusercontent.com/8626322/136361638-23a22d70-69da-4f8d-921e-8eb8dcfcadf6.png)

[2021-10-21 01:51] #968 closed

[2021-10-21 07:24] apupier opened #985 "Provide extension recommendation for Camel K"
The idea is to leverage the new feature of extension recommendation https://github.com/Azure/vscode-kubernetes-tools/pull/780 for Camel

[2021-10-21 07:31] apupier commented on #985
3 extensions useful:
- the Camel Extension pack https://marketplace.visualstudio.com/items?itemName=redhat.apache-camel-extension-pack
- Tooling for Apache Camel K https://marketplace.visualstudio.com/items?itemName=redhat.vscode-camelk
- Language Support for Apache Camel https://marketplace.visualstudio.com/items?itemName=redhat.vscode-apache-camel

with current tags not harmonized (might be bett

[2021-10-21 18:34] #772 closed

[2021-10-27 12:49] arbesulo opened #988 "Problem displaying the logs when the lines contains '<'"
When I see the logs from the extension I see this:

[code]

but the original lines are:

[code]

It happens on every line when some class name is enclosed in '<' '>'

[2021-10-28 13:26] div-sitecore opened #989 "VS code not able to display anything in dropdows"
![image](https://user-images.githubusercontent.com/89851684/139265293-0652bbc2-d65e-419d-9ee5-303713d61c87.png)

The extension is not able to display anything in the drop-down for any option. However if the use kubectl commands I am able to retrieve information. I am connect to my AKS

VS code version - September 2021 (version 1.61)
Extension version - 1.3.3

Is there any fix for this?

[2021-10-28 14:10] thernstig opened #990 "Helm bracket pair colorization for helm template files"
https://github.com/microsoft/vscode/issues/132240#issuecomment-953674123 has a fix to properly do bracket pair colorization via the setting `editor.language.colorizedBracketPairs`.

It would be cool if this extension could add the proper colorization as per the above comment, without users having to manually change their settings for this to work.

[2021-10-28 14:14] thernstig opened #991 "helm vs. helm-template language identifier"
I think this might be a legacy issue that just turned out to be like this due to unfortunate reasons. But the status bar and the "Change Language Mode" both shows `helm-template`:

**Status bar**
![image](https://user-images.githubusercontent.com/30827238/139273637-38b28d01-1133-497b-b88d-102a61113366.png)

**Change Language Mode**
![image](https://user-images.githubusercontent.com/30827238/139273

[2021-10-30 08:07] wvolkov opened #993 "Feature: add option to display nodes grouped by a namespace"
I would like to put under consideration following feature:

At extension panel it could be quite handy to display Nodes siblings according to its namespace belonging, additionally to existing pool order:

**Current View:**
![image](https://user-images.githubusercontent.com/49549154/139525195-5796bc75-992d-4796-8c03-3181daf6ec13.png)

**Suggested grouping by namespace:**
![image](https://user-image

[2021-10-30 14:39] gorkem commented on #993
I do not believe Kubernetes Nodes belong to specific namespaces.  Scheduler can schedule workloads from any workspace by default. Do you have a specific toleration or node-selector on your workloads ?

[2021-10-30 17:34] wvolkov commented on #993
Maybe I described something wrong, please correct me.

I consider not Nodes, but its siblings (if my understanding is correct - pods). So in cases, where each pod has assignment to a specific namespace other than default:
![image](https://user-images.githubusercontent.com/49549154/139542485-9036beea-8583-4330-bd83-23d554c1a4e0.png)

It would be great at add a setting to group it at view panel, sim

[2021-11-03 07:35] Lannnnh opened #994 "Error: Logs pod failed"
If pod contains multiple containers, kubectl logs need to specify one of the containers. But the tool does't support specify one of the containers.

[2021-11-03 09:00] lstocchi commented on #994
Hi @Lannnnh, thanks for opening this issue. Could you give us more infos about your pod (describe/get command on that pod)? Any ways i could reproduce it?
The log viewer supports multiple containers. You should see something similar to this combo (below) where you can select the container you want.
![image](https://user-images.githubusercontent.com/49404737/140032677-3c54201c-318a-4e12-8865-7087a8

[2021-11-03 23:11] rille111 opened #995 "The extension falsely reports validation errors in Kustomization patch manifests"
## Problem description

Can´t ignore / disable or change schema validation on kustomization patch files. The extension believes it's a true kubernetes manifest with all its expections, and validates with the kubernetes schema. Therefore the extension complains that the .yaml patch file doesn´t match the expectations.

## Steps to Reproduce

1. Create a **patch.yaml** file with the following conten

[2021-11-04 03:22] Lannnnh commented on #994
thanks for your reply.
I click Workloads -> Pods -> select a pod -> Logs
![image](https://user-images.githubusercontent.com/33798052/140252375-88f5233e-10f9-4c70-a6b5-10afae606c68.png)
There is no Container option.
I use 1.3.3 version.

[2021-11-04 15:45] JackSinclairT opened #996 "Add Existing Cluster fails with blank page"
When adding an existing cluster, this allows you to select cluster type, and then subscription, however the following page is blank:
![image](https://user-images.githubusercontent.com/9784427/140366774-1e6a4548-07ae-4a0e-9a63-4fcb48d29471.png)

We've been unable to add any clusters to this plugin for some time now. What causes this?

[2021-11-05 13:17] lstocchi commented on #996
Hi @JackSinclairT, thanks for opening this issue. I tried and it's working fine for me. Could you give us more infos about your environment? Extension version installed? Vscode version? Os?
Then, when you see this blank page, if you execute `Developer: Open Webview Developer Tools` in the command palette, do you see any error/log in the console tab?
Thank you and sorry for the trouble.

[2021-11-05 13:20] lstocchi commented on #994
@Lannnnh it is hard to guess the problem without any other info. Could you please paste the output of describe/get command on that pod? `kubectl get/describe pod $podname`? Thanks

[2021-11-05 15:22] JackSinclairT commented on #996
I see the following on click of the final 'next' button before getting the blank screen

![image](https://user-images.githubusercontent.com/9784427/140535023-0c554e55-5b32-4776-8e95-978a00d0ab2a.png)

[2021-11-08 12:13] bruno-brant opened #997 "Extension is "leaking" kubectl processes after vscode closes"
I'm using this extension as it's a dependency for _Bridge to Kubernetes_. It my current environment, whenever I close vscode, a kubeclt process is left running pointing to the workspace folder. From what I could gather, the command it's running is "proxy".

The expected behavior is to close any child processes when vscode is closed.

----
Environment:

Version:          Code - Insiders 1.63.0-insi

[2021-11-08 13:27] lstocchi commented on #996
Thank you @JackSinclairT we'll look into it.

@itowlson @bacongobbler could you please try to replicate it?
I found an error but it is different from the one reported here `Uncaught Error: Could not resolve webview id. Webview will not work.
This is usually caused by incorrectly trying to navigate in a webview`. Investigating on it.

[2021-11-09 14:44] karthikeyan23 opened #998 "macOS Monterey: VSCode - Kubernetes extension throws an error "Kubectl command failed: fatal error: runtime: bsdthread_register error runtime stack:""
After upgrading to macOS Monterey, **the Kubernetes Extension(version v1.3.3) of VSCode (Version: 1.62.0)** is throwing the following error whenever it initialise. But the **Homebrew** installed **Kubectl** is still working fine in the terminal. Is anyone else facing this issue? Any possible solution would be of great help

```Kubectl command failed: fatal error: runtime: bsdthread_register error

[2021-11-09 18:40] brendandburns commented on #4
Closing as obsolete.

[2021-11-09 18:40] #4 closed

[2021-11-09 18:43] brendandburns commented on #373
Closing as obsolete.

[2021-11-09 18:43] #373 closed

[2021-11-09 18:44] brendandburns commented on #82
Closing as obsolete.

[2021-11-09 18:44] #82 closed

[2021-11-09 18:45] brendandburns commented on #289
Closing as obsolete.

[2021-11-09 18:45] #289 closed

[2021-11-10 08:43] veonua commented on #989
same thing here, it works on another machine with the same clusters. so probably the issue is in settings

[2021-11-10 10:12] lstocchi commented on #997
Hi @bruno-brant , thanks for opening this. Can you please describe what you do exactly to replicate it? I was able to verify the problem you are mentioning (leaking kubectl processes) with the `port-forward` action but not by using `Bridge to Kubernetes`. It would be helpful to replicate your use case as well. Thank you!

[2021-11-10 10:57] lstocchi commented on #911
Closing it as obsolete

[2021-11-10 10:57] #911 closed

[2021-11-10 11:00] lstocchi commented on #831
Closing it. New log webview offers this.

[2021-11-10 11:00] #831 closed

[2021-11-10 11:04] lstocchi commented on #774
Closing it as obsolete. If you face some issues with the new log webview, please let us know.

[2021-11-10 11:04] #774 closed

[2021-11-10 11:46] lstocchi commented on #995
Thanks @rille111 for opening this and sharing your ideas with us. Really appreciated!!

@itowlson @squillace WDYT about @rille111 's last proposal? Ignoring files that contains a specific comment at the beginning and avoid parsing them? In last months we ended up having many similar cases about people complaining that their files didn't get parsed correctly. Openapi, Kustomize and so on... This co

[2021-11-10 15:25] Dzejkop opened #1000 "Unable to connect to the server..."
Whenever I'm trying to open any of the tabs (i.e. "Jobs", "Pods", etc.) in the Clusters view I'm getting the following error:
[code]

however when I right click and click "get" the command in the terminal executes successfully.

Extension version: `v1.3.3`
Platform: Mac Os - via Remote SSH

[2021-11-10 23:47] gorkem commented on #993
A namespace grouped list of pods makes sense. That is what Lens shows. And I think you can get that today but selecting a namespace. The selected namespace is shown with a `*` before its name. Workloads>Pods actually filters to the selected namespaces.

OTOH I think filtering with namespace that is selected from an unrelated part of the tree does make this unintuitive to use.

[2021-11-11 05:48] wvolkov commented on #993
Thanks for the hint, that approach worked like a charm, pods are being filtered as I purposed, I didn't know that.
![image](https://user-images.githubusercontent.com/49549154/141244481-2cb2be52-84fc-4a8b-b8b5-acbab4bddb87.png)

Closing the issue, thanks everyone for your time and assistance.

[2021-11-11 05:48] #993 closed

[2021-11-12 18:34] sandipchitale commented on #956
.

[2021-11-12 19:05] sandipchitale commented on #957
Any updates.

[2021-11-13 10:17] tmds opened #1002 "vsdbg default path not working"
https://github.com/Azure/vscode-kubernetes-tools/pull/967 changed the default path of vsdbg to `~/vsdbg/vsdbg`.

This doesn't work. Expanding the `~` is the responsibility of the shell, and `kubectl exec` doesn't involve a shell.

For example:
[code]
It can be fixed by using a shell that causes the `~` to be expanded:
[code]

`vsdbg` should be started using:
[code]

cc @itowlson @pantosha

[2021-11-14 15:22] karthikeyan23 commented on #998
I replaced the kubectl binary in folder /Users/< REDACTED>/.vs-kubernetes/tools/kubectl from the brew folder /usr/local/Cellar/kubernetes-cli/<working_version>/bin and the extension worked!

[2021-11-14 15:22] #998 closed

[2021-11-15 11:34] tmds opened #1003 ".NET process filtering is too restrictive"
Currently, any process that is not named `dotnet` is filtered out:

https://github.com/Azure/vscode-kubernetes-tools/blob/268260093d0bd3265d981fb571261d3c4818c436/src/debug/dotNetDebugProvider.ts#L81-L84

Since .NET 3.1 (released 2 years back), .NET applications come with a native executable that launches the app. These apphost are not named `dotnet`.

[code]

A way of filtering .NET apps is to lo

[2021-11-15 11:36] tmds commented on #1003
cc @itowlson

[2021-11-15 20:43] itowlson commented on #1003
Hmm, I'm not too familiar with the .NET debugging component.  @tedchamb you were the original author of this feature - are you able to take a look please?

[2021-11-15 20:45] itowlson commented on #1002
@pantosha Would you be able to take a look at this please?  I'm not very familiar with the .NET debugging component.  (If you don't have bandwidth let me know and I'll go with @tmds' fix.)

[2021-11-16 20:03] pantosha commented on #1002
I'll take a look during current week

[2021-11-17 10:27] bruno-brant commented on #997
Hey @lstocchi, thanks for the follow-up! I'm not exactly sure if the culprit is Bridge or if it's the Kubernetes extension itself, but  it seems to happen more frequently when I'm running Bridge. I'll try to reproduce it more exactly and update the issue.

[2021-11-21 19:59] itowlson commented on #1002
Fixed via #1004.

[2021-11-21 19:59] #1002 closed

[2021-11-21 20:01] itowlson commented on #1003
@pantosha Sorry to pester you, but the original author of this code isn't responding right now, and I know you have some knowledge of this area.  Would you be able to take a look at this issue too?  Thanks ever so much!

[2021-11-22 10:12] fernandodevelon commented on #941
@montgomerybc did you find the solution?
I also have the same problem.

[2021-11-23 01:25] smithago opened #1005 "Custom resources in a non-default namespace not being resolved"
I recently installed the extension and it is connected to my AKS cluster.

I have a custom resource in a non-default namespace. I do not see the instances of the custom resource being resolved in the viewer.

How do I specify the namespace, or can it auto-figure out the namespace?

![image](https://user-images.githubusercontent.com/6980724/142958535-16e0ec59-db9f-4596-90cf-e1fa5e10f25c.png)

[2021-11-23 01:26] smithago commented on #1005
![image](https://user-images.githubusercontent.com/6980724/142958644-27275faa-40b8-4852-a452-76e094bf476e.png)

[2021-11-23 08:46] lstocchi commented on #1005
@smithago if you expand the namespaces node you should see all namespaces available. By right-clicking the namespace you want to use and then click on `Use namespace`, you should see all resources belonging to that namespace (pods, deployment, custom resources...)

[2021-11-23 08:53] pantosha commented on #1003
@itowlson,  I will take a look

[2021-11-23 08:56] lstocchi commented on #956
Hi @sandipchitale, thanks for opening this and sorry for the really late response. We are few and also busy on other projects.
I remember that we made a similar change for another command and the original workflow (first step -> second step) can be re-enabled by a setting or viceversa. I guess we can do the same here, so users can decide the behavior they prefer.
And you're right, the current impl

[2021-11-23 11:10] lstocchi commented on #828
Closing it as new log viewer has been merged and released. Please open a new issue if you face this or other problems. Thank you!!

[2021-11-23 11:10] #828 closed

[2021-11-23 11:12] lstocchi commented on #798
Closing it as new log viewer has been merged and released. Please open new issues if you face any problem or have some ideas how to enhance it. Thank you!!

[2021-11-23 11:12] #798 closed

[2021-11-23 11:13] lstocchi commented on #765
Closing it as new log viewer has been merged and released. Please open new issues if you face any problem or have some ideas how to enhance it. Thank you!!

[2021-11-23 11:13] lstocchi commented on #737
Closing it as new log viewer has been merged and released. Please open new issues if you face any problem or have some ideas how to enhance it. Thank you!!

[2021-11-23 11:13] #737 closed

[2021-11-23 11:19] lstocchi commented on #728
Closing it as we have already automated the release process.

[2021-11-23 11:19] #728 closed

[2021-11-23 11:20] lstocchi commented on #693
Should be resolved now as #586 was merged. Feel free to reopen it if you still face this issue.

[2021-11-23 11:20] #693 closed

[2021-11-23 11:22] lstocchi commented on #671
Should be resolved now as #586 was merged. Feel free to reopen it if you still face this issue. Thanks!!

[2021-11-23 11:22] #671 closed

[2021-11-23 11:25] lstocchi commented on #538
Should be resolved now as #586 was merged. Feel free to reopen it if you still face this issue. Thanks!!

[2021-11-23 11:25] #538 closed

[2021-11-23 11:29] lstocchi commented on #501
Should be resolved now as #586 was merged. Feel free to reopen it if you still face this issue. Thanks!!

[2021-11-23 11:29] #501 closed

[2021-11-23 11:30] lstocchi commented on #485
Should be resolved now as #586 was merged. Feel free to reopen it if you still face this issue. Thanks!!

[2021-11-23 11:30] #485 closed

[2021-11-23 11:30] lstocchi commented on #820
Should be resolved now as #586 was merged. Feel free to reopen it if you still face this issue. Thanks!!

[2021-11-23 11:30] #820 closed

[2021-11-23 17:21] smithago commented on #1005
Worked. Thanks.

[2021-11-23 17:21] #1005 closed

[2021-11-23 23:58] tmds commented on #1003
@pantosha this is a good way to filter .NET apps. Though it has some complexity to it. Alternatives are to do no filtering, or another alternative would be to allow specifying the process name with a setting (which defaults to `dotnet`).

[2021-11-24 11:32] lstocchi commented on #955
Closing it as the new log viewer displays everything correctly. Please open a new issue if you face any other problems or you have some ideas how to enhance it. Thanks!!

[2021-11-24 11:32] #955 closed

[2021-11-24 11:33] lstocchi commented on #952
Closing it as we don't have enough infos about this issue. Please feel free to reopen it if you still face it. Thanks!

[2021-11-24 11:33] #952 closed

[2021-11-24 12:06] lstocchi commented on #926
I think this has been solved by https://github.com/Azure/vscode-kubernetes-tools/pull/924 . I tried and i don't see that validation error anymore with the new release. Closing it. Please re-open it if you face it again. Thanks!!

[2021-11-24 12:06] #926 closed

[2021-11-24 12:08] lstocchi commented on #995
Ping @itowlson @squillace . I guess you missed this. WDYT?

[2021-11-24 13:12] lstocchi commented on #840
Closing it as this should have been solved in latest releases. Please feel free to reopen it if you face this error again. Thanks!!

[2021-11-24 13:12] #840 closed

[2021-11-24 13:36] lstocchi commented on #835
Tried and it works fine for me. We released an enhancement that solves this kind of problems https://github.com/Azure/vscode-kubernetes-tools/pull/924 . Now all CRDs are fetched from the active cluster. It could take a while if there are many operators installed but eventually the right intellisense should be activated.

![minio-intellisense](https://user-images.githubusercontent.com/49404737/1432

[2021-11-24 13:36] #835 closed

[2021-11-24 13:38] lstocchi commented on #816
Closing it as https://github.com/Azure/vscode-kubernetes-tools/pull/825 was merged. Now you should see the template for Job resources. Feel free to reopen it if this does not satisfy your expectations. Thanks!!

[2021-11-24 13:38] #816 closed

[2021-11-24 13:39] lstocchi commented on #821
Closing it as https://github.com/Azure/vscode-kubernetes-tools/pull/825 was merged. Now you should see templates for Ingress, Job, PV, PVC, Secret and StatefulSet resources. Feel free to reopen it if this does not satisfy your expectations. Thanks!!

[2021-11-24 13:39] #821 closed

[2021-11-24 13:47] lstocchi commented on #988
@arbesulo the new version has been released 2 weeks ago. Have you had the chance to verify it? Do you still face this issue? Let us know, thanks!!

[2021-11-24 13:52] lstocchi commented on #677
Closing it as we added more snippets (included secret and ingress) with https://github.com/Azure/vscode-kubernetes-tools/pull/825. Feel free to re-open this issue if that does not fully solve your request. Thanks!!

[2021-11-24 13:52] #677 closed

[2021-11-24 14:05] arbesulo commented on #988
Now it works perfect. Thanks for solving the issue!

[2021-11-24 14:47] lstocchi commented on #988
Cool, you're welcome!! Closing it then. If you face any other issue or have some ideas how to improve the extension, let us know please. Thanks!!

[2021-11-24 14:47] #988 closed

[2021-11-25 09:15] lstocchi commented on #994
ping @Lannnnh . Have you read my last message? We also released a new version of the extension. Do you still face this issue?

[2021-11-25 09:27] lstocchi commented on #985
@apupier sounds good to me. Can you please tell me when the new tag is added?

[2021-11-25 09:34] lstocchi commented on #978
Hi @arash-bizcover, thanks for opening this and sorry for the late response. Can you please clarify a bit more what you would expect from this extension? Never played with k3d before but i guess the k8s extension works with it as well, no? What kind of issues do you have? Or by "support k3d" you mean adding the workflow to create a k3d cluster directly from vscode?

[2021-11-25 10:05] Lannnnh commented on #994
[code]

[2021-11-25 10:08] Lannnnh commented on #994
Sorry, I haven't seen your reply before. This is the description file of my pod and hope it helps to locate the problem.

[2021-11-25 10:12] lstocchi commented on #994
Thanks for your reply @Lannnnh!! Looking into it.

[2021-11-25 10:55] isidorn opened #1007 "Enable vscode-kubernetes-tools for VS Code on the Web"
:wave: I'm Isidor, a PM from the VS Code team, and we recently announced VS Code for the Web at https://vscode.dev/, which provides a free, zero-install Microsoft Visual Studio Code experience running entirely in your browser.  You can learn more [here](https://code.visualstudio.com/docs/editor/vscode-web).

We'd like to ensure kubernetes-tools can run in the web, and we have a guide for enabling

[2021-11-25 11:29] sdwerwed opened #1008 "stuck in loading forever if you are not logged with az login in first time"
After I merge a kubeconfig for AKS and forget to run `az login` in my terminal the first time when I try to use the plugin to show any resource it is stucks in loading forever. As a workaround, I restart the VScode and I run `az login` before I use the plugin.

Expected behavior:
Handle the authentication issue and not run in an infinite loading that is required to restart the Vscode. Print a mess

[2021-11-25 16:59] lstocchi commented on #994
@Lannnnh tried to do some experiment with istio installed, (statefulsets, deployments, jobs) but i wasn't able to replicate it on all different multi-containers pods i created. I can see the dropdown list correctly. So not sure what is causing it. Do you have a sample i can run on my cluster to replicate it? Otherwise i'm lost.

[2021-11-25 18:48] itowlson commented on #1008
This is a long-standing issue - which I think affects AWS as well - and I haven't found a good solution yet.  The problem is detecting that `kubectl` is blocking at an auth prompt rather than just not responding.

It may be that the best we can do is try to detect certain well known auth prompts, and fail with an informative error prompting people to log in via the CLI.  It's not great but at leas

[2021-11-25 22:20] arash-bizcover commented on #978
Hi @lstocchi

It is better than minkube. by supporting it, I meant vscode extension deal with it however it is dealing with minikube at the moment. All operations you can do with minikube to be able to do against k3s.

[2021-11-25 23:14] gorkem commented on #978
Have you tried  https://marketplace.visualstudio.com/items?itemName=inercia.vscode-k3d

[2021-11-26 01:23] arash-bizcover commented on #978
I have @gorkem. It sucks

[2021-11-26 01:46] itowlson commented on #978
Let me provide a bit of background.  (cc @squillace who articulates this philosophy more clearly and more forcefully than I do)

A principle of this extension that has evolved over time is to try to keep it agnostic about specific distributions or implementations of Kubernetes.  I emphasise "over time," because you can rightly point to the integrated Minikube support (and the presence of Azure in

[2021-11-26 01:47] #978 closed

[2021-11-28 19:07] #995 closed

[2021-11-30 22:29] montgomerybc commented on #941
I did not.  For unrelated reasons, I switched to a new machine, and when I
installed the same set of extensions, it no longer happens.  Sorry I can't
be more helpful

-Dave

On Mon, 22 Nov 2021 at 02:12, fernandodevelon ***@***.***>
wrote:

[2021-11-30 22:49] lstocchi commented on #941
@fernandodevelon could you share the list of extensions you have installed in vscode?

[2021-11-30 23:27] montgomerybc commented on #941
FWIW, these are mine:

PS> code --list-extensions
alefragnani.Bookmarks
batisteo.vscode-django
bierner.markdown-mermaid
donjayamanne.python-environment-manager
donjayamanne.python-extension-pack
eamodio.gitlens
hediet.vscode-drawio
KevinRose.vsc-python-indent
lonefy.vscode-JS-CSS-HTML-formatter
magicstack.MagicPython
ms-azuretools.vscode-docker
ms-dotnettools.csharp
ms-kubernetes-tools.vscode-kube

[2021-12-01 13:25] fernandodevelon commented on #941
[code]

[2021-12-01 14:35] lstocchi commented on #941
Tried by installing those extensions but i didn't face it.
I tried what it's written here and i was able to replicate it https://stackoverflow.com/questions/43144822/disabling-network-logs-on-kubernetes-when-running-kubectl-exec . Could you please verify if you have the DEBUG env variable set? :crossed_fingers: @fernandodevelon

[2021-12-06 08:53] sandipchitale commented on #957
Implemented this in an extension: https://marketplace.visualstudio.com/items?itemName=sandipchitale.vscode-kubernetes-logs

[2021-12-06 08:59] sandipchitale commented on #956
@lstocchi Oh thanks you. Looking forward to PR getting into the extension.

[2021-12-06 14:55] apupier commented on #985
@lstocchi tag added on the 3 extensions ([another one in progress](https://github.com/apupier/camel-karavan/commit/60a6799b9c15e7b03ca52cf16e2faf126cd77420) but not blocking) I provided a [Pull request](https://github.com/Azure/vscode-kubernetes-tools/pull/1010)

[2021-12-06 15:12] apupier opened #1011 "Improve error message "Failed to get crds""
When the local Kubernetes connection is invalid or kubernetes instance not reachable, there is a notification error message:

[code]

It would be nice to explain what's the problem with that. I suppose that it means there won't be completion/validation of Kubernetes CRDs yaml files. Or something else?

[2021-12-07 07:55] MurzNN opened #1012 "Feature request: Add "Open VS Code Remote" action on selected pod"
At now we have option `Terminal` to any pod. Will be good to have also `Open VS Code` option, that will launch new VS Code Remote instance inside this pod.

The [Visual Studio Code Remote - Containers](https://marketplace.visualstudio.com/items?itemName=ms-vscode-remote.remote-containers) extension have this feature already, but we must manually search needed container in it's list to make a conne

[2021-12-07 08:58] #985 closed

[2021-12-08 13:49] MurzNN opened #1013 "Edif files inside Kubernetes pod using VS Code editor UI"
Will be good to have any ways to edit files inside k8s pod instance, using VS Code editor UI, is there some ways exists for this?

[2021-12-08 13:52] MurzNN commented on #904
Yes, I also vote for option "b" - on save action ask user to apply modified manifest or not.

[2021-12-10 13:37] tmds commented on #1003
@pantosha are you still looking into the issue?

@itowlson the simplest fix may be to allow specifying the process name, and default to `dotnet` to match the current behavior.

[2021-12-15 01:17] itowlson opened #1014 "Move project to neutral GitHub organisation"
The k8s extension has been accepted into the Cloud Native Computing Foundation (CNCF) as a Sandbox project.  As part of onboarding, we need to move this repository from the Azure organisation to a new, neutral organisation.  I have created a new organisation.  Subject to agreement with other maintainers, this move will happen within the next day or two.

We believe GitHub will handle all redirects

[2021-12-15 02:52] itowlson commented on #1014
CNCF requires commits to be signed per DCO (Developer Certificate of Origin) policy.  I have enabled this organisation-wide on the new organisation.  This may affect some pull requests in flight during the transfer.

[2021-12-15 18:14] flynnduism opened #1015 "CNCF transfer: update website footer"
Part of the [tracker issue opened by the CNCF #745](https://github.com/cncf/toc/issues/745):

The [landing page website](https://azure.github.io/vscode-kubernetes-tools/) needs to be updated to have the LF footer.

[2021-12-15 18:15] flynnduism commented on #1015
_(I will work on this item, but I cannot assign it to myself)_

[2021-12-16 19:29] pantosha commented on #1003
@tmds yeah. I reviewed current implementation. I didn't find a way to use socket files without deeply rewriting not only .net debugger, but also debuggers for other languages.

I will prepare PR that removes restrictions within a week.

[2021-12-21 09:37] drbennett commented on #950
Any updates on this issue?

[2021-12-21 10:03] lstocchi commented on #950
We completely forgot about it sorry. Working on it now so we can include it in next release https://github.com/Azure/vscode-kubernetes-tools/pull/1018

[2021-12-21 12:52] lstocchi commented on #950
Opened a PR to fix this https://github.com/Azure/vscode-kubernetes-tools/pull/1019 but i don't have a mac close to me to try it. If one of you could give it a try it would be awesome @drbennett @jleni @mateka

[2021-12-21 22:03] itowlson commented on #950
Our PR builds don't produce installable packages so here's one if folks are in a position to test.  Download, unzip and use the `Extensions: Install from VSIX...` command in VS Code to install it (you may need to restart VS Code).

[vscode-kubernetes-tools-1.3.5+preview1.zip](https://github.com/Azure/vscode-kubernetes-tools/files/7758400/vscode-kubernetes-tools-1.3.5%2Bpreview1.zip)

[2021-12-22 10:39] tycooon opened #1020 "Option to only use syntax highlighting"
Currently each time I open a Helm chart I get errors like "Failed to get crds: Kubectl command failed". The problem is I work with cluster where I don't have admin permissions and simply cannot list everything. Also I don't want anything except of syntax highlighting. I tried to search for an extension that provides just that, but no success :(

So I suggest to add some configuration options that

[2021-12-29 15:49] MurzNN opened #1021 "Missing "Attach Visual Studio Code" item in VS Code Kubernetes Pod right-click menu"
In the docs here https://code.visualstudio.com/docs/remote/attach-container#_attach-to-a-container-in-a-kubernetes-cluster there is described, that Pod right-click menu must contain an "Attach Visual Studio Code" item, but it is missing for me, here is the screenshot:
![image](https://user-images.githubusercontent.com/336662/147679205-85cdf201-0b57-4498-9d3a-31a895875c1e.png)

What can cause this

[2021-12-30 02:36] MurzNN commented on #1021
Seems this happens when I try to connect in already remote VS Code instance, so I connected via SSH server to remove server, which has a kube-config.

If I use local VS Code instance - the "Attach Visual Studio Code" menu item exists!

Is there a limitation with attaching to k8s containers, using already remote VS Code instance?

The interesting thing, that I can normally attach to that containers

[2021-12-30 02:38] MurzNN commented on #1012
This action is already exists, if I use Kubernetes extension in local VS Code instance, but in Remote SSH - it disappears, here is issue about this: https://github.com/Azure/vscode-kubernetes-tools/issues/1021

[2021-12-30 02:38] #1012 closed

[2022-01-04 19:29] itowlson commented on #1015
@flynnduism Sorry to hound you when there have been holidays and you have so much else going on, but do you know when you're likely to have bandwidth for this?  Thanks!

[2022-01-05 08:41] FieteO opened #1023 "Add "Do not show again" option to "Kubectl not found. Many features of the Kubernetes extension will not work." notification"
I am using the Kubernetes extension on a system that does not have kubectl installed. I am not using it for that functionality, but rather for the helm capabilities of the extension.

Each time I open a yaml file, I get two notifications about missing kubectl:
![image](https://user-images.githubusercontent.com/41323592/148186625-30199aad-bfc9-4337-a02f-d154926801f6.png)

The menu of the notificati

[2022-01-05 20:39] Tatsinnit opened #1024 "[Feature Proposal] Porter dependencies baked in Kubernetes Extension"
### What is the proposal?

Can I please propose to add Porter dependency for this extension, It has few benefits and I have mentioned it below. Hence the key intent of this Issue is to open a proposal for he idea to bake in Porter with this extension.

* What is Porter?
    * https://porter.sh
    * https://porter.sh/docs/

### Why?

The key advantage with this will be that since Porter comes with

[2022-01-05 20:49] squillace commented on #1024
Hi @Tatsinnit! While I like this, I know there's also a fledgling Porter extension: https://github.com/getporter/vscode-extension. BTW, that's already IN the CNCF as well. Much might be made, perhaps, of working with that one and layering functionality in there rather than in core.

That's my immediate response, but I'd be interested in @itowlson's take.

[2022-01-05 20:58] itowlson commented on #1024
Yes, if the proposal is simply to add some generic Porter commands and features, then the Porter extension is the place for that.  It already has a bunch of stuff for helping with schema editing and validation, etc., so I'd build on top of that rather than adding them here.

However, if you're thinking of Kubernetes-specific features that happen to use Porter, or API infrastructure to facilitate u

[2022-01-05 21:16] Tatsinnit commented on #1024
Thanks you so much to @squillace and @itowlson for this, and quick replies (this is awesome), here is what I had in mind  which generated this idea. Please let me know if I can elaborate further or missed something.

* ah yes, something like API infrastructure like we do it with `kubectlV1`. Some version of Porter for the support like kubectl here https://github.com/Azure/vscode-kubernetes-tools-a

[2022-01-05 21:51] itowlson commented on #1024
A thought on that: does this need to be in the k8s extension itself, or could we make a NPM package that exposes a Porter wrapper, and if necessary a way to initialise that package from the k8s extension context?  That way, extensions like AKS would have easy access to the Porter commands just by adding that package, but we wouldn't need to maintain and version an API for Porter within the k8s ext

[2022-01-05 22:15] Tatsinnit commented on #1024
This is perfect guidance and discussion and yes please thinking out-loud idea will help in further clarity. Yes, agree. What I think I am not sure about how the actual internal plumbing to call the `porter` will work, i.e. for the API to work, at some stage the `porter binary` will be in need. So I wonder where will that reside. ☕️☕️

[2022-01-05 22:45] itowlson commented on #1024
I have a feeling the Porter extension defines a setting for the Porter binary, so a hypothetical NPM package could use that if present, then look on system PATH.  You could also implement an auto install similar to what the k8s extension does.

We don't have a well-bounded module that could be plucked into a new package.  I started on that with `binutilplusplus.ts` but I don't know how easy it wou

[2022-01-06 03:27] #950 closed

[2022-01-06 17:55] werebear73 opened #1025 "Unable to copy from Logs"
I am unable to copy text from the logs for a pod.  I'm not sure if this is a bug or a feature.  But it is often nice to copy the information for put in either DevOps tasks or bugs.

[2022-01-06 19:59] itowlson commented on #1025
That would definitely be a bug!  Thanks for letting us know, we'll take a look.

[2022-01-06 20:58] lstocchi commented on #1025
Hi @werebear73, could you give us more infos to replicate it? What do you do exactly? I tried to get logs for a pod and copy/paste part of them and it worked fine. What am i doing differently from you?
![copylogs](https://user-images.githubusercontent.com/49404737/148450841-e7cba20e-542b-4a0a-a249-2790b10f9089.gif)

[2022-01-08 22:50] ManveerBhullar commented on #669
I was surprised to see this is still not added. My understanding was ReplicaSet is replacing ReplicaController?

[2022-01-10 02:08] ikogan commented on #929
I'm seeing this too. I'm not sure if you're referring to the "Helm Intellisense" extension but I don't have that one installed. Any time I make an edit to my `values.yaml` the output window appears.

[2022-01-10 02:24] itowlson commented on #1014
Move completed, need to keep an eye on DCO stuff

[2022-01-10 02:24] #1014 closed

[2022-01-10 09:45] sc250024 opened #1026 "Turn off Helm "refresh values cache" output"
Greetings,

I'm using the Kubernetes tools extension, and every time I save a `values.yaml` file, the following prompt always comes up:

<img width="1247" alt="helm-values-refresh" src="https://user-images.githubusercontent.com/8792243/148745578-cedef020-60d0-4b32-8512-c2b00d0cd905.png">

It's a bit annoying, and I don't need to know every time this happens.

Is this a simple entry in the `setting

[2022-01-10 15:23] vovatikal commented on #1026
very annoying

[2022-01-10 19:48] itowlson commented on #1026
Is this a recent thing?  We added a live refresh feature in the last release, so if this is new then it's probably an issue with that.  It might be debugging/logging code that's no longer needed - if we can confirm it's new then I'll check in with the author of that feature.

[2022-01-10 19:54] itowlson commented on #1026
Also, which Output channel is that on?  (That is, which selection in the drop-down shown below.) If you switch to a different channel, does it force the Output tab back to the one with the refresh message?

![image](https://user-images.githubusercontent.com/865538/148830094-365dd83f-3e1a-4c45-b0b3-8d850af812b5.png)

[2022-01-10 20:47] sc250024 commented on #1026
I don't have the screenshot of the selection part, but it was populated with `Helm`, not `Tasks`.

[2022-01-10 20:48] sc250024 commented on #1026
It seemed to stop now. Was there an update pushed?

[2022-01-10 20:50] itowlson commented on #1026
No, the last update was before the weekend.  Very odd.  Thanks for flagging this - I'll take a look.

[2022-01-11 08:37] threaz commented on #1026
Same happens to me currently. It was okay yesterday though.

VSCODE:
Version: 1.63.2
Commit: 899d46d82c4c95423fb7e10e68eba52050e30ba3

[2022-01-11 18:20] itowlson commented on #1026
@flowftw Yeah, the assumption there is that the logger is used for things that the user should know about, so it is brought front - but I bet we use it for a bunch of stuff that doesn't merit that.

I suggest one of two approaches:

1. Modify the refresh code to no longer log.
2. Modify the logger to take a parameter indicating whether the message should be force-shown (i.e. Output open and channe

[2022-01-11 22:46] #1026 closed

[2022-01-12 05:59] sc250024 commented on #1026
Thanks guys!

[2022-01-14 16:39] werebear73 commented on #1025
I using the same process, but it just pastes old clipboard contents.

I'm running Windows 10 and VSCode Version 1.63.2

[2022-01-16 19:57] itowlson commented on #1021
"Attach Visual Studio Code" is not, I think, defined by the Kubernetes extension - it comes from the Remote extension itself.  Looks like the Remote extension is meant to be working with our pod tree UI but isn't at the moment - I don't think we've changed anything, though, not sure if they have.

@squillace Could you reach out to the Remote extension folks please and ask them to review this issue

[2022-01-16 22:29] itowlson commented on #669
I think just nobody has sent us a PR for it. Agree that we should retire the ReplicationController snippet.

@vitali87 Would you like to send a PR with that snippet (so you get the commit credit), or would it be okay if someone else turned it into a snippet?

[2022-01-16 22:33] itowlson commented on #1023
I did a pass a while back to try to make the notifications less annoying, but didn't tackle the case where `kubectl` wasn't installed and the user didn't want to/couldn't install it.  As you rightly note, you should be able to work on Helm files without needing kubectl.  I'll take a look.

[2022-01-17 00:46] itowlson commented on #1023
Okay, #1030 provides for a manual config setting.  The 'not found' warning is already pretty busy and I don't want to add another button to it, especially one that, if the user hit it by mistake, would leave them in a state where nothing works and they're no longer being told why.  So it'll be a bit less convenient for your case I'm afraid, but I feel more comfortable with it for the general user

[2022-01-17 01:11] itowlson opened #1031 "Remove `useWsl` option"
A long time ago we introduced a `useWsl` setting to allow Windows users to run the Linux versions of the external binaries.  This allowed consistency of e.g. kubeconfigs across their Linux command line environments and their Windows GUI.

With the VS Code Remote extension well established, it feels like a Windows user who has a Linux-based environment and command-line workflow could also put their

[2022-01-17 03:06] itowlson commented on #981
The actual filtering would be fairly easy, but I'm not sure what the UI for it would look like (given the limitations of the VS Code environment). I suppose right-click > Filter... > prompt would do - it feels a bit fiddly but probably no more fiddly than many other bits of our UI!  I'd be keen to hear other suggestions though!

[2022-01-17 03:27] itowlson commented on #982
@olljanat Can we elaborate a bit more on how a namespace filter/selector would work?  Do you see that as being something that the user configures statically and only changes occasionally (e.g. the settings file), or something that is quite interactive (e.g. the user does a right-click > filter, or gets prompted).

It sounds like you're using the namespaces tree more heavily than we normally see -

[2022-01-17 03:41] itowlson commented on #976
Sorry for the delay in following up on this.  As @bacongobbler says, the mention of Tiller sounds very much like Helm 2.  I'm wondering if there's a copy of Helm 2 that the extension is inadvertently configured to point to that's different from the one in your shell.  Could you run the extension Helm Version command and let us know what you see?

(If that shows version 2 then check your VS Code ex

[2022-01-17 09:52] lstocchi opened #1032 "Option to categorize custom resources"
We received this request from our IJ extension https://github.com/redhat-developer/intellij-kubernetes/issues/323 and i think it could have some value here as well and i would like to hear your thoughts about it @itowlson @squillace . WDYT?

[code]

[2022-01-17 10:05] lstocchi commented on #1025
@itowlson can you try to replicate it? It works fine for me

[2022-01-17 14:06] dessite commented on #976
@itowlson apparently the issue was that in setting UI path was correct but in json it was reffering to `$HOME/.vs-kubernetes/tools` paths, when I was checking at that time UI showed no issues but today when I checked I got
![image](https://user-images.githubusercontent.com/8626322/149782865-07df6aa6-6aea-47b0-be17-f08a3a49cdce.png)
So it seems that now it's working for me, thanks for good pointers

[2022-01-17 14:18] olljanat commented on #982
I was thinking about right-click > filter.

I would assume that anyone who is using https://github.com/kubernetes-sigs/hierarchical-namespaces will end up to have a lot of namespaces.

However I actually ended switching to [vcluster](https://www.vcluster.com/) way of implementing multi-tenancy so I don't have big need for this one anymore and as there is no any 👍 reactions on my original message I

[2022-01-17 14:18] #982 closed

[2022-01-17 17:25] werebear73 commented on #1025
I did.  Here is a video.

https://user-images.githubusercontent.com/3290150/149814159-b548405e-7aee-4f91-bcef-b9d3d6f8d3a2.mp4

[2022-01-17 17:53] FieteO commented on #1023
Thanks @itowlson, that is fine as well :-)

[2022-01-17 17:53] #1023 closed

[2022-01-17 20:39] itowlson commented on #1032
Sounds reasonable.  Do we envisage the metadata being in the CRD itself (which would require fetching the CRD), or in a config file shipped with the extension?  Or would it not be predefined but users could put their favourite CRDs into folders as they go, a la AKS Azure Service Operator 'Favourites' folder but with sub-folders?

[2022-01-17 20:59] itowlson commented on #976
Great, glad to hear it's working now.  I'll close this - @johnbendi if this doesn't fix it for you then please re-open.

[2022-01-17 20:59] #976 closed

[2022-01-17 21:11] itowlson commented on #1025
You're going to love this @lstocchi.

If I copy from the logs window using right-click > Copy, I see the behaviour @werebear73 describes - the old clipboard contents remain.

If I copy from the logs window using Ctrl+C, I see the behaviour _you_ describe - the selected logs are now on the clipboard.

Riddle me that eh.

I am on plain Windows in this case (Docker is running under WSL but the extens

[2022-01-17 21:24] itowlson commented on #1025
Same behaviour in WSL by the way

[2022-01-18 16:28] lstocchi commented on #1025
what the heck @itowlson ... I updated everything i had on my windows machine and now i have your exact behavior, lol.  I'll investigate why this happens. Sorry for the trouble @werebear73

[2022-01-18 17:19] werebear73 commented on #1025
Thank you

[2022-01-19 13:39] lstocchi commented on #1032
I foresee some users will not be able to update existing CRD metadata so I would say allowing users to customize it locally in their VSCode would be better. Then they could share their config file within their teams.
Regarding the 'Favourites' folder, in user's example he's dealing with a new Ingress CRD so it would be cleaner to add it to the existing `Ingress` category rather than creating a new

[2022-01-19 21:35] itowlson commented on #1032
Doh, I completely missed that the proposal was to add them to existing folders rather than to organise the Custom Resources folder itself.  Thanks for clarifying!

[2022-01-20 11:05] jpwijbenga commented on #824
For others, looking for a temp solution: place at the top of the file:
`# vscode-kubernetes-tools: exclude`

[2022-02-02 22:59] xrow opened #1034 "Allow kubectl port-forward --address 0.0.0.0"
[code]

I made an alias to let kubectl port-forward listen to all ports. It would be nice if vs code would support it out of the box.

[2022-02-04 10:06] MartinGolding515 opened #1035 "helm intellisense does not recognise template within a dependency chart"
helm intellisense does not recognise templates that are located within a dependency chart either as tgz or as expanded folder.

[2022-02-07 06:15] ad-m opened #1036 "helm: debug of preview template"
Hello,

I am writing a new template file in YAML. Unfortunatly, I made some mistake in syntax, so I receive error about wrong YAML file generated when on use the command `Helm: Preview Template`.

In that scenario extensions refuse to render template:

![obraz](https://user-images.githubusercontent.com/3618479/152733986-3de4661d-e6d3-4c92-af6f-d4b4909f0427.png)

It's not very friendly during devel

[2022-02-08 15:43] xrow opened #1039 "Auto reconnect feature for kube forward"
Restarting a service in the pod (not the pod itself) will lead to kubectl loosing all connections. It would be nice to have a auto reconnect feature. The tool https://kube-forwarder.pixelpoint.io/ has this feature.

[code]

[2022-02-11 06:52] akaroml commented on #996
I'm having the same experience. Any tips to mitigate this issue? @itowlson

[2022-02-11 09:59] MurzNN opened #1040 "Logs window - auto scroll to bottom feature isn't working"
On Logs configuration form we have a button "Scroll To Bottom" - on manual click it scrolls well, but it doesn't sticks, so with "Follow Logs" mode new log lines appears at bottom, and we need to click "Scroll To Bottom" button again and again manually.

As I see in https://github.com/vscode-kubernetes-tools/vscode-kubernetes-tools/issues/593 - this feature must work as separate "auto-scroll check

[2022-02-11 12:49] lstocchi commented on #1040
Hi @MurzNN, no it should work as you described by default. If you are at the bottom of the page and new logs appear, the page should stick there and you should see new logs.

But i am not able to replicate your issue. To test it i created a small script which generate random strings and it works fine for me.
At first it is stick in the middle of the page, then when i click scroll to bottom it stic

[2022-02-11 13:33] MurzNN commented on #1040
**Kubernetes extension version:** v1.3.6

**VS Code versions:**
Version: 1.64.1
Commit: d6ee99e4c045a6716e5c653d7da8e9ae6f5a8b03
Date: 2022-02-07T17:17:47.733Z
Electron: 13.5.2
Chromium: 91.0.4472.164
Node.js: 14.16.0
V8: 9.1.269.39-electron.0
OS: Linux x64 5.13.0-28-generic

Screencast with opened console:
https://user-images.githubusercontent.com/336662/153600346-4d969ceb-2425-4f30-a9fd-d0d6f798

[2022-02-11 14:49] lstocchi commented on #1025
Update: still haven't a working hack for this but there is an opened issue in vscode https://github.com/microsoft/vscode/issues/141080 . Hopefully they will fix it soon.

[2022-02-11 15:29] lstocchi commented on #1040
Thanks @MurzNN. I'll try to update my test script to replicate it. l'll let you know if i have some news asap

[2022-02-16 04:07] prnam opened #1042 "IntelliSense for all K8s kind is currently not supported"
Hey,
While I was trying to use the IntelliSense feature for K8s during my work, I found few kind is not supported out-of-the-box. It will be great to have these too. Below is the list of those which are missing at the moment.

- LimitRange
- ResourceQuota
- NetworkPolicy
- PodDisruptionBudget
- PodTemplate
- ReplicaSet
- ControllerRevision
- PodSecurityPolicy
- Endpoints
- EndpointSlice
- DaemonSe

[2022-02-18 15:39] Flern opened #1043 "Breakpoints not mapping properly to source code (only in Kubernetes)"
I'm seeing some bizarre behavior with breakpoints that seems to be limited to the VSCode Kubernetes environment.  I'm using dapr for a virtual actor model, and I've verified that breakpoints are properly hit in the service when running from a `dotnet run` CLI and the standalone dapr environment using Docker locally.

When deployed to Kubernetes, though (specifically Minikube in the case of the dem

[2022-02-19 13:06] inliquid opened #1044 "Let the user enable language features on arbitrary yaml config"
Say I have a number of `*.yaml` files somewhere in a repo which is later getting assembled in k8s configs by CI/CD pipeline. Which is not uncommon. I would like to have a documentation on hover, validation, and other features, like I do have when work on something like `pod.yaml` or `service.yaml` placed in a root of repository. Maybe that's because of location, maybe because of the fact that thes

[2022-02-21 00:09] itowlson commented on #1044
The extension should kick in on all `.yaml` or `.yml` files that have a 'Kubernetes-like' header (`apiVersion`, `kind` and `metadata` elements I think).

We left the file type as `YAML` rather than creating a distinct `Kubernetes Manifest` file type so that other YAML extensions would continue to work nicely with k8s files.  (We _did_ introduce a different file type for Helm templates because they

[2022-02-21 00:12] itowlson commented on #1043
I wonder if this is down to PDB files not being deployed, though if it works in local Docker that seems less likely.

@pantosha this looks like a C# debugging issue, which I think you are familiar with (and I'm not, I'm afraid) - would you be able to have a look please?  Thanks!

[2022-02-21 00:14] itowlson commented on #1042
Hmm, it's meant to pull down the YAML schemas from the cluster, so any kind that's defined in the cluster should be available.  There's a really old schema we use as a fallback, but even that should include almost all of these.  We'll take a look.

[2022-02-23 19:07] inliquid commented on #1044
Unfortunately I can't share full config, but I can provide some example of it:
![изображение](https://user-images.githubusercontent.com/6797881/155389859-2144724f-9c94-42b8-8b84-d83bb4539b07.png)

[2022-02-25 15:58] ch4dwick commented on #829
Thanks for this suggestion. After trying out different solutions, I tested running vscode from a shell with kubectl in the path and it worked for me.

From the shell:

This instance of code had the extension working correctly.

[2022-03-02 13:48] ameeno opened #1046 "*HIGHLIGHT* Helm matching end tags - BADLY NEEDED, PLEASE HELP!"
Hello. - Sorry if this is simple, and I have overlooked a feature, I am not sure how to enable this (If it exists).

I really need a way to highlight the matching {{- end }} tag for if/else if/ range/ with/ define Helm features.

Without this, I get lost in deeply nested helm charts. -- I am not sure how to get it with VS-code/this plugin!
IntelliJ IDE pro Kubernetes plugin has this feature, and i

[2022-03-02 19:33] kennedy commented on #574
Has these been any internal discussion about this feature request?

[2022-03-02 20:28] itowlson commented on #1046
Unfortunately, right now, that's not something we do.  And I think it's a little difficult technically because we don't really have infrastructure for properly treating Helm templates as having language structure beyond their YAML structure.  So I agree this is a significant omission... but I'm not sure there is an easy fix (and we have limited time to spend on this project at the moment).

That s

[2022-03-02 20:35] itowlson commented on #574
Apologies, especially to @sandipchitale for not responding to his offer: this is not something we've been working on.  Sandip, if you are still interested in doing a PR, that would be wonderful, but I quite understand if you feel frustrated with us at the lack of previous response.  @kennedy, does Sandip's "Helm Extras" extension meet your needs for now?

[2022-03-02 20:43] kennedy commented on #574
@itowlson, I will take a look at @sandipchitale's project.

I hope this feature request will get official attention because Sandip might not be able to update the project often (last update was 9 months ago).

[2022-03-03 00:59] ameeno commented on #1046
Hiya.

your comment sent me on a Google hunt. which led me back to the syntax definition in this plugin:

https://github.com/Azure/vscode-kubernetes-tools/blob/master/syntaxes/helm.tmLanguage.json

that's the helm language definition right?

it seems to know that {{- end }} is how to fold helm code.

could we perhaps use this logic to do pair highlighting??

just an idea :)

[2022-03-03 01:04] itowlson commented on #1046
Whoa, good catch.  I hadn't realised that was there (that's how old it is).  _shaking my damn head_  Thanks!

Yeah, it looks from the schema like we "just" need to add a `brackets` element and see that's enough to enable the VS Code commands...

[2022-03-03 01:21] ameeno commented on #1046
yea the language-config.json you linked earlier, with the brackets config + the logic already defined here in the folding login should enable me to come up with a language-config file that can treat the ends and the if/elseif/... as a bracket pair.

it seems like the logic is pretty sensible in the folding pairs Lang bit. (although the 'while' is missing).

I'm in bed now but I will play with it t

[2022-03-03 11:57] knoxi commented on #769
Same problem here.
And since the process is running in the scope of the loaded workspace folder, the folder cannot be removed after closing VS Code because the process locks the folder. You need to kill the process to remove the folder.

[2022-03-04 14:00] prnam commented on #1042
Anything on this @itowlson? Can be promoted as bug and up for grabs?

[2022-03-09 00:03] bamurtaugh commented on #1007
Hi @itowlson! I was wondering if you might have any thoughts on this? We're happy to discuss if you have any questions or feedback. Thank you!

[2022-03-09 00:11] itowlson commented on #1007
@bamurtaugh The trouble is that a _lot_ of what we do, we do through the `kubectl` and `helm` binaries, which I assume the browser would be unable to shell out to for security reasons.  I'm really not sure it's worth the effort of going through writing `when` clauses on 90% of our commands and views; what's left would likely be a rather sad little rump that it's not worth most people's time to ins

[2022-03-09 16:34] bamurtaugh commented on #1007
Thanks for your response @itowlson! That makes sense.

cc @tanhakabir @aeschli for:

[2022-03-09 19:33] squillace commented on #1007
Yeah, as a CNCF project, I'd have to say we wouldn't see this as a feature unless you were telling us there was a horrible user situation because of this: any number of vs code extensions in oss will just use binaries. Several I built do, for example. So really this is a leading example of that category.

[2022-03-10 22:46] mcavallo-git commented on #1023
@itowlson

How long do you estimate it'll be until this extension setting (suppress kubectl not found alerts) reaches a release for the VS Code extension?

I could be wrong, but I believe that the current [latest release (1.3.6)](https://github.com/vscode-kubernetes-tools/vscode-kubernetes-tools/releases/tag/1.3.6) doesn't include these changes, as it dropped on [12-Jan-2022](https://github.com/vs

[2022-03-10 22:49] itowlson commented on #1023
@mcavallo-git you're right, that's not released yet.  We've got a couple of other things merged but not yet included in a release, so let me get one under way now, and with favourable winds it should go out early next week.

[2022-03-13 21:11] itowlson commented on #1023
I tried to release this today, but it looks like our publisher token has expired, and we only have one person right now who can create new tokens (yes, it's a problem), and it's still the weekend for him.  Crossing fingers for tomorrow.

[2022-03-14 00:32] itowlson commented on #1042
Done @prnam - let us know if you're keen!

[2022-03-15 12:44] vitali87 commented on #669
@itowlson, yes definitely I will soon create a PR for this.

[2022-03-15 18:53] indiejames opened #1048 "Kubernetes: Debug (Attach) fails with command not found"
Attempting to run `Kubernetes: Debug (Attach)` from the command menu pops up an error dialog with the following message:

VS Code Version: 1.65.2
MacOS Big Sur

[2022-03-20 20:40] itowlson commented on #1048
This sounds like the extension didn't load properly.  Do other commands have the same error or only this one?  Can you check if you have any other Kubernetes extensions loaded - there is an long-deprecated one, I think called `vs-kubernetes`, with the same IDs as the current ones, which can cause loads to fails.  (If it's easier just post a list of the extensions you have installed and we'll take

[2022-03-20 20:49] itowlson commented on #1044
Sorry for not following up on this earlier.  Is it possible for you to share the file extension (and ideally path) and first few lines of your sample please?  It's the file path/extension and the `apiVersion / kind / metadata` triplet that we trigger on.  You can redact the `metadata` values but it would be really useful to see the `apiVersion` and `kind`.  Thanks!

[2022-03-20 21:15] inliquid commented on #1044
Yep, sure. As I said this file is to be assembled into a working config by CI/CD process, so `apiVersion` and `kind` not present:
![изображение](https://user-images.githubusercontent.com/6797881/159186164-2befcafb-369d-4628-94fe-21f9d2463a20.png)

Path is `.o3/k8s/values_production.yaml`

[2022-03-20 21:39] itowlson commented on #1044
Ah, okay, it's the lack of `apiVersion` and `kind` that's throwing us off.  We depend on those to know what kind of resource it is (and that it's a k8s resource at all).

It seems like to meet your needs we'd need to do the following:

1. Provide a way to say "this is a k8s resource despite the lack of the standard header" - this would be fairly easy to do through a specially formatted YAML commen

[2022-03-22 12:17] SMFloris commented on #979
We are having the same issue when using microk8s as well.

For example, in theory it would be enough to point it to the kubectl path:

[code]

But this fails since it expects the binary itself to be named `kubectl` and does not accept anything else which defeats the purpose of the path variable.

[2022-03-22 14:37] lstocchi commented on #1042
@prnam Just tried it and it works fine for me on my local minikube. Are you logged in any cluster? Are you an admin? If not, which role do you have? Maybe the user the extension is using to conenct doesn't have the rights to download the crds and schemas? :thinking:

Do you see any link just above the file? E.g `io.k8s.api.networking.v1.IngressClass` in image below
![image](https://user-images.git

[2022-03-23 05:47] stealthybox commented on #959
@RikuXan I totally agree that this sounds pretty annoying.

Here's an idea:
  Set `vs-kubernetes.kubeconfig` and the `vs-kubernetes.knownKubeconfigs` array in your vscode user settings, so that you can use the `> Kubernetes: Set Kubeconfig` command to switch between one that contains your kubelogin enabled clusters and one that does not have clusters with any interactive auth.

  Doing this at the

[2022-03-23 13:46] dtrivedi-conga opened #1050 "While switching cluster in kubernetes extention laptop hangs"
Issue Type: <b>Bug</b>

When I switch to any of the listed kubernetes cluster in extension my laptop hangs and the only way to bring it back is to reboot the laptop.
Even my Microsoft Teams, Microsoft Outlook also stops responding after this.

Extension version: 1.3.7
VS Code version: Code 1.65.2 (Universal) (c722ca6c7eed3d7987c0d5c3df5c45f6b15e77d1, 2022-03-10T14:33:49.188Z)
OS version: Darwin x6

[2022-03-23 19:33] itowlson commented on #1050
Yikes - that's an awful bug and I'm sorry it's having such an impact on you.

That said, I don't know how it's even possible for us to hang the entire machine.  The only thing I can think of is that we're doing something that ends up consuming 100% CPU, or possibly something that spins off an "infinite" number of kubectl processes.

I don't know how much patience you'll have to investigate given t

[2022-03-25 17:58] indiejames commented on #1048
You may be right. Seems to be working now. Closing this issue.

[2022-03-27 19:01] prnam commented on #1042
Hey

Admin - yes
Can I see the link for IngressClass? - Yes, but only if manually mention the kind as IngressClass. Auto complete does not list "IngressClass" or any other I have mentioned above.

[2022-03-28 08:03] lstocchi commented on #1042
@prnam ah maybe i misunderstood the issue then. You mean when having an empty file you don't see those resources listed like this? So you'd like to have snippets for those resources.
![image](https://user-images.githubusercontent.com/49404737/160353216-cf7f7b9a-b3cd-4817-aaa0-82ddf2ebc6f4.png)

[2022-03-28 14:54] prnam commented on #1042
That's correct @lstocchi. 🙂

[2022-03-28 15:32] prnam commented on #1042
Hey @itowlson,
Sorry for late response.

At the moment I don't have bandwidth. In fact I have one more issue I need to complete from where I last left it. So will not be able to commit to anything for now, but if this still is open when I'm able to spend sometime, I will definitely pick it and work on it. 🙂

[2022-03-30 16:30] GinoSahagun opened #1052 "Extend K8s tool to add api headers i.e User impersonation"
Hi team,

I couldn't find anything related to my inquiry in the issues, but I wanted to know if there is something on the road map to add kubectl api headers to extend kubectl commands through the vscode tool. Our team sometimes need to do something like `kubectl --as <name-of-elevator-user> get secrets` depending on the kubectl command and I thought it'd be really cool if the vscode tool could ad

[2022-03-31 17:20] lstocchi commented on #1052
Hey @GinoSahagun thanks for opening this. We would need to update the code a bit but i think it could be a nice enhancement. How do you think this should work? Having an action similar to the incognito mode in the browser so that when switched all commands are executed by impersonating another user/group?

 @itowlson @squillace WDYT?

[2022-04-01 09:45] benko opened #1053 "Extension asks to search for CRD-based suggestions but ignores "Don't ask again" answer."
I believe the title says it all.
I've been looking for a setting to change this behaviour, alas.
It's really really annoying to have to watch "Error from server" every time one opens a workspace or adds a folder and there's nothing one can do about it.

[2022-04-04 04:15] itowlson commented on #1053
Can you check your config file for a setting called `ignoreRecommendations`?  "Don't ask again" is meant to set it, but I think we might have an issue where it's going in the wrong place.

[2022-04-04 04:33] itowlson commented on #1053
It looks like there are at least two issues here:

1. We try to save the preference to the _workspace_ settings file.  So users get asked again for every workspace.
2. If there's no workspace open, we silently fail to save the preference.

(Issue 2 1/2 is that the setting is called `extensions.ignoreRecommendations`, which seems to be the setting for turning off _all_ extension recommendations, in

[2022-04-05 15:33] GinoSahagun commented on #1052
Yes...  I like that suggestion it makes sense and it seems to align how kubernetes describes the "impersonation mode" and how users / groups can be used.

[2022-04-06 03:04] pinkplus opened #1054 "The Kubernetes extension overrides yaml schema settings"
I'm using Argo Workflow, and configured yaml schema to point to its schema file:
[code]

This is an example yaml file:
[code]

With this setting, yaml autocomplete works fine when the Kubernetes extesion is not installed. In particular, it provides detailed autocomplete for `metadata` and `spec` fields.

However, after the Kubernetes extension is installed, autocomplete doesn't work for `metadata`

[2022-04-06 03:12] itowlson commented on #1054
I'm afraid we buried the docs on this one.  At the moment you have to exclude it on a file-by-file basis by editing in a magic comment at the top:

https://github.com/vscode-kubernetes-tools/vscode-kubernetes-tools#yaml-processing-directives

[code]

[2022-04-06 03:43] pinkplus commented on #1054
Right, it’s not very obvious from the doc, but it works after I added the comment. Thanks!

[2022-04-06 07:33] itowlson commented on #1054
Thanks for closing the loop on that!  I'll close the issue since the solution works for you - please reopen if needed.

[2022-04-06 07:33] #1054 closed

[2022-04-06 12:58] William-Francis commented on #830
This seems to be an issue with either debug or verbosity.
I fixed it by using:
[code]
If you are using kubectl, you could try add the verbosity command "--v=0"

[2022-04-07 07:01] sergei3000 opened #1055 "Failed to connect to the remote extension host server (Error: Connection error: Unauthorized client refused: auth mismatch)"
Client: MacOS 12.1, VSCode 1.66.0, ms-kubernetes-tools.vscode-kubernetes-tools v1.3.7.
Remote container: Ubuntu 18.04.1

It all used to work fine for me, but now I can't connect to the my containers anymore. I connect as usual via `Attach Visual Studio Code` line in the context menu in the Pods section of the Clusters panel. Then I try to open a folder and see this error in the bottom right corner

[2022-04-08 14:06] lstocchi commented on #1053
Sorry for the late response @itowlson . I definitely agree with you. We can also rely on the default `ignoreRecommendations` as a parent switch so if that one is false we don't check our custom setting but we should have one to only disable k8s-recommentations.

[2022-04-08 16:20] lstocchi commented on #1053
My proposal -> @itowlson

[2022-04-08 17:05] adleatherwood commented on #997
This is still happening.  I have both the `Kubernetes` and the `Bridge to Kubernetes` extensions installed.  The "bridge" extension is disabled and I have no other K8s-related extensions installed.  I can open up any project with the `Kubernetes` extension install and a `kubectl` process will spawn.  When I close VsCode, the process stays every time.  The type of project doesn't seem to matter at

[2022-04-11 05:01] olljanat opened #1057 "Feature request: Support pod console with ephemeral container"
Kubernetes 1.23 graduated [ephemeral containers](https://kubernetes.io/docs/concepts/workloads/pods/ephemeral-containers/) to beta and it would be nice to have support for them in this extension.

And especially on way that user define default container image to be used with that feature so it is easier get all needed tools in place.

Some ready made container images for this purpose looks to be a

[2022-04-11 21:51] mark-bradshaw commented on #1050
I'm having the same issue.  When I look at the Process Explorer what I see is the extension going and pulling each of the CRDs on the cluster I'm connecting to.  That cluster has a LOT of CRDs.  I don't know what all it's doing with the CRDs, but that seems to be what it's doing when it locks the system.

[2022-04-11 21:55] #1053 closed

[2022-04-11 21:58] itowlson commented on #1050
Ah, this sounds like it might relate to the extension suggestion feature.  @lstocchi, as an interim workaround, would your new config setting bypass the fetching of CRDs or only of putting up the suggestions message?

[2022-04-11 22:01] itowlson commented on #997
That sounds frustrating - that directory locking thing is a colossal pain!  Could you try using Process Explorer (or similar tool) to find out the full command line - specifically the subcommand/arguments - of the leaked `kubectl` instance please?  That will help us to narrow down where the leaked process is coming from.  Thanks!

[2022-04-12 08:18] lstocchi commented on #1050
@itowlson no it only hides the suggestions message. But i don't think the problem is there because it just makes a call to fetch all api-versions so it should be fast.
I guess the problem comes when we fetch all CRDs to find some custom schemas to enable a better code completion :/
Maybe we should give a way to disable it or just give the users the option to target some specific CRDs ... WDYT? @it

[2022-04-12 08:25] lstocchi commented on #997
@itowlson Maybe we should merge https://github.com/vscode-kubernetes-tools/vscode-kubernetes-tools/pull/1001 even if it doesn't kill all kubectl processes. I'll try to see again why the observable doesn't work but that should be a good start.

[2022-04-12 10:10] maxgfr commented on #615
With a mac M1 I added that, to solve the problem :

[code]

[2022-04-12 12:49] mark-bradshaw commented on #1050
I hope you can fix it.  I enjoy the extension. 

On April 12, 2022, Hugo Menzaghi ***@***.***> wrote:

—
Reply to this email directly, view it on GitHub
<https://github.com/vscode-kubernetes-tools/vscode-kubernetes-
tools/issues/1050#issuecomment-1096333663>, or unsubscribe
<https://github.com/notifications/unsubscribe-
auth/AAIFQ2WIEQIVPENGFLDUKGTVEUWV5ANCNFSM5ROC56QQ>.
You are receiving this bec

[2022-04-13 20:34] #769 closed

[2022-04-14 08:00] lstocchi commented on #1015
Closing as https://github.com/vscode-kubernetes-tools/vscode-kubernetes-tools/pull/1033 fixed it

[2022-04-14 08:00] #1015 closed

[2022-04-14 12:40] juozasg opened #1058 "Logs should 'Follow Logs' and 'Run' by default"
For logs display, a small change would significantly improve UX to be able to click Logs on a pod and see the logs immediately, without having first to click 'Follow Logs' and then 'Run'. And it should scroll to the bottom:

![image](https://user-images.githubusercontent.com/4100/163392429-3febb9a1-a51d-4fdc-b395-75d1aac2d591.png)

[2022-04-14 13:27] lstocchi commented on #1050
@mark-bradshaw could you please tell me approx. how many CRDs you have in your cluster? The one with a lot of CRDs. I am trying to figure out which should be the upper limit to use to change the plugin behavior. Thanks!

[2022-04-14 15:54] mark-bradshaw commented on #1050
220

[2022-04-17 10:36] SuperChenSSS commented on #408
Got the solution here, thanks.

[2022-04-18 04:09] sergei3000 commented on #1055
After some updates to VS Code these errors are gone and everything is working again

[2022-04-18 04:09] #1055 closed

[2022-04-21 15:28] zgfh opened #1060 "feature require: add ingressclasses support"
feature require: add ingressclasses support

[2022-04-24 17:14] chlete commented on #824
Hey people :)
For those looking kustomization support, we have built an open source IDE solution called [Monokle](https://monokle.kubeshop.io/), which supports Kustomizations. Monokle can preview them and find errors *before* they are applied in the cluster. Similar features for Helm. Monokle focuses on Kubernetes workflows. Maybe it's helpful for some of you.

[2022-04-25 12:28] nicholas-george opened #1061 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `vscode-kubernetes-tools`
- Extension Version: `1.3.7`
- OS Version: `Darwin x64 21.4.0`
- VS Code version: `1.66.2`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`file:///var/folders/cy/qp27sgk974b0j9n_n80lfdlm0000gn/T/ms-kubernetes-tools.vscode-kubernetes-tools-unresponsive.cpuprofile.txt`

Find more details here:

[2022-04-30 14:10] kingdonb commented on #1058
It looks like there has actually been progress on this issue upstream at:

* https://github.com/vscode-kubernetes-tools/vscode-kubernetes-tools/pull/1062

[2022-05-03 15:24] TimoFriedri opened #1064 "Lack of documentation (esp. launch.json and python)"
Hi,

Kubernetes: Debug (Attach) works for me, but then I cannot set the pathMappings which makes it useless mostly.

How does a correct configuration looks like in the launch,json file for python?
So could you please complete the following dummy:

[code]

Thanks a lot.

[2022-05-04 22:07] #1050 closed

[2022-05-05 13:53] lstocchi commented on #1064
Hi @TimoFriedri, i'm not the best person to help you with Python but afair you shouldn't do anything. The plugin should create everything it needs automatically. You just need to make sure to open the right port 5678 (default one) or if you use a custom one to add it in the settings `vs-kubernetes.python-debug-port` and that you use ptvsd to attach to it.

P.S: i was looking at the ptvsd repo and

[2022-05-05 16:21] #1064 closed

[2022-05-06 05:49] SethFalco commented on #1040
The issue is word wrap.
Scroll to bottom words as documented when word wrap isn't enabled.

When word wrap is enabled, it seems to only scroll down according to number of logs rather than number of lines.

[2022-05-06 17:25] kingdonb commented on #1058
I had a try at https://github.com/vscode-kubernetes-tools/vscode-kubernetes-tools/pull/1066 and found it makes this setting possible, you can change "Follow Logs" to be the default, and autorun has been added as an option that you can enable. We may have to call this out in our docs in order to make it more fully accessible, I'm not sure if they'll make it default behavior or if there are any draw

[2022-05-07 07:35] thernstig commented on #1046
Duplicate of https://github.com/vscode-kubernetes-tools/vscode-kubernetes-tools/issues/990

[2022-05-09 05:09] francotiveron opened #1067 "Cannot run Debug (Attach)"
I have installed both ps and windbg in the container as per https://github.com/vscode-kubernetes-tools/vscode-kubernetes-tools/blob/master/debug-on-kubernetes.md#6-dotnet-debugging.

When I run Debug (Attach) in a pod i get

![image](https://user-images.githubusercontent.com/8280970/167344419-f9373bb0-7e37-4349-917c-8eb687c83be6.png)

[2022-05-09 21:04] viswatejan opened #1068 "Add support to view logs by deployment kind"
Add support to view logs by deployment kind

[2022-05-11 13:32] t0mcat1337 opened #1070 "Intellisense broken in 1.3.8"
Hi everyone,

just realized, that in the current version 1.3.8 IntelliSense seems completely broken.

Steps to reproduce:
1) Install / Upgrade to Kubernetes extensions 1.3.8
2) Create a new File, name "deployment.yml"
3) Start typing: De
4) Nothing happens, no suggestion is made, pressing "CTRL - Blank" gives "No suggestions":
![image](https://user-images.githubusercontent.com/3826246/167860915-31

[2022-05-11 14:45] lstocchi commented on #1070
Hi @t0mcat1337,

there were some users complaining about the slowness of the extension and we found out the problem was the CRDs fetching. We decided to stop fetching them automatically but to ask for user confirmation what to do https://github.com/vscode-kubernetes-tools/vscode-kubernetes-tools/pull/1059. You should see a popup that asks if you want to `Enable Once`, `Disable once`, `Enable forev

[2022-05-11 14:58] lstocchi commented on #1070
Hi @t0mcat1337 , thanks for opening this issue and letting us know. I was able to replicate it. Sorry for the trouble.

[2022-05-11 16:32] red8888 opened #1072 "Helm Releases tab empty"
Other tabs like Namespaces and Workloads work but Helm Releases shows nothing

<img width="154" alt="image" src="https://user-images.githubusercontent.com/6265399/167900936-350bb7a4-2e5c-40bc-ae12-81ac9053fe6c.png">

I of course confirmed `helm ls -A` showed all my releases correctly

Why is it blank in the UI? Does the UI only support a single namespace or something because I dont think I have an

[2022-05-11 16:36] lstocchi commented on #1072
Hi @red8888 , yes it takes the current namespace and shows all releases belonging to it -> you can find the code here https://github.com/vscode-kubernetes-tools/vscode-kubernetes-tools/blob/92582a57ce722e166d25482b443c37a58d16305a/src/helm.exec.ts#L740

[2022-05-11 16:38] red8888 commented on #1072
oh man does it support all namespaces for helm? otherwise I dont think the current implementation is super useful

[2022-05-11 16:39] red8888 commented on #1072
An example implementation would be Len which supports this: https://k8slens.dev/

[2022-05-11 17:01] bacongobbler commented on #1072
`helm list --all-namespaces`

[2022-05-11 17:05] expruc opened #1073 "Major slowness in vscode while running this extension"
Hello
Recently I have started experiencing problems working in vscode while this extension is running. It makes vscode stuck and I am unable to work properly. The current solution is to disable the extension.
I have noticed a high activation time of this extension, as it was more than 300 ms (the highest of all my other extensions).
This isn't related to the files parsed by this extension, as my v

[2022-05-11 17:40] bacongobbler commented on #1072
I don't think so, no... I can only comment from the Helm side of things. I'm not too familiar with the internals of the Kubernetes extension.

[2022-05-11 17:45] expruc commented on #1073
Hi, @lstocchi and thank you for your response
After adding this setting and enabling this extension it seems to be improved a bit but still very laggy (can't save files, takes long time for vsc to shut down, etc.).
I also tried to downgrade this extension to 1.3.7 which seems to solve the issue for now.

[2022-05-11 17:49] lstocchi commented on #1073
Thanks for the response @expruc .

Any idea what could cause it? @itowlson By looking at the last commits the only plausible explanation is crd fetching but this was also there in 1.3.7... ?? :thinking:

[2022-05-11 22:34] itowlson commented on #1073
Help > Open Process Explorer might give some insight if something is consuming a lot of CPU or memory, though it won't localise it if the slowdown is in the extension itself rather than a process.

The schema code does do some stuff in the background, but I can't see how the changes made to that for the CRD option would affect that.

I notice #1069 mentions a slowness issue - perhaps worth trying

[2022-05-13 12:31] imranismail commented on #1042
This doesn't work on my vscode as well, can you share how yuo get the snippets to wrok?

[2022-05-13 12:37] lstocchi commented on #1042
@imranismail usually when you start typing it should show the list or ctrl + space .... but there is a bug introduced in latest version of the plugin which prevents it from working -> https://github.com/vscode-kubernetes-tools/vscode-kubernetes-tools/pull/1071
If you need them you should downgrade to 1.3.7 or wait for the next release. As soon as the couple of PRs opened are merged i think we woul

[2022-05-15 05:40] pcgeek86 commented on #1070
I've been having the same problem here for the last week or two.

In the VSCode Extension Host logs, I am seeing this message being repeated over and over:

[code]

[2022-05-16 22:32] #1070 closed

[2022-05-16 23:06] itowlson commented on #1067
@pantosha do you know anything about this issue, or is there any more information @francotiveron could provide that would help diagnose it?  I'm afraid it's not familiar to me.

[2022-05-16 23:08] itowlson commented on #1072
@lstocchi The whole tree is filtered by current namespace - would it not be weird for Helm releases to be different?

[2022-05-16 23:17] itowlson commented on #1068
@SethFalco since you are making great strides on the log viewer right now - would this issue be of interest to you?

[2022-05-16 23:25] SethFalco commented on #1068
I'm not actually that familiar with Kubernetes yet, still learning my way around. ^-^'
Regardless, I'd be happy to try to look at it later, but just giving the warning just in case!

Basically, rather than view logs for a particular `Pod`, to also be able to get an aggregate view of logs for the whole `Deployment` (or all `Pod`s in a `Deployment`)?

[2022-05-16 23:26] itowlson commented on #1052
Sorry for the belated reply.  Impersonation mode sounds like the most practical way in the current design; the only other option I can think of is to have different tree entries you could switch between ("My Cluster" / "My Cluster As Seen By Keith").

This seems like it could have the potential for confusion if someone does non-k8s stuff for a while and forgets they're in impersonation mode.  What

[2022-05-16 23:30] itowlson commented on #1068
@viswatejan I originally read your issue as Seth says, to get the logs for a deployment as per `kubectl logs deploy/foo`, but just to be sure, is that what you meant by "by deployment kind"?

[2022-05-17 00:04] viswatejan commented on #1068
@itowlson, that's right.

It will be great if you can enable the "logs" context menu on deployment and job and show the output of the following commands respectively on the log viewer.

`kubectl logs deployment/<deployment>`

`kubectl logs job/<job>`

[2022-05-17 00:17] francotiveron commented on #1067
@itowlson I wouldn't know what else to add

[2022-05-17 22:11] SethFalco commented on #745
Just a heads-up, looks like this issue can be closed?

Looks like it's fixed by:
* https://github.com/vscode-kubernetes-tools/vscode-kubernetes-tools/pull/1017

[2022-05-17 22:12] itowlson commented on #745
Good catch, thank you @SethFalco

[2022-05-17 22:12] #745 closed

[2022-05-19 12:40] Marvin-S opened #1078 "Snippets not showing in v1.3.8"
Hello,
as of update 1.3.8 the code snippets in yaml files are not showing anymore.
If I install version 1.3.7 the snippets are displayed again.

I've installed a complete fresh vs code with only the Kubernetes and YAML extension installed.

With version 1.3.8
![Bildschirmfoto 2022-05-19 um 14 34 54](https://user-images.githubusercontent.com/52828682/169295167-c43eb509-71d0-4f16-9ba2-784eccdb72e9.p

[2022-05-19 13:44] lstocchi commented on #1078
Thanks for opening this @Marvin-S and sorry for the trouble. We already found the source of the problem and fixed it https://github.com/vscode-kubernetes-tools/vscode-kubernetes-tools/pull/1071 . In the next days we should be able to make a new release.

[2022-05-19 13:55] #1078 closed

[2022-05-22 00:55] pk1996 commented on #1021
I was facing this issue on Ubuntu 20.04 but installing the "remote containers" extension solved this!

[2022-05-24 10:05] oleksandrnezhynskyi commented on #615
In case you're using `homebrew` on a Mac M1 also works:
[code]

[2022-05-24 12:08] chlete commented on #855
Hey @rille111 if you are looking kustomization support, we have built an open source IDE solution called [Monokle](https://monokle.kubeshop.io/), based on Electron too, which supports Kustomizations. Monokle can preview them and find errors before they are applied in the cluster. Similar features for Helm. Monokle focuses on Kubernetes workflows. Maybe it's helpful for some of you.

[2022-05-30 17:31] ptasker opened #1082 "No option to select Go as the environment for debugging"
Hi there 👋, based on [this doc](https://github.com/vscode-kubernetes-tools/vscode-kubernetes-tools/blob/master/debug-on-kubernetes.md#8-go-debugging) it appears that the `Debug (Attach)` configuration supports Go, but I'm not able to select Go as the environment. Is there anything required to enable Go as an environment for debugging?

See screencast:

![k8s-debug](https://user-images.githubuserco

[2022-06-01 22:44] xzxzxc opened #1083 "[Feature request] Add ability to control justMyCode dotnet debugger option"
By default, in the dotnet debugger "justMyCode" feature is enabled. That means that the debugger will skip any optimized code (e.g. built using release configuration). In most cases, you build your code in this configuration for production. So when you are trying to debug your production code you need to disable "justMyCode". But unfortunately, at this time, there is no option to disable it when y

[2022-06-01 23:06] GinoSahagun commented on #1052
Sorry for my belated reply. is it possible to have the present being similar to how clusters are shown, but have the user be shown in a similar structure and using a tab maybe or something?

[2022-06-02 14:31] thewilli opened #1084 "[Feature Request] Inline preview & jump to definition for Helm Chart values"
Jetbrains has great [support](https://blog.jetbrains.com/idea/2018/10/intellij-idea-2018-3-helm-support/) for Helm Chart development in their IDEs. Two features are related and really great - and I would really recommend to consider implementing them:

* There is no need to run an additional *preview* command, as the (default) values can just be seen inline in the template
*  It is possible to jum

[2022-06-02 16:44] pcgeek86 opened #1085 "Extension does not detect Pod container missing "image" property"
### Summary
The VSCode Kubernetes extension does not detect when the `image` property is missing in a Kubernetes Pod YAML manfiest.

### Repro Steps

Save this to a file. No problems are detected.

[code]

[2022-06-08 16:15] rrmistry opened #1087 "[Feature Request] Attaching Terminal To Pod Fails For Windows Containers"
# High Level Ask: 👉 Allow changing `sh` to `poweshell` when attaching terminal

Currently the default shell when attaching a terminal to a Kubernetes Pod using this extension is `sh` which fails when running Windows Containers.

The command created by the extension is as such:

[code]

The error message from this is as such:

[code]

_____

It would be good if either:
1. The extension could infer

[2022-06-14 12:52] vuldin opened #1091 "Minikube upgrade notification on every startup with latest beta installed"
I installed the current latest minikube beta, and now I get the below notification on each startup. I think the best fix for this issue would be to have an option in settings that allows disabling this notification.

![image](https://user-images.githubusercontent.com/310946/173580963-5dc983a1-f425-49d6-9d98-8f00115fdc6f.png)

[2022-06-14 12:52] vuldin commented on #1091
Similar but different from https://github.com/vscode-kubernetes-tools/vscode-kubernetes-tools/issues/946

[2022-06-14 13:01] lstocchi commented on #1091
Hi @vuldin, there should be a setting called `checkForMinikubeUpgrade`. If set to false you should not see that notification. Could you please let us know if this fix your issue? Thanks

[code]

[2022-06-14 13:40] vuldin commented on #1091
Hmm I don't see this as an option in my plugin settings (`v1.3.9`):
![image](https://user-images.githubusercontent.com/310946/173591204-dc3b6097-6dd3-4e35-a83c-9141ae7adfc8.png)

[2022-06-14 13:55] lstocchi commented on #1091
You need to use the parent setting `vs-kubernetes`
![image](https://user-images.githubusercontent.com/49404737/173594689-4e861d63-88b8-43cd-9117-522afe17ad38.png)

[2022-06-15 02:13] itowlson commented on #1091
The nested ones don't show up in the GUI unfortunately - that's one of several reasons why we are gradually moving to the top-level-with-prefix settings.  Apologies for the inconvenience.

(The use of nested settings predates even me I think, and was fine at the time - but subsequent enhancements to Code have turned it into a misfeature.  But moving to a new structure is non-trivial...)

[2022-06-16 04:50] lstocchi commented on #1083
Closing it as #1086 was merged. Feel free to reopen if you face any issue. Thanks!

[2022-06-16 04:50] #1083 closed

[2022-06-17 14:53] lstocchi opened #1093 "Broken ui when log viewer is shrinked"
![image](https://user-images.githubusercontent.com/49404737/174322796-b4f65413-a9ab-42b4-b1ec-e92160055ad2.png)

[2022-06-19 12:02] WoodyWoodsta commented on #1042
I'm still having an issue - am I right to expect to have intellisense in my below screenshot?

<img width="418" alt="image" src="https://user-images.githubusercontent.com/8268040/174478924-07f453b8-f21a-4acd-88e3-24c23a2e3c8b.png">

This is on v1.3.10.

[2022-06-19 14:44] WoodyWoodsta opened #1094 "`helm-template` language does not have Kubernetes completions"
If I create a helm template, thus using the `helm-template` language syntax, then I do not get Kubernetes resource API completions:
<img width="523" alt="image" src="https://user-images.githubusercontent.com/8268040/174486666-8c8f8248-29a4-4b5b-abc9-5ebcc714a2e2.png">

Otherwise, if I create a normal YAML file, I get the completions:
<img width="548" alt="image" src="https://user-images.githubuser

[2022-06-19 14:47] WoodyWoodsta commented on #1094
I suppose #12 is a potential duplicate?

[2022-06-21 07:33] hcguersoy commented on #979
- OS: macOS 12.4 / ARM
- `kubectl` installed via Homebrew, path is `/opt/homebrew/bin/kubectl`
- Extension version v1.3.10

VSCode respective the extension complained about missing kubectl. My `settings.json` looked like this:

[code]

`vscode-kubernetes.kubectl-path` was missing, `vs-kubernetes.kubectl-path` is empty, even I've entered the according path into the extension settings page.
Obviousl

[2022-06-29 18:32] mattcockrell opened #1095 "log viewer autorun setting doesn't work"
As mentioned in #1066, there is an option to autorun the log viewer.  When I set this option to 'true' in my settings file, I still have to manually run the logs.

I would also like to second the idea of having an option to scroll to bottom by default, as in #1058.

[2022-07-04 00:00] sandipchitale commented on #997
@itowlson The complete subcommand/arguments on Windows is:

[code]

And yes, not being able to delete the folders because of this is sometimes puzzling and definitely frustrating when it happens.

I have written the following Doskey macros (aliases) to kill all ```kubectl.exe``` processes (use ```kkc``` alias carefully as it may kill legitimate ```kubectl.exe``` processes):

[code]

[2022-07-07 00:28] sandipchitale commented on #997
This extension may help until this issue is fixed:

https://marketplace.visualstudio.com/items?itemName=sandipchitale.vscode-kubernetes-kubectl-ripper

[2022-07-07 14:46] koepalex opened #1096 "Can't debug (attach) to dotnet process with sidecar"
Hi,

I'm using a Kubernetes Cluster in Azure and would like to debug pod from a vscode devcontainer.

Attach to cluster, select namespace works well, also when I select `Debug (Attach)` I get the selection of the different dotnet processes (my app and a sidecar) but the attach failed with error:

Output from `remote-attach`:
[code]

Output from `kubernetes`:
[code]

* vsdbg is installed in the con

[2022-07-13 22:15] mboyle3 commented on #1096
I found this thread because I am trying to debug C# service with Dapr sidecar in k8s locally also.

I finally found a solution to help you select the container in the Pods container.... and then the process within the container.

I updated my pipeArgs to include the --container and the container name in the pod.  for me 'project'.
you also need to select the process id within the container.

"proc

[2022-07-18 06:07] koepalex commented on #1096
@mboyle3 thank you, with the "--container" and "<containerName>" it is working :)

The remote debugger was already included in Dockerbuild, but there was still another bug in my first post, the debuggerPath need to be `/root/vsdbg/vsdbg`

[2022-07-18 06:10] koepalex commented on #1096
I leave this issue open, because using the kubernetes extension UI like:

1. Attach to cluster
2. Select namespace
3. Select Debug (Attach)

Is still failing with the same error.

[2022-07-19 22:17] leorochael opened #1097 "Settings sync with different home directory paths cause vs-kubernetes to not locate its tools"
If I have different usernames on different machines, or the same username but different home paths, and I enable vs.code settings sync, then the second machine where I try to use the extension will complain about missing tools.

And if a new version of vs-kubernetes extension starts requiring a new tool, then it will be downloaded but the initial machine will keep complaining about it being missin

[2022-07-20 22:12] BretFisher commented on #615
All these tips helped, but it looks like settings.json paths have changed.

1. I had to remove old and new minikube/helm/kubectl paths in settings.json, then in root json path:
2.  ```json
    "vscode-kubernetes.helm-path": "/opt/homebrew/bin/helm",
    "vscode-kubernetes.kubectl-path": "/opt/homebrew/bin/kubectl",
    "vscode-kubernetes.minikube-path": "/opt/homebrew/bin/minikube",
[code]

[2022-07-21 12:25] SethFalco commented on #941
I have the same problem, and confirm I don't have the `DEBUG` environment variable set.

[code]

* mongodb.mongodb-vscode
* lokalise.i18n-ally
* ms-kubernetes-tools.vscode-kubernetes-tools
* ms-azuretools.vscode-docker
* ryanluker.vscode-coverage-gutters
* vscode.json-language-features
* vscode.typescript-language-features
* flowtype.flow-for-vscode
* vscode.git
* rebornix.ruby
* mtxr.sqltools
* e

[2022-07-30 03:43] corang opened #1100 "Helm "Output" is not configurable, keeps popping up during work."
I have issues where the things that get logged to the "Output" tab in vs code are not configurable. I don't need my terminal closed when I'm in the middle of typing a template because it's not valid yet. Related so I'll drop it in here as well, the yaml parser that is used doesn't adhere to the yaml spec. A multiline string as shown below spams the "Output" tab with `Malformed inline YAML string`

[2022-08-02 06:20] MurzNN commented on #1021
@pk1996 Are you sure that you're connecting to the remote container from the remote SSH host, not from local VS Code instance? For local instance it works for me too, but doesn't work when I connect to a remove host via SSH, and then from that instance - connect to Kubernetes Pod.

I have "remote containers" installed, but still have no "Attach" menu item.

**Versions:**
Remote - Containers versio

[2022-08-02 08:15] MurzNN commented on #1021
Here is an issue about missing support for CRI containers: https://github.com/microsoft/vscode-remote-release/issues/6014 - maybe it's related.

[2022-08-03 07:03] pk1996 commented on #1021
@MurzNN not 100% sure but I essentially create Kubernetes pods and connect to them via VScode on my local system. Hope this answers your question!

[2022-08-03 07:07] MurzNN commented on #1021
On my local system it works too, it's broken only when I try to connect to K8s containers inside VS Code Remote SSH instance.

[2022-08-04 08:54] BryanDollery opened #1101 "Feature request: Don't always install tools (especially minikube)"
The tools used by the kubernetes plugin are already on my system and on my path and don't need to be reinstalled. Further, I don't ever want to use minikube and I'm not supposed to download unauthorised software (helm and kubectl are authorised at my company) -- we use K3D.

So, can we stop with the downloading of random and unnecessary tools? How about making it an option?

TIA

[2022-08-08 18:20] mike-matera opened #1102 "High CPU usage and can't edit YAML in the latest vscode."
Hello!

Today I read the "What's new" in the current vscode on Ubuntu installed by snap. Then I tried to edit a kubernetes YAML file and after I make a change I see high CPU usage and the keyboard seems unresponsive to edits. I can still navigate with the arrow keys and the rest of vscode seems fine. I see very high CPU usage for a minute or two then "The extension host terminated unexpectedly"  a

[2022-08-09 00:30] Mohammen1977 opened #1103 "HELM REPOS"
We have written the needed data into your clipboard because it was too large to send. Please paste.

[2022-08-09 12:56] doggy8088 opened #1104 "[Feature Request] Able to apply & delete `*.yaml` file on EXPLORER"
The `kubectl apply` and `kubectl delete` is very commonly used. If this extension can provide a feature for `apply` or `delete` YAML file, that will be very handy.

Here is my wish:

1. When you open an YAML file, if you right click on the file in the editor, you can choose `kubectl apply` or `kubectl delete` command on the context menu.

2. When you on the EXPLORER pane, if you right click on any

[2022-08-09 13:02] doggy8088 commented on #1101
I totally agree with you. I don't use `minikube` at all. We are using `MicroK8s`. I think the `Kubernetes: Create Cluster` feature can be separate from this extension and become a standalone extension for this specific creating cluster purpose.

[2022-08-09 13:18] BryanDollery commented on #1101
I hope you're not using snap to install it: https://medium.com/@Engineer_Dollery/ubuntu-snap-here-be-dragons-c2cd3b5c9774

[2022-08-09 16:39] doggy8088 commented on #1101
I simply use `microk8s install` to install k8s locally. They use snap to install everything in the VM behind the scenes. I don't feel any bad at this moment.

[2022-08-25 04:04] jty016 commented on #1021
Any update? I faced the same. No `Attach Visual Studio Code` menu when I  try to attach to k8s container from remote machine

[2022-08-25 05:21] itowlson commented on #1021
To reiterate, we don't provide or implement this command.  I think it comes from the remote containers extension.  I'm not sure I can provide any more information, sorry.

[2022-08-25 05:45] MurzNN commented on #1021
@itowlson Thanks for the information! I've found seems similar issue in Remote Containers extension https://github.com/microsoft/vscode-remote-release/issues/7108 and it's already have a fix! :tada:

[2022-08-25 22:28] bprosnitz opened #1105 "Relative path not supported in "go to definition""
Consider a kubernetes YAML file that specifies a base.

If the base uses an absolute path, "go to definition" navigates to the base file.

If the base uses a relative path, "go to definition" fails to work

[2022-08-26 13:52] lstocchi commented on #1082
Hi @ptasker, sorry for the late response. Could you please tell me which is the plugin version installed? Just tried quickly and i can see the go option. Do you have any app we can use to reproduce it?

[2022-09-01 15:35] schrej opened #1106 "offline support for CRD completions"
Right now, autocompletion for CRDs is based on the cluster one is currently connected to. If a CRD is not available on that cluster, there won't be any autocompletion and no tooltips.

I'm working in a platform team, and we manage dozens of clusters. Since we're doing GitOps we edit lots of manifests in VS Code and then push them to git in order for them to get applied.
When I'm not connected to a

[2022-09-02 10:32] lstocchi commented on #1106
It looks to me a good idea. +1

Thoughts about this? @itowlson @squillace

[2022-09-02 10:43] lstocchi commented on #1104
Hi @doggy8088,
just to be sure... the extension already provide the `apply` and `delete` actions and they can be easily invoked using the command palette (CTRL+SHIFT+P -> Kubernetes: apply|delete) on the current active file. Are you aware of it and you prefer to have these actions in the context menu as well or you missed them?
Thank you and sorry for the late response

[2022-09-02 10:48] lstocchi commented on #1091
Solved. Closing it

[2022-09-02 10:48] #1091 closed

[2022-09-02 16:36] doggy8088 commented on #1104
I'm not aware of this command. Thanks for let me know.

If the command appear in the context menu, I'm looking forward to see it. 😊

[2022-09-06 05:23] zx472010602 opened #1107 "When I use the "Logs" or "Terminal" functions of "pods", I get an error"
When I use the "Logs" or "Terminal" functions of "pods", I get an error of
"
Failed to get containers in resource: error: error parsing jsonpath {'NAME\tIMAGE\n'}{range .spec.containers[*]}{.name}{'\t'}{.image}{'\n'}{end}, unrecognized character in action: U+0027 '''
"

[2022-09-06 05:26] zx472010602 commented on #1107
![image](https://user-images.githubusercontent.com/31379313/188553392-2e120aee-a929-4986-97cf-0ab93ebba8aa.png)
![image](https://user-images.githubusercontent.com/31379313/188553568-59a578ff-d8a9-4081-95b9-069f2af866d0.png)

[2022-09-06 05:37] zx472010602 opened #1108 "When I use the "port-forward" functions of "pods" or "service", I get an error"
error: invalid resource name "xxxxxxxxxxxxx": [may not contain '/']
![image](https://user-images.githubusercontent.com/31379313/188555115-ade9756f-0d35-4abc-b924-9dff1433a913.png)

[2022-09-06 05:38] zx472010602 commented on #1108
![image](https://user-images.githubusercontent.com/31379313/188555189-4e085028-8ab5-4b0b-ba6d-724765bb0242.png)

[2022-09-06 12:43] lstocchi commented on #1107
Hi @zx472010602 ,
the error is quite clear, there is something (`'` chars) that makes the plugin fails.
Which version of kubectl are you using? Which OS? Which kubernetes version?

could you please run this command in your terminal and check if you have the same error?
[code]

Can you also send the whole output of `kubectl get pod/common-kafka-0 -n=<your-namespace> -o yaml` ?

Thanks

[2022-09-06 12:54] lstocchi commented on #1108
Hello,
which version of kubectl are you using?

@itowlson you know windows better than me. Any idea?

[2022-09-07 02:30] itowlson commented on #1108
The only thing I can think of is if there has been a breaking change to `kubectl port-forward` so it now requires a syntax like `pod foo` instead of `pod/foo`.  Doesn't look like anything related to Windows...

[2022-09-07 02:33] itowlson commented on #1108
Nope, docs say `pods/foo` should be fine... https://kubernetes.io/docs/tasks/access-application-cluster/port-forward-access-application-cluster/

[2022-09-07 02:37] itowlson commented on #1108
@zx472010602 if you type that command manually into the terminal, do you get the same error?  If not, is there another syntax you know that does work for you?

[2022-09-07 13:47] hardeepsingh3 commented on #1035
Anyone able to resolve this as I'm facing the same issue when running helm dependency update for vault and only the .tgz gets created but not the vault template directory. For context I do have the kubernetes plugin installed on vscode. Does it need to be configured to work as intended?

[2022-09-08 10:37] yverbin commented on #1035
I have same issue. Just rename subchart templates directory to any other name and all works fine.

[2022-09-08 13:34] hardeepsingh3 commented on #1035
![Screen Shot 2022-09-08 at 9 32 14 AM](https://user-images.githubusercontent.com/87157686/189135452-6eb592a2-6502-4ccb-b4bf-8aeefa21c57f.png)

Can you explain further on what it is that needs to be renamed. I have tried renaming the charts folder that gets auto created as well as the templates folder but no luck.

[2022-09-09 07:53] zx472010602 commented on #1108
手动一样会，而且CMD,powershell，gitbash,都会报一样的错误

[2022-09-09 08:06] zx472010602 commented on #1107
![image](https://user-images.githubusercontent.com/31379313/189302940-f9e5b7ce-8457-460f-acc9-36fa01abc0dd.png)

[2022-09-09 08:21] lstocchi commented on #1107
Thanks @zx472010602
i downloaded your same version 1.7 and i'm able to replicate your issue, but then if i execute it with a newer kubectl it works fine.

Is there any chance you can upgrade your kubectl? Something like 1.21?
If so, please download it and test it manually
`curl -LO "https://dl.k8s.io/release/v1.21.0/bin/windows/amd64/kubectl.exe"`
If it works go to the settings.json in vscode (ctr

[2022-09-09 09:09] #1108 closed

[2022-09-09 09:10] zx472010602 commented on #1107
@lstocchi Thanks a lot, everything is back after the update

[2022-09-09 09:10] #1107 closed

[2022-09-13 13:14] longkai opened #1109 "Consider better helm snippets support?"
Hello, I notice the default helm template snippets is not helpful and sometimes cause confusion especially for new comers.

For example, when we use `if` snippets in the template it will complete like this:

[code]

However, the right side `-` is no needed for yaml, it will cause helm fail to render since it broke the yaml syntax. Which cause the following error:

[code]

Most of the time, the tem

[2022-09-23 21:07] asilverman commented on #573
This didn't work for me :(

[2022-09-27 05:11] fabwamb opened #1111 "show logs renders an empty file view"
When i click show logs
<img width="281" alt="image" src="https://user-images.githubusercontent.com/114335939/192436786-05d43c89-6c94-4432-8939-ad65d7f5d1ba.png">
A new file view is opened but is empty.
<img width="1430" alt="image" src="https://user-images.githubusercontent.com/114335939/192436875-da143611-a4a4-4f9e-8650-88a2f86c6840.png">
 The cmd on bash shows several pages of logs
<img width="8

[2022-09-27 10:08] julian7 opened #1112 "no reason to complain about missing CPU limits"
As the [robusta blog entry](https://home.robusta.dev/blog/stop-using-cpu-limits/) aptly points out, there's no reason to set CPU limits (memory limits are fine), one should set CPU requests though. However, the linter checks [CPU limits specifically](https://github.com/vscode-kubernetes-tools/vscode-kubernetes-tools/blob/92582a57ce722e166d25482b443c37a58d16305a/src/components/lint/resourcelimits.t

[2022-09-27 17:11] fabwamb commented on #1111
Version 1.3.10
[code]

[2022-09-28 15:53] C-nit opened #1113 "logs webview jumps back when scrolling up"
The webview is a great feature to go through logs, but I encounter an annoying behavior when scrolling up in the logs. It doesn't happen when scrolling down.

Reproduce:
Open a pods logs and scroll down and up a bit. At some point the view starts to jump back repeatedly to the same position of the logs.
It also happens when using the PgUp key.

It's independent from following the logs or having th

[2022-10-08 08:19] GKilm opened #1114 "can't debug pod"
when I try the `debug(attach) pod` function ,I have a problem to success.It is shown below.

![16652159176569](https://user-images.githubusercontent.com/28996322/194696976-1c8823a3-6243-4af7-95f1-d5a5c73c809e.png)

By the way,the extension is installed in remote-linux-machine.

[2022-10-10 19:43] alaytonoracle opened #1115 "Can't Set Kubeconfig via menu"
On VS Code 1.72, clicking "Set Kubeconfig" via the menu causes settings.json to be updated with:

        "vs-kubernetes.kubeconfig": {
            "preserveFocus": false
        },

This isn't valid so nothing is then displayed using Kubernetes: Clusters.   This did not happen before.

Workaround is to Set Kubeconfig via the Command Pallete:  "Kubernetes: Set Kubeconfig" - it works correctly ther

[2022-10-13 15:08] asampal opened #1116 "Logs view broken with latest VSCode Insiders"
Attempting to show logs for a resource opens a view in VSCode, but no buttons are shown in the UI, as seen below:

![image](https://user-images.githubusercontent.com/281639/195634504-0014744a-999c-45d3-a656-9d50e0073454.png)

Kubernetes extension version
v1.3.10

Version: 1.73.0-insider (system setup)
Commit: a8108049ab61b970f2ec1839dfb753054e07395e
Date: 2022-10-13T05:19:31.002Z
Electron: 19.0.17

[2022-10-13 15:32] RaulAlcaraz commented on #1115
i have the same issue

[2022-10-14 06:16] RaulAlcaraz commented on #1115
I solve it changing in settings **Windows: Title bar** style from common to **native**

![image](https://user-images.githubusercontent.com/85160445/195775521-1fbf934c-ac34-4f88-9d2a-469fb8fea9a5.png)

[2022-10-18 19:39] asampal commented on #1116
Now on VSCode the version below, with the k8s logs view still not functioning.

Version: 1.73.0-insider (system setup)
Commit: 1c78193f54fac6036829ec554ce218d99afc1f15
Date: 2022-10-18T07:28:31.647Z
Electron: 19.0.17
Chromium: 102.0.5005.167
Node.js: 16.14.2
V8: 10.2.154.15-electron.0
OS: Windows_NT x64 10.0.22621
Sandboxed: Yes

The following commits, the first on the 13th and going back to about

[2022-10-19 09:21] lstocchi commented on #1116
Thanks @asampal and sorry for the late response. Quite busy on other stuff. I'll give this a look and come back to you before the end of this week.

[2022-10-19 20:30] eggyhead commented on #1082
:wave: I'm having the same issue on version `v1.3.10`

[2022-10-20 09:02] Tatsinnit opened #1117 "Minikube popup too many times fix - Proposal. ☕️👨‍🚒"
### Solution space & proposal:

Thank you so much in advance for reading this, and sharing further thoughts and ideas fyi: @squillace, @itowlson, @lstocchi  and @gambtho ☕️❤️🙏💡

Below is a proposal as well as how currently we can disable too `Minikube` upgrade popups for kubernetes extension because Minikube releases too frequently.

### Proposal: Possible other solution:

#### Update popup appear

[2022-10-20 10:46] mloskot commented on #813
@lstocchi

But, how do you pick the target pod ?

[2022-10-20 10:47] mloskot commented on #1087
This problem has been reported a while ago in https://github.com/vscode-kubernetes-tools/vscode-kubernetes-tools/issues/813 with workaround suggested in https://github.com/vscode-kubernetes-tools/vscode-kubernetes-tools/issues/813#issuecomment-692680232

But, there seem to be no way to pick the pod for the command palette mode, see https://github.com/vscode-kubernetes-tools/vscode-kubernetes-tools

[2022-10-20 13:17] rrmistry commented on #813
If it is possible to edit/build the custom Windows Container image, then this idea could work:
_____

In the DockerFile, during image build, [set an alias](https://learn.microsoft.com/en-us/powershell/module/microsoft.powershell.utility/set-alias) for `sh` -> `Invoke-Expression` or `powershell`

[code]

[code]

[2022-10-21 14:13] asampal commented on #1116
I get the following in the dev tools console. Note that my workspace is a remote one, opened against a WSL2 directory. Kubernetes (via minikube) is running in WSL2.

![image](https://user-images.githubusercontent.com/281639/197216644-61f43226-29d7-4126-8c93-9bb1714ffadd.png)

[2022-10-21 15:06] lstocchi commented on #1116
@asampal thanks for the info. I was able to replicate it 👍

[2022-10-24 08:04] Tatsinnit commented on #1117
Thank you so much for this, this is perfect, ❤️☕️🙏 Sorry for delay, I wanted to make sure I have some small screenshot with POC like change to show idea. From above I gave `idea-2` a try:

Please share your thoughts/guidance/idea for option change and I will try and land a PR by next week for it (If no impediments)

💡☕️ **Reason** it provides clear option for user to when to be like to bothered.

[2022-10-24 14:47] pranavarnav2 opened #1118 "Can't get extension to work in an airgapped environment (offline)"
I've installed the extension together with the YAML extension via the VSIX file in a computer that is not connected to the internet. Both are enabled.
Unfortunately, when trying to add an existing cluster, I'm getting the following error:
`Error running command extension.vsKubernetesConfigureFromCluster: command 'extension.vsKubernetesConfigureFromCluster' not found. This is likely caused by the e

[2022-10-24 19:32] asampal commented on #1116
Is there anything else i can provide?

[2022-10-25 16:49] lstocchi commented on #1116
@asampal nono, helping me to replicate the issue was good enough.

After updating the code to use the asWebviewUri method it seems working for me. Could you give that a try? https://github.com/vscode-kubernetes-tools/vscode-kubernetes-tools/pull/1119

Just build it with vsce and install as vsix on your vscode in wsl 🤞
Thank you for your help!!

[2022-10-25 16:57] asampal commented on #1116
What is vsce, @lstocchi ? VSCode?

[2022-10-25 17:11] lstocchi commented on #1116
It's a tool for packaging the extension. More at https://code.visualstudio.com/api/working-with-extensions/publishing-extension

Basically you should open the branch source code https://github.com/vscode-kubernetes-tools/vscode-kubernetes-tools/pull/1119 in vscode. Install everything `npm i` then build it `npm run compile` then package it `vsce package`.
Now you should see a vsix file in the vscod

[2022-10-25 17:59] asampal commented on #1116
Looks good, @lstocchi. When do you think you could publish it?

[2022-10-25 18:01] asampal commented on #1116
Actually, please hold on. I'm seeing very heavy CPU use from my cluster after looking at the logs. Looking into it.

[2022-10-25 19:55] asampal commented on #1116
It doesn't look like the extension had anything to do with the CPU spike. Please go ahead and publish.

[2022-10-25 20:15] asampal opened #1120 "Please change log font to improve legibility"
It would be easier to read log output if the font was a sans-serif one (or be made configurable) rather than the serif one that is currently used. For the kind of information output in logs, studies show that a sans-serif font can make it easier to take things in at a glance.

[2022-10-27 10:54] Yann-J commented on #907
Hey just to chime in that I've been facing a similar issue... in my case this was caused by some empty lines in the middle of commented text:

`values.yaml` snippet:

[code]

Was causing this error:

[code]

Removing the empty line has removed the warning...

[2022-10-31 13:55] asampal commented on #1116
@lstocchi , could you please publish the fixed extension?

[2022-11-01 23:19] craiglpeters opened #1123 "redhat.vscode-yaml extension noisy notification"
The Kubernetes extension depends on the `redhat.vscode-yaml` extension, and that extension recently started prompting users in hopes of getting them to allow the collection of telemetry.

<img width="1791" alt="redhat vscode-yaml" src="https://user-images.githubusercontent.com/9445180/199359957-e7c42196-1497-4cff-be8b-9e2faf8cfaa3.png">

Is it possible to suppress this notification, and just defau

[2022-11-02 10:59] lstocchi commented on #1116
It will be published soon. I see there are other PRs so we are going to make a release with all of them

[2022-11-02 11:16] #1116 closed

[2022-11-02 12:03] lstocchi commented on #1123
@gorkem WDYT?

[2022-11-03 14:55] lstocchi commented on #1118
Hi @pranavarnav2, just tried to replicate but i don't see that error. Could you please elaborate a bit more?
I disconnected my laptop, then clicked on `Add existing cluster`, the webview pops up, i select `minikube local` as cluster type and click next. Is that right or you do something different? Thanks!!

[2022-11-04 10:46] lstocchi commented on #1115
Which OS are you on? Tried on linux and windows and i was not able to replicate it. Tried with vscode 1.72.2.
I also checked which title bar style i was using and it was on custom. Switched to other options and still worked.
Any other idea how I could replicate this?

[2022-11-04 10:57] lstocchi commented on #1114
Hi @GKilm ,
sorry for the late response, could you please give me some more info to replicate your issue? When do you face this error? After clicking the action? If not, after which step? Do you have your project opened on vscode?
Which vscode version are you using?
I tried but i was not able to replicate it, so any help would be great. Thanks!

[2022-11-04 14:15] Belpaire opened #1124 "Logs screen has no buttons rendered"
In the last version of vscode the logging screen is suddenly not working anymore (no buttons at all):
![image](https://user-images.githubusercontent.com/17363778/199995738-d19c24a4-2b0c-428d-a5e9-958328746f93.png)
I looked in the webview console errors on what happens and this is the output when I try to get the logs of a pod:

[logserrors.txt](https://github.com/vscode-kubernetes-tools/vscode-kub

[2022-11-04 15:05] alaytonoracle commented on #1115
I'm on Windows 10.

vscode:
Version: 1.73.0 (user setup)
Commit: 8fa188b2b301d36553cbc9ce1b0a146ccb93351f
Date: 2022-11-01T15:34:06.111Z
Electron: 19.0.17
Chromium: 102.0.5005.167
Node.js: 16.14.2
V8: 10.2.154.15-electron.0
OS: Windows_NT x64 10.0.19044
Sandboxed: No

The issue is still happening with Windows: Title bar style "custom".  The workaround of changing to "native" works for me too.

Tha

[2022-11-04 15:14] alaytonoracle commented on #1124
I have the same issue.

[2022-11-04 15:23] lstocchi commented on #1124
This error is the same as https://github.com/vscode-kubernetes-tools/vscode-kubernetes-tools/issues/1116 . It was fixed and merged but still not published. If you want you can use https://github.com/lstocchi/vscode-kubernetes-tools/blob/master/vscode-kubernetes-tools-1.3.6.vsix in the meantime. I hope to publish everything beginning of next week. Sorry for the trouble

[2022-11-04 15:39] Belpaire commented on #1124
Ok, I must have missed that issue (I did a search on logging, but I must have missed it somehow). The linked vsix indeed solves the issue.

[2022-11-04 15:40] #1124 closed

[2022-11-04 18:40] Tatsinnit commented on #1114
💡🙏☕️Saw this and thought I will add just as fyi in case this fix #1121  takes care of the issue mentioned.

Although, as @lstocchi kindly pointed out and I am not 100 percent sure because no reproducible steps are there.

Thanks

[2022-11-05 02:36] gorkem commented on #1123
It is actually a onetime prompt. Perhaps the setting is not set correctly on codespaces for some reason. vscode-yaml will soon start listening the recode global setting too. @fbricon

[2022-11-07 08:27] GKilm commented on #1114
Thanks for your response.
I'm sorry for not providing enough information without knowing what is important.

I'm going to show these steps with a gif.
![debug-by-k8s-tool](https://user-images.githubusercontent.com/28996322/200261580-587060cc-84f3-4b14-a843-835e7b103fd8.gif)

Here is the example project [demo](https://github.com/GKilm/test-debug-for-k8s)

The debug work is leaded by [debug-on-kuber

[2022-11-07 10:31] fbricon commented on #1123
So it's interesting that VS Code telemetry is turned on by default on Codespaces, and there's no popup warning users they can opt-out.
Red Hat extensions' telemetry is opt-in by default so we need that popup. Unfortunately, when the choice is made and stored in the user settings.json, it's not synchronized by default with other codespaces instances.

@craiglpeters are you suggesting Red Hat basica

[2022-11-07 14:01] pranavarnav2 commented on #1118
@lstocchi Try to uninstall the extension and its dependency extensions, disconnect your laptop, install them back from VSIX file ("Download Extension" link from the extension page [https://marketplace.visualstudio.com/items?itemName=ms-kubernetes-tools.vscode-kubernetes-tools](url)) and then try to add a cluster.

[2022-11-07 14:39] lstocchi commented on #1118
Followed all your steps but I'm still not able to replicate it :disappointed:  @Tatsinnit @itowlson could you please give this a try if you have any free time? Thanks!!

[2022-11-07 19:01] #1117 closed

[2022-11-08 15:29] pgallmann opened #1126 "Pod logs are no longer displayed"
Since updating vsc to version 1.73.0 it is no longer possible to display the log of the selected pod after selecting a cluster / workload / pod.
The following is displayed after selecting logs to a pod:

Follow Logs:Show timestamp:Since:      Second(s)Minute(s)Hour(s)    Tail:RunResetSave Settings    Destination:WebviewTerminal
Filter:that matchthat don't matchafter matchbefore match

[2022-11-08 15:35] lstocchi commented on #1126
This should be related to https://github.com/vscode-kubernetes-tools/vscode-kubernetes-tools/pull/1119 . You could try the fix by installing https://github.com/lstocchi/vscode-kubernetes-tools/blob/master/vscode-kubernetes-tools-1.3.6.vsix manually.

BTW a new release is on its way https://github.com/vscode-kubernetes-tools/vscode-kubernetes-tools/pull/1125 and you should see it in the marketplace

[2022-11-08 19:25] Tatsinnit commented on #1126
Hiya @pgallmann and @lstocchi ❤️☕️ If it helps, I tried to replicate this and at least debug this but seems like it is bringing right set of result and it is only empty for the cases where the pod logs are genuinely empty. Sharing some analysis from my end and please correct me if anything I did wrong. cc and a gentle cc: @squillace + @itowlson

Not able to replicate on extension k8s version: `v1.

[2022-11-10 15:37] satanshiro opened #1127 "Feature request - different colrs for different pod state"
currently vs code kubernetes extension shows only the running and terminating state of pods(noted by green and red respectively).
I would love to be able to differentiate and see the other status types such as completed, waiting and possibly capture container status also such as not ready when health checks are failing.
I don't have a detailed request but I thought if this gets enough attention I'

[2022-11-10 19:41] onelaview commented on #979
- OS: macOS 12.6 / ARM
- `kubectl` installed via Homebrew at `/opt/homebrew/bin/kubectl` and is on system PATH.
- Extension version v1.3.10

Found similar issue. I've got this error notification when opening kubeconfig file (i.e. `/Users/foo/.kube/config`) in my vscode.

![image](https://user-images.githubusercontent.com/512696/201188625-a638908f-2a10-492a-8227-9e3f808183d1.png)

In my case, I don

[2022-11-10 20:06] mrpopogod opened #1128 "Port Forward sometimes executes before shell fully spun up"
I use fish as my default shell, and I've found that when I execute Port Forward sometimes it will inject the command into the new terminal before the shell is fully spun up.  This manifests as either the full command being injected into the terminal before the shell is open to accepting the command or as half the command string being before and half being after the shell is open, which generates a

[2022-11-15 09:55] mkstephenson commented on #1113
I also get this issue when new logs are being pushed to the log window which is pretty annoying for a pod that logs quite often

[2022-11-16 10:17] lstocchi commented on #1113
Sorry for the slow response guys :pray:  Gonna give it a look now

[2022-11-16 15:51] lstocchi commented on #1113
@C-nit @mkstephenson Not sure if i was able to detect and fix your same issue. If you could confirm the fix, it would be great. You can run the PR https://github.com/vscode-kubernetes-tools/vscode-kubernetes-tools/pull/1129 or create a vsix from that or use the vsix I made https://github.com/lstocchi/vscode-kubernetes-tools/blob/master/vscode-kubernetes-tools-1.3.11.vsix
Thanks again for your help

[2022-11-16 17:00] lstocchi commented on #1111
@fabwamb we released a new version of the plugin last week with an update of the log viewer. Could you please see if it works for you? Thanks!! :pray:

[2022-11-17 09:21] cforce commented on #1111
Seems to work now . Tx a lot . Hopefully it stays like this as this was already the second time i had to report after it was once fixed and then later with another version broke again.

[2022-11-18 11:32] #1113 closed

[2022-11-21 09:15] Tatsinnit commented on #1118
Thank you so much for the ping @lstocchi ❤️☕️🙏 apologies for delay, a loop back, I tested the steps above, but not able to see this error message mentioned. I will try again from different environment. Thanks heaps.

[2022-11-21 23:03] ian471 commented on #1118
I was also hitting this, on Windows 10 with VSCode 1.73.0.
[code]

WHOIS suggests it's trying to reach marketplace.visualstudio.com

If I start from a completely fresh VSCode (`--user-data-dir` and `--extensions-dir` set to empty dirs) then I don't get the error, so it's likely something about my settings or existing cached data.

[2022-11-22 10:31] bibic-vegait commented on #900
I have the same issue that started happening one or two weeks ago, after the latest upgrade (Version: 1.73.1). When using `kubectl exec` command in the terminal, I do not have this issue, only when using VS Code plugin to run Terminal. The annoying thing is that the Terminal inside the pod is useless if I open it using the plugin, as the amount of debug outputs is overwhelming. Here is the snippet

[2022-11-27 20:31] calipee opened #1131 "Explorer auto refresh intervall"
I'd really love if someone could add an auto refresh option for the explorer like for the docker extension `docker.explorerRefreshInterval`.

Sometimes it can be annoying to refresh the explorer manually.