[2017-12-08 18:59] itowlson opened #2 "Add 'create cluster' command"
Initially  support AKS (and probably ACS until AKS is GA), but design to make it easy for other contributors to add GKE, EKS, etc.  Prompt for location and configuration parameters and kick it off.  Option to automatically configure VS Code extension to use the new cluster if that works with the spin-up time.

[2017-12-16 05:18] brendandburns commented on #2
Great to see this get started!  Please feel free to @ me into any PRs...

--brendan

________________________________________
From: itowlson <notifications@github.com>
Sent: Friday, December 8, 2017 10:59 AM
To: Azure/vscode-kubernetes-tools
Cc: Subscribed
Subject: [Azure/vscode-kubernetes-tools] Add 'create cluster' command (#2)

Initially support AKS (and probably ACS until AKS is GA), but desig

[2017-12-17 22:10] itowlson opened #3 "Include AKS clusters in 'configure from...' command"
Currently the command for configuring the extension only supports ACS.  We should support AKS (and it would be good to provide easier hooks if someone wants to add GKE or EKS).

[2017-12-18 21:51] itowlson opened #4 "Brigade support"
Need to scope this, but would be good to support the k8s-facing parts of Brigade (not the scripting itself though?  Presumably that would be handled by VS Code's existing JS support).

[2017-12-19 20:54] itowlson opened #5 "Fix dependency on vscode.startDebug API"
The 'debug in cluster' command relies on the `vscode.startDebug` command.  This has been deprecated/removed in favour of a new debugging API.  We need to use the new API (and probably change the minimum required version of VS Code to ensure we have the new API - check availability on Linux and Mac).  (Ref https://github.com/Microsoft/vscode/issues/33795 for info.)

[2017-12-22 07:21] bnookala opened #7 "Kubernetes logs should work for any pod"
The current implementation of the `kubernetes logs` command will attempt to use the current working directory's name as a label selector when fetching pods to view logs from. This can fail if there is no pod that shares the same label as the directory name. See the following stack trace for details…

[code]

[2017-12-22 07:25] bnookala commented on #7
Would be happy to take this on… :) I think I had something noticed this issue on the older extension as well.

[2017-12-23 02:27] bnookala opened #9 "Support kubectl proxy"
Would be great to see support for the Kubernetes dashboard via`kubectl proxy`. I think the idealized behavior here would be:

1. Invoke `kubectl proxy`
2. Either open the user's default browser, or do an HTML preview pane with and navigate to the dashboard address: `http://localhost:8001/api/v1/namespaces/kube-system/services/kubernetes-dashboard/proxy/`
3. If we open the preview pane, see if we c

[2017-12-27 08:13] kyliel opened #10 "[Feature] Visual introspection tree for Kubernetes cluster & Visual activity in VS Code"
Introspection tree: refer to below layout and the layout of https://kubernetes.io/docs/tasks/access-application-cluster/web-ui-dashboard/
Visual Activity: It should align with commands defined in Core Functionality, such as Kubernetes Get, Kubernetes Create and etc.

Below is one example of mock-up.
![image](https://user-images.githubusercontent.com/29885760/34375305-cec0ecca-eb20-11e7-8172-532870

[2017-12-27 08:13] kyliel commented on #10
@testforstephen Jinbo will work on this one.

[2017-12-27 08:21] kyliel opened #11 "[Feature] Kubernetes Manifest Authoring - code snippets"
Code snippets are templates that make it easier to enter repeating code patterns, such as loops or conditional-statements. You could get an example from https://code.visualstudio.com/docs/editor/userdefinedsnippets.

This feature is to add code snippets for Kubernetes Manifest files.

API references are here - https://github.com/kubernetes/community/blob/master/contributors/devel/api-conventions.m

[2017-12-27 08:22] kyliel commented on #11
@andxu will work on it.

[2017-12-27 08:32] kyliel opened #12 "[Feature] Kubernetes Manifest Authoring - Auto completion"
Supports word based completions for Kubernetes Manifest APIs.

[2017-12-27 08:32] kyliel commented on #12
@andxu will work on it.

[2017-12-27 08:34] kyliel opened #13 "[Feature] Kubernetes Manifest Authoring - Validation"
Validate the schema during editing Kubernetes Manifest files

[2017-12-27 08:34] kyliel commented on #13
@andyxu will work on it.

[2017-12-27 08:37] kyliel opened #14 "[Feature] Live debugging Java App running in Kubernetes Cluster"
So far live debug can be achieved for a pod through port forwarding, refer to 	http://blog.christianposta.com/kubernetes/java-remote-debug-for-applications-running-in-kubernetes/  and https://github.com/solo-io/squash.

This feature includes
1. How to provide user friendly E2E dev experience to turn on/configure debug port?
2. Does it perform well?
3. Any other solution?

[2017-12-27 08:38] kyliel commented on #14
@akaroml will drive this feature.

[2018-01-02 09:16] testforstephen opened #15 "launching terminal failed when the pod is running on an image without bash installed"
I have a java image built from the repo https://github.com/spring-guides/gs-spring-boot-docker/tree/master/complete, the underlying linux is busybox and it doesn't install bash by default.

When i deploy this java image to aks and then try to open the pod's terminal on vscode kubernetes tree explorer, it failed because of bash not found at PATH.

[2018-01-04 01:49] kyliel commented on #13
@andxu Add correct Andy here.

[2018-01-05 02:51] feiskyer opened #17 "How to install"
Seems it is not published yet to marketplace?

[2018-01-08 21:54] bnookala commented on #17
@feiskyer You can package the extension yourself using the vsce tool, which generates a vsix package: https://code.visualstudio.com/docs/extensions/publish-extension#_packaging-extensions.

From there you can install it, by following the instructions here: https://code.visualstudio.com/docs/editor/extension-gallery#_install-from-a-vsix

[2018-01-09 01:36] testforstephen commented on #15
closed with the PR#16

[2018-01-09 01:36] #15 closed

[2018-01-09 01:50] feiskyer commented on #17
@bnookala cool. thanks

[2018-01-09 01:50] #17 closed

[2018-01-09 03:08] itowlson commented on #5
Fixed in #19

[2018-01-09 03:08] #5 closed

[2018-01-09 03:08] itowlson commented on #2
Fixed in #6

[2018-01-09 03:08] #2 closed

[2018-01-10 00:05] squillace commented on #14
In conversation, we noted that this feature will degrade through latency if you're in the cloud, and that's totally OK for a first iteration; MVP is to have minikube debugging working well.

[2018-01-11 03:52] #3 closed

[2018-01-11 16:17] bnookala commented on #17
@feiskyer Woo: https://marketplace.visualstudio.com/items?itemName=ms-kubernetes-tools.vscode-kubernetes-tools

[2018-01-11 22:56] feiskyer commented on #17
@bnookala Cool. Will have a try.

[2018-01-12 03:50] itowlson commented on #7
@bnookala Closing this since your PR is merged (thanks!).  If this is incorrect, please accept my apologies and re-open!

[2018-01-12 03:50] #7 closed

[2018-01-12 05:27] squillace commented on #4
Brigade is the following things (outside of the service/project installation) that might be relevant:

1. a service in a cluster, so helm chart and all of that.
2. A project yaml file, typically containing the Brigade Project name, some other metdata, and the secrets necessary to do what the project is for.
3. the "app" itself, which is a JS file that is given to the project to run. Typically but

[2018-01-15 00:50] itowlson opened #25 "draft up terminal closes without giving user a chance to review output"
The extension `Draft: Up` command dates from an earlier, simpler age when `draft up` defaulted to `watch` mode.  In this mode it remained running until explicitly terminated.  So we could run `draft up` in a terminal, and the terminal would remain open (and would display activity in real time) until the user Ctrl+C-ed it.

Current releases of `draft` default to one-off mode, so they exit as soon a

[2018-01-15 03:10] #25 closed

[2018-01-15 23:17] itowlson opened #30 "Display additional resource types in tree"
Original request from @doggy8088: https://github.com/brendandburns/vs-kubernetes/issues/41

    There are 4 types now ( Deployments, Jobs, Pods, Services ). Would you like to add support for ConfigMaps?

We should more broadly review what to put in the tree view, and whether there are specific editing experiences what would be useful for particular resources such as ConfigMaps.

[2018-01-15 23:18] itowlson commented on #11
Feature request on old extension: https://github.com/brendandburns/vs-kubernetes/issues/39

[2018-01-16 02:39] itowlson opened #32 "Use the azure-account extension when working with Azure"
Currently when we need to talk to Azure (for `Configure from Cluster` and `Create Cluster` when the user chooses an ACS or AKS cluster), we call the Azure CLI.  This requires the Azure CLI to be installed and logged in, and can affect global CLI state (active subscription) which might be different from the VS Code account state if the user is using the azure-account extension (https://marketplace.

[2018-01-17 02:45] squillace commented on #32
Goal: People install the kubernetes extension and it works against any cluster for which there is a context you can detect/point to on disk.

We would like that to light up for specific cluster providers, such that -- for example -- installing a GKE account extension might enable seeing and/or creating/modifying clusters in GKE. Azure for Azure, and so on.

As to the commands, at this point in tim

[2018-01-17 05:16] testforstephen opened #33 "[Configure from cluster] Unable to connect to the server: net/http: TLS handshake timeout"
Reproduce steps:
1. Use `create cluster` command to create an aks cluster in east-us.
2. Then invoke `configure from cluster` command to configure `kubectl` context. The configure command succeeded, but then call any `kubectl` command would get `Unable to connect to the server: net/http: TLS handshake timeout`.

The reason is that:
1. `create cluster` command doesn't wait for the creating operatio

[2018-01-17 06:03] testforstephen commented on #33
Also found another issue.

I use `kubectl config delete-xxx` command to delete previous failure credentials generated by `configure from cluster` , and then wait the aks cluster to be fully OK via checking azure portal, after that retry `configure from cluster` command. The credential is still not correct because of the same error `Unable to connect to the server: net/http: TLS handshake timeout`.

[2018-01-17 20:10] itowlson commented on #33
I don't really want Create Cluster to block on creation, though I guess we could leave the pane up monitoring it and add a "Your cluster is ready. Would you like to configure the extension to use this cluster?" step (which would be optional - they could still close the wizard at the 'started creating' stage).  Nor am I keen on 'configure' doing a wait which could be many minutes.  Agree though tha

[2018-01-23 04:01] itowlson commented on #33
Well, joy. I can do an `az a{c|k}s wait --created` and that works fine, _but_ that does _not_ mean the cluster is ready for `az ... get-credentials`.  From heuristic testing at the command line, it takes another 30-60 seconds before `get-credentials` will work.  Fie!  Fortunately I'm not seeing the behaviour you cite where `kubectl` gets lumbered with a malformed credential, but I do feel wary of

[2018-01-24 01:24] itowlson commented on #33
Grr, well, I have a fix for this, but it seems that _even when the cluster has allowed us to download credentials_, it's not guaranteed to be ready to receive requests using those credentials.  So if you do a create cluster, wait and configure the extension, and then refresh the tree view, you may still get the TLS handshake timeout error.

I don't think I can do much about this on the extension s

[2018-01-24 01:29] testforstephen commented on #33
Can we ask azure cli to do something about this issue?

[2018-01-24 01:41] itowlson commented on #33
I'm not optimistic about solving the timing issue in the CLI.  It would require the CLI to retrieve and run `kubectl` which feels like an uncomfortable piece of coupling.  We would need to quantify the timing issue to justify the effort involved.  I suggest for now we just monitor this, and involve RP/CLI if we find ourselves or customers hitting it a lot.  Thoughts?

[2018-01-24 01:59] itowlson commented on #33
Hmm, it can definitely take a good long while (a minute or so?).  This feels like a server side issue and not something we should make the CLI's problem...

[2018-01-24 02:14] testforstephen commented on #33
This error is really easily reproducible. For me, i got this error for several times when i began to use the extension to create aks. If you were not telling me it's probably timing issue, i have no idea about what's happening and how to resolve it.

From your findings, looks like we should report this issue to azure aks team and need their support.

[2018-01-24 02:44] itowlson commented on #33
Maybe as an interim measure I could add some blurb to the 'credentials downloaded' message for new clusters along the lines of 'but give it a minute before trying to use them'.  **fie**

[2018-01-24 03:18] itowlson commented on #33
AKS folks are tracking this issue and it should be fixed soon.  See e.g. https://github.com/Azure/AKS/issues/112.

[2018-01-24 21:32] #33 closed

[2018-01-26 04:28] hunter opened #37 "Helm YAML Comments"
It seems that [this](https://github.com/technosophos/vscode-helm/issues/5) bug from the old 'vscode-helm' project has made it across.

[2018-01-29 20:51] #37 closed

[2018-01-30 05:48] kyliel opened #39 "[Feature] Helm charter authoring"
End user could deploy app to ACS/AKS through helm.
This feature is to help developers write helm charter and validate it in VS Code.

[2018-01-30 05:48] kyliel commented on #39
@andxu @akaroml

[2018-01-30 05:49] kyliel opened #40 "[Feature] Advanced intellisense"
Intellisense in command palette, refer to https://github.com/c-bata/kube-prompt
Kubernetes get -> type “pods”, then all existing pods will be listed there for selection.

[2018-01-30 05:50] kyliel commented on #40
@andxu @akaroml , please have investigation.

[2018-01-30 05:51] kyliel opened #41 "[Feature] local debug in minikube"
Developers can debug App which is running in minikube locally.

[2018-01-30 05:51] kyliel commented on #41
@juniwang is working on it.

[2018-01-30 05:55] kyliel commented on #39
https://docs.helm.sh/developing_charts/#the-chart-file-structure

[2018-01-30 05:58] kyliel commented on #10
As for cluster switch, please see whether we could have such experience - https://github.com/ahmetb/kubectx.

[2018-01-30 06:00] kyliel commented on #41
And please help see whether we could have multiple docker debug sessions side by side.

[2018-01-30 06:08] kyliel opened #42 "[Discussion] Dev Experience for Kubernetes yaml recognition or auto-generation"
From terminal, developers can run "kubectl create -f xxx.yaml".
Scenario 1: There are Kubernetes manifest files in current workspace
                   Then once the developer click or type "Kubernetes Create", he/she will see the box asking for the path (the files in current workspace will be listed as options for selection).

Scenario 2: No any Kubernetes manifest file in current workspace.

[2018-01-30 06:38] kyliel commented on #10
- [ ] Show up explorer of Kubernetes cluster

[2018-01-30 06:49] kyliel opened #43 "Run Kubernetes command in "TERMINAL" window in VS Code"
Directly show and run that command in “TERMINAL” window. For example, I have a Kubernetes cluster which have 2 pods. I select one pod and click “Get”, the command “kubectl get pod/xxx -o wide” will be executed in “TERMINAL” window. And I also could see the output after this command is executed. Such an experience is also adopted by docker extension, maven extension, Ansible extension and others in

[2018-01-30 06:51] kyliel commented on #43
@testforstephen will work on it.

[2018-01-30 06:57] kyliel commented on #39
@akaroml is discussing the solution with partners. Please give the feedback before 2/14.

[2018-01-30 07:02] kyliel commented on #40
@andxu did investigation: Currently VSCode does not support the mechanism to accept the list from 3rd party.
@squillace , this is a feature request for VS Code. Here I would like to suggest to close it.

[2018-01-30 15:14] kyliel commented on #30
@testforstephen , could we add configmaps in the tree? Thanks.

[2018-01-31 23:37] kwiesmueller opened #44 "Explorer not showing any workloads"
- Extension Name: vscode-kubernetes-tools
- Extension Version: 0.1.3
- OS Version: Windows_NT x64 10.0.16299
- VSCode version: 1.19.3

 We have written the needed data into your clipboard. Please paste:
[code]
The node is shown and the connection seems to work, but no workloads or pods are listed.
Kubernetes Version is:
Client Version: version.Info{Major:"1", Minor:"8", GitVersion:"v1.8.6", GitCom

[2018-02-01 00:44] itowlson commented on #44
Thanks for reporting this Kevin.  Just to check the obvious, if you run kubectl at the command line then there are workloads or pods?  (Asking in particular because I've sometimes seen errors when the client and server versions are out by more than 1.)  Are there any namespaces in play that could affect what's displayed?  @testforstephen any other ideas?

[2018-02-01 03:16] testforstephen commented on #44
Not sure what's the reason. @kwiesmueller  Any error logs at the Console of `Help -> Toggle Developer Tools`?

[2018-02-01 03:25] testforstephen commented on #9
I would suggest to create a vscode `Terminal` when invoke `kubectl proxy`, then the user could shut down the proxy process like killing the other terminal process.

[2018-02-01 12:45] kwiesmueller commented on #44
Yeah, kubectl works fine and there are no errors in the console.

[2018-02-01 23:13] itowlson commented on #44
@kwiesmueller Could you post the output you see from, say, `kubectl get pods`?  I'm just wondering if there's something in the way the output is formatted that's throwing the extension into confusion.

Also, could you try viewing Services and Nodes in the tree, and let us know if those are also unexpectedly empty?

[2018-02-05 11:35] kwiesmueller commented on #44
kubectl get pods -n bot
[code]
I have the problem on all my clusters. GCE, SingleNode Selfhosted, no matter what.

Also in all cases and on all devices I get the nodes correctly and for the services only the `kubernetes` service.

[2018-02-05 11:37] kwiesmueller commented on #44
Also, if the extension might get confused, shouldn't there be some kind of logging?
I am not really into the extensions stuff yet, but would expect some ways to debug this.

[2018-02-06 00:29] kyliel commented on #30
Config
 - Config Maps
 - Secrets

[2018-02-06 02:05] kyliel commented on #10
@testforstephen , once your PR merged, please close this one. We have additional requests for config and secrets. Thanks.

[2018-02-06 02:15] #10 closed

[2018-02-06 07:28] bnookala commented on #9
On further thinking… for AKS clusters, the dashboard is accessed via `az aks browse -n $CLUSTER_NAME -g $RG_NAME`as opposed to just `kubectl proxy` - is this something we should support as well? @itowlson

[2018-02-06 09:22] testforstephen commented on #44
@kwiesmueller I would encourage you to debug this issue by using the source code. And PR is welcome.

Here is a simple wiki about setup the extension development environment. https://github.com/Azure/vscode-kubernetes-tools/wiki/Setup-development-environment

After that, you could add some breakpoints at the explorer source code https://github.com/Azure/vscode-kubernetes-tools/blob/master/src/expl

[2018-02-06 09:47] itowlson commented on #44
@kwiesmueller We're not aware of any way the extension could get confused by kubectl output, which is why we don't log it; I asked because I wondered if perhaps there was a way it could get confused that we hadn't anticipated!

It looks like the issue is namespaces.  I notice that when you do `kubectl get pods` you're passing `-n bot`.  The current version of the extension doesn't support non-defa

[2018-02-06 23:42] itowlson commented on #44
@kwiesmueller 0.1.4 is now in the VS Code Marketplace.  Could you try installing it and try the following:

* Go to the tree view and expand your cluster
* Expand the Namespaces node
* Right-click the `bot` namespace node and select `Set as Current Namespace`

The tree view should refresh, and when you expand the workloads you should see things in the `bot` namespace.  Note this will have the side

[2018-02-07 14:57] kyliel opened #50 "Error creating cluster when no default SSH key under .ssh"
Error: An RSA key file or key value must be supplied to SSH key Value. You can use --gnerate-ssh-keys to let CLI generate one for you.

[2018-02-07 17:37] kwiesmueller commented on #44
That worked great. Thanks a lot.
I am already looking my way into vscode extensions and might provide some
contributions soon. Probably see you soon ;-)

On Wed, Feb 7, 2018 at 12:42 AM itowlson <notifications@github.com> wrote:

--

Kevin Wiesmüller

Team Infinity

Tel.: +49-611-20570-138

Mobile: +49-172-297-2662

_

//SEIBERT/MEDIA GmbH / LuisenForum

Kirchgasse 6 / 65185 Wiesbaden

GF: J.Seibe

[2018-02-07 20:37] itowlson commented on #50
Hmm, this happens if there isn't a default SSH key (`id_rsa`), but that should be caught by the prerequisites check.  Can you have a look in your `.ssh` directory and let me know what files you have in there please?

[2018-02-07 20:49] itowlson commented on #44
Great!  I'll close the issue then - do reopen if necessary.

[2018-02-07 20:49] #44 closed

[2018-02-07 21:08] eamodio opened #51 "Please stop writing "WARNING: No active editor during save. Nothing saved." to the Helm output channel"
Currently when ANY document is saved and there is no active editor, the extension logs `WARNING: No active editor during save. Nothing saved.` to the `Helm` output channel (and forces the output channel to show itself 😢)

This is causing issues with [GitLens'](https://marketplace.visualstudio.com/items?itemName=eamodio.gitlens) new settings editor (since it is a previewHtml -- not an editor) and i

[2018-02-07 21:23] itowlson commented on #51
Thanks for flagging this.  I've noticed that some of the Helm bits can be a bit over-enthusiastic.  I'll figure out why it wants to warn about this and get it fixed so it errs on the side of non-noisiness.

[2018-02-08 01:02] squillace commented on #9
@bnookala it would be best if you added the aks cluster browse command to an azure-specific extension.... we'd like this one to maximize kube/helm usage for as many as possible.

[2018-02-08 03:02] andxu commented on #42
Work list:
[ ] recognition of kubernetes yaml file through content
[ ] auto-correction of incomplete yaml file
[ ] provide schema according to apiVeresion and kind, providing enums for known ones.
[ ] code snippet for apiVersion/pod/pod spec/pod template/service/service spec/ports/deployment/ deployent spec/label selector according to current position and the overall yaml structure.
[ ] more valid

[2018-02-08 03:40] testforstephen commented on #43
Migrate @itowlson's comments:

@kyliel @squillace  Any opinions about this?

[2018-02-08 03:41] testforstephen commented on #43
For ui operations, if it is be done by one single kubectl command, then i'd like to run it in terminal.
The typical cases are `create/get/delete/describe/logs/expose/exec/scale/cluster-info`

Otherwise, hide the detail by using the normal kubectl.invoke.
The typical cases are `run/sync/diff/debug`

I'd like to share the terminal. Although `vscode-docker` extension always run command in a new termi

[2018-02-08 13:02] kyliel commented on #43
@itowlson, And it is better to get commands in command palette run in terminal tool. For example, if I select "Kubernetes Create", a command "kubectl create -f xxx.yaml" is shown on the terminal and executed on the terminal. Then I know what is happening.

[2018-02-08 13:09] kyliel commented on #50
No, I don't have id_rsa there. It is better I could get the hint that I should have ssh key ready before I navigate to next step. Or give me the option to add additional parameter "--generate-ssh-keys" when I move to next step.

[2018-02-08 17:18] itowlson commented on #50
Yeah, it's meant to complain if you don't have the SSH key.  I'll check out why that isn't happening.

Was this AKS or ACS?

[2018-02-08 17:22] itowlson commented on #43
@kyliel Yeah, I think we're all agreed that it's desirable, I just want to align on the _design_ and _behaviour_ so Jinbo doesn't get dragged back and forth through a series of reviews with one person saying "I think it should work like this" and then someone else saying "no, _I_ think it should work like _this_."  My question is about refining the detail, not questioning the broad principle.

[2018-02-08 17:39] itowlson commented on #42
Scenario 0: the developer has a Kubernetes manifest file open in the editor.  In this case we should create a resource using the editor content.

[2018-02-08 19:08] itowlson commented on #50
Can you check if you have both `id_rsa` and `id_rsa.pub`?  I think I've seen this error if you have the private key but not the public key.

[2018-02-08 19:46] itowlson commented on #51
@eamodio If you want to test with the proposed fix in the PR, please grab it from my fork and let me know if it still gives you grief!  Thanks again for flagging this.

[2018-02-08 21:52] eamodio commented on #51
Awesome -- thank you for the quick fix! A few people thought GitLens was broken because of it, so will be wonderful to have it fixed.

[2018-02-09 17:08] #51 closed

[2018-02-09 17:13] itowlson commented on #30
Closed via #47.

[2018-02-09 17:13] #30 closed

[2018-02-09 23:43] bnookala opened #57 "Add `Kubernetes Dashboard` command to right click context menu for tree view"
Should simply trigger the same code that opens the Dashboard via #9.

[2018-02-10 01:24] #9 closed

[2018-02-18 20:31] #57 closed

[2018-02-19 20:21] itowlson commented on #51
@eamodio To close the loop - this update is now published in the gallery (as 0.1.5), so your users can now take the fix.  Sorry for the delay (travelling!).

[2018-02-22 08:55] TimBobkov opened #60 ""Kubernetes: Apply" does not do anything"
I create new test deployment file like:

[code]
Next I run "Kubernetes: Apply" command and nothing is changed...
I expect deployment creation after this command or even error message.
I can manage my cluster (get logs, deployments, pods, etc.) through this extension so I think config is OK and ```kubectl``` is reachable.
Also I have try to open existing deployment, change it and run same command -

[2018-02-22 14:07] ipedrazas commented on #12
I wrote an extension that does this: https://github.com/ipedrazas/kubernetes-snippets

I'm happy to move the snippets across if you want them. Our extensions are not compatible and this one makes more sense to hold that functionality.

/cc @andxu

[2018-02-22 23:10] itowlson commented on #60
No, something is amiss, possibly a couple of things.  Firstly, it looks like like the code is looking only for a _selection_ in the window, which feels wrong - if there's no selection, I'd have thought it should be using the whole document.  You can work around that by doing a Select All before Apply.  But second, `Kubernetes: Apply` seems to want specifically _modify_ an existing resource, and co

[2018-02-23 03:48] itowlson commented on #60
Looking at the code, I'm pretty sure the current behaviour is unintentional.  I'll fix it in the next version, code reviewers permitting.  Thanks for reporting this!

[2018-02-23 07:11] kyliel commented on #43
@itowlson, Sorry for confusion. So far Jinbo's work is to get commands in the explorer (the tree shown under "Kubernetes" tab in above picture) execute in TERMINAL. What I mentioned is we also should get same behavior for commands in command palette (click ctrl+shift+P, type "Kubernetes: xxx). Below is an example for "Kubernetes: Get" in command palette.

1. click ctrl+shift+P, type "Kubernetes: G

[2018-02-23 07:11] kyliel commented on #43
![image](https://user-images.githubusercontent.com/29885760/36582272-ca7beb8e-18ab-11e8-9708-a30f686946ab.png)

[2018-02-23 13:28] TimBobkov commented on #60
Thanks for your help. I believe this bug fixing can help a lot of people. Wait for update of the plugin 😊.

От: itowlson <notifications@github.com>
Обратный адрес: Azure/vscode-kubernetes-tools <reply@reply.github.com>
Дата: пятница, 23 февраля 2018 г., 6:48
Кому: Azure/vscode-kubernetes-tools <vscode-kubernetes-tools@noreply.github.com>
Копия: Timofey Bobkov <bobkov.tim@gmail.com>, Author <author

[2018-02-25 22:28] itowlson commented on #12
@ipedrazas Not to leave you hanging, I like the idea of unifying the extensions, but need to get a thumbs up from a couple of other folks before responding.  We really appreciate the offer, and we'll definitely get back to you about this, hopefully in the next few days.  Sorry I can't give you a quicker reply.

[2018-02-26 14:45] dkirrane opened #63 "Connection to existing cluster (created with kubeadm)"
When I try the Kubernetes Create command I hit the below error. So I assume I need to connect to a cluster first? Is there a way to configure the extension to use a kubeadm cluster?

![image](https://user-images.githubusercontent.com/1280116/36676399-7ea7381c-1b03-11e8-8888-b91dfbce28ba.png)

[2018-02-27 07:52] kyliel commented on #32
Agree, Ivan. Your proposal to use azure-account extension instead of the CLI is the right path for me.

Extension dependency: A Kubernetes cluster could run on local or cloud (Azure, AWS, GKE...). This extension could be more generic but flexible to extend to cloud. If end user only wants to connect to a local cluster, no more extension is required after installing this one. If end user wants to c

[2018-02-27 18:15] amarzavery commented on #32
@itowlson @squillace @kyliel - The node sdk for AKS has been published. https://www.npmjs.com/package/azure-arm-containerservice. Let me know if you guys need anything else.

[2018-02-27 22:05] #60 closed

[2018-02-27 22:30] itowlson commented on #63
Correct.  The extension uses your active `kubectl` context (in other words, the cluster to which `kubectl` is currently connected).  To activate a particular cluster you could either:

* Open the Kubernetes tree view in the explorer pane, select your kubeadm cluster, right-click and choose "Set as Current Context"
* In the Terminal, run `kubectl config use-context <your_context_name>`

If your clu

[2018-02-28 03:31] andxu commented on #12
@ipedrazas Really appreciate for your work in kubernetes snippets, I am doing work to make it more easier to edit kubernetes  manifest not only on snippets(which is mappings of shortcuts and templates), but also to raise the proper snippet/completion items according to the edit position of yaml file, eg:
case 1:
kind: ~<List of templates like service, deployment, etc>

case 2:
kind: Service
apiVer

[2018-02-28 03:33] andxu commented on #12
We are open/welcome to snippet providers  and looking forwarding to your advice of how to integrate your code/vscode extension into vscode-kubernetes-tools

[2018-02-28 23:43] dkirrane commented on #63
Hi,

So I've connected to my cluster in the terminal
![image](https://user-images.githubusercontent.com/1280116/36819211-5e95a26e-1ce0-11e8-9f96-ad2fc34fad42.png)

But my cluster doesn't appear in the explorer
![image](https://user-images.githubusercontent.com/1280116/36819279-c3751a0c-1ce0-11e8-9069-e346dd2a33ca.png)

And I can only configure Azure clusters
![image](https://user-images.githubuser

[2018-02-28 23:49] dkirrane commented on #63
Does the extension expect the kubernetes config file in specific location. Mine is under `%USERHOME%\.kube\dev\config`

Connected to my kubeadm k8s cluster now usin terminal
![image](https://user-images.githubusercontent.com/1280116/36819503-aa6c2266-1ce1-11e8-960e-d36afcdd1094.png)

Nothing appears in explorer config k8s pane
![image](https://user-images.githubusercontent.com/1280116/36819487-9c3

[2018-03-01 00:23] itowlson commented on #63
We don't expect a particular kubeconfig location, we just invoke kubectl.  But clearly we're not getting any output from kubectl in your case.  Your kubeconfig does look like a non-default location.  Does your terminal have a KUBECONFIG environment variable set up?  If so, is that same environment variable set up in the VS Code process?  If kubectl is using a different (and empty) config file when

[2018-03-02 09:04] songkaiape opened #65 "Command "Kubernetes exec" and "kubernetes terminal" throw errors "Couldn't find any relevant pods.""
Repro steps:

1. open vscode with kubernetes plugin ,press F1, select "Kubernetes exec" or "kubernetes terminal"
2. type a command like bash

Expect: a bash open in terminal

Actual:
![image](https://user-images.githubusercontent.com/4318793/36890848-7339a96c-1e3a-11e8-9810-7cbf44ef9da4.png)

But I can open terminal by right click on the pod.
![image](https://user-images.githubusercontent.com/4318

[2018-03-06 21:40] bnookala commented on #65
@songkaiape - right now, the exec/terminal commands are built around functionality that assumes your pods have a kubernetes label, `run` that is assigned to the name of the workspace open in visual studio code.

@itowlson, @squillace I feel that this behavior should be changed, but I can't think of a ~ great ~ way to expose this. thoughts?

[2018-03-06 21:51] itowlson commented on #65
First off, apologies for not responding more promptly to this issue - and thanks @bnookala for addressing it.  It looks like this command was designed to tie into the way the specific way the extension launches deployments, which works beautifully when you live entirely within the extension, but tumbles to the ground in the broader scenario.

I agree the behaviour needs to be improved.  I suggest

[2018-03-06 22:28] bnookala opened #67 "Install kubectl when not installed"
We should re-examine the user experience of the extension when a user does not have `kubectl` on their path. Currently, we raise an error and exit, but we should prompt the user if they'd like for us to install the CLI on behalf of them.

We can fetch the binary from https://storage.googleapis.com/kubernetes-release/

cc @squillace and @itowlson for any design considerations.

[2018-03-06 22:40] itowlson opened #68 "Sync command is hard to understand"
The Sync command takes your local repo back to the commit corresponding to the version of the application in the cluster.  This is really nice for debugging, hotfixing, etc.  However, the command only works properly if the app was deployed using the extension (and therefore uses the magic image tagging convention implemented by the extension), and on failure displays unhelpful messages such as `gi

[2018-03-06 23:12] bnookala commented on #63
@dkirrane would you be able to run an `echo $env:KUBECONFIG` in a powershell window? We're considering making the kubeconfig location configurable in the extension, but need to confirm why the extension isn't picking up on the location of your kubeconfig.

[2018-03-06 23:18] bnookala opened #69 "Make kubeconfig configurable for extension"
If supplied, we should use the location of a kubeconfig supplied by the user for extension commands and cluster configuration.

The library we use for invoking `kubectl` commands, shelljs, allows one to inject custom environment variables. Here, we can set `KUBECONFIG` to whatever the user supplies in their extension configuration: https://github.com/shelljs/shelljs#envvar_name

This may also solv

[2018-03-07 01:21] andxu opened #70 "[schema]providing the version compatible schema for kubernetes"

[2018-03-07 01:22] andxu commented on #70
from @bnookala

@andxu @itowlson Do you think we should be using k8s semantic versioning for the swagger.json file?I'd imagine a situation in which a user might be on 1.7.* cluster, and the swagger.json file we've bundled is using definitions for a 1.9.* cluster.Additionally, this might open up opportunities to use the configured cluster's kubernetes version to load the appropriate swagger.json fi

[2018-03-07 23:27] itowlson commented on #67
I like this in principle, but are there any versioning issues here?  I've had weird results when the kubectl version is out of sync with the cluster.

We'd need to consider the download location.  We can either download it to some 'global' location (e.g. Program Files on Windows), or a user location.  The former would require admin/sudo, which pushes us towards under the user profile.  That's not

[2018-03-08 02:51] akaroml opened #73 "README to include Azure CLI as prerequisite"
When I tried to create an AKS cluster, I encountered the following error:

![image](https://user-images.githubusercontent.com/16755094/37130439-62db669a-22be-11e8-8241-1080a9bc363d.png)

It's nicer if we can mention this in README so I can configure everything all at once.

[2018-03-08 03:30] akaroml opened #75 "Fake error message "Error creating cluster""
When I tried to create a k8s cluster using the wizard:
![image](https://user-images.githubusercontent.com/16755094/37131548-c95b2edc-22c3-11e8-8183-6548676ee1c1.png)

I got the following error at the end:
![image](https://user-images.githubusercontent.com/16755094/37131451-6e25d882-22c3-11e8-9ff1-31ab1df9007c.png)

But later I tried to see whether the new cluster is created using:
![image](https:/

[2018-03-08 22:12] itowlson commented on #75
That's weird.  It's like we're picking up a progress message as an error message.  Not sure how to reproduce this one - does it happen consistently for you?

[2018-03-09 03:11] akaroml opened #77 "Kubernetes: Run failed with no further direction"
Tried Kubernetes: Run and got the notification:
<img width="466" alt="screen shot 2018-03-09 at 11 07 09 am" src="https://user-images.githubusercontent.com/16755094/37188490-60291b28-238a-11e8-9d71-83dd4ae173f6.png">

And here's the message in Output window:
<img width="389" alt="screen shot 2018-03-09 at 11 06 10 am" src="https://user-images.githubusercontent.com/16755094/37188480-547ccb3a-238a-1

[2018-03-09 03:16] akaroml commented on #75
Yes, tried to create another cluster and the error persists:
<img width="378" alt="screen shot 2018-03-09 at 11 13 36 am" src="https://user-images.githubusercontent.com/16755094/37188631-23ba77bc-238b-11e8-848e-ae13482367d1.png">

But later the cluster can be configured successfully:
<img width="373" alt="screen shot 2018-03-09 at 11 15 29 am" src="https://user-images.githubusercontent.com/1675509

[2018-03-09 03:17] itowlson commented on #77
That's the error message from Docker.  I'm not sure we _have_ any more information.

Can we come up with any heuristics for 'if this error occurs then we can check X, Y and Z, and flag any violations to the user'?  I think I've seen this if the Docker user ID isn't configured on the extension, so that could be a thing to check.

[2018-03-09 03:24] itowlson commented on #77
Do you have `vsdocker.imageUser` configured in your VS Code settings?  If not, can you set it please?  If that solves the problem then we can add a heuristic to check it in the event of a `docker push` error.

[2018-03-09 03:28] akaroml commented on #75
Ok, here is some further info:
Region: Central US
Node type: Standard D2 v2
Node count: 2
Kubernetes version: 1.7.9
Azure CLI Version: 2.0.28

I also noticed some errors in activity log:
[code]

[2018-03-09 03:36] akaroml opened #79 "Prompt to save document is annoying"
Each time I click on a resource node in the explorer, a json file is opened automatically. When I try to close the document, I'm always asked to save to document or not. This is pretty annoying. I actually didn't make any changes to the document. Suggest using ContentProvider to show such documents without asking users to save when closing.

<img width="458" alt="screen shot 2018-03-09 at 11 32 50

[2018-03-09 03:38] akaroml commented on #77
This works! I can proceed but got another error:
<img width="480" alt="screen shot 2018-03-09 at 11 32 14 am" src="https://user-images.githubusercontent.com/16755094/37189228-2cf1001e-238e-11e8-80d5-d1736c1f9523.png">

I guess this should not happen on a first run.

[2018-03-09 05:53] akaroml opened #80 "Image published to docker hub without user consent"
After running Kubernetes: Run, I found my image published to docker hub without asking. This makes private images public without users acknowledgment and can cause serious privacy issues. We need to ask users whether they agree to upload images to docker hub.

On the other hand, docker hub can be avoided. When minikube is used, local docker registry can be used to store the images without travelin

[2018-03-11 06:30] akaroml opened #82 "Debug: properly expose secrets to applications"
Applications consume secretes differently. Here are two common ways:
- Secrets as mounted files
- Secrets as environment variables

The current debugging mechanism won't work for any of the scenarios above because the secrets are not exposed at all. When debugging, there should be a step to allow users to specify the way they want their secrets to be exposed to an application without modifying the

[2018-03-11 06:52] akaroml opened #83 "Java debug to support exec form entrypoint"
The current Java debugging injects additional JVM parameters through $JAVA_OPTS env var. Environment variables won't be evaluated when users dockerfile is using the exec from ENTRYPOINT statement. Here are the two form s of ENTRYPOINT:
- ENTRYPOINT ["executable", "param1", "param2"] (exec form, preferred)
- ENTRYPOINT command param1 param2 (shell form)

Please support both. CMD statement can be us

[2018-03-11 22:18] #65 closed

[2018-03-12 00:13] itowlson commented on #80
This is a good point.  We need to work out the desired workflow here.  Is this a project setting for the container registry to use for getting the images onto the cluster?  Is project level or user level better?  Is a project likely to contain multiple workflows of this kind (e.g. dev-test on minikube via local registry, then integration test on cloud via ACR)?  If so how do we facilitate users sw

[2018-03-12 02:08] testforstephen opened #85 "Show the result for command palette "Kubernetes: Get" in TERMINAL"

[2018-03-12 03:19] testforstephen opened #87 "Provide a document to guide user to how to configure Dockerfile for java debugging"

[2018-03-12 09:15] testforstephen commented on #83
1. In `exec form`, the variable will not be substituted, use the global JVM environment variable `JAVA_TOOL_OPTIONS` to enable debug options.
2. In `shell form`, use `$JAVA_OPTS` or the global JVM environment variable `JAVA_TOOL_OPTIONS` to enable debug options.

[2018-03-12 10:31] #43 closed

[2018-03-12 10:33] testforstephen commented on #41
Finished with PR https://github.com/Azure/vscode-kubernetes-tools/pull/46, https://github.com/Azure/vscode-kubernetes-tools/pull/64, https://github.com/Azure/vscode-kubernetes-tools/pull/72

[2018-03-12 10:33] #41 closed

[2018-03-12 13:16] redradrat opened #91 "Helm if/else snippet is wrong"
if/else snippet is:
[code]

Should be:
[code]

[2018-03-12 21:16] bacongobbler commented on #91
This is correct according to https://golang.org/pkg/text/template/.

[2018-03-12 21:27] #91 closed

[2018-03-12 21:28] itowlson commented on #91
Thanks for reporting this!  The fix will be in the next update.

[2018-03-12 23:43] itowlson commented on #79
This doesn't repro for me.  When I click on a node, it displays the JSON document, and when I close the JSON document, it closes without a prompt.  I wonder if this is a difference between VS Code on Windows and Mac?  Do you have a Windows machine to test it on?

[2018-03-12 23:48] itowlson commented on #75
I wonder if the Azure CLI must be writing to standard error even when it succeeds.  (We rely on checking stderr because the exit code is not reliable.)  I've seen this very intermittently on Windows; perhaps it happens more frequently on Mac.  Or perhaps the CLI is prematurely reporting an error but the operation has already been successfully kicked off in ARM.

If you do the corresponding `az aks

[2018-03-13 01:05] itowlson commented on #75
I've noticed I often see "Retrying role assignment creation" during some of these operations on the CLI.  I wonder if that's being printed to stderr and that's throwing us off (because although it had to retry, the retry eventually succeeded).  That would be consistent with the SP-related message you see, where perhaps this is trying to overwrite the retry with a progress message... _waves hands h

[2018-03-13 01:58] itowlson commented on #80
Hmm, `vscode-docker` treats a blank registry path as Docker Hub, so doesn't _really_ have a way to express "use the local registry" (because it doesn't need to think about implicit pushes as a way of getting containers to a cluster).  That said, if neither `defaultRegistry` _nor `defaultRegistryPath` are provided, then we can reasonably treat that as local, because users won't have permission to p

[2018-03-13 02:05] itowlson commented on #68
I've addressed these to a great extent in #84 though there's still scope for better docs, so leaving this open for now.

[2018-03-13 02:26] #85 closed

[2018-03-13 02:42] testforstephen commented on #83
Closed with PR https://github.com/Azure/vscode-kubernetes-tools/pull/89

[2018-03-13 02:42] #83 closed

[2018-03-13 02:43] itowlson opened #94 "UI for 'pick a resource or enter a resource ID'"
We have numerous places in the extension where we ask the user to specify a resource in the cluster as the target of a command.  At the moment this follows the following workflow:

1. Is there an open YAML or JSON manifest?  Use the ID from that.  (Some commands skip this, or will do.)
2. Display an input box inviting the user to enter a resource ID (e.g. `deploy/nginx`).  If the user types someth

[2018-03-13 22:24] #73 closed, assigned to nobody

[2018-03-14 07:35] testforstephen commented on #80
About the user consent message, we could add a button `"Never Show Again"` to allow user to close it.

[2018-03-14 14:21] jonsalvas opened #98 "Preview Helm Template: could not resolve template path"
Under Windows10 and VSCode 1.20.1 I receive the following error when trying to open the template preview:

Failed template call.Error: could not resolve template path: GetFileAttributesEx c:\Dev\XXXXXXX\deploy\helm\helm\templates\deployment.yaml: The system cannot find the path specified.

It seems that he is looking for the "helm" folder twice, although my templates are located in
c:\Dev\XXXXXXX\

[2018-03-14 18:44] itowlson commented on #80
I would expect a one-off warning (or once per project) to be the behaviour.  If we want an "Ask me every time" option then that adds _further_ complexity.

[2018-03-15 00:43] #77 closed

[2018-03-15 03:29] itowlson commented on #98
Thanks for reporting this.  I've reproduced it and will work on a fix.

[2018-03-16 01:27] andxu commented on #12
Done with PR#62, but keep this issue open for the remaining task of:
1. List possible combination of apiversions and kinds when the kind is not ready, eg:
    apiVersion: v1
    kind: ~<List of templates like service, deployment, etc>
2. Auto-complete on  quoted keys and values

[2018-03-16 02:15] andxu commented on #13
Finshed, see PR https://github.com/Azure/vscode-kubernetes-tools/pull/62

[2018-03-16 02:15] #13 closed

[2018-03-16 03:40] testforstephen commented on #82
When Kubernetes pulls an image from a Private Registry, it also needs create a secret for that.

[2018-03-16 03:41] testforstephen commented on #82
This issue applies to `Kubernetes: Run` and `Kubernetes: Debug (Launch)` commands.

[2018-03-16 03:45] itowlson commented on #82
The registry secrets thing sounds like it needs to slot into the broader question around the experience of using registries other than Docker Hub...

[2018-03-16 03:47] andxu commented on #70
https://github.com/Azure/vscode-kubernetes-tools/pull/101

[2018-03-16 05:35] testforstephen commented on #82
Yeah, it's worth to rethink about the user experience for secret/registry/environment variable things.

When creating Kubernetes resource via yaml file, it's very easy to specify them on the spec field. But in the one-click commands the extension provides, how to make user to customize the running context (e.g. environment variables, secrets)?  VSCode User Settings? Any thoughts?

[2018-03-19 05:55] kyliel commented on #50
Sorry for late response. It is AKS.
When there is no default SSH key under .ssh, could the extension create one instead of reporting errors? It will be more friendly.
I am using VS Code on Windows. The folder .ssh is under c:\user\<my user name>\.

[2018-03-19 05:58] kyliel opened #103 "Fake "error" message when creating a new cluster"
I created an "AKS" cluster through Kubernetes extension and met below error.  In fact, I successfully created this cluster and configured it correctly in the extension.

![image](https://user-images.githubusercontent.com/29885760/37580239-9fb88292-2b7d-11e8-9f29-b5aba78ac0c3.png)

[2018-03-19 05:59] kyliel commented on #103
It just said "an error occurred" but did not see details for error. Not sure what error was triggered.

[2018-03-19 06:04] andxu commented on #11
https://github.com/Azure/vscode-kubernetes-tools/pull/104#partial-pull-merging

[2018-03-19 09:11] kyliel commented on #103
Close this one since Rome already filed one bug against it. https://github.com/Azure/vscode-kubernetes-tools/issues/75

[2018-03-19 09:11] #103 closed

[2018-03-19 09:12] kyliel commented on #75
I also met this issue. And no such a problem when creating an AKS cluster in Azure CLI.

[2018-03-19 10:17] kyliel opened #105 "Fail to open dashboard through "open dashboard" in explorer"
Right click "open dashboard" and then http://localhost:8001/ui/ is opened in my browser with error message "This website can not be reached".

If I run below command in TERMINAL, I can successfully open the dashboard.
az aks browse -g xxx -n xxx
http://localhost:8001/ui/

[2018-03-19 10:18] kyliel commented on #105
@testforstephen , could you please take a look? Thank you.

[2018-03-19 10:28] kyliel opened #106 "Improve DevEx for command "Kubernetes: Create""
1. If I open a pom file (any file but not Kubernetes or helm yml file) in my current window,  I will get error. It is because "Kubernetes: Create" directly executes against current file.
2. If no any file in my current window, I will get "no active edtior".

-> Suggest guiding end user open a valid yml file to create corresponding Kubernetes resource

3. If I open a Kubernetes deployment file, it

[2018-03-19 10:35] kyliel opened #107 "Not ask confirmation after running "Kubernetes: Delete""
It is better to ask end user double confirm whether they want to execute "delete" command.

[2018-03-19 10:40] kyliel opened #108 "Need more guidance how to configure env. for "Kubernetes: Run""
How to let this command know where I would like to push and my username/password for that docker registry? For new users, should we remind them configure them in settings?

![image](https://user-images.githubusercontent.com/29885760/37590902-ab55d43e-2ba4-11e8-92c7-8d03bf69a1b0.png)

[2018-03-19 11:06] kyliel opened #109 "[Feature] Add "deploy to AKS" to docker extension"
Currently when you browse docker images in docker extension, you could select "deploy to Azure App Service". This feature is to ask adding "deploy to AKS" to docker extension. Then
1. End user push image to docker hub or ACR
2. Select one image and right click
3. Select "deploy to AKS" and then "Kubernetes: Run" will be executed.

Note: ACR and AKS are Azure services. Then "deploy to AKS" should b

[2018-03-20 02:42] kyliel opened #111 "[Feature Request] service catalog support in Kubernetes extension"
With this feature, end user could directly right click and select "enable service broker" or "bind to service".

[2018-03-20 03:01] testforstephen commented on #87
Fixed with PR https://github.com/Azure/vscode-kubernetes-tools/pull/97 and https://github.com/Azure/vscode-kubernetes-tools/pull/102

[2018-03-20 03:01] #87 closed

[2018-03-20 03:15] songkaiape opened #113 "some provided vm size are not valid on azure portal for azure container cluster"
![image](https://user-images.githubusercontent.com/4318793/37634044-c500430c-2c2f-11e8-9973-13d38a6d5c03.png)
![image](https://user-images.githubusercontent.com/4318793/37634053-cfba93d8-2c2f-11e8-9137-7df7bdcce7e7.png)

When I create a Azure container service cluster , I select basic0 type vm and the creation failed.
I think it should filter the invalid vm size.

[2018-03-20 05:16] songkaiape opened #115 "after configure cluster ,still need to click refresh button to get the new cluster"
Repro steps:
1. click configure from Cluster
2. select the sb and the cluster you want to configure
3. wait configure complete

Expect: the new cluster appear in the cluster list
Actual: we need to manually refresh the list to see the new cluster

[2018-03-20 05:27] songkaiape opened #116 "command "Helm inpect chart" always show error"
I have found the usage of "helm inspect " and "helm inspect chart". Below is the sample of the commands.

![image](https://user-images.githubusercontent.com/4318793/37637329-0cab2cd2-2c42-11e8-923d-3c9564e4040d.png)

![image](https://user-images.githubusercontent.com/4318793/37637358-3f0c03f4-2c42-11e8-8790-1d56a0164306.png)

And when I try to run "helm inspect chart" from the plugin, I always got

[2018-03-20 05:44] kyliel commented on #108
https://github.com/Azure/vscode-kubernetes-tools/pull/93 Ivan's PR fixed this one. This bug is duplicate with #77

[2018-03-20 05:44] #108 closed

[2018-03-20 05:48] kyliel commented on #105
@bnookala , could you please take a look this issue? I can open the dashboard through az aks browse.

[2018-03-20 05:50] songkaiape opened #117 "command "Kubernetes: open dashboard" get the wrong url"
On unbuntu:
after execute the command , open "http://localhost:8001/ui" will redirect to http://localhost:8001/api/v1/namespaces/kube-system/services/https:kubernetes-dashboard:/proxy/
and get error like below:
![image](https://user-images.githubusercontent.com/4318793/37637851-ef7f5fcc-2c44-11e8-9f1f-3c8010207b64.png)
Actually ,The right url is http://127.0.0.1:8001/api/v1/namespaces/kube-system/

[2018-03-20 05:51] kyliel opened #118 "[Feature Request] Install dependencies automatically when installing Kubernetes extension"
Could below dependencies be installed automatically if they are not there when installing Kubernetes extension at the first time?

	docker
	kubectl
	helm
	draft

[2018-03-20 05:53] kyliel commented on #117
Duplicate with #105 . @songkaiape , could you please add details there and close this one? Thank you.

[2018-03-20 05:54] songkaiape commented on #117
@kyliel OK, got it

[2018-03-20 05:54] #117 closed

[2018-03-20 05:57] songkaiape commented on #105
Below is the detail when we run the command "Kubernetes: open dashboard"

command "Kubernetes: open dashboard" get the wrong url

![image](https://user-images.githubusercontent.com/4318793/37638177-71517dfe-2c46-11e8-99ec-d8d55bb2e5d6.png)

On unbuntu:
after execute the command , open "http://localhost:8001/ui" will redirect to http://localhost:8001/api/v1/namespaces/kube-system/services/https:kub

[2018-03-20 06:23] songkaiape opened #119 "Command "Helm: Create chart" should pop out error when there is no open folder."
when there is no open folder, run command "Helm: Create chart", there is no error pop out.
But we can find error log in developer tools.
![image](https://user-images.githubusercontent.com/4318793/37638847-da9e0964-2c49-11e8-803f-37751cb5d969.png)

Suggest to pop out an error when there is no open folder.

[2018-03-20 10:45] andxu commented on #70
https://github.com/Azure/vscode-kubernetes-tools/pull/121

[2018-03-20 14:31] bnookala commented on #105
Taking a look!

[2018-03-20 21:33] #98 closed

[2018-03-20 21:37] itowlson commented on #113
Thanks for reporting this.  It seems like ACS/AKS does have additional restrictions on the permitted agent node SKUs, but there's no API for finding out what they are.  Fortunately acs-engine is open source so we can duplicate the logic and give you a filtered view.  I'll take a look at this.

[2018-03-20 21:51] itowlson commented on #113
acs-engine source: https://github.com/Azure/acs-engine/blob/master/pkg/acsengine/Get-AzureConstants.py.  Looks like it just strips out Basic SKUs.

[2018-03-20 22:27] itowlson commented on #116
`Helm Inspect Values` can't be run from the Command Palette - only by right-clicking in the VS Code Explorer pane and selecting Helm: Inspect Values.  Is there a better way we can explain this within the constraints of a VS Code error notification?

@testforstephen did you find a way of preventing commands from appearing in the palette when they were only meant to be used from the Explorer?  If so

[2018-03-21 00:15] itowlson commented on #107
This is only an issue if we are using the active document as indicating what to delete.  In previous discussions we decided we didn't want to do this.  So we should fix this by ignoring the active document during delete.

[2018-03-21 00:34] itowlson commented on #79
@testforstephen assigning this to you in the first instance because @kyliel said your team had experience of this technique - feel free to assign elsewhere or bounce it back

[2018-03-21 01:39] testforstephen commented on #116
@itowlson , follow the document https://code.visualstudio.com/updates/v1_10#_context-specific-visibility-of-command-palette-menu-items, you could control the visibility through `when` condition at `menus/commandPalette`.

See the Code Snippets:
https://github.com/Azure/vscode-kubernetes-tools/blob/master/package.json#L225
https://github.com/Microsoft/vscode-azurefunctions/blob/master/package.json#

[2018-03-21 02:19] #113 closed

[2018-03-21 02:20] #119 closed

[2018-03-21 02:54] #107 closed

[2018-03-21 02:54] #75 closed

[2018-03-21 03:22] #115 closed

[2018-03-21 03:37] #116 closed

[2018-03-21 03:38] itowlson commented on #116
Thanks @testforstephen for pointing me at the fix!

[2018-03-21 21:14] itowlson commented on #105
Looking at the implementation of `az aks browse` it looks like it locates a dashboard pod and does a port-forward to that.  Would that work generically on k8s clusters, and if so should we do that instead of using `kubectl proxy` or having detection and special handling for AKS?

[2018-03-21 22:16] itowlson commented on #80
The proposal is as follows:

* When you perform the _first_ push to a new cluster, it will ask you which registry you want to use with that cluster.
* For subsequent pushes to that cluster, it will continue to use the same registry.

Things to consider:

* How do we record which registry is associated with any given cluster?  Options:
  * Metadata in kubeconfig.  The `kubectl config set*` commands

[2018-03-21 22:24] itowlson commented on #118
MVP is Linux.  OSX should be fairly similar I believe, though Docker install may be substantially different.

Installing Docker on Windows is a bit ugh (well, it's a bit ugh on Linux too but at least _scriptably_ ugh).  The command line tools should all be xcopy deployable, except that Windows doesn't have anything built in for unpacking `.tar.gz` files (though there appear to be NPM packages that

[2018-03-21 22:49] itowlson commented on #118
Well blister my barnacles, it looks like the npm tar module might just work...

[2018-03-22 00:39] bnookala commented on #105
@itowlson I think there's more going on… I've tried this myself, and the dashboard doesn't completely load when just using a `kubectl port-forward`. It would be ideal to use the underlying behavior of `kubectl proxy`, since then we wouldn't have to simulate the behavior of `az aks browse` within the context of the extension.

However… even if we did choose to detect AKS clusters and use `az aks br

[2018-03-22 00:48] itowlson commented on #105
Weird.  `az aks browse` doesn't seem to do much more than getting the pod info and doing a `kubectl port-forward` to that pod; so if that works and the dashboard loads, then I don't see why doing the same thing directly wouldn't work... strange!  Here's the implementation if it's any help...:

https://github.com/Azure/azure-cli/blob/c8edc8b04aa7630da246e5d01cd587c3d836aac5/src/command_modules/azur

[2018-03-22 07:54] bnookala commented on #105
@itowlson I had an another try to see what `kubectl proxy` would do on two clusters, and it appears that the `localhost:8001/ui` redirect is somewhat broken between k8s versions, so maybe I had missed something originally.

AKS 1.8.7: `kubectl proxy` with a load of `localhost:8001/ui` in a browser loads http://127.0.0.1:8001/api/v1/namespaces/kube-system/services/https:kubernetes-dashboard:/proxy/

[2018-03-22 08:39] testforstephen commented on #82
To support secret or configMap reference, my initial proposal is to add a new user settings `vs-kubernetes.containerEnv` to inject extra environment variables to Kubernetes container when running the command `Kubernetes: Run` or `Kubernetes: Debug (Launch)`.

And this user settings format is like the following:
[code]

The value could be a plaintext or configMap/secret reference. For reference var

[2018-03-22 08:59] testforstephen commented on #79
@andxu could you help fix it?

[2018-03-22 20:25] itowlson commented on #82
This doesn't really feel like it should be a user setting, but I'm not sure what a good alternative would be.  Can we store them in the debug configuration, or is the schema insufficiently flexible?  How would a user normally inject these values?  Via the kubectl command line?

[2018-03-22 22:43] squillace commented on #105
holy criminoly, batman.

[2018-03-22 23:09] bnookala commented on #105
Ok, after discussion, this will be the course of action:

Detect if the active cluster is AKS, if yes, port-forward to the kube-system dashboard pod, and open a browser to the bound port on localhost. If no: shell out to `kubectl proxy`, and pray.

[2018-03-23 03:37] testforstephen commented on #82
Through `kubectl run xxx --overrides=<json schema>`, we can inject any k8s schema accepted info to kubectl command.

In our one-click commands (Run or Debug), we don't generate launch.json file or provide any user interface for such kind of configuration. If storing the env mapping in debug configuration or yaml file, it seems we still need invent some kind of format.

[2018-03-26 01:21] squillace opened #135 "Windows Code loses extension"
Brand new windows machine, first code install, added kubernetes extension, it's there, no problem.
Complains about kubectl; add kubectl now it complains that when I Configure from Cluster there's a specific path that has kubectl but it's NOT the one I added -- so issue No. 1 is that now I have two kubectls.

But the main issue is that I reload kube extension to pick up new path, and now it's gone.

[2018-03-26 01:23] squillace commented on #135
Fortunately, disabling, reloading, re-enabling, and reloading brings the extension back into visibility, so there's a workaround, and this is low priority. :-)

![image](https://user-images.githubusercontent.com/1422718/37882595-88bd786e-3059-11e8-8881-9ee113c8a606.png)

[2018-03-26 01:34] squillace commented on #82
I'd like @radu-matei and @michelleN to review what's going on here as well, given their work on draft and debug scenarios. We want to expose this as a general debug solution for kubernetes -- of course -- but we also want the best environment UX as well across more than simply one usage. If we have TWO ways to enable debug -- say, either different dockerfiles OR different launch.json stuff -- that

[2018-03-26 01:51] squillace commented on #111
Note: I'm not clear this is a Kubernetes extension at this time. Early on, likely to be layered, I should think.

[2018-03-26 01:52] squillace commented on #79
this does repro for me, mostly everywhere. I wonder.

[2018-03-26 01:53] squillace commented on #118
if docker is a blocker, let that be the only installation requirement on the part of the user. :-) help with what we can!

[2018-03-26 01:58] kyliel commented on #135
Not sure this is a problem of this extension or common issue for VS Code. I met other issues for my vs code on my Windows last Friday - some extensions are not enabled even I click "reload" for many times. Then I reinstalled VS Code.

[2018-03-26 02:38] itowlson opened #137 "Add port-forwarding via tree view"
Requested by `eugene_dev` via Marketplace review.

[2018-03-27 03:14] itowlson commented on #67
Superseded by #118, will be addressed by #136 (which admittedly ignores versioning issues in the name of expediency).

[2018-03-27 03:14] #67 closed

[2018-03-27 17:44] bacongobbler commented on #82
I agree with @itowlson. This doesn't seem like it should be a user setting. Other debug scenarios all ask for this kind of configuration in a launch.json, such as the example [on debugging Go applications in VSCode](https://github.com/Microsoft/vscode-go/wiki/Debugging-Go-code-using-VS-Code).

If we don't generate a launch.json, we probably should for configuration like this.

Draft handles inject

[2018-03-27 23:38] #106 closed

[2018-03-28 07:08] songkaiape opened #140 "[Linux] "copy name" can't copy resource name from the tree view"
We test this command on Mac, Windows and Linux. Only work good on Windows and Mac.
On Linux, nothing was copied.

[2018-03-28 07:13] songkaiape opened #141 ""Kubernetes log" can't work without a open yaml file."
I think this command should behave like other command like "Kubernetes get".
When there is an open yaml file , just get the resource defined in the file. If there is no open yaml file, it should prompt available resource type to choose.

[2018-03-28 07:59] songkaiape opened #142 ""Helm Dependency Update" got error message"
when executing "Helm Dependency Update" we got below output in terminal. To solve this error, we need to run "helm serve" in bash.

Would that be better if the plugin gives a prompt message to remind user ?

![image](https://user-images.githubusercontent.com/4318793/38015872-cb6a20d4-329f-11e8-9293-2d2128431d48.png)

[2018-03-28 08:13] songkaiape opened #143 ""Kubernetes Configure from Cluster" have the same output info for AKS and ACS"
When configure an AKS cluster, we got info like below.
should it be "Successfully configured kubectl with AKS cluster credentials"?
![image](https://user-images.githubusercontent.com/4318793/38016755-8f30f374-32a2-11e8-9e1d-7fa9809cee63.png)

[2018-03-28 15:57] technosophos opened #144 "Is it possible to make this installation error more precise?"
When I went to install the extension, I got this error:
![screen shot 2018-03-28 at 09 51 53](https://user-images.githubusercontent.com/89193/38041042-095bfa2a-326e-11e8-93b6-1a62f3c76f64.png)

I'm not actually sure what that means. Is my kubectl too old/new? Is it trying to connect to my cluster and finding something it doesn't like?

I'm wondering if the error could at least say "requires versio

[2018-03-28 16:02] technosophos opened #145 "Installing `helm template` is no longer required"
In this section of the docs we suggest installing the helm template plugin: https://github.com/technosophos/vscode-kubernetes-tools#setting-up-your-environment-for-helm-and-draft

That plugin is now part of Helm core. So we can drop that requirement

[2018-03-29 05:46] songkaiape opened #146 "Need more strict validation on specific value in YAML file"
For example:
The ports value should be an integer between 0 ~65536. But plugin only validate if the value is integer. Invalid value like 888888 or -1 should not pass validation.

ImagePullPolicy should only be one of Always, Never, IfNotPresent. Now it only validate if it is a string

[2018-03-29 05:51] songkaiape opened #147 "Intellisense doesn't work at some circumstances in YAML file"
I only get auto completion at the first line in the same level.
Below is detailed screenshot

**First line of the level**, we can get auto completion prompt
![image](https://user-images.githubusercontent.com/4318793/38072225-fdeacac8-3357-11e8-9c6c-f4ef0a0a0a9f.png)
**Second line of the level,** we can’t get auto completion prompt
![image](https://user-images.githubusercontent.com/4318793/38072234

[2018-03-29 05:54] songkaiape commented on #146
screenshot
![image](https://user-images.githubusercontent.com/4318793/38072397-a5be5256-3358-11e8-954b-a5ffaa27112f.png)

[2018-03-29 08:50] songkaiape opened #148 "Kubernetes: Launch Debug failed with ErrorImagePull error using AKS"
Repro step:
following this instruction https://github.com/Azure/vscode-kubernetes-tools/blob/master/debug-on-kubernetes.md to set up environment.
We create a private ACR to save image.

1. Download the complete project
2. Launch vscode and install debugger for java
3. Set up the image repository on the VS Code user or workspace settings, using the `vsdocker.imageUser` configuration setting.
4.  Lo

[2018-03-30 04:11] andxu commented on #79
Is the snapshot the expectation?
![image](https://user-images.githubusercontent.com/17075863/38124340-86de703a-3413-11e8-8f89-3c176a31766c.png)

[2018-03-30 04:59] andxu opened #150 "add known enumeration types for k8s schema"

[2018-03-30 05:00] andxu commented on #42
https://github.com/Azure/vscode-kubernetes-tools/issues/150

[2018-03-30 07:01] testforstephen commented on #82
@squillace Any more comments from the call meeting?

[2018-03-30 23:07] bnookala commented on #145
@evanlouie will take care of this

[2018-03-30 23:07] bnookala commented on #144
@evanlouie will take care of this

[2018-03-31 21:53] squillace commented on #82
@testforstephen result was that we believed that secrets should stay out of the kubernetes extension for now. Result is, no work.

[2018-03-31 22:24] radu-matei opened #153 "Extension fails because of unknown dependency"
If I don't have the Red Hat extension, it will fail with the following message:

[code]

Should it prompt me to install it rather than fail?

[2018-04-02 07:25] songkaiape opened #154 "Kubernetes launch debug command failed without setting vsdocker.imageUser in nodejs project"
when I tried to execute "Kubernetes launch debug" in a nodejs project. I got following error.
And I was using local minikube cluster.  For java project, I didn't need to set vsdocker.imageUser using minikube. Only remote cluster need to set vsdocker.imageUser.

![image](https://user-images.githubusercontent.com/4318793/38187286-7bb5a19c-3689-11e8-9a73-3e80338cc1cd.png)

[2018-04-02 08:50] songkaiape opened #155 "Kubernetes: debug(Launch) failed with Nodejs project"
Repro steps:
1. create a project following this doc : https://nodejs.org/en/docs/guides/nodejs-docker-webapp/
2. set proper vsdocker.imageUser in user setting and docker login
3.  execute "Kubernetes: debug(Launch)"  and input debug command "node debug server.js"

expect: the debugger will start
actually:
![image](https://user-images.githubusercontent.com/4318793/38190100-505248d2-3695-11e8-8ab3-a

[2018-04-03 00:08] bnookala commented on #153
From conversation with @radu-matei, a developer will run into this issue when running from source, and without the extension/ extension dependencies installed from the marketplace.

[2018-04-03 00:33] bnookala commented on #153
@radu-matei I can't confidently find a way to get around this in the build process. i'll try and keep digging for an answer, however.  for now, can you install the redhat.vscode-yaml extension through the extension marketplace?

[2018-04-03 01:01] evanlouie commented on #144
@technosophos what version of vscode are you currently running? As of late 2016, vscode should be emitting errors that look like `Extension is not compatible with Code 1.21.1. Extension requires: ^1.22.0.` when attempting to install unsupported extensions.

[2018-04-03 02:23] evanlouie opened #157 "Debug configurations broken"
The "Launch Extension" and "Launch Tests" configurations are currently broken due to them listing `npm` as a `preLaunchTask`.

The `npm` task is currently configured to run the compile script in package.json which runs with `--watch`; which never terminates, so the `preLaunchTask` is never completed causing it to hang.

vscode: Version 1.21.1 (1.21.1)
vscode-kubernetes-tools: `master`

Steps to re

[2018-04-03 17:25] bnookala commented on #157
Interesting - I just tried myself on v1.21.1 on a fresh repo with the master branch, and didn't encounter this issue. Are you launching the extension via the `Start Debugging` menu?

[2018-04-03 20:24] evanlouie commented on #157
I've tried both. `Debug -> Start Debugging` and the 'play' button in the Debug side menu. Both result in same thing.

Bottom notification bars just hang on this:

<img width="600" alt="screen shot 2018-04-03 at 1 23 47 pm" src="https://user-images.githubusercontent.com/2081587/38273995-48566bc4-3742-11e8-9774-381034aef9e5.png">

[2018-04-04 00:30] #157 closed

[2018-04-04 00:31] #145 closed

[2018-04-04 21:57] bnookala commented on #148
@songkaiape I think within the yaml file you provided, the image name is wrong. If you're using a private registry, the image name should be: `sallacr.azurecr.io/complete:latest` - can you try using that in your deployment yaml?

[2018-04-04 22:59] bnookala commented on #79
One more observation: if one chooses to save the file when it prompts you, it gets saved into the current directory and the extension is unable to show the resource definition until the file gets removed.

[2018-04-04 23:16] bnookala commented on #142
@songkaiape can you `cat` your `requirements.yaml` file and paste it here? I believe that connection refused message is expected to appear - I just ran `helm dependency update` on the phabricator chart to see what would happen:

[code]

[2018-04-04 23:41] bnookala commented on #79
I've got a workaround in mind here… create a content provider exclusively for rendering the content from the `get` operation. seems like the save prompt is triggered by the untitled uri scheme - using a custom content provider would allow us to register a seperate read-only uri scheme that can render the content. from the docs:

[code]

[2018-04-04 23:42] bnookala commented on #79
@andxu aha didn't realize you had done just what I was suggested!!! Do you have a PR open for this/can you open one?

[2018-04-06 09:07] radu-matei opened #161 "Could not find task: npm watch"
This seems to be related to #158

<img width="659" alt="screen shot 2018-04-06 at 12 06 38" src="https://user-images.githubusercontent.com/13103165/38412942-12d29d26-3993-11e8-845c-701d58ef99ab.png">

cc @evanlouie

[2018-04-06 16:44] #137 closed

[2018-04-06 19:53] evanlouie commented on #161
Is your package.json on master? #158 added the `npm: watch` script and it is still in master, so there shouldn't be any issues finding it.

[2018-04-08 00:27] bnookala opened #163 "Proposal: Use chartify to create helm charts from existing manifests"
abridged conversation:

Ralph: I hate manifests and deploying them. Why can't we just create helm charts using whatever manifests are around using [chartify](http://www.github.com/appscode/chartify)

Me: sounds great!

[2018-04-08 02:28] songkaiape commented on #148
@bnookala I have tried `sallyacr.azurecr.io/complete:latest` but still failed. And I can pull the image on local machine using `docker pull sallyacr.azurecr.io/complete:latest`. Seems AKS didn't get the credentials for the private registry.

[2018-04-08 02:34] songkaiape commented on #142
@bnookala  Below is my requirement.yaml
[code]

[2018-04-09 14:10] kyliel commented on #147
@andxu , could you please take a look? Thanks.

[2018-04-09 16:18] #105 closed

[2018-04-09 17:57] bnookala opened #165 "Update tslint rules"
Add:
https://palantir.github.io/tslint/rules/typedef-whitespace/
https://palantir.github.io/tslint/rules/no-trailing-whitespace/
https://palantir.github.io/tslint/rules/no-var-keyword/
https://palantir.github.io/tslint/rules/no-debugger/
https://palantir.github.io/tslint/rules/ordered-imports/

and their fixers, if applicable, to avoid having these issues called out in code review rather than bein

[2018-04-11 02:15] kyliel commented on #141
I can see resource type "pod" after I type "Kubernetes: logs". Could you please double confirm with latest version?

[2018-04-11 02:16] kyliel commented on #140
@testforstephen , please take a look on Linux.

[2018-04-11 03:30] andxu commented on #79
Yes, I will submit the pr today

[2018-04-11 04:29] andxu commented on #79
https://github.com/Azure/vscode-kubernetes-tools/pull/166

[2018-04-11 05:44] songkaiape commented on #141
@kyliel
Minikube version :0.25.2
VScode: 1.22.1
OS: Ubuntu 16.04 &&MacOS
build: 3940 https://vscjavaci.cloudapp.net/job/vscode-k8s-tools.vsix/3940/  &&release build 0.17
I have checked this issue with private build 3940 and release build 0.1.7 .  This issue still repro.
1. When there is no yaml file open, Executing "Kubernetes log"  will pop out an error "No active editor"
2. When the yaml file is

[2018-04-11 05:55] songkaiape commented on #140
Minikube version :0.25.2
VScode: 1.22.1
OS: Ubuntu 16.04
build: 3940 https://vscjavaci.cloudapp.net/job/vscode-k8s-tools.vsix/3940/ &&release build 0.17
I have checked this issue with private build 3940. This issue doesn't repro.

[2018-04-13 17:27] bnookala commented on #79
Should be fixed now w/ @andxu's recent changes.

[2018-04-13 17:27] #79 closed

[2018-04-14 00:27] bnookala opened #167 "Experiment to see if we can use Kubernetes API for Service Catalog"
Kubernetes API exposes service catalog through the aggregated API endpoint - we should be able to pass up svcat entirely, and retrieve JSON from this endpoint

[2018-04-14 00:28] bnookala opened #168 "Add a Kubernetes extension tree node for exposing Service Catalog instances deployed on the cluster"

[2018-04-14 00:29] bnookala opened #169 "Right click trigger for creating service catalog instances"

[2018-04-14 00:29] bnookala opened #170 "Service Catalog creation wizard"

[2018-04-14 00:30] bnookala opened #171 "Subscribe to kube api proxy websockets for receiving notifications on service catalog provision status"

[2018-04-14 01:02] bnookala opened #172 "Right click trigger for charts/ directory to add bindin for a deployed service"

[2018-04-14 01:03] bnookala opened #173 "Copy the bound secrets and usage information to clipboard"

[2018-04-16 01:48] songkaiape commented on #141
If there is an open file, kubernetes logs will work good. And if you close all editor ,it will throw "No active editor" error

[2018-04-16 10:05] songkaiape opened #175 "Validation doesn't work at some circumstances."
validation doesn't work in following case. A space is missing between "name" and "test". But there is no error red line to remind user.

![image](https://user-images.githubusercontent.com/4318793/38802670-afe2201e-419f-11e8-8cde-752e863afefe.png)

[2018-04-16 10:07] songkaiape opened #176 "Eror pop up when user cancel the port forward action"
1. Right click a pod and choose port forward
2. Type nothing in the box and clicking other areas make the box disappear

![image](https://user-images.githubusercontent.com/4318793/38803200-0b4b10c2-41a1-11e8-9ad8-9ad0b6adbf39.png)

[2018-04-16 10:22] songkaiape opened #177 "Got connection refused error after launch debug in todo-app project"
project: https://github.com/Microsoft/todo-app-java-on-azure
Build: 4407
OS: MAC &&Linux
1. download project and setting use local minikube
2. launch debug
3. the debugger can start successfully
4. visit localhost:8080
got error like below:
![image](https://user-images.githubusercontent.com/4318793/38803860-0fdd6250-41a3-11e8-976c-999c82fc886d.png)

[2018-04-16 10:41] radu-matei commented on #177
Hi, @songkaiape!
Did you use the debug adapter from #160?

[2018-04-16 23:13] bnookala commented on #176
@songkaiape the expected behavior here is that the user provides a port to port forward to. Either a mapping:

`8888:80` or a single port (the target port on the pod) will work: `8888`.

[2018-04-16 23:13] #176 closed

[2018-04-17 05:29] songkaiape commented on #148
@kyliel we can use aks with acr now, thanks. Close this issue

[2018-04-17 05:29] #148 closed

[2018-04-17 09:04] songkaiape commented on #177
@radu-matei  I set the wrong port so the port-forward failed. Actually the app port is 80. After change the port to 80. The error doesn't repro.

[2018-04-17 09:04] #177 closed

[2018-04-17 09:13] sallyur commented on #119
This issue also repro in following two cases：
1. 1)F1 ,excute command Helm: Lint/Helm:dependency update
    2)Pop out a window let choose one from your chart list
    3) Don't choose any one
Pop up error in toggle developer tools:
2. 1)Make sure there is no workspace
    2)F1 ,excute command Kubernetes: Exec/Kubernetes: Terminal
    3)A window will pop out ask "Please provide a command to execute"

[2018-04-17 10:22] bsaby opened #178 "The name of added ACS is different from the real name on portal"
Vscode Kubernetes:
![image](https://user-images.githubusercontent.com/22470312/38864076-299deea2-426c-11e8-9463-9d57cc1f213d.png)
Portal:
![image](https://user-images.githubusercontent.com/22470312/38864085-2e1d9234-426c-11e8-816a-9b70a63ffc56.png)

[2018-04-17 20:09] #147 closed

[2018-04-17 20:10] bnookala commented on #175
@andxu would you be able to look at this? seems like another yaml parser issue.

[2018-04-17 22:15] #143 closed

[2018-04-18 05:31] kyliel commented on #119
@itowlson @bnookala , Could you please see new comment to see whether we should reopen it? This is tested against latest version.

[2018-04-18 07:26] songkaiape commented on #105
OS: Mac&&linux
Build: 4407
`For AKS`:
Now open dashboard works good with AKS.

`For ACS &&local minikube:`
open dashboard still open the wrong url
1. Right click a cluster and choose "Open Dashboard"
Only some info output in the terminal, browse is not open
![image](https://user-images.githubusercontent.com/4318793/38916796-45f82ebe-431b-11e8-897f-6f9db765ee54.png)
2. click the cluster and choose

[2018-04-23 18:48] sgpennebaker opened #183 "Kubernetes Debug (Launch) doesn't push NodeJS app to Minikube"
Trying to push a simple express "hello world" to a simple minikube. ` Kubernetes Run` works fine, `Kubernetes Debug (Launch)` / `node` does the Docker push steps but doesn't launch the app.  Could be documentation, [Debug support on Kubernetes cluster](https://github.com/Azure/vscode-kubernetes-tools/blob/master/debug-on-kubernetes.md) doesn't cover Node.

[2018-04-23 21:02] radu-matei commented on #161
I found this the hard way, but you have to reload the VS Code window once your launch config changes.

So closing this as it's not related to our implementation.

Thanks, @evanlouie!

[2018-04-23 21:02] #161 closed

[2018-04-25 09:24] testforstephen opened #185 "Support port-forward for multiple pairs of port mapping"
Support `port-forward 8000:8000 8001:8001`

[2018-04-25 09:44] radu-matei commented on #185
We should really support this. A nice to have would be https://github.com/Azure/vscode-kubernetes-tools/pull/149#issuecomment-377923348

[2018-04-26 00:36] itowlson commented on #144
@technosophos Can you confirm the version of VS Code where you're seeing this?

[2018-04-26 01:30] songkaiape commented on #140
@itowlson Yes, It does't repro.

[2018-04-26 01:30] #140 closed

[2018-04-26 02:30] itowlson commented on #119
@kyliel I'd suggest raising a new issue for these.

[2018-04-26 07:39] testforstephen commented on #183
@itowlson Currently only Java has used the new debug framework i designed, Node.js still used the legacy code to launch local debugging.

[2018-04-26 21:42] itowlson opened #186 "Update hoek version"
We have indirect dependencies on an old version of `hoek` which contains a prototype modification vulnerability when merging data from malicious sources.  This is low risk for us as we believe we do not merge JSON from untrusted sources, but we should update to a version that fixes the vulnerability.

[2018-04-27 01:51] andxu commented on #11
Basic code snippets are done. Close this issue.

[2018-04-27 01:51] #11 closed

[2018-04-27 03:43] itowlson commented on #163
I did something like this in the Batch extension (to create templates from existing objects), though it was hand rolled.  It's a nice workflow and it would be great to support it.

[2018-04-27 08:25] testforstephen opened #190 "Cannot read property 'matchLabels' of undefined when clicking service "kubernetes" node in Explorer View"
In Explorer, click the "Services -> kubernetes" node under the default namespace, it pops error message `Cannot read property 'matchLabels' of undefined`.

[2018-04-27 12:03] squillace opened #191 "Draft Debug: Stopping debug to restart hangs on connection still there"
If for some reason, the connection is still there -- in this case, I stopped the draft-up process because I had forgotten to establish the container registry context -- you get the following.

[code]

Error message, at the minimum, should offer help breaking that connection.

[2018-04-27 12:41] squillace commented on #191
In fact, kill $(ps -a | grep -m1 draft | awk '{print $1}') will find any lingering draft connections and kill them, but there's no question but that stopping a debug session at the moment does not tear down the ssh session.

[2018-04-27 14:12] squillace opened #192 "Draft Debug: Enable F5 to work against minikube as well as remote clusters"
Currently in 0.1.8, F5 support for Draft Debug works fine with remote registries and clusters, but it doesn't check the current docker context and therefore is unable to pick up and use the `eval $(minikube docker-env)` context with F5.

Per https://github.com/Azure/draft/blob/master/docs/install-minikube.md#configure-docker, this works in Draft on the command line, but not in VS Code. The build g

[2018-04-27 14:52] squillace opened #193 "Draft Debug: "Debug adapter process has terminated unexpectedly""
On saving a file having made a change, the draft up process is recycled, but this occurs:

![image](https://user-images.githubusercontent.com/1422718/39368910-b3a258d8-49ef-11e8-9095-83b756cb657a.png)

Even though the draft debugger goes through the deployment loop. HOWEVER, once this has occurred, you cannot do the iteration dance a second time by making changes. Nothing happens, likely because t

[2018-04-28 05:11] sallyur opened #194 "Command ”Kubernetes: Exec“ should pop out error when there is no workspace"
This issue also repro when run command "Kubernetes: Terminal".
This issue also repro when run command "Helm: Create Chart"/"Helm: Lint"/"Helm:dependency update"/“Helm: dry run“/”Helm: Insert Dependency“/”Helm: template“ do not selecting any chart and clicking other areas.

Build: 4602

Steps To Reproduce:

1. Make sure there is no workspace
2. F1 ,execute command ”Kubernetes: Exec“
3. A window wil

[2018-04-28 10:46] squillace opened #195 "Draft Debug: Won't run on Minikube; not picking up the docker context"
The Draft debugger isn't looking for the docker ENV vars, so that `eval $(minikube docker-env)` sets Draft for use from the console, but F5 in VS code doesn't do the same thing. As a result, building always occurs locally and cannot be then loaded from within Minikube, because without relatively arcane network muddling Minikube cannot reach the local build engine.

Fix is to ensure that Draft debu

[2018-04-28 13:04] squillace commented on #195
Closing as dupe of #192, which shows you how tired I am.

[2018-04-28 13:04] #195 closed

[2018-04-28 13:05] squillace commented on #191
Related to, but not the same effect as https://github.com/Azure/vscode-kubernetes-tools/issues/193.

[2018-04-28 13:07] squillace commented on #168
@akaroml is this the issue for pr #179 ?

[2018-04-30 00:01] itowlson commented on #190
This could affect any service without a selector (https://kubernetes.io/docs/concepts/services-networking/service/#services-without-selectors).  Fix in progress.

[2018-04-30 00:46] itowlson commented on #178
It looks like this is what the Azure CLI does when you do a `az acs kubernetes get-credentials` - the name of the kubeconfig entry is different from the Azure cluster name.  I'll raise this with the Azure CLI folks.

[2018-04-30 02:03] itowlson commented on #142
@technosophos @bacongobbler Is Bhargav correct that the the initial "Unable to get an update from local" is an expected output of Helm as it searches for an update source?  If so I think we can close this issue @songkaiape?

[2018-04-30 02:28] itowlson commented on #141
The desired experience for this, per discussion a few weeks back captured in Kylie's email of 6 March, is:

[code]

I don't recall the discussion well enough to fully parse this, but it sounds like we want to ignore any active file and just go straight to the prompt (can we remember why we weren't interested in the active file?).  This would duck the 'no active editor'/non-pod file issue of course

[2018-04-30 03:06] bacongobbler commented on #142
Yes, that error is expected by default due to the "local" repository which is set up for convenience purposes.

[2018-04-30 03:31] itowlson commented on #142
Thanks Matt.  Closing as expected behaviour (and out of the control of the extension!).

[2018-04-30 03:31] #142 closed

[2018-04-30 05:54] itowlson commented on #163
It looks like there aren't binaries of chartify at the moment, so we'd need to either talk to the author about creating/distributing binaries (which is a burden on the author), or take a dependency on Go (ugh).  Or am I missing something?

[2018-04-30 06:09] itowlson commented on #185
Any thoughts on a user experience for this?  VS Code doesn't offer us a very rich UI toolkit for doing anything fancy.  I guess we could keep the existing user experience and treat it as 'add a port-forward', but it doesn't feel very pleasant: users would have to select the same pod multiple times - not much fun if listing resources is slow (which it is for me!) - and we'd have to spawn multiple k

[2018-04-30 20:46] itowlson commented on #178
ACS/AKS team say that this is by design.  So this will continue to be the default for the VS Code tree view.

That said, I noticed that the tree view is using the cluster name from kubeconfig, rather than the context name.  We could change this to use the context name, which would give the same behaviour by default, but would all you to rename entries by using `kubectl rename-context` from the com

[2018-04-30 21:12] itowlson commented on #153
I don't think we can 'fix' this because it's internal VS Code behaviour, but I've sent a PR to better document the prerequisite.

[2018-05-01 01:36] itowlson commented on #69
One niggly detail with this is that if a user were to set a kubeconfig file, then Add Existing Cluster should add it to that kubeconfig file, not to the default one.  Looking at the Azure CLI, this may require specific handling for each cluster provider - it doesn't look like `az aks get-credentials` respects `KUBECONFIG` though I haven't tested it...

[2018-05-01 05:04] #190 closed

[2018-05-01 05:05] #194 closed

[2018-05-01 05:06] #153 closed

[2018-05-01 07:39] #165 closed

[2018-05-01 18:05] earlcoder opened #200 "Cannot edit in read-only editor v0.1.8"
Since the 0.1.8 update I can not edit kubernetes files (configmaps/deployments...) anymore.  "Cannot edit in read-only editor"  pops up as I type.

Is there a workaround or a fix?

[2018-05-01 20:45] itowlson commented on #200
That sounds pretty bad -- thanks for reporting it!  Are these files on the filesystem, or the JSON/YAML shown when you click a resource from the tree view?  Let us know and we'll investigate urgently.

[2018-05-02 17:17] earlcoder commented on #200
@itowlson Its when you load in a resource. eg Set Cluster -> Configuration -> ConfigMaps -> Load.
The json loaded in to the editor can not be edited.

[2018-05-02 21:32] itowlson commented on #200
@andxu @bnookala Does this relate to #166?  We still need to allow editing even if we want to avoid a save prompt when closing an unedited document.  Is there a workaround in the short term?

[2018-05-03 01:59] andxu commented on #200
A not perfect solution is to save it as a json file in temporary directories.

[2018-05-03 08:18] mhindery opened #203 "Feature request: support multi-container pods"
When running multi-container pods, the pod operations don't all work well. Starting a terminal in the pod defaults to one of the containers and happens to work if that's the one you need. Viewing logs doesn't work as it requires specifying a container name. You can repeat the failed command it executed with the container name option added to it, but it's not a great UX.

Multi-container pods are p

[2018-05-04 02:00] andxu commented on #200
Shall we create the file at the system temp folder like this:
![image](https://user-images.githubusercontent.com/17075863/39610320-04419ac8-4f82-11e8-8dee-6b4fe2fa1d4b.png)

[2018-05-04 02:03] itowlson commented on #200
I don't think that will give a satisfactory experience if the user edits and saves the document.  They almost certainly want it in the project directory, not in the temp folder.

[2018-05-04 02:06] andxu commented on #200
I am concerned about too many temp json files created in current project root folder, every time a click on the node will generate one because the json is updated time to time.

[2018-05-04 05:05] andxu commented on #200
I have tested new vscode(1.23.0) on mac/windows/Ubuntu, the save prompt disappears on untitled file, so I will revert my changes to archive your three ideas:

Immediately save the tab and have it default to the project directory and a sensible file name.
Edit the tab, then save and have it default to the project directory and a sensible file name.

[2018-05-04 05:14] andxu commented on #200
Sorry, new vscode will not open save as prompt in development mode, so ignore above message.

[2018-05-05 01:04] bnookala opened #204 "Extension shoh"
https://twitter.com/KevinHoffman/status/992032156603084800?s=20

[2018-05-05 01:04] #204 closed

[2018-05-05 01:06] bnookala opened #205 "Extension should also read from KUBERNETES_CONFIG env var"
See: https://twitter.com/KevinHoffman/status/992032156603084800?s=20

[2018-05-07 03:53] itowlson commented on #205
Additional control is in #206, for scenarios where KUBECONFIG is not picked up (the original poster linked in the issue seems to have hit this because he has to launch from the Mac dock and so can't set up a KUBECONFIG in the shell first) or to override KUBECONFIG on a temporary or project basis.

[2018-05-07 03:54] itowlson commented on #69
See #206.

[2018-05-07 04:40] itowlson commented on #200
The proposed workaround using "Save As..." doesn't work for me.  Save As doesn't bring up a prompt and I still can't edit the document.  This feels like a significant pain point as the 'I want to load this resource in order to work on it' workflow is completely blocked.  If we can't fix it or work around it, then maybe we need to revert this change.  It may be annoying to have to dismiss the save

[2018-05-07 04:41] itowlson commented on #200
`Kubernetes > Load` command is broken too.

[2018-05-07 04:56] andxu commented on #200
@itowlson Sure, I will create the PR soon.

[2018-05-07 18:41] bnookala commented on #205
Closing this issue as a duplicate of #69.

[2018-05-07 18:41] #205 closed

[2018-05-07 18:53] bnookala commented on #200
Leaving this issue open as a tracking issue for when we can figure out how to properly solve this. @itowlson's comment above: https://github.com/Azure/vscode-kubernetes-tools/issues/200#issuecomment-386490299 has the necessary action items.

[2018-05-07 19:33] bnookala commented on #185
@itowlson we'd have to do something like:

1. From the open pod specification or from all findable pods, select a pod (through a dropdown of multiple pods)
2. Find all containers in the pod
   - Is there only one container?
	- Get container ports for running container + expose in a multi select dropdown
	    * but if I wanted to customize the local bound port for multiple port forwards, how would

[2018-05-07 20:56] bnookala commented on #203
We'll need to add a `Container` tree view node under Pods that represent each container.

- Selecting a container should be a no-op, and should not open a vscode window describing the container, since there's nothing to describe at that level.
- Operations that should appear on the container context menu:
    1. exec
    2. logs
    3. port-forward
    4. attach

[2018-05-07 21:38] itowlson commented on #203
We also need to be able to prompt for a container when someone issues one of these commands from the palette and selects a pod with multiple containers.  Working on this now.

[2018-05-07 23:17] itowlson commented on #203
@bnookala Can you confirm if container support is required for port-forward?  `kubectl port-forward --help` doesn't list a container option.

[2018-05-07 23:39] bnookala commented on #203
@itowlson ah you're right - port-forward is a pod level command (via https://kubernetes.io/docs/reference/kubectl/overview/#operations)

[2018-05-08 01:56] testforstephen commented on #185
@bnookala  In current port-forward input box, it limits to only one port mapping pair there. Why not to support space separated port mapping pairs? That keeps consistent with the port-forward cli command's behavior.

[2018-05-08 04:14] itowlson commented on #200
Related discussion / VS Code feature request(s) here: https://github.com/Microsoft/vscode/issues/10547.  Not quite the same, but may be worth mining for possible workarounds.

[2018-05-08 17:25] earlcoder commented on #200
Thanks guys, problem solved in v0.1.9

[2018-05-08 20:43] earlcoder opened #210 "Duplicate file contents being loaded into editor v0.1.9"
If you open a cluster and click something like ingress->ingress_file , then click ingress_file again it will load duplicate contents in to the editor for as many times as you click it.
This happens to any editable file.

[2018-05-08 23:16] itowlson commented on #12
@ipedrazas We're still keen to integrate your snippets (and I'm sorry for the long silences).  What's the best way to get in touch with you to discuss what needs to be done?  cc @andxu

[2018-05-09 00:29] ipedrazas commented on #12
I'm here :) my twitter handler is the same as my gh user and my gmail is the same also (consistency, consistency!!)

I'll add a task in my todo list to review this extension and see how I can merge/add what I have/need

[2018-05-09 03:31] itowlson commented on #210
Fix merged (#211) - will be included in 0.1.10.  Thanks for flagging this!

[2018-05-09 17:52] earlcoder commented on #210
Thanks guys

[2018-05-09 17:52] #210 closed

[2018-05-10 01:55] itowlson commented on #200
I had a quick play with the VS Code 1.23 `FileSystemProvider` interface to see if we could virtualise these temp documents so they landed as 'clean' and without touching the disk, but could still be edited and saved to the local filesystem.  It looks plausible - probably going to have some warts (he says, having experimented with it for like _a whole half an hour_), but possibly good enough...

[2018-05-10 01:57] itowlson commented on #175
@andxu Do you have time to look into these issues?

[2018-05-10 04:45] bnookala commented on #200
@itowlson could we perhaps serve some kind of nonse witht he file that allows us to bypass caches?

[2018-05-10 04:47] itowlson commented on #200
@bnookala Oh, this was in the context of VS Code caching the _extension_ when doing an install from VSIX without changing the version number.  It's not a data caching issue, nor a production issue for the extension.  #famouslastwords

[2018-05-10 10:09] mhindery opened #212 "Display object descriptions as yaml instead of json"
Can a setting be added to show objects descriptions as yaml instead of json? We're using yaml everywhere, and I'd like to see it here as well for consistency.

[2018-05-10 21:12] bnookala commented on #212
Should be fairly simple to do. I'll add a configuration option.

[2018-05-10 21:18] itowlson commented on #212
Thinking-out-loud question: I wonder if YAML should be the default?  I suspect Brendan's original extension used JSON because VS Code provides better editing tools for JSON, but YAML seems to be idiomatic for Kubernetes...

[2018-05-10 21:37] bnookala commented on #212
@itowlson yeah, I'm considering the same. We do validation against the YAML specs but not the JSON specs, right? Wouldn't be opposed to switching the default here to YAML here either.

[2018-05-11 01:42] itowlson commented on #69
Fixed via #206.

[2018-05-11 01:42] #69 closed

[2018-05-11 01:43] itowlson commented on #205
Fixed via #206.

[2018-05-11 06:06] andxu commented on #175
I will look into this issue, it seems a bug in vscode-yaml owned by redhat, it might need some time for the final fix to be available at market place.

[2018-05-14 23:54] #212 closed

[2018-05-15 18:15] squillace commented on #185
Can I get a larger feature-centric view of the use case? Yes, I get it that if the user knows they want multiple mappings, but I would like to hear a general description of the most common usage story.

[2018-05-15 18:26] squillace commented on #170
Closing for now, as we aren't currently working on creation, but usage for development.

[2018-05-15 18:26] #170 closed

[2018-05-15 18:26] squillace commented on #171
Closing as we aren't working on provisioning at this time, but usage.

[2018-05-15 18:26] #171 closed

[2018-05-15 18:27] squillace commented on #183
@radu-matei you see this one?

[2018-05-15 21:06] #203 closed

[2018-05-16 21:16] itowlson commented on #141
Fixed via #208.

[2018-05-16 21:16] #141 closed

[2018-05-16 22:37] #186 closed

[2018-05-17 19:33] earlcoder opened #218 "Can not apply changes v0.1.9"
After editing a deployment you can not apply your changes. When selecting apply a warning pops up saying "Could not find a valid API object"

![screen shot 2018-05-17 at 12 28 48 pm](https://user-images.githubusercontent.com/24445887/40199397-29d92822-59ce-11e8-8fde-dfef155e8981.png)

[2018-05-19 00:43] #200 closed

[2018-05-21 23:43] squillace commented on #14
@kyliel where are we here? I think I can do this, but with some degree of latency. You?

[2018-05-22 10:52] kyliel commented on #14
I thought we split it to 2 issues - one for local and the other for remote. Local is done (still have some discussions about how to deal with secretes). Then this one is about remote debugging.

[2018-05-22 10:53] kyliel commented on #14
Local debug issue is here https://github.com/Azure/vscode-kubernetes-tools/issues/41.

[2018-05-23 08:49] Stono opened #220 "Default to yaml when editing resources"
Hey,
I might be being really silly, but i can't see how to change this (if at all possible).

The default editor seems to pull in json format, is there a way to get it to allow me to edit the resources in yaml?

Ta
Karl

PS.  Awesome extension

[2018-05-23 20:39] itowlson commented on #220
Hi Karl - good news - @bnookala already has your back.  https://github.com/Azure/vscode-kubernetes-tools/pull/213

This will be included in the next release and YAML will become the default with the option to override to JSON via config.  Please let us know if you have any feedback on this feature!

[2018-05-23 20:39] #220 closed

[2018-05-24 01:28] andxu commented on #70
I think current solution is acceptable since the latest version is compatible with older versions, the feature to be more precise schema to detect old kubernetes versions will have low priority and should be opened as a new issue.

[2018-05-24 01:28] #70 closed

[2018-05-24 21:24] tlynchpin opened #221 "kubeconfig handling"
KUBECONFIG is set to a list of config files in powershell profile so that it is defined in powershell external to vscode as well as vscode Integrated Powershell Console and vscode regular powershell terminal. `kubectl config get-contexts` in all of those three powershell contexts show the clusters from all of the config files. This is expected behavior.

The plugin sidebar shows only the clusters

[2018-05-24 21:39] itowlson commented on #221
Hi Tim - thanks for reporting this.  The extension just launches `kubectl`, so it should pick up KUBECONFIG from its parent environment and the spawned `kubectl` should inherit that.  You describe that you're setting KUBECONFIG in your PowerShell profile: are you launching VS Code from a PowerShell session where that environment variable is set, or are you launching it from Explorer?  If the latte

[2018-05-25 20:37] tlynchpin commented on #221
Ok I see, that makes sense, the environment of code where the extension
runs won't have it set if it is launched from start menu, but the
powershells that code spawns will have it set because they will run the
profile.

I'll check it out.

On Thu, May 24, 2018, 2:39 PM itowlson <notifications@github.com> wrote:

[2018-05-26 00:59] #221 closed

[2018-05-30 20:20] plkokanov opened #225 "{{ .Release.* }} and {{ .Values.* }} not validated as correct when template is not in 'templates' directory"
When using a template which is not directly under a directory named "templates" `{{ .Release.* }}` and `{{ .Values.* }}` are not validated as correct.

<img width="236" alt="screen shot 2018-05-30 at 23 09 45" src="https://user-images.githubusercontent.com/35485709/40745191-7c71a5be-645f-11e8-8194-ae06892912bb.png">

<img width="297" alt="screen shot 2018-05-30 at 23 12 17" src="https://user-image

[2018-05-30 21:26] itowlson commented on #225
cc @andxu @testforstephen

[2018-05-31 00:09] itowlson commented on #225
It looks like the extension defines a 'helm-template' file type.  We can't distinguish this from the 'YAML' file type on file extension or first line alone, so we try to infer it from the `templates` file path.

As a workaround, could you try clicking on the file type 'YAML' on the status bar (towards the right hand end, next to the smiley face icon), and selecting 'helm-template' in the drop down

[2018-05-31 01:10] itowlson commented on #225
A workaround that persists (but is a bit more effort):

* Open your workspace settings (`Ctrl+,` or `File > Preferences > Settings`)
* In the Workspace Settings tab, add the following entry:

[code]

* Save the settings and re-open the template file.

[2018-05-31 06:55] plkokanov commented on #225
Thanks @itowlson the workaround fixed my issues.

[2018-05-31 21:31] #225 closed

[2018-06-01 09:23] sallyur opened #227 "Fake error message "add existing cluster""
Build: 4623

When I tried to add a k8s cluster, I got the following error at the end:

![image](https://user-images.githubusercontent.com/28860891/40833109-8942aea8-65bf-11e8-8204-369968cde355.png)

But later I tried to see whether the new cluster is added, I successfully configured the cluster to my local registry. And I can operate on the nodes:

![image](https://user-images.githubusercontent.co

[2018-06-04 11:09] testforstephen commented on #175
Add a PR to solve the missing validation rule.
But for the timestamp issue, the schema definition is a string type. Although `kubectl apply` doesn't complain it, i prefer to keep the strict rule to give an error for `null` value.

[2018-06-04 12:08] tlycken commented on #175
`null` _is_ a valid `string`. (Well, you can define a type system where it's not, but it doesn't seem relevant in this case.) The validation output tool is substantially less valuable if

[2018-06-04 13:39] testforstephen commented on #175
`null` is an interesting question in json validator. Agree that the validation should be accurate.

A quick fix on the schema side is changing the type of timestamp to ['string', 'null'], that can pass the validation. The problem here is it looks like a generic problem, and should be fixed at the generic [vscode-yaml](https://github.com/redhat-developer/vscode-yaml) extension side.

[2018-06-04 15:26] josephglaspie opened #229 "Error Creating cluster"
When attempting to create a new cluster I hit the following error and any attempts to create an SSH key seem to be tied to creating a new VM in Azure. I have already authenticated with az login
[code]
Thanks for the help!!

[2018-06-04 15:42] itowlson commented on #175
@testforstephen @andxu If we think this is a bug in vscode-yaml, can we raise it there with a small repro (smaller than our massive Swagger file anyway!), and link that back to this issue please?  Thanks!

[2018-06-04 15:55] itowlson commented on #227
This works because `kubectl` is already installed (possibly even in that very location).  We should skip downloading `kubectl` if you already have a working `kubectl`.

[2018-06-04 17:39] josephglaspie commented on #229
Hey itowlson, thanks for the quick reply.

- Same issue with both ACS and AKS
- macOS High Sierra v10.13.4
-```ls $HOME/.ssh
known_hosts```

[2018-06-04 18:42] itowlson commented on #229
Okay, we should be detecting that you don't have the expected SSH keys and warning about that so you can create them first (or adding `--generate-ssh-keys`, but I'm not sure what happens to the SSH keys in that case).  I'll take a look.  Thanks!

[2018-06-04 19:06] itowlson commented on #229
Pfft, when I read the docs properly, `--generate-ssh-keys` only generates new keys if there aren't existing ones, so we should provide that argument unconditionally.  TIL.

[2018-06-04 22:32] #229 closed

[2018-06-05 00:44] testforstephen commented on #175
Created an issue https://github.com/redhat-developer/yaml-language-server/issues/72

[2018-06-05 04:59] shreyu86 opened #231 "Bug: Port Forwarding Only Works for Default Namespace"
I have been using this extension and it is awesome productivity booster.
I noticed that port forwarding currently does not propagate the namespace (selected namespace) context to `kubectl` [here](https://github.com/Azure/vscode-kubernetes-tools/blob/master/src/components/kubectl/port-forward.ts#L45) and other places `portForwardToPod` is called no namespace is passed and hence the `default` namesp

[2018-06-05 23:09] itowlson commented on #231
cc @bnookala

Thanks for the offer to tackle this!  If memory serves, using a non-default namespace should be changing the default namespace for `kubectl` (see `useNamespaceKubernetes` in extension.ts), so the code paths from right-click (`if (explorerNode)`) and 'select from drop-down' (lines 69ff.) _should_ work correctly.  If not then we do indeed need to propagate the namespace.  Let's confirm

[2018-06-06 05:41] shreyu86 commented on #231
Thanks for the response @itowlson, I can try fixing this bug:
1.  The `explorerNode` case was straightforward to [fix](https://github.com/shreyu86/vscode-kubernetes-tools/commit/fbc2a7f96a88886b6591938d8b94ad71abe2166a) I have tested this multiple times today. Let me know if I am in the right direction on this.

2. In the case when pod manifest is open, is where I need some more pointers. Currentl

[2018-06-06 06:33] sallyur commented on #175
Verified, the results as below:

Build: 4626

Scenarios | Windows | Mac | Linux
-- | -- | -- | --
A space is missing, but there is no error red line to remind user. | Not repro | Not repro | Not repro
Yaml validator will report an error for null value when the   schema type is string. | Repro | Repro | Repro

[2018-06-06 22:58] bnookala commented on #231
@itowlson @shreyu86

I think it's time we make `findKindNameForText` (used by `tryFindKindNameFromEditor` return an object that conforms to an interface with the three fields: `namespace`,` resourceType`, `resourceName`, and change usages as such.

Right now, we use `<object_kind>/<object_name>` because we can pass the entire string directly to kubectl without having to specify the resource type i

[2018-06-06 23:51] shreyu86 commented on #231
@bnookala Thanks for the feedback, I will give that a go tonight and open an PR (WIP) for more feedback.

[2018-06-09 06:10] adamgoose commented on #218
I am also encountering this issue, and will answer your questions.

- Yes, I have a file titled `traefik-deployment.yaml` open and saved.
- YAML, loaded from disk.
- Yes, document is saved!
- No, the document is entirely blank.

Each of the blocks in my yaml file are erroring in the IDE as well:

![](http://d.enge.me/xEC10B+)

[code]

[2018-06-09 06:15] adamgoose commented on #218
My issue seems to be resolved after separating each type definition into its own file. This is disappointing, as it'd be nice to apply in bulk. Perhaps we could add a "apply directory" command?

[2018-06-10 19:40] itowlson commented on #218
@adamgoose Thanks, that's great info.  I'll take a look at the `apply` with multiple definitions issue.  I think this relates to the fact that we try to show you a diff before applying, and the diff code doesn't take account of having multiple resources in one YAML document.  The intellisense error sounds like it may be something different - @andxu @testforstephen can you take a look at this pleas

[2018-06-11 21:18] squillace commented on #183
It might be related to #192

[2018-06-12 00:21] itowlson commented on #231
Fixed in #232.

[2018-06-12 00:21] #231 closed

[2018-06-12 04:26] itowlson opened #234 "Diffs fail with resources loaded directly from cluster"
If you load a resource directly from a cluster (via the `Load` command) and then try to diff it, even if you save it to the local file system first, it doesn't work.  It looks like the diff code converts the URI to a 'file path' and then back to a file-style URI, which the `vscode.diff` command promptly and justifiably fails to resolve.

The workaround is to save the JSON/YAML to the local file sy

[2018-06-12 18:34] shreyu86 opened #235 "Feature Request: Ability to Follow/Tail Logs"
Currently the extension prints all the log entries for selected pod, it would be great to be able to follow/tail logs.

[2018-06-13 02:29] bnookala commented on #235
Suggesting `Kubernetes: follow logs` (additional behavior) vs. `Kubernetes show logs` (existing behavior)

[2018-06-13 02:40] shreyu86 commented on #235
Sounds good. I might attempt to get an PR out for this soon.

-Shreyas

On Tue, Jun 12, 2018 at 7:29 PM Bhargav Nookala <notifications@github.com>
wrote:

[2018-06-13 02:43] shreyu86 commented on #235
Oops sorry didn't see it was assigned to @bnookala already.

On Tue, Jun 12, 2018 at 7:40 PM Shreyas Karnik <karnik.shreyas@gmail.com>
wrote:

[2018-06-13 03:57] bnookala commented on #235
@shreyu86 all yours now :)

[2018-06-15 04:34] #235 closed

[2018-06-15 09:51] sallyur opened #241 "After executing command "Helm preview", no content was displayed"
Build：4631

Executing command "Helm preview"

Result:

No content was displayed:
![image](https://user-images.githubusercontent.com/28860891/41462130-6b3ecd50-70c4-11e8-8607-eb7c5ea42893.png)

[2018-06-18 06:02] itowlson opened #242 "kubeconfig.ts does not respect kubeconfig setting or environment variable"
From `kubeconfig.ts`:

[code]

If the KUBECONFIG environment variable is set, or the `vs-kubernetes.kubeconfig` configuration setting is present, then we should probably be using that config file instead of the default one.

[2018-06-20 06:38] shreyu86 opened #244 "Status Indicators for K8s Resources in Explorer View"
I have been using the extension daily and have found it extremely useful to interact with Kubernetes. Also using the `vscode-docker` extension for local development and container management.
One of the features from `vscode-docker` is the visual indicators for showing status of running container (running/error) is neat and was thinking about seeing similar experience for pods and other relevant Ku

[2018-06-20 07:01] testforstephen commented on #175
The latest version `0.0.13` of vscode-yaml extension has fixed the null value validation bug. So close the issue.

[2018-06-20 07:01] #175 closed

[2018-06-20 07:22] itowlson commented on #175
@testforstephen VS Code doesn't provide a way to declare a dependency on a particular version of another extension, does it?  So I should possibly add some documentation around this...

[2018-06-20 07:49] testforstephen commented on #175
Correct, there's no way to specify the specific dependency version. And every time VS Code is reloaded or restarted, it'll auto check the latest version for all the installed extensions and auto upgrade to latest version by default.

[2018-06-20 08:35] itowlson opened #245 "Add Helm releases node to cluster tree view"
Maps to the `helm list` command.

Note: test with large numbers of releases (we may need to use `--max` and `--offset`).

[2018-06-20 08:36] itowlson opened #246 "Add Draft apps to cluster tree view"
Probably with an option to hide it for users of other tools who don't want Draft taking up valuable real estate.

[2018-06-20 08:37] itowlson opened #247 "Add an explorer for Helm chart repos (and Draft pack repos?)"
These are workspace side not cluster side so not in the cluster tree view,

[2018-06-21 01:43] andxu commented on #175
@testforstephen there is a setting 'extensions.autoUpdate' in vscode defaults to true, if user chooses to disable it, vscode will not update the extensions automatically, so you'd better to specify the minimal vscode-yaml version, or check this version in our extension.

[2018-06-25 08:28] bnookala commented on #247
@itowlson I imagine this could get noisy if there are a lot of helm charts/draft pack repos in the added repository.

[2018-06-25 08:29] bnookala commented on #246
@itowlson should this make use of the extensibility api added by #179?

[2018-06-25 11:08] sallyur opened #248 "Can't diff - the open document is not a Kubernetes resource"
Build: 4631

Repro steps:

1. F1, open the command palette
2. Executing command "Kubernetes: Apply" or command "Kubernetes: Diff"

Result:
Pop up an error as below:
![image](https://user-images.githubusercontent.com/28860891/41846923-e36c87f2-78aa-11e8-88c4-98c63bfc8b79.png)

[2018-06-25 11:19] sallyur opened #249 "Cannot read property 'resource' of undefined"
Build: 4631

Repro steps:

1. F1, open the command palette
2. Executing command "Kubernetes: Add File(s)

Result:
Error in toggle developer tools:
![image](https://user-images.githubusercontent.com/28860891/41847357-4ede9600-78ac-11e8-841b-5d3ecf667780.png)

[2018-06-25 11:24] sallyur opened #250 "Cannot read property 'id' of undefined"
Build: 4631

Repro steps:

1. F1, open the command palette
2. Executing command "Kubernetes: Delete File"

Result:
Error in toggle developer tools:
![image](https://user-images.githubusercontent.com/28860891/41847668-5446fd20-78ad-11e8-9286-46a0ff172c79.png)

[2018-06-25 20:57] bnookala commented on #248
@sallyur would you mind sharing what's the open document contains? There are a number of commands that will only perform their actions if the currently selected/open document contains the resource defined in yaml.

[2018-06-25 21:00] shreyu86 commented on #244
@bnookala shall I try sending an POC PR for this feature?

[2018-06-25 21:02] itowlson commented on #248
Was there a document open?  Was the open document a Kubernetes resource?

[2018-06-25 21:44] bnookala commented on #244
@shreyu86 happy to take a look at your pull request!

[2018-06-26 16:14] kameshsampath opened #253 "Kubernetes Apply fails when Resources are loaded"
When we click the Kubernetes resource on the Kube Explorer tree, we get a file opened in the editor like `/pod-someid.yaml`, this resource file does not have a filepath as its virtual file. Because of that few of the extension commands fails such as
- kubernetes Apply https://github.com/Azure/vscode-kubernetes-tools/blob/master/src/extension.ts#L537-L541
- kubernetes diff https://github.com/Azure/

[2018-06-26 20:17] bnookala commented on #248
@sallyur sorry... I'm a little bit confused here. Where are you getting Build 4631 from? Is this built from source?

[2018-06-26 20:36] bnookala commented on #253
@kameshsampath I suspect that Ivan's PR: https://github.com/Azure/vscode-kubernetes-tools/pull/236 will fix the issues you noted above.

[2018-06-26 20:36] #253 closed

[2018-06-26 20:38] bnookala commented on #169
@squillace Since we closed the issue re: creation wizard, I'll close this too.

[2018-06-26 20:38] #169 closed

[2018-06-26 20:39] #167 closed

[2018-06-26 23:59] BernieWhite commented on #218
Also found this confusing. Selecting a single object in a multi-object YML file works, but otherwise fails.

Alternatives might be to select an object based on the cursor, but the best would be to apply the whole file. Since that is what `kubectl apply -f` does

[2018-06-27 00:07] itowlson commented on #248
It looks like this occurs because you've deleted the `metadata.namespace` field out of the YAML file.  Can you try restoring the namespace and see if it works again please?

[2018-06-27 03:14] kameshsampath commented on #253
yes @bnookala, checked @itowlson  PR #236, it seem to have fixed that will wait for the update

[2018-06-27 03:17] kameshsampath opened #258 "How to reuse vscode extension sources"
I searched and asked questions in the Stackoverflow, is there a way we could reuse the extension dependency sources, right now I see there is no way :( .

sorry for being ignorant here for node we usually the get modules and start reusing the code and import the relavant sources. guess there is no way with vscode extension plugin sources.

Any way tips/tricks to do it?

[2018-06-27 03:29] itowlson commented on #258
VS Code doesn't support source-level import of other extensions a la Node.js / npm imports.  However, it does allow extensions to expose an API, and we are actively planning to do that for the Kubernetes extension.  This would mean your extension could declare a dependency on this extension and make use of the services exposed via the API.  We're gathering requirements / use cases on the extension

[2018-06-27 03:57] squillace commented on #63
@itowlson: based on feedback in Beijing and several sporadic reports, we should be able to load a config visually along with "Add Existing Cluster". Can we promote this to a feature request, and review whether it's required?

[2018-06-27 04:01] itowlson commented on #63
@squillace Yes, absolutely.  Can you expand on what you mean by "load a config visually"?  Do you mean having a command (or right-click option) to say "I want to use a nondefault kubeconfig file" and have it prompt you for the kubeconfig?  What is the scope, e.g. does the selected config remain in force from session to session, or only for the current session?

[2018-06-27 08:38] sallyur commented on #248
After I adding metadata.namespace field out of the YAML file, it works fine.

[2018-06-27 20:44] #248 closed

[2018-06-27 20:44] bnookala commented on #258
@itowlson we could also package utilities into their own node module - and publish that.

[2018-06-27 20:47] itowlson commented on #258
@bnookala Yes, and that would force us to finally sort out our shambolic jumble of tool invocation systems... **grin**

[2018-06-27 20:47] #249 closed

[2018-06-27 20:47] #250 closed

[2018-06-27 20:50] #218 closed

[2018-06-27 20:50] itowlson commented on #234
Closed via #236.

[2018-06-27 20:50] #234 closed

[2018-06-28 01:34] bnookala commented on #50
@itowlson @kyliel Looks like we can use this beta feature in make use of `ssh-keygen` for key generation! https://blogs.msdn.microsoft.com/commandline/2018/01/22/openssh-in-windows-10/

[2018-06-28 01:37] itowlson commented on #50
Oh I think I already fixed this?  https://github.com/Azure/vscode-kubernetes-tools/pull/230

[2018-06-28 01:42] bnookala commented on #50
@itowlson yes this looks like you did do the thing

[2018-06-28 01:42] #50 closed

[2018-06-28 02:29] bnookala opened #261 "Detect ContainerPorts on the Pod for Port Forwarding"
If a Pod explicitly exposes ports in its definition, we should offer a way for our users to Port Forward to them without having to dig for those ports.

Example pod yaml that exposes ports:

[code]

[2018-06-28 02:44] bnookala opened #262 "Build and publish extension artifacts from pull requests to GitHub"
Use ACR Build (or something else!) to build the extension from pull requests, and publish a downloadable vsix, making it easier for us to test.

[2018-06-28 03:53] itowlson opened #264 "Inconsistent and unclear use of namespace config setting"
The extension supports a configuration setting named `vs-kubernetes.namespace`.  This appears to be used for commands operating on the active window, but not anywhere else.  Meanwhile, we also have a "switch to this namespace" command on the namespaces list in the tree, which changes the `kubectl` default namespace for this cluster (but _not_ Helm), except this can still be overridden by the confi

[2018-06-28 11:29] radu-matei commented on #262
I would suggest Brigade!

Brigade is already using Brigade to run tests, build binaries, upload them to GitHub releases (this is the [actual `brigade.js` file that builds Brigade](https://github.com/Azure/brigade/blob/master/brigade.js))

[2018-06-28 18:04] bnookala opened #265 "Kubernetes: set namespace command"
We currently have a way to change the current namespace from the explorer. We should expose this as a way to change the namespace from the command palette:

`Kubernetes: Set Namespace`

[2018-06-28 18:18] bnookala commented on #109
@kyliel This would be very cool! From a high level, we'd need to do the following:

1. offer an API method for vscode-docker to call out to our extension with:
* the docker registry
* container name
* container tag
2. create and deploy a docker registry secret into our k8s cluster, if it doesn't exist
3. template out a yaml document/helm chart for a deployment/pod that would get the container regi

[2018-06-28 19:06] #244 closed

[2018-06-28 22:19] bnookala commented on #264
@itowlson I'm always an advocate for getting rid of ambiguous switches. I also opened #265 this morning, since only the explorer offers a namespace switcher.

We should also see if we can surface the active namespace somewhere within the extension view.

[2018-06-29 01:44] itowlson commented on #178
@gillesdemey Yeah, I think we should display context names instead of cluster names, so that `rename-context` would work.  I'll send a PR and people can thumbs-down it if they disagree...

[2018-06-29 21:37] bnookala opened #267 "Explorer: Load pods not in non-active namespaces"
As @itowlson had noted, selecting a Pod in a non-default namespace from the Node tree in the explorer won't load the resource in VSCode. This is due to the way the `Load` command works (by using the current active namespace). This should be fixed such that the `Load` command is aware of the namespace resources are in, so it can load them.

[2018-06-29 21:54] #178 closed

[2018-06-30 06:08] kameshsampath opened #268 "Adding Command for Events"
It would be nice to add two commands for Events at node level to show

- show events
- follow events

[2018-06-30 07:00] kameshsampath commented on #267
Sorry about my ignorance :(  @bnookala   can you detail more steps to reproduce this ? am not seeing this behaviour. One of the thing I observe in my setup which runs with `OpenShift`, I need to login to get access to needed namespace resources, otherwise the the extension shows error message that the user is not authorised.

[2018-07-02 00:53] itowlson commented on #265
@kameshsampath Thanks for the PR. Regarding formatting, we haven't historically had a standard but are gradually working one in via tslint and editorconfig.  Your formatting changes look good, but having them in the same PR as functional changes muddies the water a bit - would you have the time to send them as a separate PR please?

[2018-07-02 00:58] itowlson commented on #267
The issue refers to PR #252.  This PR added a view of the pods running on a node; however those pods might be in namespaces other than the active namespace, and when you selected a pod that was in such a namespace, loading its YAML failed or misbehaved.  So you won't see it in the normal pod list (because that is scoped to the namespace), only if you drill down from a node.

The OpenShift login is

[2018-07-02 02:28] itowlson commented on #241
This seems to be accurately reflecting the Helm output.  I'm not sure why Helm is producing empty output though - making enquiries with the Helm folks.  In any case, we should probably handle the empty output case with a message rather than a blank screen.

Also, if Helm produces an error, it gets horizontally scrolled, so we should fix that too.

[2018-07-02 03:47] itowlson commented on #246
Draft doesn't provide a list command, but we can do a `helm list` and filter for the presence of `metadata.labels.draft`.  But it looks like this will need to be done client-side as `helm list` doesn't have a selector option.

[2018-07-02 05:34] itowlson opened #272 "Pod status icon in tree view always shows stopped"
I've noticed that in master the pod status always seems to be showing red for me.  If I do a `kubectl get pods` then they show as running but the icon in the tree view is red.  @shreyu86 do you have any idea what might be going on?  Wondering if something when awry when changing the column-based status parsing to JSON-based perhaps?  If you don't have time to look into it then let me know and I'll

[2018-07-02 06:31] shreyu86 commented on #272
I will check this first thing if it is possible can you share the pod JSON output?

[2018-07-02 06:41] radu-matei commented on #261
If I understand correctly, we should parse the pod spec, get all `containerPort` properties and pass them to the already existing port forwarding functionality, right?

[2018-07-02 18:43] #185 closed

[2018-07-02 18:55] bnookala commented on #272
@itowlson to my knowledge, the parsing for the status is still using columns.

[2018-07-02 19:06] shreyu86 commented on #272
@bnookala +1, if the columns is causing any issues might have some time this week to checkout the JSON route.

[2018-07-02 20:42] bnookala commented on #261
@radu-matei yep! would you like to take on the issue?

[2018-07-02 21:01] radu-matei commented on #261
It's just that I'll get to it only around next week.. if that's ok then sure!

[2018-07-02 21:14] itowlson commented on #272
@shreyu86 Yes, that's right.  For some reason I convinced myself that the `Workloads > Pods` icons were also red, but trying now I can see I was wrong about that.  Sorry for the misleading bug report and thanks for diagnosing it correctly.  If you can fix the `Nodes` tree that would be great - if #271 would help as a foundation for that then we will hopefully merge that soon.  Thank you!

[2018-07-02 21:31] shreyu86 commented on #272
@itowlson thanks for confirming. Nodes uses [slightly different logic](https://github.com/Azure/vscode-kubernetes-tools/blob/master/src/explorer.ts#L239) than `Workload-> Pods` to list pods and filter them. Thinking about a way in which both could fetch info regarding the running state of the pod. Let me know if you have any pointers on this.

[2018-07-02 21:39] #267 closed

[2018-07-03 02:31] bnookala opened #273 "Kubernetes Follow Logs command should invoke in new terminal"
The shared terminal might be running another task. Additionally, since it's possible for the command to be run a long running task in the shared terminal, which could block future tasks. We should change the follow logs command to use a new terminal.

[2018-07-04 02:05] itowlson commented on #265
Fixed via #270.

[2018-07-04 02:05] #265 closed

[2018-07-05 05:13] kameshsampath commented on #273
since I did the same for the Kube events, I can take this up once the other PR is merged.

[2018-07-05 05:55] bnookala commented on #273
@kameshsampath thanks for the offer to help - I'm almost finished with a solution to this :)

[2018-07-05 06:37] kameshsampath commented on #273
no worries.

[2018-07-06 02:35] bnookala opened #280 "Fast Forward Documentation"
It appears the README has fallen a bit out of date due to our insistence on adding code ;D. Let's make sure we're back up to par.

[2018-07-06 02:36] bnookala commented on #268
Fixed by #269

[2018-07-06 02:36] #268 closed

[2018-07-06 02:37] bnookala commented on #272
Fixed by #277 and #278.

[2018-07-06 02:37] #272 closed

[2018-07-06 06:22] itowlson opened #282 "Update list of AKS regions"
They're rolling them out faster than I can add 'em in!

[2018-07-09 12:41] bjornmagnusson opened #284 "Draft up watch not working?"
How is the file changes watch for Draft supposed to work?
Can´t get the file watching for the Draft Up to work. Is there any specific config needed?
Using the latest version (0.1.10) of this extension, and the latest released version (0.15.0) of Draft.
Manual draft up in command line and via VSCode works fine.

Language: Same result for both NodeJS and Java.

Expected behaviour: Draft up should re

[2018-07-09 21:37] #245 closed

[2018-07-09 22:37] itowlson commented on #284
I think Draft changed its default to non-watching.  The extension doesn't pass the `watch` flag so it inherits that default.  At the moment you need to put `watch = true` into the `draft.toml` file to enable watching behaviour.

VS Code doesn't provide great UI for command options, so if we want to support watching we will probably have to add a new "Draft: Up with Watch" command for it (great nam

[2018-07-10 06:32] bradygmsft opened #287 "Incompatibility with DevOps project-generated Node.js code"
Node.js code created into the [Azure DevOps project](https://azure.microsoft.com/en-us/features/devops-projects/) sample app includes helm charts, but fails to include the draft files this method seems to require.

Is it possible the extension could drop these in? Or, is it possible that this issue could be routed to the team who create the Node.js template project for consideration? If they own t

[2018-07-10 08:09] bjornmagnusson commented on #284
Fully aware of that Draft team has dropped this and the existing watch flag. However, from my understanding from the core maintainers in Draft, the responsibility of watch for file changing and reploying will be in the IDE and its plugin (like this one). I was under the impression that it was solved in this one (maybe not?)
I do believe that the `watch` functionality is crucial for the developer e

[2018-07-10 12:31] sallyur opened #288 "[Mac] Failed to create cluster"
Build: 4651

F1, execute command "Kubernetes: Create Cluster"

The window blocked as below:

![image](https://user-images.githubusercontent.com/28860891/42509724-629ab01e-847f-11e8-971e-f77056216d61.png)

[2018-07-10 12:37] sallyur opened #289 "[Win] Chart Preview Failed template call"
Build:4651

F1, execute command "Helm: preview template"

![image](https://user-images.githubusercontent.com/28860891/42510204-c9ecb7d4-8480-11e8-9c75-5b7792917f49.png)

But actual there is deployment.yaml in the path.

[2018-07-10 12:45] sallyur opened #290 "Don't have the option "Set as current cluster""
Build: 4651

1. Open the Kubernetes: cluster explorer
2. Right click the "minikube" cluster

Don't have the option "Set as current cluster"
![image](https://user-images.githubusercontent.com/28860891/42510573-e546b5f6-8481-11e8-869f-cc25843581c5.png)

But right click other cluster have the option "Set as current cluster"

[2018-07-10 12:49] sallyur opened #291 "Helm list error"
Build: 4651

1. Open the Kubernetes: cluster explorer
2. Click the Helm Release node

Result：Helm list error
![image](https://user-images.githubusercontent.com/28860891/42510826-b19ef21c-8482-11e8-9426-d1dffffdfcfe.png)

[2018-07-10 12:56] JanusWu opened #292 "No response when execute command "Kubernetes: Follow Logs" on Mac"
Build: [#4651](https://vscjavaci.cloudapp.net/job/vscode-k8s-tools.vsix/4651/Azure/)

When execute the command "Kubernetes: Follow Logs" on Mac, don't get any response.
![image](https://user-images.githubusercontent.com/17060520/42511121-9a583a22-8483-11e8-8721-3a4c7928c1fd.png)

[2018-07-10 13:10] sallyur opened #293 "Show starting and stopping minikube progress indicators"

[2018-07-10 18:21] bnookala commented on #287
@bradygmsft can you do a `draft create` in the project?

[2018-07-10 18:30] bnookala commented on #292
@JanusWu you should only see log lines if the container is writing logs to stdout

[2018-07-10 18:30] #292 closed

[2018-07-10 18:32] bnookala commented on #290
Seems like a configuration issue with package.json. I'll get a fix for this.

[2018-07-10 19:00] bnookala commented on #284
@bjornmagnusson I should note that the README is a bit out of date... there's an open issue to fast forward it back to our current reality.

[2018-07-10 21:32] itowlson commented on #291
Is Helm installed?  Are there any Helm releases in the cluster?

[2018-07-10 21:41] itowlson commented on #291
Not enough info to resolve but #294 adds a tooltip to aid with diagnosing this.

[2018-07-10 22:47] itowlson commented on #289
I tried this with the latest Helm stable version (2.9.1) and I get the 'template produced no output' message rather than this error.  Are you in a workspace (as opposed to having a loose file)?  Does it have a single root?

[2018-07-10 22:56] itowlson commented on #287
Running the **Draft: Create** on the project _should_ fill this in pretty accurately, though it's still a manual step.  Unfortunately, I don't think the k8s extension can really recognise an Azure DevOps project and automatically inject the Draft files.  I'll reach out to the owners of the Node.js template in Azure DevOps and see if they're willing/able to add Draft support.  Thanks for flagging t

[2018-07-11 03:22] #273 closed

[2018-07-11 03:22] #290 closed

[2018-07-11 04:15] bnookala opened #298 "Pod Listing error due to kubectl client/server version/semver mismatch"
I'll let @itowlson fill in the details here, since he noted it first! We should handle this situation more gracefully.

[2018-07-11 05:51] bradygmsft commented on #287
No problem! I was in a thread with one of the team members and mentioned it today, so I'm pushing from my side. I think all these features are great, and that we should think of a way to pre-wire some of them up so developers can go "new DevOps project, clone, debug in the cluster." Tall order, but with some collaboration I think it's a matter of time.

[2018-07-11 14:38] bjornmagnusson commented on #284
Up-to-date README definitely help :)

[2018-07-11 19:11] bnookala opened #300 "Extension should offer to install Minikube, when no binary is found."
Currently, we assume minikube is installed when invoking minikube commands. We should offer to install minikube when it's not present.

[2018-07-11 19:40] itowlson commented on #298
If the version of kubectl used by the extension is too far ahead of the server version then some operations return errors.  For example, I had kubectl 1.11 (latest stable I think) and k8s version 1.7 (long established ACS cluster), and expanding pod lists in the tree view gave an error (server error Not Acceptable or Not Found, can't remember which).  This is a kubectl issue for sure, but it would

[2018-07-11 19:48] itowlson commented on #287
I heard back from Atul on the DevOps team.  He used Draft to generate the Helm charts but excluded the Draft manifest.  He's tracking it as a bug on the DevOps side and will get it fixed there.  Thanks @bradygmsft for letting them know too - and agree on getting that seamless experience!

[2018-07-11 20:36] itowlson commented on #293
Can you expand on this a little please?  What are you envisaging and do you feel the Minikube scenario justifies the scarce status bar real estate?

[2018-07-11 20:37] itowlson commented on #282
Seems like we were up to date after all...

[2018-07-11 20:37] #282 closed

[2018-07-11 23:43] tomasr opened #301 "Error connecting to Azure / AKS"
I'm having trouble getting the extension to work against my Azure / AKS clusters. Specifically, the Add Cluster wizard fails to recognize my Azure logon on the AZ CLI, resulting in the following error

![image](https://user-images.githubusercontent.com/16179/42604746-f4a5d046-8539-11e8-9d4f-4530fa7a2bf3.png)

I've checked that I am logged in to the azure cli and can access my resources already.

*

[2018-07-11 23:53] itowlson commented on #301
We don't have a way to enable logging - that "Details" section is the stderr from the Azure CLI, so there may not be a lot more we would be able to log anyway!  I saw on Twitter that you'd confirmed correct behaviour from within the Code integrated terminal; let me take a look at how we invoke the Azure CLI and see if I can see what might be different.

You mentioned resetting HOME - I don't _thin

[2018-07-11 23:58] tomasr commented on #301
Yes, the integrated terminal sees my updated `$HOME` just fine.

I did notice that the code looks for `.kube/config` under `$USERPROFILE` (see https://github.com/Azure/vscode-kubernetes-tools/blob/a63c2c5a17703cc8524ccb88589d9572d5c260b3/src/shell.ts#L66), but both `kubectl` and `az` will use `$HOME` on windows, so if the two don't match, you'll look for the file in the wrong location.

That said,

[2018-07-12 00:06] itowlson commented on #301
Hah, we got that path thing from Brendan and I always assumed he knew best *grin*.  We can definitely take a look at that and make it always prefer `$HOME` if that's defined.

That said, the `az` login issue is happening long before we even get to looking for `kubeconfig`.  But that code affects everywhere we shell out to other tools.  So if `az` is caching a login token under $HOME and expecting

[2018-07-12 01:46] tomasr commented on #301
Interesting... that actually worked. Though honestly not sure at all why.
Since I have `$HOME` define from my PC settings, every single process lunched under my user should be inheriting it. Unless somehow when you spawn `az` the entire environment is not being propagated to the child process.

Also unexpected that I copied my whole `.azure` directory to `$USERPROFILE` before, and that didn't work

[2018-07-12 02:05] tomasr commented on #301
I think I found the culprit. After my previous scenario work, I noticed that when I used the "Get" option it would launch an integrated shell for `kubectl` where `$HOME` is actually defined to be equal to `$USERPROFILE`.

So looking around I found this: https://github.com/Azure/vscode-kubernetes-tools/blob/a63c2c5a17703cc8524ccb88589d9572d5c260b3/src/shell.ts#L89

So the code is definitely overrid

[2018-07-12 02:05] itowlson commented on #301
I'm guessing that the AD login token is cached somewhere _not_ under `.azure` and that running `az login` with $HOME set to $USERPROFILE caused a login token to be created under $USERPROFILE.  Then when _we_ ran `az` with $HOME set to $USERPROFILE (because of that shell environment code you flagged), it picked up _that_ cached login token.

[2018-07-12 02:07] itowlson commented on #301
Hah, crossed in the post *grin*.  Yes, that's the culprit: on Windows, we are unconditionally overriding $HOME with (effectively) $USERPROFILE.  I'll get that fixed - thanks for flagging this and for helping to track it down.  Appreciate your patience and your spelunking of the code!

[2018-07-12 02:09] tomasr commented on #301
No problem, happy to help! It's already looking useful and look forward to playing with the extension a bit more 😄

[2018-07-12 21:16] EpicEric opened #303 "Add "--insecure-skip-tls-verify" setting"
With my current certificate setup, when I attempt to get any data from my cluster, I get the following error:

`Unable to connect to the server: x509: certificate is valid for <certificate_ip>, not <actual_ip>`

The `--insecure-skip-tls-verify=true` flag allows ignoring insecure certificates in `kubectl`. An equivalent setting (like `"vs-kubernetes.insecure-skip-tls-verify": false` as default) cou

[2018-07-12 21:38] shreyu86 opened #304 "Re-Implement Pod Status Indicators"
Based on changes in `explorer.ts` the pod status indicators need to be re-implemented to take into account `getPods` and centralize logic based on the items noted in #285

[2018-07-13 01:29] #301 closed

[2018-07-13 02:11] detiber opened #305 "Add ability to customize minikube start command"
The minikube start command is currently hardcoded, being able to override it would help in cases where VirtualBox is not installed or users would prefer to customize the minikube installation (such as using an alternative container runtime).

[2018-07-13 02:14] itowlson opened #306 "Inconsistent choice of kubectl executable"
If a user has configured a location for the `kubectl` executable (which we do automatically if they do an Install Dependencies), _and_ there is a version of `kubectl` on the path, then we are inconsistent about which we use.  Specifically, the configured on is used for 'silent' invocations, such as when populating the tree view; but in a spawned terminal, the one on the path wins out.  This can le

[2018-07-13 02:14] itowlson commented on #306
Related: #298.

[2018-07-13 02:15] itowlson commented on #305
cc @brendandburns

[2018-07-13 03:32] itowlson opened #307 "Startup is slow"
The extension takes a long time to start up, especially under the debugger.  It should be faster, perhaps even bigly faster.

[2018-07-13 03:34] itowlson commented on #307
The main culprits are the imports of the `explainer` and `draftConfigurationProvider` modules - the former being the worst offender, but the latter being very noticeable too.  If we can optimise these away then we should be in a much better place.

[2018-07-13 03:52] itowlson commented on #307
Why do these modules take a long time to load?

* `explainer` - almost entirely in importing the `k8s` module - drill further
* `configureFromCluster` - almost entirely in importing the external `restify` module (via `clusterProviderServer`)
* `installer` - almost entirely in importing the external `download` module

`restify` is used only if the user launches the Add Existing Cluster or Create Cl

[2018-07-13 05:57] bradygmsft commented on #287
oh @itowlson that's **fantastic** news. and my pleasure. the experience is so, so important and so, so close, so i feel every little report like this can add to a better experience for our users.

[2018-07-13 18:51] shreyu86 opened #309 "Status Indicators for Helm Releases"
It will be nice to see status indicators (Failed/Deployed) for Helm Releases.
Example of WIP Approach:
<img width="203" alt="screen shot 2018-07-13 at 11 51 22 am" src="https://user-images.githubusercontent.com/311217/42708766-1970d5c4-8693-11e8-8c42-a6c98719b2a5.png">

[2018-07-16 10:36] sallyur commented on #289
Repro steps:

1. Open a workspace
2. Create a Helm chart under this workspace
3. Open the deployment.yaml under the chart/templates
4. F1, execute command "Helm: preview template"

I run helm template <chart_path> --execute templates\deployment.yaml from the command line will let me open the deployment.yaml file.
My Helm client version is "v2.8+unreleased".

[2018-07-16 10:49] sallyur opened #311 "[Win]Error starting stopped host: exit status 1"
Build: 4657

1. Right click minikube node in the kubernetes clusters explorer
2. Select start minikube

Result: Pop up an error message
![image](https://user-images.githubusercontent.com/28860891/42754890-c8f237da-8928-11e8-997b-337cb83b8e1d.png)
But I execute kubectl version it can output normally:
![image](https://user-images.githubusercontent.com/28860891/42754927-f2518bbc-8928-11e8-823b-3e69b6

[2018-07-16 11:01] sallyur commented on #289
After I installing the helm 2.9.1 also  get the 'template produced no output' message.

[2018-07-16 11:15] sallyur commented on #293
I think should have indicate in states bar telling user the minikube is starting rather than no response.

[2018-07-16 11:16] sallyur commented on #291
Helm is installed, There no Helm releases in the cluster.

[2018-07-16 23:41] itowlson commented on #289
Thanks.  I still can't reproduce this (I get 'template produced no output', just as you do with 2.9.1), and a `v2.8+unreleased` version is hard to replicate.  Can you provide a download link for the Helm version you're using please?

[2018-07-16 23:47] itowlson commented on #293
Oh, sorry, I thought you were wanting start and stop _buttons_ on the status bar.  The word 'process' is a bit overloaded and there was no description.  Thanks for the clarification!

[2018-07-17 02:11] sallyur commented on #289
Helm v2.8+unreleased zip download link: https://kubernetes-helm.storage.googleapis.com/helm-canary-windows-amd64.zip

[2018-07-17 09:02] radu-matei commented on #183
This uses the debug features without Draft, so it's not related to #192

[2018-07-17 09:14] radu-matei commented on #284
As @itowlson mentioned, the `watch` functionality in the Draft CLI is not working at the moment, so watching is left to the IDE/code editor.

The issue right now (to be fully described in a new issue) is with the way the debugging session is currently implemented in this extension, often messing with the native VS Code file watcher, resulting in inconsistencies.

We are aware of this issue and hop

[2018-07-17 12:10] ppatierno opened #314 "Adding possibility to use KVM driver when starting Minikube"
On my Fedora machine, I prefer to use `minukube` with the KVM driver (with `--vm-driver=kvm` option) and not using VirtualBox.
This extension doesn't provide the possibility to chose a different vm driver.
It could be really useful having that. Maybe a configuration step when Minikube is selected in order to specify VirtualBox or the KVM driver (so that the command shell will be `minukube start --

[2018-07-17 16:38] bjornmagnusson commented on #284
Thanks for the update, looking forward to seeing it in action.

[2018-07-17 17:01] runewake2 opened #315 "Show/Follow Logs Commands Throw JSONPath Parse Error"
Attempting to follow or show a pods logs either from the Command Menu or from the Sidebar menu is throwing an exception related to JSON parsing:

[code]

This prevents all attempts to view logs using this extensions tools. Other commands seem to function properly.

I am encountering this when working with namespaced pods as well as in minikube. I am working with a Kubernetes server on version **1.

[2018-07-17 21:48] itowlson commented on #314
This might be a good one for your "no creation options... yet" page @brendandburns, though we need to clarify how the Minikube Create Cluster wizard and the Start Minikube command on the tree view relate to each other...

[2018-07-17 23:10] itowlson commented on #315
That's nasty -- sorry it's hit you.  Just trying this out and it seems to be working for me.  I'm on 1.7, but I don't see why 1.6 should make a difference, and I don't think this code has changed from previous releases - but I will take a look.

Couple of questions to help us reproduce the problem:

* Are you using the latest release, or building yourself from `master`?
* Are you on Windows, Mac o

[2018-07-17 23:20] itowlson commented on #315
Could you also try, on your command line, running the following command:

`kubectl get pod/` _any-of-your-pods_ `-o jsonpath="{'NAME\tIMAGE\n'}{range .spec.containers[*]}{.name}{'\t'}{.image}{'\n'}{end}"`

and let me know if you get the jsonpath parsing error please?  If you are on Mac or Linux, does it make a difference if you remove the double-quotes around the jsonpath string?  Thanks!

[2018-07-18 18:28] runewake2 commented on #315
I'm running the latest release from the VS Code Extension hub/library/thing. :)

* Removing the quotes throws an: `error: error parsing jsonpath {NAME\tIMAGE\n}{range, unclosed action`
* That command running on my console throws the same error as my original post.
* I have encountered this error on pods with multiple containers and ones with single containers per pod.
* I am able to follow logs fr

[2018-07-18 19:19] mozesmagyar commented on #291
right-click `Helm Releases` -> `Get`

`Ctrl`+`\`` -> `Terminal` -> `kubctrl`

[code]

seems like it's doing it in a weird way

[2018-07-18 19:37] bnookala commented on #291
@mozesmagyar Unless you've got a Helm Custom Resource Definition installed on the cluster, `kubectl get helmrelease` is expected to fail. We don't make any presumptions on existing CRDs, just the CLI tools.

[2018-07-18 21:08] mozesmagyar commented on #291
looks like the extension does exactly that.

[2018-07-18 21:16] bnookala commented on #291
@mozesmagyar it doesn't - the issue you bring up is slightly unrelated to the listing error, but still relevant. Top level Explorer Nodes (Namespaces, Nodes, Workloads, Services, Configuration, and now Helm Releases) all conform to the same interface. The implementation of the Helm Release top level explorer node allows one to right click on the explorer node, and select 'get' - a behavior availab

[2018-07-19 00:00] #307 closed

[2018-07-19 00:38] itowlson commented on #315
Thanks for the info.  I'll have another crack at a repro.

To be clear, the error _isn't_ in the log retrieval - it's occurring when we try to get the list of containers in the pod, so that we can prompt you if there is more than one.  (And that's why it happens even if there's only one pod, because we don't know that until we've listed out the containers.)

[2018-07-19 17:50] detiber commented on #305
I found that this limitation can be worked around using the minikube config, running `minikube config set vm-driver kvm2` allows this extension to be able to create a minikube cluster.

[2018-07-19 19:11] runewake2 commented on #315
Looks like its an issue with the quotes used. If I switch the use of `'` and `"` to make this:

[code]

I get an output of:

[code]

I assume that is the expected output from this? ¯\\\_(ツ)\_/¯

I'm using Bash on a Mac (`3.2.57(1)-release`).

[2018-07-19 21:52] shreyu86 commented on #309
Closed via. #318

[2018-07-19 21:52] #309 closed

[2018-07-19 21:53] shreyu86 commented on #304
Closed via. #308

[2018-07-19 21:53] #304 closed

[2018-07-19 23:06] #306 closed

[2018-07-20 00:54] itowlson commented on #246
Thought: rather than having a separate list of Draft apps (since the cluster has no notion of this, could indicate that a Helm release is Draft-managed via icon and tooltip?

[2018-07-20 02:15] itowlson commented on #246
Hmm, the Draft metadata label comes from the deployment, not from the Helm list.  This would require multiple tool invocations making multiple network calls which could get quite slow.  So yeah nah.

[2018-07-23 00:13] itowlson commented on #315
Okay, it looks like the existing quoting is the only form that works on Windows, and the switched quoting is the only form that works on Mac, and both work on Linux!  So we'll keep the existing quoting on Windows, but used the switched quoting elsewhere.  #smdh

Thanks for flagging this.  I don't know why it suddenly changed in the most recent version, but appreciate you taking the time to report

[2018-07-23 23:52] squillace commented on #287
Now that I'm back I can follow up with @azooinmyluggage and get it all figured out. It's a point in time thing, as the draft issue https://github.com/Azure/draft/issues/219 will enable you to just look at any compatible code directory with a helm chart and get a new draft.toml file.

in the very short term, you can make it work by adding one of your own and then ensuring (I believe we ensured this

[2018-07-24 23:53] #315 closed

[2018-07-25 22:50] #287 closed

[2018-07-26 22:08] technosophos opened #323 "Feature: Context menu for chart explorer"
With the new chart repository explorer view, here are a few things that I think would be useful to have in a context menu hanging off of a chart version:

- `install`: Install that chart
- `dependencies`: Run `helm dep list` on the chart
- `inspect`: Run a `helm inspect` (possibly could be a submenu with `helm inspect values` and `helm inspect chart`. NB: Inspecting _values_ is a fairly common tas

[2018-07-27 00:43] itowlson commented on #323
For the `install` command, are there any important options to offer the user (bearing in mind that VS Code has limited UI and we want to keep the experience smooth).  I'm specifically thinking of whether users frequently need to override values (the `-f` or `--set` flag) or the name (the `-n` flag).

[2018-07-27 01:19] itowlson commented on #323
I'm not sure the `dependencies` command can work as you suggest.  When I run `helm dep list stable/aerospike` (to pick a repo chart at random) I get `Error: GetFileAttributesEx C:\Users\itowlson\stable\aerospike: The system cannot find the path specified.`  Is this a Helm for Windows issue, or do we need to download the chart first?  (The docs imply the latter: "This can take chart archives and ch

[2018-07-27 01:30] itowlson commented on #323
The `fetch` use case looks like it would be accomplished by `helm fetch <chart_ref> --untar -d <project_dir>`.  This would create a chart directory named for the chart, e.g. `myproject/aerospike`, containing Chart.yaml, the templates, and all the other goodness.

[2018-07-28 02:55] ejsmith commented on #289
I have the same problem saying 'template produced no output' message. Same templates on OSX work correctly.

[2018-07-30 03:44] itowlson commented on #289
@ejsmith 'Template produced no output' (see also #241) is symptomatic of a known Helm for Windows bug which will be fixed by https://github.com/helm/helm/pull/4305.  I've pinged the Helm maintainers to try to get this into a Helm release; unfortunately there's nothing the extension can do to work around it.  I'm sorry about this.

[2018-07-30 19:38] bradygmsft commented on #287
Thanks for the response, @squillace. And to @azooinmyluggage - you have my new favorite GitHub alias. Of all the aliases. Period.

[2018-07-31 14:49] snobu opened #326 "Add `Delete now` entry to Pod context menu"
Please add a `Delete now` entry to Pod context menu, here &mdash;

![image](https://user-images.githubusercontent.com/6472374/43467037-837b96ac-94e9-11e8-8c47-b11fabaccfa7.png)

Sometimes a pod isn't easily convinced to exit or the grace period is set too high, this comes in handy to convince the pod to give up in an instant (`kubectl delete pod pod_name --now` has grace period = 1).

[2018-07-31 16:01] snobu commented on #326
Oh wow, appreciate the blazing speed here! This one time i opened an issue with AWS tooling took nine weeks for someone to add a label! Thanks!!

[2018-07-31 16:10] ubikusss commented on #326
No worries! I am sorry to hear about your experience!

[2018-07-31 20:47] bnookala opened #329 "Kubernetes explain should work for resources loaded from the cluster"
As noted by @squillace, the current implementation of the Explain API does not activate when viewing resources loaded from the cluster, and only works when viewing resources loaded from the filesystem.

[2018-07-31 22:09] #300 closed

[2018-08-04 00:48] kameshsampath opened #333 "Kubernetes Shell using terminal.* settings"
When we are running minikube or connecting to some external DOCKER daemon, it becomes essential that we set the following variables,

[code]

vs-code provides `terminal.integrated.env.osx` via which we can set these environment variables like,

[code]

The normal terminal windows honours these variables, where as the terminals launched as kube does not honour this and keep throwing error like `una

[2018-08-05 05:39] kameshsampath commented on #333
@bnookala @itowlson any thoughts how we can do this ???

[2018-08-05 21:04] #326 closed

[2018-08-05 21:34] #323 closed

[2018-08-06 03:36] itowlson commented on #333
We should inherit all the environment variables defined when you invoke VS Code.  I'm not sure about honouring the VS Code terminal window settings.  I have a feeling we copy the environment from the VS Code process (with some modifications) and maybe that overrides the integrated terminal environment settings - I'll take a look.  But we also invoke `kubectl` etc. directly, not through a terminal,

[2018-08-06 03:41] itowlson commented on #333
@brendandburns Any thoughts on the `minikube docker-env` request?

[2018-08-07 02:52] #280 closed

[2018-08-07 12:23] jseguillon opened #335 "Launch commands in Windows Bash WSL"
Hello,
Under Win10, I prefer using helm in bash subsystem than in powershell, simply because most of helm plugins are not working on powershell. I'd like to use my helm and kubectl from bash inside VS Code.

Overidding `"terminal.integrated.shell.windows": "C:\\WINDOWS\\System32\\bash.exe"` does not apply. I also tried to change `"vs-kubernetes.helm-path": "C:\\WINDOWS\\System32\\bash.exe -c helm"

[2018-08-07 21:48] itowlson commented on #335
@radu-matei Sound like you started looking at this - is it okay to assign it to you?

[2018-08-07 22:11] radu-matei commented on #335
Surely, you can assign it to me.

@jseguillon - I also tried to add variations of `bash.exe -c` as the path for tools, but that is not going to work for various reasons:

- first, we check if it's Windows, and if so, `.exe` is added - https://github.com/Azure/vscode-kubernetes-tools/blob/master/src/binutil.ts#L45

- then, the command itself (`get pods -o json`, for example) is added on top of the

[2018-08-07 22:32] itowlson commented on #335
Agree that whether to use the Windows or Linux binaries should be controlled by a setting, rather than kludged in by using a `bash` command line in a tool path.  Note that we don't yet have a consistent way of invoking tools so this might end up touching quite a few places (or you might have to try to rationalise the tool invocation code!).

Re kubeconfig, I would expect that if I used the Linux t

[2018-08-08 02:27] #314 closed

[2018-08-08 03:35] itowlson commented on #305
Fixed by #330.

[2018-08-08 03:35] #305 closed

[2018-08-08 09:25] ppatierno commented on #314
@itowlson @brendandburns that's cool thanks! When will the new release come out with this feature? :-)

[2018-08-08 20:37] itowlson commented on #314
I'm thinking of doing a release this week or early next week.  But I should warn you that 'Ivan thinking about a release' has been known to suffer up to 2 weeks' lag before 'Ivan actually managing to get a release out', so please don't rely on it -- but do nag me if nothing is out by this time next week.

[2018-08-09 04:14] itowlson commented on #335
That won't work with the EXE file extension.  The OS expects EXE files to be PE binaries; you'd need to compile a small binary to at least field the initial invocation.  We could, if it would help, change our check to ignore _any_ existing file extension (and only append `.exe` if the setting had no extension) - then you could name a file `helm-bash.ps1` and be in with a better chance.  I'm still

[2018-08-10 01:34] itowlson opened #336 "Support multiple kubeconfigs and switching between them"
Some users have multiple kubeconfigs and want to be able to switch quickly and frequently between them.  We support having an override kubeconfig in the settings file (and this allows kubeconfig-per-project) but it would be good to allow users to change kubeconfigs more dynamically.

[2018-08-10 16:14] bnookala opened #338 "Add Storage Class, Persistent Volumes, Persistent Volume Claims to explorer"
Feature request from a review left on the marketplace.

[2018-08-12 23:54] itowlson commented on #336
Fixed via #337.

[2018-08-12 23:54] #336 closed

[2018-08-13 02:06] itowlson commented on #338
We can display these pretty easily I think (famous last words) - but what else do we want to do with them?

[2018-08-13 16:21] victornoel opened #341 "Support multi-resources with different schemas YAML files"
When opening a k8s YAML file, there can be multiple resources descrtibed in it, separated by `---`.

For example:
[code]

In practice, the editor shows an error saying `Matches multiple schemas when only one must validate.` and not validation happens.

I think that we should be able to validate separately the different resources of a yaml file without problems by considering them as if they were d

[2018-08-13 22:27] itowlson commented on #314
New release is out now.  Please let us know if you run into any problems, or if you have suggestions for more enhancements.  Thanks!

[2018-08-13 23:43] itowlson commented on #341
cc @andxu

[2018-08-14 17:45] bgagnon opened #343 "Support for CronJob objects"
Under _Workloads_, only _Jobs_ are currently shown.
There should be a section for _CronJobs_.

Also, should a _Job_ that is controlled by a _CronJob_ be excluded from the _Jobs_ list?
Or nested under that _CronJob_?

[2018-08-14 18:26] bnookala opened #344 "Check for CPU/memory requests/limits for workload specs"
A common way for workloads to be killed is to consume too much CPU or memory. Ideally k8s should provide sane defaults, but doesn't (yet).

To get around this, we can assist users by alerting them that they don't have any requests/limits set on workloads.

[2018-08-15 04:45] itowlson commented on #343
Being able to expand a cronjob to see the jobs it controls sounds like a nice feature. I suggest we do that, but leave such jobs still in the job list - would that suit?

[2018-08-15 13:27] radu-matei opened #347 "[feature request] Create Kubernetes objects from the extension"
I would like to be able to create Kubernetes objects from the extension. The experience would be as follows:

- right click the type of object you want to create from the extension pane
- click create
- the editor opens YAML file, pre-populated with the template for the object type I want to create

Of course it would not work for all objects in the tree (such as Nodes), but for anything that can

[2018-08-15 16:13] squillace commented on #347
What's the user story for this, as a developer? Can you write the scenario out? Radu might want that, or Ralph, but for prioritization I'd love to hear the "common developer workflow" story.

[2018-08-15 21:04] #338 closed

[2018-08-16 02:33] itowlson commented on #343
Erg... I can't see a way to get a list of the jobs owned by a particular cronjob.  The job references its cronjob in `metadata.ownerReferences.name`, but I can't find a `--field-selector` to pass to `kubectl` to filter on that.  And `metadata.labels.controller-uid` does not match the cronjob's `uid`.  @bgagnon do you know a way?

[2018-08-16 02:45] itowlson commented on #343
They considered automatically injecting a label (which would have allowed us to filter using `-l`), but rejected it because they thought the user could do it in the cronjob's job template, apparently not considering the possibility that someone might want to _programmatically_ identify created jobs in a way that worked across all cronjobs.  https://github.com/kubernetes/kubernetes/pull/59473  We a

[2018-08-16 13:02] radu-matei commented on #347
User story:

- Radu is working on a simple application. Suddenly, he needs to add credentials for a database connection string, and he heard that secrets might be the way to go in Kubernetes. As he never created a secret before, or is unfamiliar / unwilling to write Kubernetes YAML by hand, from scratch, this would spare Radu the Google search for Kubernetes secret, then the copy-paste from the Ku

[2018-08-16 22:16] itowlson commented on #341
@victornoel Just to update, we will take a look at this but the person who knows that code best is tied up on something else.  We're expecting him to come free soon, but if not, I or someone else will pick it up.

[2018-08-21 03:43] andxu commented on #341
@victornoel @JPinkney The problems are caused by the differences between json and yaml document: one json file only has one document while one yaml file can have multiple documents, in this case(multiple document), the current behavior for k8s schema provider is to provide anyOf [Deployment, ConfigMap] for the specified yaml, this works well if no validation problems/errors found, but if any error

[2018-08-22 16:42] #343 closed

[2018-08-23 21:36] #344 closed

[2018-08-24 18:32] brendandburns commented on #311
I'm not sure what's wrong here, but it looks like minikube is unhappy.

What happens if you run 'minikube start' on the command line?

[2018-08-24 18:54] brendandburns commented on #333
Do we execute any 'docker' commands in this extension? I guess the docker build?

I kind of feel like executing in the config where the user started 'code' is the right thing to do here.

I'd rather not make guesses about which docker environment to use.

I guess we could make it an option you could set via a preference...

[2018-08-25 04:44] brendandburns commented on #63
As a temporray workaround, note you can merge multiple kubeconfigs with (slightly hacky)

[code]

[2018-08-27 00:04] itowlson commented on #341
@victornoel Andy has sent a PR to the upstream YAML extension at https://github.com/redhat-developer/yaml-language-server/pull/81

[2018-08-27 03:10] sallyur commented on #311
On windows, running the command 'minikube start' on the command line and on the vscode have the same result：Error starting stopped host: exit status 1.
But I can run command 'minikube start --vm-driver hyperv --hyperv-virtual-switch "Primary Virtual Switch" ' on the command line to start minikube successfully.

[2018-08-27 06:45] victornoel commented on #341
@itowlson yep, I saw it :) In the end there was maybe no need to open this issue I suppose… I will close it when it is merged then!

[2018-08-27 14:38] JPinkney commented on #341
Merged and a new version has been released on our side!

[2018-08-27 14:42] victornoel commented on #341
@JPinkney is there something to be modified in vscode-kubernetes-tool to take advantage of that? Because I just tried (0.0.15) and I still see the errors.

[2018-08-27 14:56] JPinkney commented on #341
I'm not entirely sure. I just assumed that the fix was correct for this case and that they had it all working when the PR was submitted.

[2018-08-27 14:58] victornoel commented on #341
@JPinkney ok, I misunderstood, I thought you were the origin of the PR, so I suppose we will wait for news from @andxu :)

[2018-08-27 14:58] victornoel commented on #341
and/or @itowlson

[2018-08-27 20:42] itowlson commented on #341
Sorry, we're playing timezone tag a bit here!  @andxu has told me that he will need to make a "very little change" the k8s side after the new vscode-yaml is available in the marketplace.  He will send out a PR.  So this issue remains open for now.

Thanks heaps @JPinkney for the rapid release, and thanks heaps Andy for the upstream fix.

[2018-08-28 03:12] itowlson commented on #341
@JPinkney Since the Red Hat YAML extension auto-upgraded, I've started seeing the error toast "Couldn't start client Yaml Support" when starting the k8s extension, with "Error - starting client failed" in the Output window.  This message doesn't _seem_ to originate within the k8s extension, and by the casing of YAML I don't think it can be a system message relating to us trying to activate the YAM

[2018-08-28 03:14] itowlson commented on #341
...or there may be something else going on, as now the Dockerfile language server is starting to give me errors...  _sigh_

[2018-08-28 03:34] andxu commented on #341
@itowlson the error "Error - starting client failed" is raised from https://github.com/redhat-developer/vscode-yaml/blob/master/src/extension.ts#L29, in vscode-yaml, it seems to use an older way of launching node, so in debug mode, the yaml extension will fail to activate if you are using node lts versoin v8.xx, I think you can change it from:
let debugOptions = { execArgv: ["--nolazy", "--debug=6

[2018-08-28 03:45] itowlson commented on #341
Ah, thanks for the explanation @andxu.

[2018-08-28 03:54] itowlson commented on #341
@andxu Hmm, I misunderstood you.  I'm consuming the binary of the RH YAML plug-in from the marketplace, so I can't modify that line.  But I'm not interested in debugging the YAML extension, only the k8s extension.  So I don't really need the language server to run in debug mode anyway.  As a _consumer_ of the YAML extension, what's my workaround?

I'm on Node 10.1 if that makes a difference.

[2018-08-28 04:35] itowlson commented on #341
Fixed via #353.

[2018-08-28 04:35] #341 closed

[2018-08-28 06:51] victornoel commented on #341
:+1:

thanks!

[2018-08-31 03:02] #293 closed

[2018-09-03 08:41] pentago opened #356 "Multi-platform dependency executable paths?"
I as a user should have the possibility of doing work across a range of platforms and defining dependency paths myself or automatically by extension.

Reason for this is that many, including myself, users are using editor settings sync extension to keep our config consistent across machines we use.

 Currently, I use MacOS and Windows both at home and at the office and installing deps each time i

[2018-09-03 20:45] itowlson commented on #356
This is a great point.  We should totally do this.  We would still maintain the existing config settings for backward compatibility and to make the common case simpler, but we could indeed allow per-platform overrides for your scenario.  Thanks!

[2018-09-05 20:18] pentago commented on #356
Just noticed similar logic on new Code release:
https://i.imgur.com/VKAOrCL.png

[2018-09-05 21:36] itowlson commented on #356
Interesting.  Unfortunately I don't think we can follow that pattern for configuration entries, so I'm planning to stick with your suggestion of extra config entries with a naming convention.

[2018-09-06 21:35] dnohales opened #359 "Linter doesn't work on a multi object file"
I was working with my YAML object files and previously I have every single object in a separated file and I recently noticed that for a "Deployment" object file I have the following linting warning:

[code]

Before fixing that issue, I decided to refactor my object definition a bit and define more than one object in a single file if they are related. So now I have the same Deployment as before alo

[2018-09-06 21:38] itowlson commented on #359
Thanks for flagging this - I'll take a look!

[2018-09-10 13:21] nphmuller opened #363 "Helm: Insert Dependency not working on Windows"
I can't get the `Helm: Insert Dependency` command to work.
I've tried to run the command via the commands windows (Ctrl+Shift+P) and via the codelense popup (when applicable) at the following moments:
- No existing requirements.yaml file
- Existing but empty requirements.yaml file
- Existing requirements.yaml file with empty `dependencies:` array.
- Existing requirements.yaml file with other worki

[2018-09-10 21:00] itowlson commented on #363
cc @technosophos

[2018-09-10 21:09] itowlson commented on #363
@nphmuller What operating system are you on?

[2018-09-10 21:28] itowlson commented on #363
This command looks like it works in a slightly odd way (it dates back to the Before Time and may not have been polished) - it inserts the dependency information into the _current document_ like a snippet.  So I _think_ you would need to open `requirements.yaml`, position the cursor where you want to add the dependency, and _then_ issue the command.

_However_, there is also a bug on Windows where

[2018-09-11 08:37] nphmuller commented on #363
@itowlson Thanks for the quick response!

I'm on Windows, so the problem was indeed what you explained. Setting the HOME env var made the command work.

Although the command certainly could be smarter, I'm more than fine with the current behaviour. What threw me off was that no output was printed to the output window and nothing happened, so I wasn't sure if I was using the command wrong, or if it

[2018-09-11 11:02] lxhmavis opened #364 "[Windows] 'tee' is not recognized as an internal or external command"
Build: 4688

Repro steps:

1. Right click the local minikube cluster in kubernetes clusters explorer
2. Select Open dashboard

The result in the terminal as below:
![image](https://user-images.githubusercontent.com/41565966/45356067-e006f480-b5f4-11e8-9760-86ce26f26cd0.png)

[2018-09-11 11:28] lxhmavis opened #365 "Host is not running"
Build: 4688

Repro steps:
1. Run command 'minikube service list' In the terminal window,
2. The result as below:

![image](https://user-images.githubusercontent.com/41565966/45356997-98ce3300-b5f7-11e8-87a6-4352c9a254d2.png)

The minikube service is running as usual.
![image](https://user-images.githubusercontent.com/41565966/45357235-45a8b000-b5f8-11e8-8387-e1121b1d76e1.png)
I consider that it is

[2018-09-11 22:05] itowlson commented on #363
Let's raise a separate issue for the command behaviour (I can do that and bring in the Helm folks to advise on UX), and I'll ship a PR with the Windows fix to close this one - that way we won't delay the fix while noodling on gold-plating the behaviour.  Thanks for being understanding!

[2018-09-14 07:28] nphmuller commented on #363
Okay! I've updated the title.

[2018-09-16 22:01] #363 closed

[2018-09-16 23:38] itowlson commented on #359
Latest release should fix this - let me know if you still see problems.

[2018-09-16 23:39] itowlson commented on #363
Latest release should fix the Windows issue (but leaves behaviour unchanged) - thanks for reporting it!

[2018-09-16 23:39] itowlson commented on #365
cc @brendandburns

[2018-09-16 23:40] itowlson commented on #364
cc @bnookala

[2018-09-18 23:41] brendandburns commented on #311
hrm, are those flags required? I thought minikube saved the flags used to create a cluster so simply 'minikube start' would work for existing clusters...

[2018-09-20 05:05] brendandburns commented on #329
I _think_ that this is something wiggy with the tooltip API (or maybe just our implementation of a tooltip provider)

[2018-09-25 11:01] sallyur opened #373 "Error getting status SyntaxError: unexpected token ' in JSON at position 0"
Build: 4694
OS: Windows

Repro steps:

1. F1, open the command palette
2. Select "Kubernetes: Start minikube" or "Kubernetes: Stop minikube" or " Kubernetes: Minikube status"

Result:
Pop up an error window:
![image](https://user-images.githubusercontent.com/28860891/46010298-bd94d100-c0f4-11e8-8a07-b055545d5123.png)
Error in toggle developer tools:
![image](https://user-images.githubusercontent.c

[2018-09-25 11:16] lxhmavis opened #374 "Can't list resource at the cluster scope in dashboard page"
Build: 4694

1.   F1: Open the command palette
2.   Kubernetes: Open dashboard

The result as below: All the page can't get normal states.

![image](https://user-images.githubusercontent.com/41565966/46010731-3f392e80-c0f6-11e8-9fac-a1149a8976e6.png)

[2018-09-25 11:25] sallyur opened #375 "Debug attach: org.eclipse.jdi. TimeoutException"
Build: 4694
OS: Windows

Repro steps:

1. F1, open the command palette
2. Select "Kubernetes: Debug (Attach)

Result:
![image](https://user-images.githubusercontent.com/28860891/46011516-ae178700-c0f8-11e8-855c-6835283e7ec5.png)

[2018-09-25 20:51] itowlson commented on #373
cc @brendandburns

[2018-09-25 20:54] itowlson commented on #374
Hmm, this doesn't _look_ like an extension problem - seems like the extension is launching the dashboard okay, but there is some issue where the dashboard user doesn't have the permissions it needs.  @bnookala any idea if this could be anything to do with us?  @lxhmavis what is the cluster type here, AKS or something else?  If you use `kubectl proxy` does the dashboard work?

[2018-09-25 20:55] itowlson commented on #375
Is this for a Java project?  Can you provide any more specifics?

[2018-09-25 21:56] bnookala commented on #374
@itowlson I think this is an ACS-Engine/AKS issue. It's currently being tracked on the ACS-Engine repository: https://github.com/Azure/acs-engine/issues/3130

@lxhmavis this appears to be a fix for the dashboard: https://github.com/Azure/acs-engine/issues/3130#issuecomment-415928684

[2018-09-25 22:18] brendandburns commented on #329
Closed by #370

[2018-09-25 22:18] #329 closed

[2018-09-26 08:42] sallyur commented on #375
It is for a java project. I can stable repro yesterday, but can't repro today with same configuration. I guess maybe the reason for the network, closed.

[2018-09-26 08:42] #375 closed

[2018-09-26 08:51] Liero opened #376 "Extention suggests to install helm but it breaks kubertenes on Docker for Windows"
I had fresh install of Docker for Windows version 18.06.1-ce, build e68fc7a, witch Kubernetes enabled.
kubectl worked as expected.

When I installed VS Code extension, it said helm is missing and I clicked "install". It installed not only helm, but also minikube, which I never opted out for.

After I restarted PC, I'm not able to use kubectl.

[code]

First of all, how do I fix Kubernetes on Docke

[2018-09-26 08:55] sallyur commented on #365
1. This is not the reason for our plugin, this is the reason for the local minikube, our plugin just calls it.
2. I try to open vscode with administrator privileges and run minikube service list in vscode terminal window, it works fine. So I recommend close this bug.

[2018-09-26 09:01] #365 closed

[2018-09-26 11:40] Liero commented on #376
It is possible that the problem has another cause that took effect after the restart, so I'm closing the issue.

This fixed my issue:

1. I've reset docker settings using the UI:
![image](https://user-images.githubusercontent.com/3494407/46077519-73adf880-c191-11e8-9628-772c458ee287.png)

2.  set missing environment variable:

        PS H:\> $env:KUBECONFIG  = "C:/Users/myusername/.kube/config"

[2018-09-26 11:40] #376 closed

[2018-10-01 17:21] auchenberg opened #380 "You've been featured! 🎉"
Hi there 👋

It's Kenneth from the VS Code team. I'm writing to let you know that your extension have been featured in our marketplace, https://marketplace.visualstudio.com/VSCode, so expect a bump in installs, usage and incoming issues.

Thanks for building this awesome extension for VS Code!

/k

[2018-10-01 21:38] bnookala commented on #380
The little extension that ~could~ did ;__;

![screen shot 2018-10-01 at 2 34 06 pm](https://user-images.githubusercontent.com/87996/46317329-87899e00-c587-11e8-9569-e41a6c61cd28.png)

[2018-10-08 21:19] itowlson opened #384 "README should be better structured for evaluators"
The README is currently a bit of a historical hodge-podge, and serves people evaluating the extension poorly.  It should lead on what the extension does and who will find it useful, and we should review the structure to better guide users trying to get up and running.

[2018-10-08 21:39] itowlson opened #385 "Per-cluster kubectl version"
Possibly using this spiffy tool from @jakepearson: https://github.com/jakepearson/k

A user might have Kubernetes clusters of multiple versions, but we always use the `kubectl` on the path or configured location.  If these are too far out of sync, the user may see errors.  We try to detect and warn if this is a possible cause of an error, but this is putting the ambulance at the bottom of the clif

[2018-10-10 22:43] #356 closed

[2018-10-10 23:38] brendandburns commented on #242
This file has been removed and this code now uses the official javascript/typescript client library which respects these variables.

[2018-10-10 23:38] #242 closed

[2018-10-15 08:36] erihanse opened #387 "Chart template preview gives Failed template call"
Issue Type: <b>Bug</b>

When trying to preview a template, I get a duplicate in the the path. Am I using this feature wrong? I've tried to open different folders in vs code, but it reports the same path.

This is the hierarchy:
[code]

Extension version: 0.1.14
VS Code version: Code 1.27.2 (f46c4c469d6e6d8c46f268d1553c5dc4b475840f, 2018-09-12T07:11:15.873Z)
OS version: Linux x64 4.15.0-36-generic

[2018-10-15 08:39] erihanse commented on #387
Never mind, it seems like the problem disappeared when I disabled another extension, vscode-helm.

[2018-10-15 08:39] #387 closed

[2018-10-15 19:57] itowlson commented on #387
Thanks for the update.  The `vscode-kubernetes-tools` extension incorporates `vscode-helm`.  @technosophos can we update `vscode-helm` please -- either hollow it out or at least update the readme.

[2018-10-19 09:55] brackendawson opened #389 "Kubernetes extension breaks file links in "Go Tests" OUTPUT channel?"
With the Kubernetes extension disabled the line references in the stack trace are clickable:
![image](https://user-images.githubusercontent.com/1909753/47211145-add37a00-d38c-11e8-9662-fd37639ec32c.png)

But when enabled they are not:
![image](https://user-images.githubusercontent.com/1909753/47211126-a2804e80-d38c-11e8-81c6-7fa6e63fdabf.png)

[2018-10-22 21:01] itowlson commented on #389
That's so weird!  Apologies for the inconvenience this is causing you; I'll take a look.

[2018-10-22 21:32] itowlson commented on #389
Okay, this seems to happen because we colourise the output channel.  The way the colouriser works is global, and appears to override the built-in linkifier.  It looks like other extensions that colourise the output channel (such as https://marketplace.visualstudio.com/items?itemName=IBM.output-colorizer) have the same problem - I suspect whichever extension loads last overrides all the previous ex

[2018-10-24 14:49] BryanHunt opened #392 "Helm Package does not work"
When I choose Helm Package, I select the chart to package, and then a dialog opens that allows me to select a directory.  I select the directory, click ok, and I get:

[code]

[2018-10-24 16:38] itowlson commented on #392
Reproduced, fix in progress.  Thanks for reporting!

[2018-10-25 18:44] itowlson opened #395 "Something changed in CI and now everything is terrible"
CI PR builds have been failing for a few days with:

[code]

I re-ran the master and that (which previously passed) also failed with the same error.  This suggests something has changed in the CI environment and now no builds are passing.

I hate computers.

[2018-10-25 18:47] itowlson commented on #395
The first failure, a few days ago, was different:

[code]

Not clear whether the the `internalBinding` error is related to this - you would hope Travis was stateless but that doesn't always seem to be the case.

[2018-10-25 18:55] itowlson commented on #395
Looks like Travis is now running Node 11 whereas successful builds were done under Node 10.

cf. https://travis-ci.org/Azure/vscode-kubernetes-tools/jobs/444800374 (succeeded) vs. https://travis-ci.org/Azure/vscode-kubernetes-tools/jobs/446312678 (failed)

[2018-10-25 19:05] #395 closed

[2018-10-28 12:42] cmeyertons opened #397 "Make delete warning configurable or allow multi-delete"
Having to go through the UI and delete each item one by one is especially tedious with the warning that pops up

![image](https://user-images.githubusercontent.com/19917677/47616014-0558a080-da85-11e8-85b1-c10eb09813ba.png)

[2018-10-28 12:43] cmeyertons opened #398 "Delete does not trigger refresh"
When i delete a resource, i would expect a refresh on the pane to see my item was sucessfully deleted

[2018-10-28 20:18] itowlson commented on #397
I assume from context that this is deletion through the tree view?  The VS Code tree view doesn't appear to support multi-select at the moment, so multi-delete isn't going to be an option.

We could add something like an "Delete and don't ask me again" button but that feels like it could leave the user in a brittle position, where a slip later on could result in an unintended deletion.  We could g

[2018-10-29 11:04] cmeyertons commented on #398
ah good point -- any possibility to expand the refresh to just a node of the tree?  so for full refresh you would request the root node, and this gives better performance on other actions?  or is this a limitation of the VS code tree view?

[2018-10-29 11:07] cmeyertons commented on #397
thanks for the explanation!  yeah didn't think about the scenario where you flip the setting on and then 6 months down the road you accidentally delete something (bad news!)

I'm fine with you closing this one!

[2018-10-29 18:49] itowlson commented on #398
Yes, that's what I need to look at - I think we can pass a hint in the 'tree data has changed' event but I've not looked into the scope of that yet.  Per your issue about multiple deletion, we need to make the post-delete refresh really fast (like, entirely local, no kubectl call), otherwise multiple delete is going to get even more frustrating as you delete, wait for the kubectl call, delete agai

[2018-10-29 18:50] itowlson commented on #397
Thanks for being understanding.  I'll close this for now as you suggest, and if anyone gets any bright ideas then we can definitely revisit it!

[2018-10-29 18:50] #397 closed

[2018-10-31 08:18] tehho opened #399 "ResourceLimitsLinter should be optional"
Hi.

Could you implement a disabler for ResourceLimitsLinter?
Im not really interested in resource management for my pods and would like the green squiggles to go away.

Many thanks :)

[2018-10-31 12:32] cmeyertons opened #400 "Feature request: add stateful sets to the UI"
Currently, stateful sets are not implemented and it would be nice to see them in the UI

[2018-11-01 19:55] #392 closed

[2018-11-06 22:43] mjbvz opened #401 "Upgrade to VS Code's webview API"
Hi, I'm on the VS Code team. I noticed that your extension uses the `vscode.previewHtml` command which is deprecated and which we are actively working to remove: https://github.com/Microsoft/vscode/issues/62630

We've developed a [webview API][docs] that provides a much better developer experience and offers a number of important security and compatibility benefits over `previewHtml`. We cannot fi

[2018-11-07 00:09] derekssmith opened #402 "AWS EKS cluster gives 'error: You must be logged in to the server (Unauthorized)' error even when kubectl works fine"
I have used this extension in the past with Amazon EKS clusters, however after using the AWS cli to update the kube config file it no longer works.  I followed these instructions: https://docs.aws.amazon.com/eks/latest/userguide/configure-kubectl.html

kubectl works just fine, but when I try to view any of the resources in the extension it gives the following error: `error: You must be logged in t

[2018-11-07 18:58] derekssmith commented on #402
@itowlson thanks for the tips!  I was able to figure out my issue.  The problem had to do with the fact that I am using multiple AWS profiles on my machine.  I usually switch what AWS account I am using by running `export $AWS_PROFILE=<profile>`.

The [aws-iam-authenticator](https://github.com/kubernetes-sigs/aws-iam-authenticator) tool is used to authenticate to AWS IAM and get a token for commun

[2018-11-07 18:58] #402 closed

[2018-11-07 19:48] itowlson commented on #402
Thanks for the update - very glad to hear this is working, and appreciate you sharing the resolution for other AWS users.

[2018-11-07 21:08] itowlson commented on #401
What sort of timeframe does this need to be completed in?

[2018-11-07 21:09] itowlson commented on #401
Never mind, I see you're aiming for March/April with deprecation warnings in the dev environment arriving this or next month.

[2018-11-10 14:02] kohv commented on #192
What's the status with this issue? As of now, draft CLI doesn't support `watch`, and the only way to get this functionality is through vscode IDE. But it doesn't work if you want to use minikube docker context.

Maybe this plugin could have something like `"vs-kubernetes.draft-runbefore"` user setting where we can specify the `eval $(minikube docker-env)`

[2018-11-11 20:15] bhack opened #403 "Remote headers"
How intellisense could resolve remote headers of librariea installed in the container image build and so part of  the running pod?

[2018-11-11 20:18] itowlson commented on #403
I'm not quite sure what this is requesting.  Are you thinking about debugging into shared libraries that are on the container but for which the client does not have debugging symbols?

[2018-11-11 20:47] bhack commented on #403
I meant something like having a pod image where app dependecies headers are installed with i.e apt-get <librarypackage-dev> in the docker build phase. How intellisense can parse that headers that are image dependent and available only inside the pod filesystem. See also https://github.com/atom/atom/issues/14860#issuecomment-437638762

[2018-11-12 08:19] inwardmovement commented on #395
Same here, with error:

[code]

Nailing down Node version didn't fixed it...

[2018-11-12 18:16] itowlson commented on #395
Our CI appears still to be passing - is this for a local build of the extension?

[2018-11-14 17:16] bhack commented on #403
I've partially open another related ticket at https://github.com/Microsoft/vscode-cpptools/issues/2818.
But I think that the problem is more general and related to other libraries of other languages in the image (Dockerfile with apt, pip, conda etc.. RUN steps)

[2018-11-16 16:15] tomasaschan opened #405 "ConfigMap doesn't allow the value 'Yes' in config values"
The following config map
[code]
has a linting error on the `'Yes'` value, saying `Incorrect type. Expected "string".` I'm assuming it sees the string `yes` and tries to interpret the value as a boolean, but what if I *want* to interpret it as a string? How do I make that not an error?

[2018-11-17 13:50] iniside opened #406 "Right click on YAML file to create/delete/apply resource"
Hey

It would be nice to be able, to deploy various kubernetes resources without resolving to commands.
Current workflow is:
1. Open YAML file.
2. Ctrl+p
3. >Kubernetes: Create/Apply/Delete

It would be if we cloud also:
1. Find file in explorer.
2. Right click on it and pick from menu what we want to do with.

In some cases it is easier to look for file in tree and then just click on it instead o

[2018-11-18 19:45] itowlson commented on #406
A difficulty with doing this is that VS Code limits what we can go on in terms of choosing when to display the command in the menu.  We would pretty much have to put the Kubernetes actions on _all_ `.yaml` and `.yml` files, many of which will _not_ be Kubernetes resources.

We could possibly provide a config setting to turn this on or off.  By setting that at _workspace_ level instead of globally,

[2018-11-18 20:08] itowlson commented on #405
Thanks for flagging this.  We lean on the RedHat YAML extension for schema validation, so this may be out of our control.  Let me investigate further and raise it with the RH YAML folks if need be.

[2018-11-18 20:13] itowlson commented on #403
Yes, I think this is a broader issue, which I think is what initially confused me.  The server part of the debugger needs to provide this stuff, and the client part needs to be able to work with the provided symbols, but that's going to be very different from language to language and even implementation to implementation, and requires involvement from the debugger component not just the k8s compon

[2018-11-18 20:52] iniside commented on #406
Hey

Thanks for considering it :)

In my project I have mainly yaml files for interacting with kubernetes. So config option per workspace would work, without distrupting other people workflow.

[2018-11-18 21:07] bhack commented on #403
Yes probably we need to just verify here that the ports of the deployed object are opened in the dev/debug phase.

[2018-11-18 21:52] tomasaschan commented on #405
Yeah, I figured it might be so, but wasn't sure where to file the issue. Was in a bit of a hurry, so figured better pick one and get it written down :)

But feel free to move it and/or file a referencing issue there instead of this one.

[2018-11-24 06:55] lita opened #407 "Add Endpoints to the tree view"
Hello, I just installed the kubernetes extension and I noticed that I am not able to see the Endpoints Resources. I know I can get the same data in the Pod view, but it would be nice to see the Endpoint Resource of a service and get a collection of IP addresses. Maybe it exists and I am not seeing it? But  I still have to use `kubectl get endpoints` in order to get this view.

Thanks!

[2018-11-25 05:45] itowlson commented on #407
This sounds like a useful feature for a service.  We're a bit heads down getting ready for Kubecon at the moment but I'll aim to take a look at this when that eases off - do feel free to ping on this if there's no action on it.

[2018-12-01 21:55] jethr0null commented on #12
Hi all. @ipedrazas @itowlson I'm curious whether this integration is still being discussed. Would you mind sharing the current status when you have a moment? Many thanks for all the great work!

[2018-12-01 22:41] etsuo opened #408 "Config Lint Rules?"
It seems like there is a limited linter built into this plugin and it looks like it reports when a resource limit hasn't been set in a container spec. Is there a way to turn off all linting, or better yet, a specific rule? I end up with big blocks of distracting green squiggles when I'm mid way defining a new deployment and haven't gotten around to thinking about what resource limits I want.

I fo

[2018-12-02 06:35] brendandburns commented on #288
Closing this as obsolete. Please re-open if it is still occurring.

[2018-12-02 06:35] #288 closed

[2018-12-05 09:38] Ivers07 opened #410 "Error when 'Adding Container Support' to existing project"
Hi,

I'm trying the use of AKS for the first time and I am trying to continer support to an existing asp.net MVC solution. I have installed the extension but whenever i right click a project -> Add -> Container Orchestration Support and then select Kubernete/Helm i get the following generic error:

![image](https://user-images.githubusercontent.com/15321552/49504261-3640a800-f871-11e8-9caf-4db2047

[2018-12-05 19:31] itowlson commented on #410
Kia ora @Ivers07 - I don't think that message is coming from the VS Code Kubernetes extension.  The commands you're describing aren't part of the VS Code Kubernetes extension, and your screenshot looks like 'full' VS rather than VS Code.  Are you in VS Code, or Visual Studio 20xx?

[2018-12-05 23:10] itowlson commented on #410
I'm trying to get this routed to the appropriate team within Microsoft.  Bear with us!

[2018-12-06 00:48] brendandburns commented on #405
fwiw, looking at the spec, `Yes` is actually interpretted by YAML as a Boolean.

I think most parsers are a little flexible so it works, but the YAML schema validator is actually being true to the spec:

http://yaml.org/type/bool.html

I'm going to close this since I don't think we're going to do anything further on this issue....

[2018-12-06 00:48] #405 closed

[2018-12-06 00:49] brendandburns commented on #399
Fixed by #411

[2018-12-06 09:23] tomasaschan commented on #405
@brendandburns IIUC, `foo: Yes` should unambiguously be interpreted as a boolean, but `foo: 'Yes'` probably not?

[2018-12-06 10:33] AvdN commented on #405
@brendandburns That ``Yes`` is interpreted as a boolean is only for YAML 1.1, in the YAML 1.2 specification the examples with ``Yes``, ``No``, ``On``, ``Off`` (in the various casings combinations) were removed, although there still is a link in that document to the 1.1 list of types.
An up-to-date YAML parser (i.e. one updated after the release in 2009 of the 1.2 spec) should not interpret ``Yes``

[2018-12-06 14:01] mthalman-msft commented on #410
@Ivers07 - This issue belongs at https://github.com/Azure/dev-spaces/issues.  Can you please close this one and open a new issue there?  Ping me on the new issue you create as well.  We're working on making this error message more descriptive.  In the mean time, you can get more detailed info about the underlying error by attaching another instance of VS as a debugger and breaking on exceptions.

[2018-12-08 05:35] brendandburns commented on #410
Closing this issue, since we found the right home for it.

[2018-12-08 05:35] #410 closed

[2018-12-10 17:02] GJKrupa opened #414 "StatefulSet and DaemonSet missing from workloads in tree view"
The tree view supports a number of different Kubernetes workload types but StatefulSets and DaemonSets are missing from the list.

Environment:
Version: 1.29.1
Commit: bc24f98b5f70467bc689abf41cc5550ca637088e
Date: 2018-11-15T19:07:43.495Z
Electron: 2.0.12
Chrome: 61.0.3163.100
Node.js: 8.9.3
V8: 6.1.534.41
Architecture: x64

vscode-kubernetes-tools: 0.1.14

Ubuntu 16.04.5 LTS (x86_64)