[2020-04-07 02:21] itowlson commented on #672
Fixed via #700.

[2020-04-07 02:21] #672 closed

[2020-04-07 22:58] gorkem commented on #723
I have issued a small change to `CONTRIBUTING.md` which explains committers to the project https://github.com/Azure/vscode-kubernetes-tools/pull/729

[2020-04-10 09:57] ladipo commented on #615
Failed to determine minikube version: Error: Error checking for minikube updates: Access is denied.
why i am i getting this error on vs code

[2020-04-12 15:30] mattjanson commented on #724
Ok, I was able to create a solution for that problem similar to the nodejs one, so I would like to volunteer to work on that bug.
It would allow to define a variable inside the vs-kubernetes configuration in order to specify the code compilation root which is needed by the sourceFileMap.
The first solution would will not support autodetection but that is something I would like to investigate as we

[2020-04-14 01:10] raushan2016 opened #730 "kubectl plugin doesn't work for k8s.extension.kubectl.v1"
I am trying to use the kubectl plugin [kubectl-tree](https://github.com/ahmetb/kubectl-tree)
[code]
But it keeps complaining
[code]

[2020-04-14 01:19] raushan2016 opened #731 "resolveCommandTarget doesn't populated all the fields like metadata, resourceKind.apiName"
I have a resourceFolder defined like below. When my trigger my command for well known resource like `deployment` everything is populated. But when the same command is triggered for resource in the defined resourceFolder, it has **metadata** as `undefined` and **resourceKind.apiName** also as `undefined`

[code]

[2020-04-14 01:42] itowlson commented on #730
Very strange.  I'm trying the same sort of thing (albeit just calling `tree --help`) and it seems to be working okay for me...

[code]

[2020-04-14 02:07] itowlson commented on #730
Hi @raushan2016, thanks for being willing to help diagnose this.  Could you make the following changes to the `vscode-kubernetes-tools` `extension.ts` file please:

**Immediately above the `activate` function (around line 120-130):**

* Add the line `let APIB: APIBroker | null = null;`

**At the end of the `activate` function (around line 390):**

* Replace the `return` statement with:

[code]
**I

[2020-04-14 02:09] itowlson commented on #730
Umm, forgot to say, run `Kubernetes: Get` from the command palette to trigger the hacky debugging code!

[2020-04-14 02:35] itowlson commented on #730
Looks like this may be an OS-dependent issue - it seems to happen on Linux but not Windows.

[2020-04-14 19:51] raushan2016 commented on #730
Somehow the plugin was not available in PATH. Did bunch of restart and reload and its working now. We can close the issue.

[2020-04-14 23:13] itowlson commented on #730
Thanks for the update and for closing this off!

[2020-04-14 23:13] #730 closed

[2020-04-15 00:13] adriantorrie opened #732 "Kubernetes: Start minikube fails"
Error that pops up on VS Code:
`Command 'Kubernetes: Start minikube' resulted in an error (Cannot read property 'toLowerCase' of undefined)`

Within my `settings.json` I have the following (`<user>` is just a placeholder for this code snippet):
[code]
But if I call `minikube start` from terminal it works, using the path found in `settings.json`:
[code]

![image](https://user-images.githubuserconte

[2020-04-15 04:44] itowlson commented on #731
`apiName` should be fixed in the Cluster Explorer 1.1 API (merged but not yet published.  Working on ensuring `metadata` is always defined.

[2020-04-15 05:09] lstocchi commented on #725
Closing it as https://github.com/Azure/vscode-kubernetes-tools/pull/726 was merged

[2020-04-15 05:09] #725 closed

[2020-04-15 05:22] lstocchi commented on #683
Closing it as https://github.com/Azure/vscode-kubernetes-tools/pull/727 was merged. Feel free to reopen it if you still face this issue once this fix will be published. Thanks

[2020-04-15 05:22] #683 closed

[2020-04-15 05:53] 4ndt3s commented on #522
Same problem here.

[2020-04-15 09:22] lstocchi commented on #681
Gave a look at this and i don't think we can do much here as it's probably a VSCode issue.
This situation can be reproduced with all WebViews and everything works great with normal text-editors.
By looking at the HTML, this is what happen with a classic text-editor (when focusing the editor)
![focused-tab](https://user-images.githubusercontent.com/49404737/79318688-97699880-7f07-11ea-97c5-eb91b6c3

[2020-04-15 12:27] lstocchi commented on #684
@jcowhigjr sorry for the late response. Not sure if you solved this but the hover message is printed by heml itself. If you see that error message it is likely that the helm you are using is older than v3 (from v3 tiller is not used anymore and the init command has been removed so you should see a different message like `No repositories to show`).
To make the extension use your new heml 3.1 you ha

[2020-04-15 13:02] lstocchi commented on #684
@itowlson I can work on this but i need to know what is the plan here. I think the options are:
1. Right-click > Show Error Details -> open a MessageBox with details
2. Allow to click on the item and open a MessageBox with details
3. Both 1 and 2
4. ???

I have no preference. My initial idea was to add an icon to the right of the item with a `!` so user would be forced to hover that but i don't th

[2020-04-15 17:07] smirnov opened #735 "Failure to load extension due to missing 'yamljs'"
After installing the extension I'm presented with empty clusters window, updating or adding clusters is not functional, debug console lists following stacktrace:
[code]

VSCode version info:
[code]

[2020-04-15 21:06] itowlson commented on #684
@lstocchi Thanks! Either 1 or 2 is fine, so if you prefer 2 then go for that.  Maybe in that case put 'Click for details' in the hover message too?

[2020-04-15 22:46] #731 closed

[2020-04-16 07:43] lstocchi commented on #735
Hi @smirnov, might be a broken install. To fix it you can try to go either to the extension folder `..../.vscode/extensions/ms-kubernetes-tools.vscode-kubernetes-tools-1.1.1` and run `npm install` or try to reinstall everything -> unintall the extension, delete manually the folder, close VSCode, reopen and reinstall.

[2020-04-16 13:51] smirnov commented on #735
Thank you, it was indeed the case.

[2020-04-16 13:51] #735 closed

[2020-04-19 10:55] mattjanson commented on #724
I issued a pull request (#736 ) for a simple solution that should do the job at first, as mentioned in my last comment I would like to investigate a solution that is able to to a autodetection on a longer term.

[2020-04-19 21:35] itowlson commented on #732
Thanks - will take a look!

[2020-04-19 21:37] itowlson commented on #732
What is the output if you run `C:\\Users\\<user>\\.vs-kubernetes\\tools\\minikube\\windows-amd64\\minikube.exe status`?  Looks like the error you see could happen when we try to parse the result of that...

[2020-04-21 07:11] vacheli opened #737 "logs display too long"
Hi guys
I use "Follow logs" to watch application log, Some logs display too long.
![image](https://user-images.githubusercontent.com/5040231/79835708-c0939880-83e1-11ea-869b-63f75969359d.png)

[2020-04-21 07:45] Keksparade commented on #732
Same for me running on Linux: I (more or less) get the same error message for start, stop and status:
Error running command extension.vsMinikubeStop: Cannot read property 'toLowerCase' of undefined. This is likely caused by the extension that contributes extension.vsMinikubeStop.

Output of `minikube status`

[code]

My version of VS Code:
[code]

[2020-04-21 09:36] lstocchi commented on #732
I'm able to replicate it on Linux... I never noticed it as i always start minikube from the terminal but it fails here
`const hostStatus = result.stdout.split('\n')[0].split(': ')[1].toLowerCase();`
The first line is m01 so it fails when trying to get the first item after the second split.

[2020-04-21 13:29] milanjaros commented on #615
Everytime I have got this error, the following System error appears in Windows Event log:
[code]
According to Microsoft help, this should be ignored:
https://support.microsoft.com/en-us/help/4022522/dcom-event-id-10016-is-logged-in-windows

I have found advisement to fix it:
https://appuals.com/how-to-fix-the-application-specific-permission-settings-do-not-grant-local-activation-permission-for-the

[2020-04-21 19:56] zdog234 opened #739 "Attach Visual Studio Code not working (WSL)"
Hi, I'm running vscode w/ remote-wsl. I've got the kubernetes and remote-containers extensions installed, and almost everything seems to work (I can right-click on a pod and click "get", and a terminal pops up and runs `kubectl get ...`.

However, when I right click on a pod and then "Attach Visual Studio Code", nothing happens. I figure I'm probably missing some necessary setup, but I can't find

[2020-04-22 00:38] itowlson commented on #739
Is the `Debug (Attach)` command provided by the Kubernetes extension, or a separate `Attach Visual Studio Code` command?  If the latter, that might be contributed by remote-containers - I don't think it comes from us.

[2020-04-22 00:41] itowlson commented on #737
Is this because the actual log message is indeed very long, or do you suspect we're joining lines together?

If the actual log message is very long, what is the desired behaviour?  We should be careful about word wrapping because that could make it look like one log line is several distinct messages, but perhaps worth considering....

[2020-04-22 06:35] adriantorrie commented on #732
Pre manual start via terminal:

[code]

Post manual start via terminal:

[code]

[2020-04-22 12:23] milanjaros commented on #615
The file `%userprofile%\.vs-kubernetes\tools\minikube\windows-amd64\minikube.exe` failed to run with error "The specified executable is not a valid application for this OS platform."
I downloaded [latest minikube](https://github.com/kubernetes/minikube/releases/latest), replaced the `minikube.exe` and voilà it started to work.

[2020-04-22 13:50] vacheli commented on #737
Similar kubectl logs -f, that can be displayed in new line for easy viewing. It really takes a long time to view the log when it is very long.

[2020-04-22 21:17] karlrissland opened #740 "error (command 'extension.vsKubernetesConfigureFromCluster' not found)"
Issue Type: <b>Bug</b>

Opened visual studio code
Clicked on the Kubernetes Icon on the left
Clicked ... in the clusters group
Selected add existing cluster
---- nothing happened
ctrl-shft-p
used add existing cluster
---- get an alert stating that 'Kubernetes: Add Existing Cluster' resulted ni an error (command 'extension.vsKubernetesConfigureFromCluster' not found)

I removed and reloaded the ext

[2020-04-22 21:30] karlrissland commented on #740
NOTE: playing around a little more, discovered that the kubernetes element in settings.json was existed and was empty even after uninstalling the extension.  Completely removed the kubernetes entry in the settings file for both the workspace and the user.  Reinstalled the extension and it appears to be working now.

[2020-04-22 21:40] itowlson commented on #740
Super weird that an empty config setting could cause this behaviour but thank you for taking the time to investigate and to let us know the outcome!  Glad it's working now!

[2020-04-22 23:53] abishD opened #741 "Cannot set kubeconfig file in Cluster."
Issue Type: <b>Bug</b>

With the latest update in VS Code to 1.44.2, I cannot set the kubeconfig file. This was not an issue in VS Code 1.44.0/1

Steps to reproduce,
1) In the Kubernetes extension, open the cluster tray.
2) Hover on the left side of the cluster bar, click on the three hortizontal icons
3) Select the 'Set Kubeconfig' option, No options arises to actually set the file.

This is only

[2020-04-23 02:02] raushan2016 commented on #741
Looks like when we click on `Set Kubeconfig`, in the vscode settings `vs-kubernetes.kubeconfig` gets a json value rather than a string.
[code]

@abishD I mitigated it by manually removing this and manually adding the kubeconfig file path in the settings.json.

![vscodeissue](https://user-images.githubusercontent.com/44377286/80050750-05b0eb00-8506-11ea-9822-a090ebfd1e37.gif)

[2020-04-23 02:18] itowlson commented on #741
This is super weird.  Looks like VS Code is invoking the command handler with an object of the form `{ isTrusted: true }` when previously it passed nothing.  Why would it suddenly start doing that?  So strange!

[2020-04-23 02:27] itowlson commented on #741
Looks like an unintended change in VS Code (though other people report it in 1.44.0 as well).  @abishD  I don't know when/if the Code folks will fix it - I will add a patch but for now please use @raushan2016's workaround.  https://github.com/microsoft/vscode/issues/94872

[2020-04-23 02:54] abishD commented on #741
Thank you @raushan2016, that was a good catch. I was able to set the kubeconfig manually via the settings.json as you mentioned.

Thank you @itowlson for linking & reporting it. This works for me so that's alright.

[2020-04-23 08:11] TBBle opened #743 "Extension causes high CPU load"
Issue Type: <b>Performance Issue</b>

Just on startup

Extension version: 1.1.1
VS Code version: Code 1.44.2 (ff915844119ce9485abfe8aa9076ec76b5300ddd, 2020-04-16T16:36:23.138Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-6300U CPU @ 2.40GHz (4 x 2496)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>flas

[2020-04-24 02:41] #741 closed

[2020-04-24 02:44] #732 closed

[2020-04-27 07:41] loligans opened #745 "Expose VSCode command for picking a Kubernetes Pod"
It would be nice if a vscode command was exposed to pick the minikube pod.

Something like: `${command:extension.vsKubernetes.pods}`

[code]

[2020-04-28 03:06] itowlson commented on #745
This is really interesting.  How do you see the user experience here - is it interactive?  E.g. the command displays a popup listing all (?) pods in the current namespace, and then returns the selected one (or undefined if the user cancelled)?

[2020-04-28 06:53] loligans commented on #745
@itowlson I envision it similar to how the existing `Kubernetes: Debug (Attach)` functionality works. It would present itself when the user chooses to start a Debug session.

![image](https://user-images.githubusercontent.com/3218210/80456187-05d43080-88e2-11ea-965f-07639ab87892.png)

The user simply chooses a `pod` and it populates the `launch.json` field. If they cancel the operation ideally it

[2020-04-28 07:51] lstocchi commented on #647
Closing it as https://github.com/Azure/vscode-kubernetes-tools/pull/686 was merged

[2020-04-28 07:51] #647 closed

[2020-04-29 08:39] veton commented on #573
Fixed this by adding
[code]
to the bottom of my vscode `settings.json`:
`File > Preferences > Settings >> Text Editor > Files > Files: Associations`

[2020-04-29 20:05] loligans commented on #745
It seems like this bit of code would need to be turned into a command: https://github.com/Azure/vscode-kubernetes-tools/blob/50bedbff92dca38bb8c6aefe4aca0e3f9c9005e2/src/debug/debugSession.ts#L209-L239

[2020-05-01 17:47] tedohayer opened #747 "Can't Use 'Preview Template' with Helm 3 / "Failed template call Error: unknown flag: --execute""
I'm unable to use 'Preview Template' in Helm 3.2.0. According to [this issue](https://github.com/helm/helm/issues/5887) the `--execute` flag was removed in Helm 3 and replaced with `--show-only`.

The normal 'Helm Template' option works, I just prefer the preview window.

[2020-05-02 00:14] shreyu86 opened #748 "Feature Request: Helm Context Menus"
It would be great if there are context menus on Helm Resources.
Currently `Helm Releases` lists helm releases it would be really useful to have context menus like `Status`, `History`, `Rollback` `Uninstall` in the context menu of a helm release.

Happy to submit a PR for this if this is something that would be considered helpful.
If there is interest in adding the context menus, what would be a go

[2020-05-04 00:42] itowlson commented on #747
Hmm, when I asked the Helm folks about this, they told me that `execute` had been removed, not just renamed.  Maybe they brought it back later in the dev cycle under the `--show-only` name.  @bacongobbler can you shed any light please?

[2020-05-04 00:54] itowlson commented on #748
I would love to see a PR for this - thanks!

In terms of where to start, not sure if you are asking about which command(s) to start with, or the technical aspects.  You've already done a lot of work on this extension already, so I'm guessing the former, because you probably know your way around the technical side!  (But happy to offer guidance if you do want it.)

I agree it would be best to PR ju

[2020-05-04 01:40] bacongobbler commented on #747
The latter :) it was re-introduced as `--show-only`. The internals were refactored, but the input and output remains the same.

To further clarify, -execute would render only the specified template. This caused design issues when other template files defined helper templates. -show-only now renders the entire chart, but only displays the specified rendered templates as output. The net result is th

[2020-05-04 02:11] shreyu86 commented on #748
Thanks for the pointers @itowlson I will start with uninstall as the first context menu to add which gets me up to speed on the extension code base again once I gather feedback on the uninstall release function I can add rollback (I have a WIP for that struggling with `showQuickPick`)

[2020-05-04 02:13] shreyu86 commented on #748
opened https://github.com/Azure/vscode-kubernetes-tools/pull/749 as the first PR for the Helm context menus

[2020-05-08 09:47] akashperfect commented on #724
Hi @itowlson is this issue fixed because when I am trying I am getting this error `Unexpected token m in JSON at position 16` from what I guess its coming from this [line](https://github.com/Azure/vscode-kubernetes-tools/blob/50bedbff92dca38bb8c6aefe4aca0e3f9c9005e2/src/debug/dotNetDebugProvider.ts#L54)

For referance this is what I have in my settings.json
[code]
and my workspace folder path is `

[2020-05-09 02:30] emangual commented on #669
@itowlson  Just starting to get into kubernetes myself. Here is a sample that might help.

[code]
Reference: [Kubernetes Replicaset](https://kubernetes.io/docs/concepts/workloads/controllers/replicaset/#example)

[2020-05-09 07:01] aelij commented on #648
In addition, it would be helpful to see the output of kubectl in case of failure.

[2020-05-10 16:01] msolano00 commented on #359
I still see this issue.

[2020-05-11 04:44] shreyu86 commented on #748
For Helm release rollback I experimented with two implementation.
1.[Implementation with `showQuickPick` ](https://github.com/shreyu86/vscode-kubernetes-tools/tree/helm-rollback)
2. [Implementation with Helm history as a new node (child of Helm release node)](https://github.com/shreyu86/vscode-kubernetes-tools/tree/exp2)

Here is how the implementation1 look like:

![impl1-lr](https://user-images.

[2020-05-11 21:57] shaunc opened #752 "Environmentment variable for cluster access"
Accessing a remote cluster requires that I have an environment variable set. Is there a way to accomplish this, or could a configuration option be added?

[2020-05-12 07:39] lstocchi commented on #748
Difficult choice as they both make sense to me.
I vote for the first (quickpick implementation) just for one reason. In the tree we currently show only items that have been actually created/deployed on the cluster. By showing all versions of a chart in the children nodes makes me think it can create confusion. A user could not know which is the current version used for that chart.

[2020-05-12 07:51] lstocchi commented on #359
Reopening to investigate more on this. Maybe we broke something in the new releases?

[2020-05-12 18:39] shreyu86 commented on #748
@lstocchi agreed I cannot decide which way to go either. Option #2 made more sense to me as it displayed all the releases in the context with the deployed, superseded labels. Is there anything we can do to improve both options and to get more feedback and pick the option to go with?

[2020-05-13 14:00] lstocchi commented on #748
Let's wait some day and see if @itowlson answers, maybe he already have an idea on this. I guess he's very busy so hopefully beginning next week he will come back. I'll ping him.

[2020-05-13 17:02] shreyu86 commented on #748
@lstocchi Thanks for the feedback, I have opened https://github.com/Azure/vscode-kubernetes-tools/pull/753

[2020-05-16 01:58] jupacaza commented on #740
I tried this but did not work. Still can't use the Kubernetes extension.

[2020-05-16 12:06] lstocchi commented on #740
@jupacaza sorry to hear that but I really don't know how to help you without any other infos. I'm not able to replicate it.

Do you see any error/log if you open the developer tools console (Help -> Toggle Developer Tools)? How did you install VSCode? There are ppl who installed it using snap and it gives them issues because of some permission.

Can you verify you have installed the RedHat's YAML

[2020-05-17 21:42] itowlson commented on #740
@jupacaza Can you provide a list of other installed extensions?  Also, can you look in the VS Code Output pane, drop down the channel list near the top right of the pane, and look in the `Log (Extension Host)` channel, and see if there are any messages from around the time you tried to run the command.  Thanks!

[2020-05-19 18:27] trhumphries commented on #724
We're also having this issue is there any update. A working example of how to populate the vs-kubernetes.dotnet-source-file-map  setting might be a big help

[2020-05-21 08:54] lstocchi opened #757 "Reorganize the clusters tree"
I had a meeting with one guy in my team (he is working on the kubernetes plugin in IntelliJ) and we discussed about how to reorganize better the clusters tree to reduce the confusion in it.

It often happens that the clusters tree is filled in with context nodes belonging to the same cluster that only differ for their namespace or user.

An example is the image below

![image](https://user-images.

[2020-05-21 09:29] lstocchi commented on #724
@trhumphries two PR were merged regarding this issue so it should be fixed now and it will be available from next release https://github.com/Azure/vscode-kubernetes-tools/pull/736 and https://github.com/Azure/vscode-kubernetes-tools/pull/754 . If you need it now i would suggest to create your own vsix from the master branch or i can do that and give you a link to download it. Let me know.

[2020-05-21 10:19] lstocchi commented on #757
I have just found out a similar issue existed https://github.com/Azure/vscode-kubernetes-tools/issues/721. The only difference is that in their proposition they completely omit the user info and they group all inactive clusters together. Adding it here so we can keep the discussion on one single channel

[2020-05-21 11:40] lstocchi commented on #627
I tried to reproduce it with different clusters without any success. @dacapoday are you able to replicate it with the new extension? Maybe it was solved somehow. Thanks

[2020-05-21 13:45] squillace commented on #757
This is a great thing to work on. What are the user scenarios here? We want to enable features for everyone, though almost everyone also optimizes for themselves and _not others_. :-)

So I'm thinking a dev needs `kubectx/kubens` functionality. And almost all high-density devs flip back and forth but never, EVER view large numbers of contexts in the fashion you show above. YES, of course YOU might

[2020-05-21 22:13] gorkem commented on #757
How about moving the context list and hence context switching out of tree. Basically tree shows the resources for the currently selected context only. For context listing and switching we can do something similar to what `git` extension does for branches.
![branch](https://user-images.githubusercontent.com/82738/82611482-9d9a0700-9b8e-11ea-8585-6fdf8fca6285.gif)

[2020-05-21 22:26] squillace commented on #757
I like this suggestion, quite a bit. We'd have to solicit feedback from the downstream users on the extension API, but it would enable
1. intense focus on only one set of resource
2. quick viewing and selection of others
3. wordwheel searches for long, long lists of potential contexts

@itowlson wyt?

[2020-05-22 05:18] lstocchi commented on #757
I like this idea as well. It also gives us the freedom (if we decide to do that) to create different selections (all contexts, only namespaces from current cluster, only clusters) so to replicate what happens with `kubectx/kubens` functionality. Users can then choose which one to use based on their needs or their preferences.

BTW +1

[2020-05-23 02:07] philomory opened #759 "gotpl syntax highlighting doesn't work if any literal text precedes it"
![image](https://user-images.githubusercontent.com/200123/82719289-dd232a80-9c44-11ea-9b4e-850a3f9878f6.png)

As stated, the highlighting of gotpl (e.g. `{{ ... }}`) blocks doesn't work if it's preceded by any literal text (subsequent literal text seems fine).

Document:
[code]

There's nothing special about the map keys I used; in fact it doesn't have to be a map at all, the same problem occurs i

[2020-05-24 14:37] brpaz opened #760 "Allow to disable built-in snippets"
While the basic snippets are useful, they activate for every yaml file which is annoying. It would be nice to be able to disable the built-in snippets by default and only enable for a specific project or file patterns.

[2020-05-24 15:48] brpaz commented on #760
Sorry. I just found out that I had other Kubernetes extension where the snippets were coming from.

[2020-05-24 15:48] #760 closed

[2020-05-27 21:34] #747 closed

[2020-05-27 22:41] #684 closed

[2020-05-29 10:52] DeanPH opened #761 "Double Click to set Context and Namespace"
Hi,

Can a configurable option be added that allows you to double click a context or namespace and it would set it as active. I switch contexts as often as I change directories and it becomes cumbersome to right click "Set as Current Cluster" or "Use Namespace".

Is this already possible by mapping keybindings?

Thanks!

[2020-06-01 02:16] dacapoday commented on #627
Problem has been solved

[2020-06-01 02:16] #627 closed

[2020-06-01 10:15] lstocchi commented on #627
@dacapoday Thanks for having verified it.

[2020-06-01 20:26] tvvignesh opened #762 "Tips for using the extension when running Bastion Hosts"
Hi. This extension worked really well when my Kubernetes Cluster was public. But recently, I have migrated to Private Kubernetes cluster with even masters not accessible from public.

The only point of access is through SSH via a Bastion VM. In such cases, may I know how I can still use this extension when I am using a jump server to connect to my cluster?

Thanks.

[2020-06-01 21:44] itowlson commented on #762
For the most part, the extension invokes `kubectl` to do its work.  So if `kubectl` is able to see the cluster then the extension should be able to as well (except a few bits that need to hit the API directly).  What is your configuration - you need to ssh to the jumpbox and run kubectl there?  Are you able to install VS Code Remote on the jumpbox?  If so, I believe you can run the VS Code UI on y

[2020-06-01 21:56] itowlson commented on #761
Unfortunately, no.  VS Code doesn't allow us to customise the double-click behaviour.

https://github.com/microsoft/vscode/issues/39601

The closest alternative I can think of would be to provide a similar experience to the 'switch kubeconfig' one, where you can have a set of favourites that you can switch between using a palette command, and where you can also keybind specific kubeconfigs that yo

[2020-06-01 21:57] tvvignesh commented on #762
@itowlson Thanks a lot for your quick reply. While I should be able to use VSCode Remote on the jumpbox, wanted to know how I can set this up not just for my use but for multiple developers like me. Should I be doing some sort of ssh forwarding for Kubectl?

I am thinking of using Google Cloud IAP and use this Terraform module to connect to the Bastion Host via IAP (https://github.com/terraform-go

[2020-06-01 22:01] itowlson commented on #752
Can you clarify?  If the cluster is in your kubeconfig then it should accessible through the extension. What do you mean by 'remote'?  (E.g. we use it for clusters in Azure all the time.)  What is the environment variable you find you need to set?

[2020-06-01 22:03] itowlson commented on #748
Aaugh, sorry everyone for not being around.  Thank you both for pushing ahead with it - this looks great!

[2020-06-01 22:14] DeanPH commented on #761
Damn ok. What about setting a custom configurable keybinding that when pressed would run the command to "Set as Current Cluster" or "Use Namespace"? So I have a list of 10 clusters listed, I would highlight the one I would want then use option+shift+u to set it as my current cluster or highlight a namespace and it would run "Use Namespace". Even if they need to be separate keybindings, that would

[2020-06-01 22:25] shreyu86 commented on #748
@itowlson no worries. Keeping this open to add documentation, I should be able to open a PR sometime this week, if that is okay.

[2020-06-02 00:17] itowlson commented on #761
You can already set up those keybindings, and I think you can even use the same keybinding by setting an appropriate `when` expression... BUT they don't seem to get passed the tree node - so they exit without doing anything, which is entirely useless.  And I'm not sure how to get VS Code to pass the active tree selection to the command handler.  I'll keep looking though...

[2020-06-02 00:26] itowlson commented on #762
I'm not familiar with Bastion Hosts so I would need to do some research and testing and I can't make any promises when I could do this.  What I can tell you is:

* Most of the extension just needs to invoke `kubectl`.  So what you need is a viable `kubectl` on the box where the extension is running.
* If you can configure `kubectl` on your team's machines to tunnel via the jumpbox (by whatever mea

[2020-06-02 03:03] itowlson commented on #759
Sorry for the slow response on this - we'll take a look.  Thanks!

[2020-06-02 03:49] tvvignesh commented on #762
@itowlson Sure. I will give it a try. Thanks a lot for your elaborate reply. You may close this issue :-)

[2020-06-02 17:36] lstocchi commented on #762
No i don't have any experience with it :(
@tvvignesh let us know if you find a way to make it work otherwise we can investigate about it ;)

[2020-06-02 17:48] lstocchi commented on #761
@itowlson I'm not sure if it's worth finding a way to pass the active tree selection to the command handler if we change how the tree is created/shown. Look at https://github.com/Azure/vscode-kubernetes-tools/issues/757 .
It would work like @DeanPH said. The user would run a command (with a keybinding) that would list the contexts or namespaces or clusters (depending on the command run??) and the

[2020-06-02 19:47] squillace commented on #762
It's basically Jumpbox as a service in Azure. Because the extension is kubernetes-centered and doesn't contain any distribution dependencies or cloud dependencies beyond those required to run (for example, VS Code!!!!), the thing to figure out is how to make kubeconfig itself be able to hit the cluster. You do that, and the extension can do it.

BUT if there's a special thing you have to do with A

[2020-06-03 04:28] itowlson commented on #617
cc @Tatsinnit

[2020-06-03 04:42] akashperfect commented on #724
@lstocchi what are the steps to create the vsix and any dates finalized on when will the next release be available.

[2020-06-03 04:48] itowlson commented on #724
@akashperfect To build the VSIX, install the `vsce` tool and run `vsce package`.

https://code.visualstudio.com/api/working-with-extensions/publishing-extension

@lstocchi Shall I cut a release tomorrow?  Any concerns/things you want more testing on/things you want to wait for/...?

[2020-06-03 12:19] lstocchi commented on #724
@itowlson i don't have anything pending so we could make a release tomorrow.

There are two PRs that could potentially be merged https://github.com/Azure/vscode-kubernetes-tools/pull/704 and https://github.com/Azure/vscode-kubernetes-tools/pull/586. Don't know if you want to give a look and merge them before a new release.

[2020-06-03 21:35] Tatsinnit commented on #617
⛩️ 👍 Cool, Yeah, I will start playing with this one today or tomorrow. I have not spend time in this extension but will be fun to dig deeper in this, will loop back **or** defo DM you as well to get the whole things more clear or lets ping-pong on teams anyways when you are free. Thank you :)  (Feel free to assign it to me)

[2020-06-04 00:36] itowlson commented on #724
Thanks!  I'm going to leave #586 to be a release all by itself because it scares me and I want to be able to roll back quickly and without further impact.  I'll see if it's quick to fix the conflicts in #704 and take it if I can.

[2020-06-04 04:29] itowlson commented on #724
Release is now out with the changes @lstocchi mentioned.  @akashperfect @trhumphries let us know if you still see problems after getting the 1.2.1 update.

[2020-06-04 05:26] akashperfect commented on #724
Yeah its working great now Thanks.

[2020-06-04 07:39] lstocchi commented on #724
Cooool :+1:

Closing here then. Feel free to reopen this issue if you face it again.
Thank you everyone!!!

[2020-06-04 07:39] #724 closed

[2020-06-04 08:25] lstocchi commented on #593
Closing it as https://github.com/Azure/vscode-kubernetes-tools/pull/704 was merged and it is now part of the new version 1.2.1. Feel free to reopen this if you still face any problem with the autoscrolling :)

[2020-06-04 08:25] #593 closed

[2020-06-04 08:28] lstocchi commented on #460
Autoscrolling was fixed by #704. Closing this for now.
@finsterdexter let us know if you still face any issues with it. Thank you!!

[2020-06-04 08:28] #460 closed

[2020-06-04 08:36] lstocchi commented on #155
This should be fixed by #756 and it is now part of the new release 1.2.1. Closing it.
You can find some more infos [in the documentation](https://github.com/Azure/vscode-kubernetes-tools/blob/27882d74f49c73062b818982eca198bf91d4821f/debug-on-kubernetes.md#7-nodejs-debugging).
If you still face any issues with it let us know and/or feel free to reopen it. Thank you :)

[2020-06-04 08:36] #155 closed

[2020-06-04 08:38] lstocchi commented on #183
This should be fixed by #756 and it is now part of the new release 1.2.1. Closing it.
You can find some more infos [in the documentation](https://github.com/Azure/vscode-kubernetes-tools/blob/27882d74f49c73062b818982eca198bf91d4821f/debug-on-kubernetes.md#7-nodejs-debugging).
If this is not what you were expecting or you think we still need to improve the debug for nodejs app let us know and/or fe

[2020-06-04 08:38] #183 closed

[2020-06-04 23:59] tvvignesh commented on #762
Thanks a lot for all your replies. I am trying it out. Will reply back to this thread soon with the solution I think would be optimal soon.

[2020-06-05 05:20] tvvignesh commented on #762
@itowlson @lstocchi @squillace After a lot of research and testing, found out an elegant and secure way to do this (While this was tested in GKE, it should be applicable to other cloud providers as well except for the gcloud command). Providing the instructions below.

This allows kubectl to access the GKE cluster through bastion host running behind IAP.

# Inside the bastion host

## Start kubect

[2020-06-05 05:37] #762 closed

[2020-06-05 11:45] adamrushuk opened #764 "Add menu item collapse all button"
It would be really useful if we could add a "collapse all" button, with the same functionality as the core vscode explorer "Collapse Folders in Explorer" button.

When I'm looking around a cluster expanding multiple resources etc, the view can quickly get busy, so would be great to reset the view to default.

Another similar improvement could be right-click "Expand all" to recursively expand all r

[2020-06-05 11:51] adamrushuk opened #765 "Add option to limit log output to previous x mins"
Follow Logs and Show logs are great options, but sometimes there are too many logs, so it would be useful to limit the output to previous 5 mins for example.

Basically passing `--since=5m` to kubectl, eg: `kubectl logs -f deployment/nginx --all-containers=true --since=5m`

[2020-06-07 20:11] itowlson commented on #762
Glad to hear this is now working for you @tvvignesh!

[2020-06-07 21:55] Tatsinnit commented on #617
🏗️ 💡 :  **Working at this end with minor delay** Had a quick play around and though I will loop back for a behaviour I notice. It seems like there is a visible delay of some sort essentially it will consistently start working once you have fist time load resolved:

📓 For folks who might have consistent failure: it might be worth to describe exact replication along with the permission level which m

[2020-06-07 22:51] itowlson commented on #617
I'm seeing the same thing - dashboard comes up but the dashboard account doesn't have permissions. So different symptoms... but the result is the same from the user's point of view.  How does `az aks dashboard` do this?  Should we call `az aks dashboard` instead of using the port forwarding approach?  @bnookala

[2020-06-07 22:53] itowlson commented on #617
Correction: `az aks browse` not `dashboard`.

[2020-06-07 23:28] itowlson commented on #761
Suggestion from the VS Code folks: "This unfortunately won't work "out of the box", but you can set it up. You would need to have a command registered to handle this case explicitly, so that you have access to your custom tree and then can pass `TreeView.selection` into the handler."

But yeah this may become moot if we change the tree layout.

[2020-06-10 22:43] bnookala commented on #617
yeah, I'm curious if the annotations that we select for to determine if the cluster is AKS has changed as well - [this](https://github.com/Azure/vscode-kubernetes-tools/blob/29e59d593118e081cddd3559d9f16118ea378f01/src/components/kubectl/dashboard.ts#L52) would be a good starting point.

[2020-06-12 12:31] bkmeneguello commented on #682
I had this issue today, the naive diff is barely usable. Make use of Kubernetes diff is a must.

[2020-06-12 12:44] bkmeneguello commented on #682
I suppose it should be simple to modify [extension#diffKubernetesCore](https://github.com/Azure/vscode-kubernetes-tools/blob/e692354159d038d308546a295703984e7be5b1fe/src/extension.ts#L1641) to make use of ```kubectl.invokeCommandThen(`diff -f ${fileUri}`, ...)```

[2020-06-15 00:44] Tatsinnit commented on #617
💡 interesting: It's similar behaviour for `az aks browse` for me: Screenshot below:

cc: @itowlson

<img width="1656" alt="Screen Shot 2020-06-15 at 12 42 27 PM" src="https://user-images.githubusercontent.com/6233295/84608305-e763dc00-af05-11ea-97a7-d51f6df2aae6.png">

[2020-06-15 02:00] itowlson commented on #617
I guess this is working as well as the AKS dashboard allows then.  Folks who have confirmed this bug - is it still happening for you?  Do you get the orange permissions screen?  Or nothing at all?

@Tatsinnit off topic for the k8s extension, but it might be good to talk to the AKS folks and find out if the orange permissions screen is 'working as designed' or if something is awry...

[2020-06-15 09:16] joernchen opened #768 "Security Contact"
Hi,

I'd like to file a security relevant issue in this extension and couldn't find a suitable way to do so.
Is there a preferred (and confidential) way of submitting more details?

[2020-06-15 21:54] Tatsinnit commented on #617
Sounds good and here is quick update: I have found something interesting mentioned in `az aks` behavior. 🦺 Beside other confirmation from OP for extension side of things, **re**: `az aks browse` command 💡 This behavior looks very similar to this here: https://github.com/Azure/AKS/issues/601  , hence I have reached out to the folks for confirmation. thanks.  cc \ fyi: @itowlson

[2020-06-16 21:01] philomory opened #769 "Orphaned kubectl.exe processes on Windows"
# Description
For each VS Code window, the first time you open a YAML file, a bunch of `kubectl` processes spawn; most of them quickly exit again, but one (invoked as `"C:\ProgramData\chocolatey\lib\kubernetes-cli\tools\kubernetes\client\bin\kubectl.exe" proxy --port=0"`) persists. In fact, it persists even after the associated VS Code window has been closed, and indeed after all vscode processes

[2020-06-17 01:32] gildas opened #770 "Kubernetes command failed"
I use kubectl on my Linux Mint box via snap.
I run microk8s (still via snap) locally as well as using remote k8s clusters (Azure, Docker for Mac remotely, etc).
I run helm also via snap.
So, my snap list looks like (snippet):
[code]
Note that I have a `~/.kube/config` with several clusters, all work fine from the shell.

I decided to give `vscode-kubernetes-tools` a spin.
After installation when y

[2020-06-17 17:03] lstocchi commented on #770
Thanks for opening this issue @gildas. We received other issues similar to this and it seems that VSCode installed with snap comes with some permissions problem. I wasn't able to replicate it before but i never tried with Linux Mint. I'll let you know if i find a solution to this.

[2020-06-18 10:48] lstocchi commented on #770
@gildas I was able to replicate it and i think i have a fix (#771) . Would you please try it and see if it works for you?

You can install the extension by using a vsix file.
I created it (download link: https://github.com/lstocchi/vscode-kubernetes-tools/raw/master/vscode-kubernetes-tools-1.2.1.vsix ) or you can build it by yourself (you can use this branch https://github.com/lstocchi/vscode-kube

[2020-06-18 10:49] lstocchi commented on #522
Hello everyone,
I was able to replicate it and i think i have a fix (#771) . Would you please try it and see if it works for you?

You can install the extension by using the vsix file.
I created it (download link: https://github.com/lstocchi/vscode-kubernetes-tools/raw/master/vscode-kubernetes-tools-1.2.1.vsix ) or you can build it by yourself (you can use this branch https://github.com/lstocchi/v

[2020-06-19 01:43] gildas commented on #770
@lstocchi I installed the extension from the download link you gave me.

And I still get the `Kubectl command failed: ` even after setting the flag:
[code]
I restarted vscode entirely after setting it, just to be sure.

[2020-06-19 07:58] lstocchi commented on #770
Thanks heaps for the test @gildas . Before to give up on this solution, could you please close vscode before to install k8s tools again? It happened to me that it cached the old extension (the one i was deleting) and even if i installed a new version the old code got executed.

So doing something like, open vscode (better if you have only one window of this) -> delete k8s tools (it may ask to relo

[2020-06-19 13:35] dholbach commented on #522
[code]

[2020-06-19 15:45] gildas commented on #770
ok, it is working.
I had to kill the code instances that stay around when you install the vsix (I thought code would actually quit after installing it, but no).
Then I restarted and I can see all my k8s clusters.
So, I think it is working now.

[2020-06-20 09:42] lstocchi commented on #770
Yeah i know, it's very annoying that one needs to kill all code instances.
I'm glad it's working now :) Please let us know if you find some other bug. We don't have much experience with snap so I don't know if there are other limitations by using it.
Thank you again for your help.

[2020-06-21 22:10] itowlson commented on #770
For future reference... Revving the version on a test drop sometimes makes VS Code better about not using its cached copy.

Sometimes.

![](https://ih1.redbubble.net/image.12221539.0293/sticker,375x360.png)

Anyway glad this is working for you and thanks heaps @lstocchi for figuring this out!

[2020-06-21 22:12] itowlson commented on #522
@dholbach Sometimes VS Code caches the marketplace version of an extension (particularly when a test VSIX has the same version number).  Could you try once more with the instructions at https://github.com/Azure/vscode-kubernetes-tools/issues/770#issuecomment-646497892 please?  Thanks, and appreciate your help and patience.

[2020-06-22 07:24] dholbach commented on #522
![Screenshot from 2020-06-22 09-21-34](https://user-images.githubusercontent.com/1346979/85259721-cfdaa500-b469-11ea-9954-3b83144473f5.png)

This is on Ubuntu 20.04 with code (`cd9ea648`) and minikube v1.11.0 and a 1-node cluster (v1.18.3) up.

[2020-06-22 07:25] evidolob opened #772 "Provide extensions recommendation based on installed CRD"
`vscode-kubernetes-tools` can provide recommendation to install extensions base on current k8s  cluster CRS's.
This mostly the same as [Workspace recommended extensions](https://code.visualstudio.com/docs/editor/extension-gallery#_workspace-recommended-extensions), but instead of letting user configure that we can provide recommendation list.

Requirements:

- Flow and behavior is mostly the same

[2020-06-23 02:45] vacheli opened #774 "Follow logs or Show logs is always displaying loading"
Follow logs or Show logs is always displaying "loading..." when Pod don't have any logs.

[2020-06-23 08:26] anewton1980 opened #775 "AWS EKS oles"
Hi
To access my AWS EKS cluster I have to switch roles so I have multiple profiles setup for my cli to use, does this extension work with switching profiles to access different accounts?

[2020-06-23 09:00] lstocchi commented on #775
Hi @anewton1980 , i never used AWS EKS cluster so maybe there is something i'm not aware of but i think the best way would be to create multiple contexts in your kubeconfig (with different users/roles for the same cluster) and switch them using the extension.

[2020-06-23 10:36] lstocchi commented on #772
What do you think @itowlson ?

[2020-06-23 16:21] lstocchi commented on #522
Thanks for the feedback @dholbach. It looks to me that we made some progress, right? At least you can see the cluster and its resources now, or you were able to see them even before?

In my configuration i don't see those error messages you have in the terminal. Can you make a screenshot of the output of `snap list` command? I'm only interested in vscode and kubectl rows. Thank you.

[2020-06-23 16:47] dholbach commented on #522
Yep, just tried it again. I can't seem to expand any of the dropdowns in the cluster list.

[code]

[code]

[2020-06-24 02:56] itowlson commented on #772
This is a really interesting idea.  We'd need to maintain a (user-curated) mapping of CRDs to extension recommendations, and figure out how to make it Not Annoying.

I'm actually wondering if this is something that could be done using the API, external to the core extension.  That might make it easier to maintain and would mean it could ship on its own cadence as users contributed new recommendati

[2020-06-24 05:09] itowlson commented on #769
Thanks for flagging this - we'll take a look.

[2020-06-24 05:10] itowlson commented on #774
Hmm, thanks - we'll take a look.

[2020-06-24 05:12] itowlson commented on #765
@adamrushuk Some discussion of possible UI going on over at @Devjeel's PR #773 - we'd love your input if you haven't seen it.

[2020-06-24 07:43] adamrushuk commented on #765
Great to see action on this already; thanks all :)

[2020-06-25 00:45] squillace commented on #772
OK, originally I read this and started thinking, which required a bunch of drinking first, so now I'm back.

I think, in so far as CRDs are "cluster role services", it makes some sense to enabling this kind of functionality. The user story is that they:

- connect to a cluster
- the extension sees "known" CRDs and prompts for related lookups
- user has configurations to control this

Does that sou

[2020-06-25 06:04] evidolob commented on #772
@squillace Yes it does.

[2020-06-25 12:11] lstocchi commented on #522
@dholbach I tried reproducing your error by installing ubuntu 20.04, using your exact vscode and kubectl version but i am still able to see all resources with the patch i made :/ I don't have any clue why you cannot expand any of the dropdowns.

Since you can see the clusters nodes, kubectl has been executed so it should also work when executing other commands such as `kubectl get pods`.
The only

[2020-06-25 14:54] squillace commented on #772
I'm wondering whether the experience can be fleshed out a bit. I would NOT expect to get prompted for every one of the 32 CRDs my ops cats put into the cluster I'm using; instead, I'd be happy if my OpenShift extension detected OS-related things and prompted for those -- yes?

I do not expect the OSS core extension to do specific jobs on any/all CRDs that exist out there two years in the future. I

[2020-06-26 07:13] lstocchi commented on #770
Closing it as https://github.com/Azure/vscode-kubernetes-tools/pull/771 was merged

[2020-06-26 07:13] #770 closed

[2020-06-26 08:28] jeffmaury commented on #772
The idea is that you can associate an extension against several CRDs but the extension will be selected as soon as one of the associated CRD is present on the cluster so the user will see only a list of proposed extension no matter how may CRDs selected that extension.
For example the Tekton extension will be associated against `tekton.dev` and `triggers.tekton.dev` and if the cluster has both Tek

[2020-06-26 08:37] dholbach commented on #522
I guess I could try a remote cluster too.

Here's the relevant parts of the config:

[code]

I just made sure I ran your version of the plugin, I'm on minikube v1.11.0. Using `/snap/bin/kubectl` on the terminal works just fine.

[2020-06-26 11:23] lstocchi commented on #772
I think @squillace is more worried about how to handle and keep updated the "recommended extensions" list and he wanted to know if someone could provide another idea besides of keeping a list here and accepting new PRs to add new stuff to the list as we could end up having xxxx recommended extensions.

The problem could be that if we add an extension to the list now, what happens if it stops to be

[2020-06-26 14:47] squillace commented on #772
@lstocchi you've pretty much got my thinking. Only problem with this now is that I, personally, and everyone else I know as a user HATES THE SUGGESTIONS FEATURE. Only companies like the suggestion feature. :-| Suggestions at the global level are mostly anti-user.

@jeffmaury you're on the right track, but in your example the only way to do this is if some extension is tracking CRDs against some li

[2020-06-26 14:55] squillace commented on #772
BTW, I'll take up how the global suggestions feature works and the choices made with it with Chris Dias and the Code team, just to understand how they see the very same problems....

[2020-06-26 15:00] sudhirverma opened #777 "Showing active namespace in status bar."
It would be good to show active namespace in the status bar as it is a root extension for `vscode-tekton`
and showing active namespace in the status bar will help us to know if we switch the namespace and current namespace which we are using.

for more detail Link: https://github.com/redhat-developer/vscode-tekton/pull/320#issuecomment-647353738

cc: @gorkem @evidolob @lstocchi @siamaksade

[2020-06-27 22:08] jverce commented on #669
We could reuse the one for `ReplicationController`, and replace:
* `selector` with `matchLabels`
* `apiVersion: v1` with `apiVersion: apps/v1`
* `yaml kind: ReplicationController` with `kind: ReplicaSet`

[2020-06-29 16:40] gorkem commented on #772
I also share the concerns about the helpfulness of suggestions on vscode especially when they are driven by filename extensions and pops up everytime. I am looking forward to the feedback from the code team. However if you look at the screenshot provided by @evidolob his prototype is much subtle and better suited for our purpose. It is a recommendation view that changes as kube contexts change.  A

[2020-06-29 16:42] gorkem commented on #777
Looks like it has been done already https://marketplace.visualstudio.com/items?itemName=okteto.kubernetes-context

[2020-06-29 16:56] squillace commented on #772
Good comment. I went back and took a good look at what's going on here, and I realize that the thing I hate is the pops _which mandate interactivity and distraction_. You MUST click those toasts to dismiss them, and you cannot un-see them. (Until you're angered and switch them off, which you will immediately do.) BUT......

....the relatively subliminal left hand pane once @evidolob does click the

[2020-06-29 20:33] jupacaza commented on #740
Log (Extension Host):

[2020-06-29 13:25:11.895] [exthost] [info] extension host started
[2020-06-29 13:25:11.931] [exthost] [info] ExtensionService#_doActivateExtension vscode.debug-auto-launch {"startup":true,"extensionId":{"value":"vscode.debug-auto-launch","_lower":"vscode.debug-auto-launch"},"activationEvent":"*"}
[2020-06-29 13:25:11.931] [exthost] [info] ExtensionService#loadCommonJSModule

[2020-06-29 21:02] itowlson commented on #740
Looks like RedHat YAML (which the k8s extension depends on) has an error.

Could you try this please:

* Uninstall the k8s extension
* Uninstall RedHat YAML
* Restart all instances of VS Code
* Reinstall RedHat YAML from the marketplace
* Open a YAML file and confirm no error
* Reinstall k8s extension
* See if you still get the k8s error

Thanks!

[2020-06-29 21:08] jupacaza commented on #740
Worked! Thank you!

Logs in case you need them as reference:

[2020-06-29 14:04:14.472] [exthost] [info] ExtensionService#_doActivateExtension vscode.debug-auto-launch {"startup":true,"extensionId":{"value":"vscode.debug-auto-launch","_lower":"vscode.debug-auto-launch"},"activationEvent":"*"}
[2020-06-29 14:04:14.473] [exthost] [info] ExtensionService#loadCommonJSModule file:///c:/Program Files/Mi

[2020-06-29 21:27] itowlson commented on #740
Great!  I can only imagine the RH extension got borked on disk, heaven knows how.  Glad it's working now!

[2020-06-29 21:27] #740 closed

[2020-06-30 05:20] lstocchi commented on #777
Still a good idea for me as that `kubernetes-context` extension is not in sync with this one.

[2020-06-30 10:49] lstocchi opened #779 "Job nodes don't list pod created by them"
Job nodes in the tree don't list (as children) pods that are created by them.

![image](https://user-images.githubusercontent.com/49404737/86117643-b079f280-bacf-11ea-8624-84a391f231d2.png)

It could be useful to list pods (as we do for deployments) so users can clearly see which pods will be deleted when a job is removed.

![image](https://user-images.githubusercontent.com/49404737/86117812-fc2c9

[2020-07-01 00:49] gorkem commented on #772
I guess the toast notification is not adding as much value. Perhaps we can implement this without the notifications. @evidolob WDYT ?

[2020-07-01 07:37] evidolob commented on #772
@gorkem Yes, I can. I will provide a draft PR with this, just to have a discussion on real behaviour.

[2020-07-01 09:50] evidolob commented on #772
@squillace @gorkem I add draft PR, and new demo gif in it.

[2020-07-02 23:29] webmutation opened #781 "Terminal shell path broken"
Since upgrading to latest version I get a

`The terminal shell path ""C:\Program Files (x86)\.vs-kubernetes\tools\kubectl\kubectl".exe" does not exist`

The error is only when right clicking and trying to initiate a terminal session... this used to work well before. All other commands work.

[2020-07-04 03:00] asampal opened #783 "Deleting context in extension removes required parts in k8s config"
To reproduce:

- Set up Docker Desktop in Windows with WSL 2 integration and enable k8s
- In VSCode, install vscode-kubernetes-tools and notice that there are two contexts shown: docker-desktop and docker-for-desktop
- Note that only the docker-desktop context includes child items
- Remove empty context, docker-for-desktop in VSCode by selecting "Delete from kubeconfig" in the context menu of this

[2020-07-06 09:17] ChiefInnovator opened #786 "Debugging with Kubernetes Extension does not work due to volume mount issue"
I am unable to properly mount volumes within Kubernetes and WSL 2 using HostPath. This is probably a WSL 2 issue, but considering that I am trying to do debugging within a local Kubernetes cluster in Docker, I figured I would put the issue here. Here are the steps:

1) Deploy debug build to Kubernetes for my app.
2) Attach Visual Studio Code using the Kubernetes extension
3) Navigate to the projec

[2020-07-06 09:20] ChiefInnovator opened #787 "Need documentation for setting up Kubernetes Dashboard so that Open Dashboard works from the Kubernetes extension"
I have the Kubernetes Dashboard installed and use it.  However, I would like to be able to just use the Open Dashboard menu selection from the Kubernetes Extension for Visual Studio Code to open and view the dashboard. I tried but I just get errors. There needs to be instructions to properly setup your dashboard so that the menu works.

[2020-07-06 10:41] simonvane opened #788 "Cannot "Add Existing Cluster" from duplicate subscription name."
I am trying to add an existing Azure Kubernetes Service cluster.

I have two subscriptions named Visual Studio Enterprise. When I use `Kubernetes: Add Existing Cluster` the subscriptions I have are correctly listed but when I choose one of the Visual Studio Enterprise subscriptions and hit Next I get the following error reported:
`The subscription of 'visual studio enterprise' has more than one ma

[2020-07-06 18:14] segevfiner commented on #12
This extension doesn't seem to offer much in the way of completions of Kubernetes templates as far as I see. (I'm editing Helm templates with the language mode auto detected as `helm-template`).

It seems this extension depends on the Red Hat YAML extension, which does have completions for kubernetes if you configure `yaml.schemas` appropriately, but that only works for plain YAML Kubernetes templ

[2020-07-07 02:42] yoyoys opened #789 "How can I use context setting instead cluster?"
My AWS EKS cluster required different user between clusters.
If this plugin couldn't select context or user for the cluster, only default context available.

[2020-07-09 14:52] yadavalli1 opened #790 "loading slow-Extension issue"
- Issue Type: `Bug`
- Extension Name: `vscode-kubernetes-tools`
- Extension Version: `1.2.1`
- OS Version: `Windows_NT x64 10.0.18363`
- VSCode version: `1.46.1`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2020-07-14 08:39] mukesh-p commented on #359
is there a way to hide/ignore the warning. It becomes very difficult to modify the file as every time we hover over the parts this warning pops up which makes it difficult to work with.

[2020-07-14 12:36] lstocchi commented on #359
@mukesh-p are you referring to the `One or more containers do not have resource limits - this could starve other processes` message? Do you want to disable all linting warnings?

The issue here is different so maybe we can open a new issue. The problem is that this linting warning (and any other i guess) disappear when having multiple objects in the same file.

[2020-07-15 09:23] lstocchi commented on #789
I'm not sure i got what's the problem here, but it looks to me you are not able to switch in different clusters using different users, right? Couldn't you create different contexts (each one with a specific user/cluster) in your kubeconfig and use them to switch by using the extension?

[2020-07-15 09:24] lstocchi commented on #790
I guess this should be fixed once we merge https://github.com/Azure/vscode-kubernetes-tools/pull/586

[2020-07-16 18:12] gorkem commented on #772
@squillace @itowlson did you check the latest demo gif. Should we complete the draft PR?

[2020-07-16 18:43] squillace commented on #772
No, I hadn't. My apologies as you've all been working hard on this stuff. I can only plea worldwide epidemic disruptions to the life. I will look at this today with some purpose.

[2020-07-17 16:44] pbnj opened #792 ""describe" window is unsearchable"
`>Kubernetes: Describe` command opens results in a window that is unsearchable.

This experience is specially problematic when the current implementation of `>Kubernetes: Describe` prompts users to specify a resource (e.g. `deployment`, `pod`, ...etc) and the results will include all objects under that resource, possibly displaying a lot of information that users would have to scroll through manua

[2020-07-17 16:57] pbnj opened #793 "[suggestion] "describe" should show a list of possible options"
Similar to `>Kubernetes: Follow Logs` showing a list of possible pods to select from, it would be nice if `>Kubernetes: Describe` could show a list of possible resources to select from (e.g. `Deployments`, `Pods` ...etc) and further show a list of more possible options for a selected resource.

Example:

- User runs `>Kubernetes: Describe`
- Following list is displayed:
[code]
- User selects `Depl

[2020-07-19 20:11] dminca opened #794 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `vscode-kubernetes-tools`
- Extension Version: `1.2.1`
- OS Version: `Darwin x64 19.6.0`
- VSCode version: `1.47.0`

[code]

[2020-07-20 08:03] lstocchi commented on #792
Thanks for opening this @pbnj. I agree with you, it's quite useless when dealing with many many resources. I'll give it a look.

[2020-07-20 12:27] webmutation commented on #748
Hi, will this add support for both helm v2 and v3 on the same panel? Currently I can only see releases for v2 in the helm panel.

[2020-07-20 12:47] theAkito opened #795 "YAML files in the `crds` folder of a Helm v3 template are interpreted as YAML and not as helm-template"
[Original issue](https://github.com/redhat-developer/vscode-yaml/issues/320#issue-661654016)

As of now, the `templates` folder apparently gets recognized and therefore YAML files in it get the `helm-template` language mode assigned. This should also be enabled for [the `crds` folder introduced in Helm v3](https://helm.sh/docs/chart_best_practices/custom_resource_definitions/).

[2020-07-20 13:17] lstocchi opened #796 "Error when parsing value with multiple columns"
Just discovered an issue when parsing values from an output with multiple columns and not fully filled.
An example below
![image](https://user-images.githubusercontent.com/49404737/87941351-4edbf100-ca9b-11ea-97ea-afa17c581e70.png)
The pod object is incorrectly taken
![image](https://user-images.githubusercontent.com/49404737/87941407-67e4a200-ca9b-11ea-96ea-301d37ed0269.png)

On the other hand if

[2020-07-20 15:28] lstocchi commented on #795
Thanks for letting us know @theAkito. We'll give it a look.

[2020-07-20 15:34] lstocchi commented on #794
Thanks for reporting this @dminca, could you give me more info about your issue? I can see it fails to start when activated using yaml cmd. What are you doing exactly? Can you see something in the tree? If you run kubectl at the command line are you able to execute anything?

[2020-07-21 10:57] mojo2012 opened #798 "Logs output is not in color when using webview"
Hi guys,

awesome extension!

One thing that bugs me though, is that the log output does not interpret the ANSI color codes correctly when using the webview. In the terminal it works of course.

It would be awesome if you would add that feature, because using the webview/editor window is way more comfortable than the terminal.

Cheers

[2020-07-22 02:32] Tatsinnit commented on #617
Loop back from what I have found.

* 💡 Follow up from "off-topic" conversation around the `az aks` side of behavior as mentioned above, just to keep the thread updated: The `az cli` experience \ workflow is different and the orange permissions is resolved via : https://github.com/Azure/AKS/issues/601#issuecomment-552020383 or https://docs.microsoft.com/en-us/azure/aks/kubernetes-dashboard#sign-in-

[2020-07-22 09:34] lstocchi commented on #798
Thanks for opening this @mojo2012 . We are in the process to refactor the log view https://github.com/Azure/vscode-kubernetes-tools/pull/773 so we will surely keep this into consideration. Thanks again for the suggestion.

[2020-07-23 08:53] apupier opened #801 "Do not throw error from callbacks of registered contributors for Yaml schema support"
see https://github.com/redhat-developer/vscode-yaml/issues/323

currently it is preventing other registered contributors to be handled. After improved in VS Code Yaml, there will be an error message.

If VS Code Kubernetes extension is unable to know if the yaml is a kubernetes file or not, it should return undefined, not throw an error.

[2020-07-23 11:02] ahoka commented on #359
That would be great if there was a way to disable this warning. I don't want to enable cpu limits due to their non-intuitive behavior and having my half yaml file underlined in yellow degrades usability.

[2020-07-24 12:45] marcosg29 opened #803 "Update and disable failed!"
Issue Type: <b>Bug</b>

I cant seem to get the update for this extension, everytime I open VS code I get the alert to update the extension but it doesn't update anytime, I've tried to disable it but I can't either....

Extension version: 1.2.1
VS Code version: Code 1.47.2 (17299e413d5590b14ab0340ea477cdd86ff13daf, 2020-07-15T18:18:50.054Z)
OS version: Darwin x64 19.5.0

<details>
<summary>System I

[2020-07-24 13:15] lstocchi commented on #803
Hi @marcosg29, so you have the version 1.2.1 installed? That's the latest one. Which message do you get in vscode? Can you make a screenshot?

Next time, if you have any issues with updating it, just go in the extensions tab.
You should see something like
![image](https://user-images.githubusercontent.com/49404737/88394514-db4e2280-cdbf-11ea-8140-c85fa942b985.png)

Click on the setting wheel icon

[2020-07-24 16:37] marcosg29 commented on #803
Already worked around it, I uninstalled all the extensions that depended on this one and installed them again, might have one of those dependencies broken somewhere, anyways thanks for the help!

[2020-07-27 10:09] lstocchi commented on #803
@marcosg29 glad you solved it :) I'm closing it, feel free to open a new issue if you face any other error. Thanks!!

[2020-07-27 10:09] #803 closed

[2020-07-27 10:40] #768 closed

[2020-07-30 01:40] #781 closed

[2020-07-30 01:44] #792 closed

[2020-07-30 02:04] #801 closed

[2020-07-30 02:06] #796 closed

[2020-07-30 02:09] #779 closed

[2020-07-30 02:10] #359 closed

[2020-07-30 02:23] #764 closed

[2020-08-03 19:19] jcwilkes opened #805 "Highlighter should interpret Helm directives before YAML lists"
When highlighting the following snippet

[code]
 the comma is interpreted as being a YAML list separator instead of part of the quoted string in the join directive. This causes the second quotation mark after the comma to be interpreted as the start of the new string and causes bad highlighting for the rest of the file.

---

**Kubernetes Extension** v1.2.1

**VSCode**
[code]

[2020-08-17 14:56] bh90210 commented on #408
A newbie friendly suggestion, consider including the above snippet in the documentation. It will save a lot of people new (lost) to vscode some time :)

## Linters
The extension supports linting Kubernetes YAML files for potential problems or suggestions.
Here are the various linters, you can enable or disable them individually using the `disable-linters` configuration value.
  * `resource-limits`

[2020-08-18 12:07] aelij opened #807 ".NET attach to pod with multiple containers fails"
When trying to debug a pod with multiple containers, the `-c` argument is missing in `kubectl exec` and so it always selects the first pod, which is not always the correct one, especially with injected sidecars:

https://github.com/Azure/vscode-kubernetes-tools/blob/7af21706b982a5a65c9a67f7f9d8acf187dade2e/src/debug/dotNetDebugProvider.ts#L44

[2020-08-25 18:43] cilerler opened #808 "Add Show Log/Follow Log option to Workloads"
Lately, I see myself to keep going through each pod to review logs.
Unfortunately, right now, the only way to see the logs is going individually through each pod.
It would be nice to have a Show/Follow Logs options on Workloads, which gets the logs from all related pods.

[2020-08-28 12:04] GauravSquareOps opened #809 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `vscode-kubernetes-tools`
- Extension Version: `1.2.1`
- OS Version: `Linux x64 5.4.0-7642-generic`
- VSCode version: `1.48.2`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[code]

[2020-08-30 11:38] aelij opened #810 "View namespace objects without changing the context"
It would be very useful if namespaced objects (such as workloads) would show up in the tree under each namespace node, instead of requiring a context switch.

For example, the tree could look like:

* Namespaces
   * default
      * workloads
         * pods
   * backend *
* Workloads (for current context)
  * pods

This has several advantages:
* It's easier to compare objects from difference name

[2020-09-06 08:20] Krrishdhaneja opened #811 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `vscode-kubernetes-tools`
- Extension Version: `1.2.1`
- OS Version: `Windows_NT x64 10.0.18363`
- VSCode version: `1.48.2`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2020-09-07 13:40] lstocchi commented on #810
Hi @aelij, what's your actual use case? Do you need to copy a resource from another namespace? Or just compare two resources? And why? Any real example would be useful to understand if we can work on other alternative solutions.

[2020-09-07 13:52] lstocchi commented on #808
Not sure that adding `Show/Follow Logs` command on Workloads is a good idea as, at that point, the action should also catch logs for all resources under Workloads (remember that external extensions can add new nodes/resources).

Maybe we can add multiple selection on the tree and enables logs actions when possible.

[2020-09-07 13:53] lstocchi commented on #807
Thanks for opening this @aelij . I'll give it a look

[2020-09-07 16:24] #577 closed

[2020-09-08 11:42] SayakMukhopadhyay commented on #769
I am seeing this issue too. It has an additional side effect of locking the folders in which the kubectl is spawed which means I can't delete it anymore. Right now, deleting all kubectl processes manually fixes these issues.

[2020-09-09 22:14] abishD opened #812 "Follow Logs does not work with update to 1.2.1"
Updated to the latest versions of both VS Code and Kubernetes extension (1.2.1) and I can no longer follow logs.

It keeps giving me
"Loading...
The connection to the server XX.XX.X.XXX:XXXX was refused - did you specify the right host or port."

Note: Downgraded to Version 1.1.1 and follow logs works. Show logs is not affected.

VS Code Details
Version: 1.48.2
Commit: a0479759d6e9ea56afa657e45419

[2020-09-10 11:56] dariuszbz opened #813 "kubernetes:terminal doesn't work anymore"
Since today morning when I press F1, type kubernetes:terminal, powershell, extension returns:

[2020-09-10 12:18] lstocchi commented on #813
@dariuszbz i tried to replicate it without any success. Can you please retry without having any workspace opened in your vscode or can you please tell me which project (the name) do you have opened ?

What the extension does is this: check if a workspace is opened and take its rootPath (e.g /mypath/mycoolproject) -> extract the name of the project opened and then try to find the pods with that lab

[2020-09-11 13:39] chirlo opened #814 "'expand all' and 'existing only' actions on Clusters Pane"
This pane is somehow 'polluted' will all possible Resource types and takes a number of clicks until you see everything that is actually present in the current cluster.
It would quite productive to be able to click on a '+' icon and have a tree-view of everything that actually exist on the cluster.

[2020-09-13 09:42] aelij commented on #810
I often deploy to a test namespace before deploying to the team's namespace, and yes I want to compare objects, compare logs, etc. Having to change the context all them time is inconvenient.

It's a tree control after all, so why not show everything? Unlike a CLI, a default context is much less meaningful/useful IMO.

[2020-09-13 10:05] vasily-codefresh commented on #769
Same problem here, I noticed it back in November when I installed Kubernetes extension.
Now it's still pronounced with VSCode 1.49.0, Kubernetes plugin 1.2.1 and any kubectl from 1.14 to 1.19.

[2020-09-14 15:05] profiseegroup commented on #813
I see this issue as well.  I right click on the pod, choose terminal and I get this error:  "The terminal process "kubectl.exe 'exec', '-it', 'profisee-0', '--namespace', 'default', '--container', 'profisee', '--', 'sh'" terminated with exit code: 126."  its a windows container so instead of --sh I want it to use powershell but not sure how to change that

[2020-09-14 17:25] howlofthesun opened #815 "Ext not working on Vs code Insiders"
VSCode:

- Version: 1.50.0-insider
- Commit: bc38b0accb3c62180317c63dbe7323200977db0f
- Date: 2020-09-11T12:27:36.137Z
- Electron: 9.3.0
- Chrome: 83.0.4103.122
- Node.js: 12.14.1
- V8: 8.3.110.13-electron.0
- OS: Linux x64 3.10.0-1127.19.1.el7.x86_64

EXT:

- Name: Kubernetes
- Id: ms-kubernetes-tools.vscode-kubernetes-tools
- Description: Develop, deploy and debug Kubernetes applications
- Versi

[2020-09-15 05:10] bnookala commented on #813
@lstocchi From a cursory read, it seems like the resolution to this would be to identify if the underlying container within the pod is using a windows container, and choosing to run powershell instead of sh 🤔

[2020-09-15 05:13] bnookala commented on #811
Hi @Krrishdhaneja, do you have any more details for this issue? Seems like there's context we're missing here!

[2020-09-15 09:28] lstocchi commented on #810
We are going through a refactoring of the tree (https://github.com/Azure/vscode-kubernetes-tools/pull/767). When it's done we could add a new action to open the tree representing a different context in a new view so you could easily work with both of them. Another advantage for me is that this way there will be a clear separation between the two and it will prevent to erroneously delete from the w

[2020-09-15 12:24] lstocchi commented on #813
You can try by executing the `kubernetes: terminal` from the command palette. It will ask you `Please provide the command to execute` with the default value set to bash. If you change it to powershell you should be able to edit it.

[2020-09-15 12:27] lstocchi commented on #813
Not sure it's the same issue. The first user doesn't see any pod listed when he tries to execute the command.

[2020-09-15 14:54] profiseedev commented on #813
@lstocchi

This does work, but it would nice if you right click on the pod have it detect the OS and then run bash or powershell based on the container OS.

[2020-09-15 15:17] lstocchi commented on #813
Thanks for the feedback @profiseedev . I agree and we will fix this. That was just a suggestion how to bypass this bug until we release a patch :)

[2020-09-15 18:51] cskalyan opened #816 "Extension Issue - Unable to auto create template for Kind Job"
I tried to create a template for Kind "Job" similar to Pod and extension does not auto fill. Where as it auto creates for Pod and other resources.

[2020-09-16 10:16] ghost opened #817 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `vscode-kubernetes-tools`
- Extension Version: `1.2.1`
- OS Version: `Windows_NT x64 10.0.19041`
- VSCode version: `1.49.0`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2020-09-16 14:27] lstocchi commented on #812
@abishD I tried but it's working for me. Can you replicate it with any pods or it only happens with some of them?

[2020-09-16 16:20] howlofthesun commented on #815
Update to vs code fixed the issue.

[2020-09-16 16:20] #815 closed

[2020-09-17 00:19] bnookala commented on #817
Hi @ruffelo, do you have any more details for this issue? Seems like there's context we're missing here!

[2020-09-17 19:07] abishD commented on #812
Thank you lstocchi , I uninstalled and deleted the local settings from the .vscode folder and reinstalled that fixed the issue.

Will close this.

[2020-09-17 19:07] #812 closed

[2020-09-18 15:46] bnookala commented on #817
Closing as the user account has been deleted.

[2020-09-18 15:46] #817 closed

[2020-09-18 16:34] bnookala commented on #787
@ChiefInnovator can you provide the error you're seeing here?

[2020-09-19 09:47] diwap opened #819 "Cannot set kubeconfig with the multiple context config file"
## Version
Extension Version: v1.2.1

__VS CODE__
Version: 1.49.1
Commit: 58bb7b2331731bf72587010e943852e13e6fd3cf
Date: 2020-09-16T23:21:17.533Z
Electron: 9.2.1
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Darwin x64 19.6.0

## Description
Whenever there is only one configuration per file, I can set multiple configuration. However, if I have a single file with multiple con

[2020-09-19 18:57] vitali87 commented on #669
Here is an example I use as a global .code-snippet for YAML and YML files in my vscode.
Hope this helps:

`	{
		"": {
			"scope": "yaml,yml",
			"prefix": "Kubernetes,kubernetes,ReplicaSet",
			"body": [
			  "apiVersion: apps/v1",
			  "kind: ReplicaSet",
			  "metadata:",
			  "  name: ${1:ReplicaSetName}",
			  "  labels:",
			  "    ${2:Key1}: ${3:Value1}",
			  "    ${4:Key2}: ${5:Value2}",

[2020-09-19 19:07] vitali87 commented on #669
Here is the global _.code-snippet_ that I use for YML and YAML files in my vscode. Hope, it will help.

	{
		"": {
			"scope": "yaml,yml",
			"prefix": "Kubernetes,kubernetes,ReplicaSet",
			"body": [
			  "apiVersion: apps/v1",
			  "kind: ReplicaSet",
			  "metadata:",
			  "  name: ${1:ReplicaSetName}",
			  "  labels:",
			  "    ${2:Key1}: ${3:Value1}",
			  "    ${4:Key2}: ${5:Value2}",

[2020-09-21 13:07] #811 closed

[2020-09-23 07:23] aelij commented on #458
It would also be useful to add a timeout for the operation, and show a notification which links to the kubectl output pane. That way, any unexpected error could be easily examined.

[2020-09-23 09:44] olu2001segun opened #820 "Kubernetes slowing CPU processes and increasing CPU load"
this tool needs to be re-configured to enable the extension not to slow other extensions to be activated and to reduce the load on CPU.

[2020-09-23 12:52] cskalyan opened #821 "Kubernetes Auto generation yaml files"
I am using Visual Studio Code to write or update yaml files, how ever auto generation of yaml files for kubernetes using VScode supports only Pod, Deployment, Service, ReplicationController. To Create other yaml files like ingress, network, PV, PVclaims; auto generation is not working. Can you please add the feature to generate yml templates for other resources as well.

[2020-09-27 11:56] tvvignesh opened #822 "Support for custom command or env vars"
Hi. When you are running the API server behind a proxy, you might actually need to add env vars to specify custom port or add a different alias per cluster.

For eg. if you implement this: https://github.com/GoogleCloudPlatform/gke-private-cluster-demo you need to run kubectl with the proxy env vars like `HTTPS_PROXY=localhost:8080 kubectl get pods --all-namespaces`

Currently I don't see a way to

[2020-09-29 21:12] JimHume commented on #787
FYI: I've run into this scenario and found an existing issue logged as #617

It appears as though a bug was fixed in version 1.16.x of Kubernetes which causes the old style security setup to stop working.

The issue itself is documented here: https://docs.microsoft.com/en-us/azure/aks/kubernetes-dashboard#sign-in-to-the-dashboard-kubernetes-116

Any guidance on how to make the user experience as s

[2020-09-30 17:36] JimHume commented on #787
The dashboard is not deployed in new kubernetes clusters in Azure by default.
To enable the dashboard one must run this command:
`az aks enable-addons --addons kube-dashboard --resource-group myResourceGroup --name myClusterName`

Once that command completes, the admin credentials may or may not be required (uncertain about this step):
`az aks get-credentials -a --resource-group myResourceGroup --

[2020-10-01 00:23] #777 closed

[2020-10-02 06:05] cforce opened #823 "empty list for secrets child tree"
Using v 1.2.1 and vscode 1.49.2

Visual Cluster Code Tree View does not list any secrets when opening child tree for secrets.
Problem persists even after reload..
Of course when i right click "Get" kubectl get secret  -o wide" does show all the secrets on cmd windows as expected while tree view still stays empty.

[2020-10-02 07:15] lstocchi commented on #823
Thanks for opening this @cforce, i'm giving a look :+1:

[2020-10-03 11:18] haf opened #824 "Feature request: kustomization support"
It would be great if this extension didn't highlight "errors" when using `kubectl apply -k` or `kustomize build [folder]`.

For example, for a deployment, having a `selector` like:

[code]

Will be filled out with this kustomize:

[code]

[2020-10-03 18:52] tvvignesh commented on #822
Updated to kubectl v19.2 and added `proxy-url` to my config. I am now able to get this working, Closing this.

[2020-10-03 18:52] #822 closed

[2020-10-08 08:56] lstocchi commented on #823
@cforce sorry for late response. I tried and it is working for me. Do you still face this issue? Can you give us more info about your cluster? What are you using? Version?

The call we make to retrieve the secret nodes is `get secret -o json --namespace=thenameofyournamespace`. Just to be sure, does it work or it fails somehow?
Thank you

[2020-10-08 09:09] lstocchi commented on #819
Hi @diwap , could you please re-explain the error you have? I didn't get it i guess. What do you mean it doesn't show any cluster information? Don't you see anything in the tree?

[2020-10-08 10:27] diwap commented on #819
![image](https://user-images.githubusercontent.com/18280869/95446423-00464080-0980-11eb-9091-86b4e20e5aab.png)
Hi @lstocchi I mean when I provide path of config file that I have mentioned above, its doesn't load that config instead stick with the config I have already set which consist only one context.

However, I achieved loading config file with multiple context passing path manually in setting

[2020-10-08 12:05] lstocchi commented on #819
Thanks for the clarification. Glad you found a way to solve it.
I tried it but it still works fine for me. The new config is added correctly. @bnookala are you able to reproduce this?

[2020-10-11 09:21] cforce commented on #823
Both running in vscode terminal..
* ```kubectl get secret  -o wide``` - > works /started from ctx menu
* ``` kubectl get secret -o json --namespace=dev```
** started manually from pshell console  start to printout base64 and other secrets until vs code freezes can message pops up that windows is not reacting - i click keep waiting and after some minute it recovers and i can see the print out
** if

[2020-10-13 08:07] lstocchi opened #826 "Add create new resource action in context menu to open a yaml editor with a template"
I was thinking if it could be a good idea to add a `Create new ...` action in the context menu to make it easier for users to create a new resource from scratch in vscode.
Let's say i want to create a new deployment. Right now i have to create a new file, save it as yaml (otherwise i don't have any code completion), start typing `deployment` and use the template shown in the suggestion menu.
Would

[2020-10-13 08:12] lstocchi opened #827 "Create an ingress from a service"
Users may want to create an ingress to make a service reachable from the outside.
Now the process is to create a service and then create an ingress with a reference to the service created previously.
Couldn't we create an action `create an ingress from this service with a shorter name` to open an editor with a prefilled ingress template that contains the values taken from the service?

[2020-10-15 12:25] lstocchi commented on #823
@cforce i see, yes maybe you found the issue ... what number are we talking about? I'll try to replicate it

[2020-10-15 12:32] lstocchi opened #828 "Refactor logs view"
Opening this as a remainder bc I closed https://github.com/Azure/vscode-kubernetes-tools/pull/773. The guy who opened that PR is not able to work on that anymore.

Description of the new logs view at https://github.com/Azure/vscode-kubernetes-tools/pull/773#issuecomment-648544485

[2020-10-17 18:34] cforce commented on #823
$kubectl get secrets | wc
214

$kubectl get secrets -o json | awk '{ print length; }' > test.txt
$ awk '{s+=$1} END {print s}' test.txt
40444802

[2020-10-20 07:36] Relaxe111 opened #829 "kubectl command failed on ubuntu 18"
Hello I installed yesterday kubernetes extension in my vs code and it worked properly it connected to my azure k8s cluster showed nodes and everything. Today it throws me Kubectl command failed:.
When i try to `Add Existing Cluster` I get
![image](https://user-images.githubusercontent.com/40892030/96554691-2ab8c780-12b7-11eb-95aa-3df5698593d5.png)
which is very strange because i have az installed

[2020-10-20 14:12] cilerler opened #830 "Terminal keeps printing streaming info"
Right-click on a pod and selecting `Terminal` shows the lines below

[code]
and upon hitting a key such as `a` causes it to prints the following lines

[code]
can't use the terminal anymore.

### Environment details

[code]

### Other extensions installed related to Kubernetes
- Azure Kubernetes Service _ms-kubernetes-tools.vscode-aks-tools_
- Bridge to Kubernetes _mindaro.mindaro_
- Gardener Kube

[2020-10-22 10:55] cideM commented on #598
Unfortunately this requires you to always have the same username

[2020-10-22 16:55] arsnyder16 opened #831 "Add option for showing timestamps in logs"
kubectl logs --timestamps

[2020-10-27 10:41] PraveenADPP opened #832 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `vscode-kubernetes-tools`
- Extension Version: `1.2.1`
- OS Version: `Windows_NT x64 10.0.19042`
- VSCode version: `1.50.1`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2020-10-29 19:39] dminca commented on #794
this is redundant now as more versions were released that fixed this problem, closing

[2020-10-29 19:39] #794 closed

[2020-11-05 13:17] dcermak commented on #728
Not sure if this can be automated :wink:

A standard github action should be able to do this.

This could be automated via https://github.com/actions/create-release and https://github.com/actions/upload-release-asset

This can be achieved using this github action: https://github.com/HaaLeo/publish-vscode-extension

[2020-11-05 13:55] dcermak opened #834 "Kubernetes: Run fails when the Dockerfile is not in the project's root folder"
The command "Kubernetes: Run" fails when a project has a dockerfile that is not in the workspace's root folder because https://github.com/Azure/vscode-kubernetes-tools/blob/464517e3d2a960c2c910c074dc73739b0ddb348a/src/image/imageToolRegistry.ts#L40 and https://github.com/Azure/vscode-kubernetes-tools/blob/464517e3d2a960c2c910c074dc73739b0ddb348a/src/image/imageToolRegistry.ts#L57 hardcode the path

[2020-11-05 19:37] arianvp opened #835 "No intelisense for Minio CRD"
Intelisense is working for all my CRDs except minio. But I can't figure out why it is not working.

The CRD in question is defined here: https://github.com/minio/operator/blob/master/operator-kustomize/crds/minio.min.io_tenants.yaml

It does seem to include a structured schema; just as the others. But Intelisense is not kicking in

Example config:

[code]

[2020-11-06 17:04] dcermak opened #836 "Provide an API for other extensions to use?"
I am currently looking into implementing a vscode extension that would use Kubernetes and was hoping to leverage parts of this pretty cool one, especially it's very good auto-import of existing Kubernetes instances. Unfortunately, I have not found a good way how to consume any of this information from this extension.

Would it be possible to add some commands to provide the existing clusters and t

[2020-11-07 23:09] KYZITEMELOS93 opened #837 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `vscode-kubernetes-tools`
- Extension Version: `1.2.1`
- OS Version: `Windows_NT x64 10.0.17763`
- VSCode version: `1.51.0`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2020-11-09 05:40] lstocchi commented on #836
Hi @dcermak, have you already seen https://github.com/Azure/vscode-kubernetes-tools-api? By using it you can execute a kubectl command and being able to achieve what you want i guess.
We are also working on adding a way to detect when a context/namespace/config changes https://github.com/Azure/vscode-kubernetes-tools/pull/766
Is it enough for your use-case? If not, can you explain what you would n

[2020-11-09 14:01] thernstig opened #838 "Helm files incorrectly formatted with language mode 'helm-template'"
VS Code version: 1.51.0
Kubernetes extension version: 1.2.1

Save the following in a charts/test/templates/service.yaml file:
[code]

Make sure that the file is interpreted as the language mode `helm-template`. Save the file and it ends up looking like this:

[code]

**Additional info**
I've also installed the latest version of the VS Code "Prettier" extension, if that is of importance.

[2020-11-10 07:34] mfmayer commented on #823
I'm observing the same issue.

[2020-11-12 05:43] dahu33 opened #839 "Option to disable everything except syntax highlighting, autocompletion, snippets and linters"
I really don't want my VSCode to access my kube config / k8s clusters, however I would like to keep the syntax highlighting, autocompletion, snippets and linters that this extension provides. So far I couldn't find an option or an alternative extension that would do the job...

[2020-11-16 11:19] kobiecrowder opened #840 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `vscode-kubernetes-tools`
- Extension Version: `1.2.1`
- OS Version: `Windows_NT x64 10.0.19042`
- VSCode version: `1.51.1`

:warning: We have written the needed data into your clipboard. Please paste! :warning:
[code]

[2020-11-19 16:58] Attoy opened #841 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `vscode-kubernetes-tools`
- Extension Version: `1.2.1`
- OS Version: `Windows_NT x64 10.0.19042`
- VSCode version: `1.51.1`

[code]

[2020-11-24 17:49] dcermak commented on #836
Thanks for your reply @lstocchi and sorry for my long radio silence.

I have taken a look at the APi and it already provides quite a few details. What I wasn't able to find yet though, is whether it is possible to add a custom container builder (i.e. a replacement for `docker build`/`buildah build`)? I'd like to provide my users with the option to use an external build server to build their contai

[2020-12-01 05:50] carumusan opened #843 "kubectl config view -o json process hanging with 100% CPU usage"
Intermittently seeing 100% CPU usage and tracking it back to a hung kubectl process.

[code]

It is hanging on both Code Exploration and the production version of Code. I'm using the KUBECONFIG to set a custom path in the terminal if that could be related. I don't use the default ~/.kube/config and that file doesn't exist.

[2020-12-01 19:51] Dringho commented on #522
I ran into this issue too (for the last few months actually).

Your patched vsix fixed it for me. TY!

[2020-12-02 20:21] tvvignesh commented on #828
@lstocchi @itowlson I guess adding colors to the log would add a lot of usability. Currently, its difficult to distinguish log levels or other messages during development cause of this in web view.

![image](https://user-images.githubusercontent.com/1165845/100925985-beadbe00-3508-11eb-9318-0f858046b1a0.png)

[2020-12-03 11:48] bariscankurtkaya opened #844 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `vscode-kubernetes-tools`
- Extension Version: `1.2.1`
- OS Version: `Windows_NT x64 10.0.19042`
- VSCode version: `1.51.1`

:warning: We have written the needed data into your clipboard. Please paste! :warning:
[code]

[2020-12-03 23:16] caleb15 opened #845 "[enhancement request] linter should warn about unpaired double quotes in values.yaml file"
**Problem**: someone accidentally left a " in the values.yaml file, like so:

[code]

Our templates/template.yaml looks like this:
[code]

When the chart is rendered with helmfile the " breaks the template, like so:
![image](https://user-images.githubusercontent.com/46505081/101099771-36680100-357a-11eb-8dcf-99d454e63648.png)

**Solution**
Linter warns when there is a unpaired quotation mark in a

[2020-12-03 23:19] caleb15 commented on #845
Note that helm lint does not complain about the unpaired " either so maybe this is a issue with helm lint. If so just let me know and I can move the issue.

[2020-12-03 23:49] caleb15 commented on #845
This issue can be caught by using `helm template`. For now to catch the error I've added a script to template the charts in our CI

[2020-12-04 15:31] lstocchi commented on #836
@dcermak i'm sorry too for my late response. Quite a busy time lately.
Afaik no, we don't have such a feature right now. I need to give it a look btw. If not something I can propose for sure. I'll keep you updated. Thank you!!

[2020-12-04 15:37] lstocchi commented on #828
@tvvignesh I agree. Hopefully i should have some free time in a week to start working on all the enhancements asked for the log webview. :crossed_fingers: ...and sorry for the lack of updates on this.

[2020-12-04 15:41] lstocchi commented on #839
Hi @dahu33 , sorry for the late response. One thing i can think of is to setup a wrong path for your kube config so that vscode will point to a wrong file (settings.json -> then add `"vs-kubernetes.kubeconfig": "point-to-some-wrong-file"`). This way you could keep using all the snippets/autocompletion/linters without providing access to the correct config to vscode. Does it solve your issue?

[2020-12-07 23:51] ahmetgeymen commented on #616
Still logs disappear when switching tabs. Using Kubernetes extension 1.2.1 and VS Code 1.51.1

[code]

[2020-12-08 08:07] alegmal commented on #408
Thanks for your answer.
Just one question - where do I put this code snippet?

[2020-12-08 08:16] alegmal commented on #408
If you're confused like me on where to put this snippet (Mac):

`Code -> preferences -> settings -> extensions -> kubernetes configuration -> Edit in settings.json`

Or open command palette and type:

`preferences: open settings (JSON)`

[2020-12-08 10:55] dahu33 commented on #839
Yes and no. I strongly believe this should be a feature not a hack. Unfortunately there isn't many viable alternative extension for syntax highlighting only and I think a lot of people do not need more than that.

[2020-12-15 11:22] Adesoji1 opened #846 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `vscode-kubernetes-tools`
- Extension Version: `1.2.1`
- OS Version: `Windows_NT x64 10.0.19041`
- VSCode version: `1.52.0`

:warning: We have written the needed data into your clipboard. Please paste! :warning:```json
{
	"messages": [],
	"activationTimes": {
		"codeLoadingTime": 7288,
		"activateCallTime": 68,
		"activateResolvedTime": 193,
		"activationReaso

[2020-12-15 14:51] gmiano opened #847 "Follow Logs/Show Logs Issues"
Hi,
I use this plugin to manage multiple kubernetes clusters, installed on on-premise as well as cloud clusters.
I have some problems from a while using Follow Logs/Show Logs feature. In fact when I try to access logs I receive the following error:
Loading...Error from server (NotFound): pods "XXX" not found

It is a problem related with the plugin, because If i try to run from terminal **kubectl

[2020-12-22 22:16] CRASH-Tech opened #848 "Follow logs not work, wrong kubeapi url"
I'm using multiple kubernetes clusters with not standart kubeconfig path.
All working, except "follow logs", it's trying to connect to wrong kube-api url:
"Loading...The connection to the server localhost:8080 was refused - did you specify the right host or port?"

[2020-12-22 22:22] CRASH-Tech commented on #848
ADD: All works if path to kubeconfig is default: $HOME/.kube/config
Non stardart path not working

[2020-12-23 13:51] Phantomape opened #849 "X11 forwarding when attached to a running pod"
## Issue
I'm currently using vscode insider in my laptop to attach to a running pod in the remote server, for compilation and testing stuff. However, attaching to such a running pod doesn't gives me X11 forward ability. To launch any GUI inside the running pod I have to first SSH -X into the remote machine, which I'm trying to avoid during the whole development workflow via remote Kubernetes, and

[2020-12-26 21:56] rdalkire commented on #562
This still happens as of 2.16.0

[2021-01-13 10:09] dahu33 commented on #839
the workaround doesn't even work, seems like it always fallback to the default kube config path. Also, looks like the plugin is trying to access the Kubernetes cluster defined in the current context every time I open a yaml file in vscode. I don't understand how people are confortable with that... I'm not but, I love the syntax highlighting and autocompletion that this plugin brings... Would be ni

[2021-01-14 05:19] mirogta opened #852 "[Feature Request] Support Golang debugging"
**Story**
As a Golang developer
I want to use the vscode-kubernetes-tools add-on to also debug applications written in Golang which are running remotely in kubernetes
So that I can debug them and have a unified experience with using this add-on to debug other apps (written in dotnet, java, node, python)

[2021-01-18 09:35] ahmetgeymen opened #853 "Disappearing logs after tab deselection"
Issue Type: <b>Bug</b>

Hello,

I'm using vscode on macOS Catalina. I open a new log tab by selecting 'follow logs' on an deployment and it shows and follows the logs. It is working nice until I follow another deployment's log or select another tab on vs code. When I come back to first tab, it clears all the logs and also stops following new logs. Unfortunately I found this issue very tiring and f

[2021-01-18 09:42] ahmetgeymen commented on #853
I've also commented under similar issue [#616](https://github.com/Azure/vscode-kubernetes-tools/issues/616) previously. 😞

[2021-01-19 07:18] juergenzimmermann opened #855 "Support for Kustomize"
It would be nice to have support for _Kustomize_, too. `kubectl` has an integration via the options `-k` and `--kustomize` resp.

[2021-01-20 05:52] WPE2SZH opened #856 "proxyconnect tcp: dial tcp 127.0.0.1:3128: connectex: No connection could be made because the target machine actively refused it."
dear expert,
when I download the repo from git. always show the errors

the log is as below

git-lfs/2.11.0 (GitHub; windows amd64; go 1.14.2; git 48b28d97)
git version 2.28.0.windows.1

$ git-lfs.exe filter-process
Error downloading object: rtaos/common_tools/Lauterbach/d3/bin/dai/shared_dataflash_block1.hex (8a01f11): Smudge error: Error downloading rtaos/common_tools/Lauterbach/d3/bin/dai/share

[2021-01-20 14:20] veonua commented on #235
the tail log is not implemented. so follow logs downloads dozens of MB of log

[2021-01-21 21:52] itowlson opened #858 "Missing credit for 1.2.2"
The changelog for 1.2.2 does not credit @jo-goro who contributed #778. My apologies to Jonas and we will make this right in the next release.

[2021-01-22 00:56] itowlson opened #859 "Move CI from Travis to GitHub Actions"
This will dovetail nicely with #854.

[2021-01-24 19:47] alexreg opened #861 "Disable update notifications"
Given I use macOS's Homebrew to install and automatically Minikube and Helm, I don't really want these notifications appearing every time I open a new VS Code window.

<img src="https://user-images.githubusercontent.com/67036/105641610-d48e8e00-5e7c-11eb-99b7-210ad9472caa.png">

Is there any way to turn them off? If not, could you kindly add a new setting to do so?

[2021-01-25 20:30] #858 closed

[2021-01-26 00:52] itowlson opened #864 "Icons to explain status bar text"
We now show the current cluster and namespace in the status bar.  However there is no icon indicating what these refer to (cf the Git branch icon).  Is it possible to provide a tiny k8s wheel without it getting too small to make out, or is there a suitable codicon, or could we provide annotation text?  There are tooltips so this isn't a huge deal.

![image](https://user-images.githubusercontent.co

[2021-01-26 00:54] itowlson commented on #855
We should probably do this but I'm not sure how what the UI should be.  I don't want to prompt the user whether to run Kustomize on every operation, but I don't know whether doing it silently is wise.  I'd love to hear people's thoughts on this.

[2021-01-26 00:56] itowlson commented on #852
@bacongobbler You're probably more familiar with the Go toolchain than most of us - would you be interested in tackling this?  It's fiddly but there's a fairly well established pattern.

[2021-01-26 01:02] itowlson commented on #843
A few questions to help us try to track this down:

* Does this only happen when you issue a command, or does it sometimes happen just out of the blue (i.e. due to the extension running kubectl in the background)?
* If it only happens when you issue a command, are there any commands that are more prone to it than others?
* If it happens in the background, does it tend to happen around extension st

[2021-01-26 01:12] carumusan commented on #843
I no longer experience this bug since updating to MacOS 11.1. It's possible that it was a bug in the Rosetta 2 translation layer as I'm running on the m1 processor.

To answer your questions it happened in the background not on startup. KUBECONFIG was a list of files and no ~/.kube/config file. I didn't knowingly trigger the command it must have been triggered indirectly by the extension. It happe

[2021-01-26 01:14] itowlson commented on #843
Thanks for the additional details.  If it's no longer happening then I'll plan to close it.  Let us know if you would like us to leave it open and investigate further.  Thanks!

[2021-01-26 01:30] itowlson commented on #840
Looking at the `activate` timings in the message, I think this is down to slow loading, which should be resolved in 1.2.3.  However I'm a bit puzzled by the mention of the SQLite Tools extension; I wonder if there is some interaction between the two.  We'll keep an eye on this - thanks!

[2021-01-26 01:31] itowlson commented on #846
My guess is that this is a slow load issue, which should be resolved in 1.2.3, though I'm not 100% sure from the timings.  Please let us know if you still get it after 1.2.3 installs.  Thanks!

[2021-01-26 01:42] itowlson commented on #836
@dcermak I like the idea of making the builder interface pluggable.  At the moment each tool needs to be built in via `src/image/imageToolRegistry.ts`, but that is currently quite specific to local binary tools (and also assumes that any push will be from the local machine).

Do you have a feeling for what a builder API might look like?  Even if you only know what you want yours to look like that

[2021-01-26 01:50] itowlson commented on #831
This shouldn't be too hard at the code level but we need to consider the user experience,  I think we now have a webview for logs?  So a possible UX could be a checkbox on the webview to show/hide timestamps, with a an option to configure the default.

Or we could just always provide timestamps - what do people think?

[2021-01-26 01:53] itowlson commented on #823
@lstocchi Did you get the chance to follow up on this?  If not, I can ask someone here if they would like to take a crack at it.

[2021-01-26 01:54] itowlson commented on #820
We had very high CPU load on startup, but that should be fixed as of 1,2.3.  I'm not aware of slowness once the extension was loaded - if you were seeing that, do you have any more details please?  Thanks!

[2021-01-26 01:57] itowlson commented on #813
We already have some infra in place to detect if the container supports `bash` (and to fall back to `sh` if not).  Would be good if we didn't have to also probe for PS though - as you say we can hopefully work this out from the container metadata - would this be possible from pod tolerations or would we need to examine the container itself?

[2021-01-26 01:58] itowlson commented on #813
Hoping the `good-first-issue` tag isn't _too_ optimistic here!

[2021-01-26 02:08] itowlson commented on #814
Are you thinking of a flattened view where instead of everything being in folders it would just be like

[code]

kind of thing?  Or still in folders but no grouping and no empty folders a la

[code]

?

Advance warning: neither is easy, so this would be a significant investment, and the impact on other extensions may make it impossible.  The structure of the tree is not well abstracted in the curr

[2021-01-26 03:49] itowlson commented on #805
This may be tricky - we lean on the Red Hat YAML parser for Helm charts, but I think Helm charts are not actually YAML.  I'm not sure how to address this short of forking the YAML parser and creating a variant that understands Go template syntax.  @bacongobbler as the resident Helm whiz, do you have any ideas on ways we could tackle this?  Even if they're kludgy?

[2021-01-26 03:51] itowlson commented on #795
@bacongobbler would you be able to look at this please?

[2021-01-26 03:51] itowlson commented on #790
Should now be fixed

[2021-01-26 03:51] #790 closed

[2021-01-26 03:55] itowlson commented on #788
Thanks for flagging this @simonvane.  We can fix this but our future strategy for the "add cluster" UI is via Cloud Explorer.  If you install the AKS extension (https://marketplace.visualstudio.com/items?itemName=ms-kubernetes-tools.vscode-aks-tools) you should be able to see your clusters in the Cloud Explorer (bottom pane of the Kubernetes activity bar) and add kubeconfigs from there.  Let us kn

[2021-01-26 03:56] itowlson commented on #787
@bnookala Do you have bandwidth to look at this?  If not let me know and I'll see if I can find someone.

[2021-01-26 04:04] itowlson commented on #786
Probably too late to be useful to you, I fear, but I think the WSL2 path would be `/mnt/c/dev/myapp`?

[2021-01-26 07:30] juergenzimmermann commented on #855
@itowlson IntelliJ IDEA is watching whether there is `kustomization.yaml` in the same directory and then infers that _Kustomize_ is being used.

[2021-01-26 09:51] dariuszbz commented on #813
Hi ,

I confirm it works.

On Thu, 10 Sep 2020, 13:19 Luca Stocchi, <notifications@github.com> wrote:

[2021-01-26 16:17] bacongobbler commented on #795
This seems correct. YAML files inside the `crds/` directory cannot be templated, therefore they should be treated as plain YAML files.

[2021-01-26 16:18] bacongobbler commented on #795
From https://helm.sh/docs/topics/charts/#custom-resource-definitions-crds:

[2021-01-26 16:26] bacongobbler commented on #805
I agree with your point @itowlson. The correct path forward would be to write a `text/template` highlighter. I have not yet heard of one at this time however.

Some discussion on vscode-go maintaining a syntax highlighter was declined by the maintainers, but I'm willing to bet someone has attempted to write one. https://github.com/microsoft/vscode-go/issues/464#issuecomment-580093228

[2021-01-26 16:30] bacongobbler commented on #852
Isn't this something that can be provided by other VSCode extensions? I feel like Go debugging support is something a Go extension should handle rather than Kubernetes.

It's listed as the first feature in the Go extension. https://github.com/golang/vscode-go/blob/master/docs/debugging.md

[2021-01-26 16:32] bacongobbler commented on #852
Here's the section on remote debugging: https://github.com/golang/vscode-go/blob/master/docs/debugging.md#remote-debugging

[2021-01-26 17:59] flockoftanks opened #865 "Overrides editor.tabSpacing setting for yaml files"
VS Code Version: 1.52.1
Kubernetes Plugin Version: 1.2.3
OS: WSL/Ubuntu 20.04
YAML Plugin Version: 0.14.0

Yaml extension is a dependency which, when installed on its own, has a its own settings.

[code]
This works fine until I installed the Kubernetes plugin, then VS Code returns to the default tabSize (4, in my case) and ignores this yaml setting.

I've reproduced a number of times by making sur

[2021-01-26 20:41] itowlson commented on #855
Okay, if that's a strategy that k8s devs have found acceptable, it shouldn't be too hard to do.  I'll see if we can find someone to pick it up.  Thanks for the info!

[2021-01-26 20:48] itowlson commented on #852
@bacongobbler the point is the integration to locate the right container and set up all the stuff for them.  As with all the other languages we support, the language extension handles the actual debugging, but we smooth the setting up of the remote debug session.

[2021-01-26 20:53] itowlson commented on #865
To help us track this down, where do you see the incorrect spacing taking effect e.g. snippets, Format Document, typing in an existing 2-spaced YAML document?  Thanks!

[2021-01-27 02:11] itowlson commented on #861
The setting you're looking for is `vs-kubernetes` > `checkForMinikubeUpgrade` - hope this helps and please let us know if not!

[2021-01-27 02:16] itowlson commented on #856
I'm not sure from your post where the Kubernetes extension fits into your problem.  It looks like you are running the `git-lfs` command at your command line (against a Git server located at `bosch.com`?).  If so, you probably need to report this to the `git-lfs` folks or to the owner of the server.

If you are seeing this specifically with the k8s extension then please let us know what command you

[2021-01-27 02:25] itowlson commented on #849
I'm not sufficiently familiar with the authentication and communication issues involved in X11 forwarding to really comment on this.  If you can detail the exact steps that are needed, and can help us work through development and testing, then we can try to explore how to offer this feature - making it easy to run an IDE inside a pod does sound very powerful.  I can't promise anything though.

[2021-01-27 02:36] alexreg commented on #861
@itowlson Thank you; I believe believe that solves my problem!

Does the extension check for Helm upgrades too, or not? (If so, it would make sense to add a `checkForHelmUpgrade` setting too.)

[2021-01-27 02:45] itowlson commented on #861
Great, glad that helped.

We do not check for Helm or Kubectl upgrades.  We will offer to install those if we find them to be missing when we need them, but if they are present we will just run with whatever version you have.

_Exception:_ There is a (currently opt-in) config setting where you can have us automatically run the version of Kubectl that corresponds to your active cluster (because Kub

[2021-01-27 02:55] itowlson commented on #848
Thanks @CRASH-tech for the report and @karelklic for tracking down the source.  I'll take a look.

[2021-01-27 03:39] alexreg commented on #861
Okay, that all sounds reasonable, cheers.

[2021-01-27 03:41] #861 closed

[2021-01-27 09:34] lstocchi commented on #823
No @itowlson sorry. I have been busy on other things. If you have someone who can tackle this it would be great.

[2021-01-27 20:13] itowlson commented on #823
@lstocchi I know the feeling.  @bacongobbler would you be interested in picking this up?

[2021-01-27 21:20] bacongobbler commented on #823
I can take a closer look at this.

[2021-01-28 00:28] carumusan commented on #843
Good to close. May be useful info if it occurs in future.

[2021-01-28 00:28] #843 closed

[2021-01-28 02:11] #848 closed

[2021-01-28 02:33] #846 closed

[2021-01-28 02:34] itowlson commented on #844
Should be fixed in 1.2.3 - please reopen if not

[2021-01-28 02:34] #844 closed

[2021-01-28 02:34] itowlson commented on #841
Should be fixed in 1.2.3 - please reopen if not

[2021-01-28 02:34] #841 closed

[2021-01-28 02:35] itowlson commented on #837
Should be fixed in 1.2.3 - please reopen if not

[2021-01-28 02:35] #837 closed

[2021-01-28 02:35] itowlson commented on #832
Should be fixed in 1.2.3 - please reopen if not

[2021-01-28 02:35] #832 closed

[2021-01-28 02:35] itowlson commented on #809
Should be fixed in 1.2.3 - please reopen if not

[2021-01-28 02:35] #809 closed

[2021-01-28 02:37] itowlson commented on #743
Should be fixed in 1.2.3 - please reopen if not

[2021-01-28 02:37] #743 closed

[2021-01-28 02:37] itowlson commented on #706
Should be fixed in 1.2.3 - please reopen if not

[2021-01-28 02:37] #706 closed

[2021-01-28 02:40] itowlson commented on #859
Fixed via #863.

[2021-01-28 02:40] #859 closed

[2021-01-28 03:54] itowlson commented on #835
Sorry for the late response.  Are you still seeing this problem?  I installed the Minio CRD and I am getting intellisense on your file, though I did reload the extension after installing the CRD (to force it to reread the cluster's OpenAPI document).  The funny thing is I am _not_ getting intellisense for `zone` or anything underneath it; it looks like the `zone` property might not be defined in t

[2021-01-28 03:59] itowlson commented on #835
We have also seen an issue where CRD intellisense does not work for files that are already open when VS Code starts up, I think because VS Code asks us for a schema before we've had a chance to talk to the cluster (and then won't let us amend our answer when we _have_ talked to the cluster).  So, just to diagnose if this is part of the issue, you could also try opening VS Code with your Tenant YAM

[2021-01-28 11:54] Phantomape commented on #849
![image](https://user-images.githubusercontent.com/8809221/106113705-bd57e500-6189-11eb-8d56-36f0e69d2282.png)
Sure, I'd love to give a more detailed descriptions to make this feature go a little bit further. But could u tell me the location for "Attach Visual Studio Code" shown in the image above, so that I could dig deeper into the code before jumping to conceptual design. Did a word regex searc

[2021-01-28 12:35] arianvp commented on #835
The `zone` field was renamed in newer versions of the CRD. I'll check back with your instructions if I can still reproduce

[2021-01-28 17:44] dsaydon90 commented on #834
My `Dockerfile` is located in a different path in the project, please add that ability to change the `Dockerfile` path

[2021-01-28 18:59] ianjirka opened #867 "Get command failed: error: there is no need to specify a resource type as a separate argument"
When expanding any pod on a node I get the following error:

[code]

[code]

Repro:
- Expand cluster
- Expand Nodes
- Expand a node
- Expand a pod (Ex : coredns)

Expected:
Not sure, first time using this extension

Actual:
UX spins for a while, then creates a sub-node under the pod with the text 'Error' and VSCode pops the above error messages.

Tested with these kubectl/AKS versions:
[code]

[2021-01-28 20:46] itowlson commented on #867
Hmm, I get a different error but yeah something is definitely not right there.  Thanks - taking a look.

Depending on what you want to look at you can also find pods under the Workloads folder, where they are working for me - please let us know if you see errors there as well.  Thanks!

[2021-01-28 20:56] flockoftanks commented on #865
Thanks for getting back! I create a new pod.yaml file and start typing.

[code]
If the Kubernetes extension is installed, I get 4 spaces, after I uninstalled (per steps outlined above) it started giving me 2 spaces again. I looked for an override (via helm?) setting within the Kubernetes extension but didn't see anything that could override my YAML extension setting.  Technically that means it was

[2021-01-28 21:14] itowlson commented on #867
Something has gone wrong with the parsing of the `kubectl` output.  We see something like:

[code]

and interpret it as

[code]

This might have been introduced in #797 where we fixed some other aspects of kubectl output parsing but possibly introduced a regression.  I'll continue investigating.

[2021-01-28 21:38] itowlson commented on #867
Okay #797 introduced a bug in `outputUtils.ts > findPositionHeaders` (line 31) where it would get the wrong position for any column whose header was a substring of an earlier header.  This kubectl output has `NAMESPACE` followed by `NAME` so we incorrectly start the `NAME` column at the position of the `NAMESPACE` column and this truncates the `NAMESPACE` column.  This should be an easy fix - fing

[2021-01-28 21:52] dnegrisolli commented on #867
I´m having this problem too!

[2021-01-28 21:52] itowlson commented on #867
Fix is out for review and should be in the next release.  Thanks for the precise and methodical bug report and repro instructions - this really helped to nail it quickly.

[2021-01-29 02:28] itowlson commented on #849
Hmm. I don't recognise that command at all!  It could be contributed by another extension though, via our API.  Would you be able to post a list of your installed extensions please (`code --list-extensions`), and I can investigate where it comes from?  Thanks!

[2021-01-29 05:48] Phantomape commented on #849
![image](https://user-images.githubusercontent.com/8809221/106236781-8096f700-6238-11eb-85f9-f132bf2db2d4.png)
I found the source for this button: https://github.com/microsoft/vscode-remote-release/issues/12, it is from ```Remote-Containers```

[2021-01-29 12:13] shu-ming opened #870 "Can't switch cluster or namespace on Mac"
Can't switch cluster or namespace on macOS through the Kubernetes Extension.
Right click the cluster name, select "Set as Current Cluster"

Error message is:
_Failed to set 'docker-desktop' as current cluster: Kubectl command failed: error: open .lock: read-only file system_

Right click a not current namespace name, select "Use Namespace"

Error message is:
_Failed to switch the namespace: error:

[2021-01-31 22:10] #867 closed

[2021-01-31 22:11] itowlson commented on #870
@bacongobbler Are you on a Mac?  If so would you be able to look into this please?  Thanks!

[2021-02-01 05:23] bacongobbler commented on #870
Sorry! I no longer own a Mac.

[2021-02-01 13:42] dnegrisolli opened #873 "Error loading when select a pod inside namespace"
Hello!
- Using Windows 10 19042.746, with VS Code in WSL 2
In this new version v.1.2.3 i´m facing some troubles with:
1- When I try to use the namespace and try to portfoward, appears the error:

[code]

2- when I trey to open a Pod in a Terminal:

`Failed to get containers in resource: error: there is no need to specify a resource type as a separate argument when passing arguments in resource/nam

[2021-02-01 13:55] lstocchi commented on #873
Hello @dnegrisolli, your issue looks similar to https://github.com/Azure/vscode-kubernetes-tools/issues/867 and it was fixed by https://github.com/Azure/vscode-kubernetes-tools/pull/868. You should see it working again from next release.

[2021-02-01 13:57] lstocchi commented on #865
@itowlson were you able to replicate it? I tried it without any success. I uninstalled/reinstalled vscode k8s extension several time, also closed/reloaded vscode. I can still see that the yaml extension rule is used. I can also ping someone from the yaml extension if we need help.

@flockoftanks any other info that could help us to replicate this?

[2021-02-01 14:00] dnegrisolli commented on #873
I´m sorry! As I received a e-mail, i though it was the latest version.

[2021-02-01 14:00] #873 closed

[2021-02-01 17:41] bacongobbler commented on #823
Basic example to reproduce the issue:

[code]

You'll end up with 200 secrets in the default namespace (201 will be displayed to include the table headings).

[code]

Go take a coffee break while you wait for all 200 releases to be deployed...

[2021-02-01 18:09] bacongobbler commented on #823
:headsmack: don't forget to export `HELM_HISTORY_MAX=200` before you invoke that... Forgot Helm only stores the last 10 releases per app.

[2021-02-01 18:37] bacongobbler commented on #823
I was unable to reproduce the issue. Both leaf nodes loaded within ~1s by the time I opened the leaf.

![image](https://user-images.githubusercontent.com/1360539/106502605-70218f00-6479-11eb-90d1-e024e1d3e156.png)

![image](https://user-images.githubusercontent.com/1360539/106502646-79aaf700-6479-11eb-9886-a6603e92fcde.png)

[2021-02-01 19:27] bacongobbler commented on #852
Looking into this.

[2021-02-01 19:44] dnegrisolli opened #874 "Should be interesing to have 'rollout' in pod menu"
In next versions, should be useful to have 'rollout' in Pods menu
kubectl rollout restart deployment {DEPLOYMENT}

[2021-02-01 19:44] dnegrisolli commented on #874
I´m new here, I don´t know how to insert a label to ideas!

[2021-02-01 19:58] itowlson commented on #874
Might apply to deployments too (in fact my version of kubectl doesn't mention applying it to pods directly).

There are several `rollout` subcommands - might need to figure out which ones are relevant to a dev scenario and figure out a suitable UI.

[2021-02-01 20:01] dnegrisolli commented on #874
Sorry, i used for deployment not for a pod specific.
I think to the deployment meny should be useful.

[2021-02-01 20:29] bacongobbler commented on #284
Given that draft is now an archived project, we should remove it from the extension.

[2021-02-01 20:41] squillace commented on #284
Agree. @daneroo we say this with regret. BUT... there may  be something coming for this extension to replace it. #fingerscrossed

[2021-02-01 20:59] bacongobbler commented on #247
A helm repository explorer was introduced in #317, and Draft is being removed in #876 I think this can be closed.

[2021-02-01 22:07] bacongobbler commented on #870
Out of curiosity, can you try rebooting your machine and see if it works? If I'm interpreting the error message correctly, `kubectl` is attempting to open a file lock on the local directory. It's unclear why it would attempt to do that.

You can also try running `kubectl config set-context docker-desktop --namespace foo` to see if you can reproduce the same error.

[2021-02-01 22:19] bacongobbler commented on #853
Hey @ahmetgeymen - thanks for reaching out. Any chance you've been able to determine what might be causing the bug?

[2021-02-01 22:28] bacongobbler commented on #849
Hey! Thanks for the report @Azure/arm-template-deployment-what-if

Judging from your latest comment in https://github.com/microsoft/vscode-remote-release/issues/12#issuecomment-769600513 it does appear that the functionality you're looking for is in another Kubernetes extension. Shall we close this in favour of that ticket instead? I don't think there's any action items we need to take here to add

[2021-02-01 22:36] bacongobbler commented on #845
Hmm... So this behaviour would be determined by the YAML parser if I'm not mistaken.

Looking at your image, there does appear to be a few red squiggly lines designating parser errors. Do those errors not provide enough information to determine the issue?

It's worth noting that `helm lint` only checks that the chart manifest is well-formed. It does not check whether or not the templates will rend

[2021-02-01 22:37] bacongobbler commented on #840
Hey @kobiecrowder - v1.2.3 has been released as of last week. Can you try giving that a shot and report back?

[2021-02-01 22:41] ahmetgeymen commented on #853
Unfortunately I don't know the exact cause but it might something make it stopping or ceasing the connection when it losing the focus and/or selection of the current tab. I also didn't profile the network of the vs code. (Don't know how to do by the way, may be via whireshark)

[2021-02-01 22:44] bacongobbler commented on #838
Hmm... I tried to reproduce the same environment with the latest version of this extension along with extension "esbenp.prettier-vscode" (Prettier).

1. `helm create test-838`
2. Open a new window for templates/service.yaml
3. Edit the file to the content shown above
4. Set Language Mode to `helm-template`
5. Hit CTRL+S

No modifications of the file were observed.

[2021-02-01 22:51] bacongobbler commented on #834
This seems like a reasonable feature request. However, allowing Dockerfiles from other file paths also imply that we need to be able to set the root context elsewhere as well. There are many cases where the Dockerfile and root context may be in a different directory than the root path.

@itowlson do you think there needs to be some form of path sanitization as well to ensure that we cannot acciden

[2021-02-01 22:55] bacongobbler commented on #829
Looking at the code, it would appear that the extension attempts to execute the command `az --version` directly.

https://github.com/Azure/vscode-kubernetes-tools/blob/e134027df60019718c2a45e9b3df59d660a08fdb/src/components/clusterprovider/azure/azure.ts#L84

Can you try running the same command from within a terminal and see if it returns successful? From past experiences, this can sometimes occu

[2021-02-01 22:58] bacongobbler commented on #855
duplicate of #824?

[2021-02-02 09:33] thernstig commented on #838
@bacongobbler Thank you very much for trying to reproduce. I just tested again. Using version `v1.2.3` of this tool and `v5.8.0` of the Prettier VS Code extension.

What happens if you press `shift+alt+F` in the file which should format it?

Have you also set this in the VS Code config?

[code]

The `annotations` part is what changes as the line after jumps up onto the same line as `annotations` (

[2021-02-02 19:26] ahmetgeymen commented on #853
I've been dragging up and met some logs like below. SytnaxError is occurred immediately when onscreen logs are disappeared as soon as I reselect the tab.

<img width="686" alt="Screen Shot 2021-02-02 at 22 10 06" src="https://user-images.githubusercontent.com/3007479/106650959-9132ce80-65a4-11eb-9e6c-74218c061707.png">

[2021-02-03 03:04] Phantomape commented on #849
Sure

[2021-02-03 03:04] #849 closed

[2021-02-03 22:16] gionapaolini opened #878 "Debug (Attach): Define SourceMap and persist it on launch.json"
I'm using Debug (Attach) to successfully attach to the debugger. The issue is no breakpoint is bound due to the fact that SourceMap paths is not provided.

So my first question is: Is there a way to provide the SourceMap path to the command?
Secondly: is there a way to persist this into a config in the launch.json file? Something like:
[code]

Some context:  I am using k3d to create my local clust

[2021-02-04 01:28] itowlson commented on #853
That _looks_ like the VS Code container for the logs webview is detecting a syntax error on the page,  I wonder if the HTML or JS are getting restored incorrectly when the webview reloads?  I don't know why that would be though!

[2021-02-04 14:03] shu-ming commented on #870
@bacongobbler I can switch the cluster and namespace through the `kubectl config`. But it fails through right click menu.

[2021-02-04 19:16] flockoftanks commented on #865
Hmm... I'm using Remote: Ubuntu 20.04. on WSL. Windows 10.  I don't know if that was obvious from first post. I just installed Kubernetes Extension again and it's still happening. I opened any random YAML file (after installing) and hit tab and it added 4 spaces instead of 2. Everything in the chain from Windows to VS Code to Ubuntu to the Extension are all on the most recent versions. I tried cha

[2021-02-06 09:55] Relaxe111 commented on #829
I solved problem by reinstall kubectl

[2021-02-06 09:55] #829 closed

[2021-02-07 14:21] JackPott commented on #838
I've hit this too, using the default `helm create`, but I notice it only affects `service.yaml`:
[code]

Alt+Shift+F formats it incorrectly too.

All the other template yaml files, like `deployment.yaml`, `ingress.yaml` etc are not affected. Is there something odd in this file? If you save without formatting helm accepts it as valid and deploys it.

Looking at the Prettier output log, it definitel

[2021-02-07 16:25] bacongobbler commented on #838
Since these appear to be issues with the Prettier extension, would it be more prudent to open a ticket with them? They may know how to resolve this issue.

I’ve never used this extension so I haven’t the foggiest idea how to proceed here.

[2021-02-08 04:16] shu-ming commented on #870
After installing the Catalina update, this issues is fixed. Perhaps it is fixed by update  or many times restart. Not sure about that. Anyway, it is not there anymore. thank you

[2021-02-08 04:16] #870 closed

[2021-02-08 15:15] apupier opened #880 "Failed to get containers in resource: error: there is no need to specify a resource type as a separate argument when passing arguments in resource/name form (e.g. 'kubectl get resource/<resource_name>' instead of 'kubectl get resource resource/<resource_name>'"
most actions are failign with this kind of error:

For instances:
when retrieving logs:
[code]

when callign a get:
[code]

VS Code Kubernetes version used 1.2.3
[code]
Kubernetes instance was installed using minikube 1.17.1

[2021-02-08 17:59] cforce commented on #823
It works- hureria .. tx so much :-)

[2021-02-08 17:59] #823 closed

[2021-02-08 18:03] cforce opened #881 "Feature: add chart version and other meta to helm releases view"
Would you please add at least the cart version to the helm Releases (history) view, to get detailed information what release one might want to restore. The chart release ids which are just increasing number ate not helpful at al.

![image](https://user-images.githubusercontent.com/393286/107261600-c9705c00-6a3f-11eb-8014-bc8f82730b9b.png)
![image](https://user-images.githubusercontent.com/393286/1

[2021-02-08 20:51] #191 closed

[2021-02-08 20:51] #192 closed

[2021-02-08 20:51] #193 closed

[2021-02-08 20:51] #246 closed

[2021-02-08 20:51] #247 closed

[2021-02-08 20:51] #284 closed

[2021-02-08 20:53] itowlson commented on #880
This looks like the same error we saw in #867.  There's a fix for that but it's not in a release yet.  I'll try to push one out in the next couple of days.

[2021-02-09 00:27] itowlson commented on #878
This is Node debugging with something like TypeScript or webpack in play, right?  I'm not very familiar with that scenario.  How would you normally provide source maps in a remote debug session?

[2021-02-09 01:41] itowlson opened #884 "Helm History node always loads latest release"
You can click on a Helm Release node to see the release a la `helm get all`.  If you click on a historical sub-node, though, it still loads the latest release instead of the one you selected.  We can fix this by running `helm get all --revision`.

[2021-02-09 02:10] shreyaskarnik commented on #884
@itowlson thanks for opening this. I do have a WIP fix for this bug. Happy to give this a shot if you are not actively working on this, else please ignore my comment.

[2021-02-09 02:12] itowlson commented on #884
Oops, sorry, was about to send a PR.  My apologies, I should have self-assigned to let you know.

[2021-02-09 02:17] shreyaskarnik commented on #884
All good! Thanks for fixing this.

[2021-02-09 05:24] mfmayer commented on #823
@itowlson I also can‘t observe the issue anymore. Many thanks
for your effort!

[2021-02-09 08:52] thernstig commented on #838
@bacongobbler Sure, do you think it is a problem with that extension? I can open a ticket there then.

[2021-02-09 23:52] #884 closed

[2021-02-10 00:11] #881 closed

[2021-02-10 14:53] thernstig commented on #838
Closed, because as you so correctly pointed out this is a Prettier issue and there is already an existing issue here https://github.com/prettier/prettier/issues/6517

[2021-02-10 14:53] #838 closed

[2021-02-10 20:31] CRASH-Tech opened #887 "Cannot add multiple KUBECONFIG files"
Just by design, I can only replace current KUBECONFIG

[2021-02-11 01:39] lolodi opened #888 "OAuth authentication is not supported"
If using OAuth for authentication, if the token is expired and need to be renewed kubectl shows a message like so:
![image](https://user-images.githubusercontent.com/18540925/107594399-b2a84180-6bc6-11eb-9350-7213f4bcb05a.png)
but the Kubernetes extension just keeps spinning with no suggested action:
![image](https://user-images.githubusercontent.com/18540925/107594435-c653a800-6bc6-11eb-8ccb-4202

[2021-02-11 06:27] werdnum opened #889 "Installing dependencies is hardcoded to amd64"
When I attempted to run this extension on an instance that was running on an arm64 architecture, I got an "exec format error" after installing dependencies through the extension.

After further inspection, it turns out that the extension hardcodes `amd64` in several places as the platform for which to download binaries such as `kubectl`, `helm`, etc. See, for example, [here](https://github.com/Azu

[2021-02-11 13:33] lstocchi commented on #888
The shelljs lib we use doesn't support interactive programs and it is completely stuck when the command expects some user input. Our problem is here https://github.com/Azure/vscode-kubernetes-tools/blob/929a87c101bbe46d5233f88c37c4868079b88846/src/shell.ts#L163

I didn't test with OAuth authentication but i think it is the same.
To replicate it, I started minikube, changed the user on the kubeconf

[2021-02-11 13:59] Morriz opened #890 "plugin can't be turned off for User"
When it is turned off for scope User, it seems not possible to explicitly enable it in the Workspace settings. I also can't find any "enabled" flag or so.

[2021-02-11 14:04] Morriz commented on #890
Hmmmm. I am able to turn it on only for Workspace scope, but that is not reflected in the `.vscode/settings.json` file (as if my vscode install keeps it somewhere else, but why?)  It seems we are now not able to automate this for new developers pulling our repo. So my real question is, how is it possible to turn on this plugin via that file?

[2021-02-13 00:21] shreyaskarnik opened #891 "Feature Request: Syntax highlighting for Helm Inspect Values"
It would be great QOL improvement if the  inspect values for a helm chart created a `values.yaml` file that is editable and has syntax highlighting.

Currently inspect values opens up a webview which is great for inspecting values but if user has to customize the default values, the user would need to copy the contents of the webview, make changes and create a `values.yaml` to use for installation

[2021-02-14 12:24] gionapaolini commented on #878
It's plain nodejs debugging with no TS nor webpack. To be honest I never used remote debugging, but rather I'm connected to the container and then attach to the debugger from within.
And in that case I am using the following config in the launch.json:
[code]
But I think the option would be the same for remote debugging, here there are more information: https://code.visualstudio.com/docs/nodejs/nod

[2021-02-14 23:13] itowlson commented on #891
@bacongobbler @technosophos Any thoughts on the suggested workflow here?  Does this feel like a smooth UI or should this be a separate operation or what?

@shreyaskarnik I would definitely be interested to see your thoughts or a prototype, though I would definitely qualify the workflow with the folks cited above before investing too much effort.  Might also need to think about how a generated `val

[2021-02-14 23:20] kwlzn opened #893 ""Attach Visual Studio Code" on target container fails on mkdir step"
issue:

it seems that on attach, VS Code Kubernetes attempts to install the server-side components to `/home/$USER/.vscode-server` (non-writable in my container) rather than `$HOME/.vscode-server` (writable in my container).

this does not work in my environment:

[code]

but this does:

[code]

terminal output:

[code]

could this be made to use `$HOME` instead - or is there some better way to cu

[2021-02-14 23:20] itowlson commented on #890
As you have noted, enabling at the workspace level seems to be possible via the Extensions UI:

![image](https://user-images.githubusercontent.com/865538/107892108-dfbe7080-6f87-11eb-99a5-e5f4a03acd23.png)

I don't know where this information is stored, though.  I'd suggest contacting the VS Code team about this (via https://github.com/microsoft/vscode/issues) as this is a VS Code-level concern th

[2021-02-14 23:33] kwlzn opened #894 ""Kubernetes: Use Namespace" requires write access to kubectl config"
currently, when I attempt to use "Kubernetes: Use Namespace" with my k8s cluster, it appears to execute a `kubectl config set-context` under the hood.

this seems like a fairly normal thing to do - however on my corp laptop environment, this config is managed and effectively non-writable/customizable:

[code]

I'm wondering if anyone thinks it could make sense to support a mode where the kubectl t

[2021-02-14 23:51] itowlson commented on #878
@lstocchi @bacongobbler Does either of you have bandwidth to look at this please?

[2021-02-15 00:18] itowlson commented on #894
Kia ora @kwlzn, could you try the following config setting please?

[code]

It isn't as convenient as the `Use Namespace` command but might be a workaround for you.  (But it's an old setting from before we had the Use Namespace command and I'm not sure whether it's been kept up to date, so please do report any errors/failures you see with it.)

[2021-02-15 01:16] itowlson commented on #893
This looks like it is something in the Remote Containers extension - the k8s extension doesn't use the string `vscode-server`.  Their repo is https://github.com/Microsoft/vscode-remote-release - have a chat with them in the first instance I think.  And if it needs collaboration across the two extensions then collaboration there will be!

[2021-02-15 02:48] kwlzn commented on #893
closing this in favor of https://github.com/microsoft/vscode-remote-release/issues/4468

[2021-02-15 02:48] #893 closed

[2021-02-15 02:57] kwlzn commented on #894
doesn't seem to work - the cluster view reverts to using the `default` namespace under `Clusters > <cluster> > Workloads > Pods`.

[2021-02-15 10:44] lstocchi commented on #878
Did you check the doc about vscode js debug for all available options? https://github.com/microsoft/vscode-js-debug/blob/master/OPTIONS.md
Any sample app we can use to replicate the issue and help you better @gionapaolini ?

[2021-02-15 13:48] Morriz commented on #890
Yes, I saw that. But I would expect the plugin to offer configuration to activate the plugin for `Workspace` level, via the `.vscode/settings.json` approach, which is the default I believe. Maybe it is easy to add this? So that we can automate everything? Otherwise we have to tell our devs to do some manual task to be able to use the plugin.

I am not sure why there wouldn't be a flag for that out

[2021-02-15 19:14] bacongobbler commented on #891
`helm inspect values` is intended to be used in the fashion that @shreyaskarnik described, so this request seems like a reasonable ask. Copying the values into a temporary window so that it can be saved as a file and receive syntax highlighting sounds like a very smooth UX.

[2021-02-15 20:39] #889 closed

[2021-02-16 04:39] ionutrusuboca commented on #737
Hi. I am experiencing the same thing. I believe it's just that the line is very long and I can't find a readily available way to wrap it within the visible area.

I see these options at the top : 'Show log entries' ; 'Match expression' then 'Scroll To Bottom' . Maybe a 'Wrap lines' would be a nice addition ? :) Thank you .

[2021-02-16 17:56] bacongobbler commented on #890
As @itowlson mentioned, the VSCode team may know more about how extensions can be installed and enabled at a workspace scope. This is out of our knowledge realm - the mechanism for enabling and disabling extensions at the Workspace/User level is a VSCode concern; an extension cannot determine how it is installed or enabled.

I'd reach out to them first and see if there's a way to do so. Let us kno

[2021-02-16 17:59] Morriz commented on #890
I think it is in scope. I see other extensions following that paradigm. It
is up to you as an extension developer to expose that flag probably. It
might be in adoptions interest to expose it so we as users can automate
enablement from our code repos.

On Tue, 16 Feb 2021 at 18:56, Matthew Fisher <notifications@github.com>
wrote:

[2021-02-16 18:01] bacongobbler commented on #864
Perhaps something can be used from the [CNCF artwork repository](https://github.com/cncf/artwork)? It's all licensed under the Linux Foundation's trademark [usage guidelines](https://www.linuxfoundation.org/trademark-usage/).

https://github.com/cncf/artwork/blob/master/projects/kubernetes/icon/white/kubernetes-icon-white.svg

[2021-02-16 18:02] bacongobbler commented on #890
Do you have an example handy we can look at?

[2021-02-16 23:20] itowlson commented on #890
Issue has been outstanding with the VS Code team for a while now: https://github.com/Microsoft/vscode/issues/40239

[2021-02-17 03:23] squillace commented on #890
Yup. That's a global setting. If there's an easy way to do this at an extension level, I'd love to see a few examples of those that have done it without stomping on other extensions usage. That's always the hard part.

[2021-02-17 03:44] itowlson commented on #890
I don't understand how a setting that relies on the extension checking it would work to be honest.  If an extension is globally disabled, VS Code would never activate it, so it could never check the config setting to know it should participate in this workspace.  Or am I missing something?

[2021-02-17 08:52] Morriz commented on #890
I think it is just an extra option for you to implement in user space: just offer us the flag via your configuration to control this via code. Than we can choose to use your plugin from User or Workspace settings.json.

[2021-02-17 08:54] Morriz commented on #890
It would be nicer if VScode provided this as a hard flag that an extension developer can't control: `enabled`. Unfortunately it seems they have not done so, and until that happens it is up to user space to implement such a thing I guess....

[2021-02-17 14:58] squillace commented on #890
without a few examples to look at, we'll help you push the general issue above (https://github.com/microsoft/vscode/issues/40239) but this is not yet anything we will work on. **yet**. If we can't find examples with other extensions, I'll close the issue. We can always reopen it if we discover something we can work with.

[2021-02-17 16:50] Morriz commented on #890
Do you offer ANY settings to be controlled via vscode settings.json? If so, that is what I refer to. To just expose an `enabled` flag. Example plugins that do this:

- `esbenp.prettier-vscode`: "prettier.enable"
- `signageos.signageos-vscode-sops`: "sops.enabled"

[2021-02-17 16:56] squillace commented on #890
Thanks for the examples! We'll have a look.

[2021-02-17 17:07] squillace commented on #890
Hmmmmmm. We did a quick look, and the problem here is that prettier can do this because there's no UI and it runs in the background, and the command bar is still populated with commands like "Create Configuration File". But VS Code will still populate the command bar, activity bars, and the UI even if the extension is "disabled".

We can't, from the extension, prevent/correct whatever Code does at

[2021-02-17 19:51] shreyaskarnik commented on #891
Thanks for the feedback @itowlson  and @bacongobbler

 I do have a prototype that I am experimenting with (have some cleanup to do) but here is how it looks:

![image](https://user-images.githubusercontent.com/311217/108258504-ef1ef480-7114-11eb-8e21-fd20b21c3411.png)

`Generate values.yaml` generates default values file for the chart.  This file is fully editable following the pattern in `kuberes

[2021-02-17 23:19] gionapaolini commented on #878
I'll try to find the time to make a proper example repository @lstocchi

[2021-02-18 03:50] shreyaskarnik commented on #891
Experimented a little more on prompt to install helm chart with the values from Generated `values.yaml` file here is how it looks
![image](https://user-images.githubusercontent.com/311217/108302592-20b9af00-7159-11eb-85e4-063b64bbe1d7.png)

This action is triggered upon editing and saving the `values.yaml` file might need to find a way to say do not show me this message if the popup gets too chatt

[2021-02-18 16:22] Morriz commented on #890
Alright, I will close this then. I agree it should be handled higher up

[2021-02-18 16:22] #890 closed

[2021-02-21 21:47] itowlson commented on #894
Okay, we'll take a look.  Thanks!

[2021-02-21 21:58] itowlson commented on #894
It looks like this setting is read only for commands that operate on the open document (which are the ancient lizard brain of the extension).  We'll need to have a look at how we can support it elsewhere.  It's also tempting to look at something more flexible (that could give you the Use Namespace experience) but we'd need to think about whether it would be confusing to have both that and the kube

[2021-02-24 11:42] mploquin opened #897 "Error opening dashboard with minikube cluster"
On a minikube cluster (1.17.0) i cannot open the dashboard with the "Open Dashboard" menu selection from the Kubernetes Extension for vscode since version 1.2.3 and above. I have this message / error :

`Something went wrong when ensuring the Kubernetes API Proxy output stream existed`

It work fine with extension version 1.2.2... Any ideas ?

Thanks

[2021-02-24 22:45] lstocchi commented on #897
Hi @mploquin , thanks for opening this. From version 1.2.3 we bundled the extension so i guess this error depends from that. We'll fix it asap.

[2021-02-25 00:58] itowlson commented on #897
@lstocchi It looks like we use a file to figure out when the `kubectl proxy` for the dashboard is ready.  The filepath is based on `__dirname`, which might get trampled by webpack.  I am not sure why having the temp file in the wrong place would matter... but I guess it could...?!

[2021-02-27 12:35] gionapaolini commented on #878
While I was preparing the sample project, I did not incur in the same issue, so it might be an issue related to volumes (since I haven't used them in the sample project).

Before I continue my investigation though, I would like to focus on my second request that is: is it possible to persist the command on the launch.json file?

As mentioned before, something like this:
[code]
Just to provide some

[2021-02-27 17:12] alexreg opened #899 "Uses space for line:column in status bar"
Why does the plugin use the space for the `line:column` number in the status bar? This is obviously highly undesirable.

<img width="101" alt="Screenshot 2021-02-27 at 17 12 00" src="https://user-images.githubusercontent.com/67036/109394439-e8fff380-791e-11eb-930b-f01840afff8e.png">

[2021-03-01 00:07] itowlson commented on #899
Where are you seeing this please?  When I install the plugin I still see the line and column display; we would certainly not want to overwrite that.

![image](https://user-images.githubusercontent.com/865538/109438370-96454980-7a8e-11eb-9bf2-bce0d1559eac.png)

(To be honest I didn't know overwriting it was even possible!  Sometimes multiple extensions can push the line/column display out to the le

[2021-03-01 01:05] alexreg commented on #899
Apologies for the alarm; I think I'm actually mistaken. I'd hastily jumped to the conclusion that it was Kubernetes, just because the Kubernetes text appeared in (roughly) the same space that the line:column usually appears in. It is rather probably that line:column is getting pushed off the end by a bunch of status bar items (Kubernetes just one of them).

[2021-03-01 01:06] #899 closed

[2021-03-01 01:16] #897 closed

[2021-03-01 21:55] #852 closed

[2021-03-02 09:07] lstocchi commented on #880
@apupier i think this is fixed. Can this be closed or you still face the error? Thanks

[2021-03-02 13:14] apupier commented on #880
i confirm that it is fixed.

Thanks

[2021-03-02 13:14] #880 closed

[2021-03-02 23:39] shreyaskarnik commented on #891
@itowlson if you get a chance can you look at the proposal?

[2021-03-03 02:15] itowlson commented on #891
Apologies for dropping the ball on this one.  I love the generation user experience, and the fact that users can deploy into dev environments from the edited values file.  But I wonder if we should be saving the `values.yaml` in the filesystem so that it can be tracked for production GitOps scenarios?  Also I am not sure that prompting to install on 'editing and saving' is right - I think you are

[2021-03-03 08:57] mirogta commented on #852
Awesome - thanks @bacongobbler

[2021-03-03 17:15] stefanfritsch commented on #739
I have the same problem with a remote cluster.

As there is no output it's hard to debug.

[2021-03-03 17:48] bacongobbler commented on #891
+1 on all your points. I think it'd be better if the values file is saved on the local filesystem. That way there's no need to write special cases for this particular file with `helm install`, which could lead to confusion. I can already see the incoming bug report: "Where is 'Helm Install' looking up its values?"

IMO I don't think `helm install` should tie into this workflow at all. There are ma

[2021-03-03 20:08] shreyaskarnik commented on #891
Thanks for your feedback @itowlson and @bacongobbler I agree on the points made and the scope creep aspect.

Currently in the prototype I have the `values.yaml` file generated and saved in virtual FS and that flow is working smoothly.  Would this be okay or do we need to save the file in current directory?

For `helm install` piece I think trigger after save suggestion is very pragmatic.

I can op

[2021-03-03 20:41] bacongobbler commented on #891
SGTM

[2021-03-03 20:59] itowlson commented on #891
I have a feeling that if we open a document using the "virtual file system" trick and the user hits Save then the VFS infra saves it to the top-level currently open folder.  If it does - that's probably okay for now.  If it doesn't - that's probably okay too as far as this PR goes, but being able to save the edited values would be nice at some point (and people might be vexed if they edited values

[2021-03-03 21:29] chirlo commented on #814
I'd say the second is more intuitive , but might be a matter of preference.  I'm used to the Eclipse views where you choose between flat view (your first option) or hierarchical view ( the second).
But mostly is about being able to see all existing objects at once easily.

[2021-03-04 09:43] gionapaolini opened #900 "Disable network debug information when attaching to terminal"
It often happens (not all the time) that when opening a terminal on a pod from the extensions I get network debug information.
It is the exact same problem mentioned here https://stackoverflow.com/questions/43144822/disabling-network-logs-on-kubernetes-when-running-kubectl-exec

The proposed solution works if I indeed attach manually with the command `kubectl exec -it <PODNAME> -- /bin/bash `, but

[2021-03-04 18:05] shreyaskarnik commented on #891
Sounds good, I will open a PR this weekend. I will add documentation and information dialog too to communicate where this file is saved upon editing.

Thanks again @itowlson and @bacongobbler

[2021-03-05 10:25] markszente opened #901 "Snippets: ingress.yaml should use apiVersion: networking.k8s.io/v1"
Snippet [`ingress.yaml`](https://github.com/Azure/vscode-kubernetes-tools/blob/master/snippets/ingress.yaml) currently uses `apiVersion: extensions/v1beta1`, which is deprecated in v1.14+ (and will be removed in v1.22). It should therefore be replaced with `apiVersion: networking.k8s.io/v1`.

Proposed body for the snippet, in accordance with the [docs](https://kubernetes.io/docs/reference/generate

[2021-03-05 13:02] Andilutten opened #902 "VSCode Kubernetes does not find the binaries after prompted install"
After installing the extension it prompts the user if you would like to install helm, minikube and kubectl (given they are not already installed and in PATH)

Although the extensions successfully installs the binaries, it does not look like the
extension are able to find them.

I've checked on 3 machines running linux and the same problem occurs on all of them.
The binaries are however installed a

[2021-03-09 20:50] deathgaze opened #904 "Support kubectl edit"
Title says it all. I would love to be able to right click on resources and edit their manifests directly in VS Code. VS Code doesn't seem to directly support this at the moment due to it not waiting for exit on standard in properly.

[2021-03-11 02:24] nhoss2 commented on #770
Since this was the first result on google for the "kubectl command failed" error, I fixed this by removing kubectl from the snap installation and installing kubectl from apt (https://kubernetes.io/docs/tasks/tools/install-kubectl-linux/)

[2021-03-12 02:45] itowlson commented on #904
Just to clarify the request, what experience do you envisage here?

1. If you run `kubectl edit` at the command line (outside VS Code), it loads the YAML, and kubectl applies the changes when you close the file?
2. There should be an Edit command on resources in the tree (and via the command palette), which would bring up the YAML a la Load. and would then apply the changes when you:
  a. closed t

[2021-03-12 02:49] itowlson commented on #902
Sorry for the delay getting back to you on this.  This might relate to a change where we changed some configuration keys.  Can you post the setting(s) generated into `settings.json` (it's okay if you redact sensitive parts of the path but I would like to see what keys it is writing the path to and whether they are nested or top-level).

Thanks and apologies for the inconvenience!

[2021-03-12 02:51] itowlson commented on #901
Good catch and thanks for flagging this!  If you have a moment to raise that change as a PR that would be awesome, otherwise we will get onto it.

[2021-03-12 02:56] itowlson commented on #900
I don't think we set `DEBUG=true` anywhere. Not sure why you would be seeing this from the extension but not from your CLI.  What happens if you run the command from the VS Code embedded terminal?

[2021-03-12 12:53] Andilutten commented on #902
@itowlson sure thing ! I only have the generated path of minikube in my current config though , but the other ones (helm & kubectl) used the same scheme.

![image](https://user-images.githubusercontent.com/11199391/110942600-5017a200-833a-11eb-9b23-e987bfc7e301.png)

[2021-03-13 04:28] deathgaze commented on #904
I would envision it operating exactly as it should on the command line if VS Code were invoked with the `—wait` option on the CLI (I’m not sure if it’s relevant, but git commit messages using VS code as editor work exactly this way). If a manifest has been modified, it should be marked as dirty and the user should be prompted to save it. If a manifest is already saved and clean when it is closed,

[2021-03-13 21:15] gionapaolini commented on #900
Is it supposed to use the default integrated terminal under the hood?
Because I just checked and integrated terminal also work fine, but when I tried with the extensions, I again saw the network information

[2021-03-15 14:01] afmsavage opened #907 "Random Helm Output messages"
In the VSCode output window, there are sometimes very vague errors from the Helm extension that pop up every time you open up a helm based project.  There is no detail around these messages, and I cannot figure out how to turn them off or where the error is coming from.  There is no information in `helm lint` nor in the Problems tab.  Please provide more information about why these are occuring.

[2021-03-15 15:28] bacongobbler commented on #907
I could only find two locations where that error message can be found:

https://github.com/Azure/vscode-kubernetes-tools/blob/e134027df60019718c2a45e9b3df59d660a08fdb/src/helm.documentProvider.ts#L83-L90

https://github.com/Azure/vscode-kubernetes-tools/blob/929a87c101bbe46d5233f88c37c4868079b88846/src/helm.exec.ts#L417-L424

Can you report back which version of the extension you are using? Thanks

[2021-03-15 15:36] bacongobbler commented on #835
Hey. Just checking in to see if you were able to reproduce ^

[2021-03-15 15:36] bacongobbler commented on #840
ping

[2021-03-15 16:34] afmsavage commented on #907
Chart.yaml is generic, no issues in it that I can see or any `( )` characters.

[code]

Kubernetes Extension: v1.3.0

[2021-03-15 16:37] nicole-chen-fivestars opened #908 "Can't discover cluster with kubernetes v1.19.7"
I recently upgraded my kubernetes to v1.19.7, and the extension can no longer find my cluster. I'm now unable to attach to a container to debug.

<img width="280" alt="Screen Shot 2021-03-15 at 4 31 38 PM" src="https://user-images.githubusercontent.com/54960122/111187933-6cbb1080-85ac-11eb-88bc-c0876863ee24.png">
<img width="373" alt="Screen Shot 2021-03-15 at 4 33 23 PM" src="https://user-images.

[2021-03-15 16:43] bacongobbler commented on #908
Hi @nicole-chen-fivestars.

Looking at the releases page I only see v1.18.1 as the latest. I assume you meant Kubernetes 1.19.7 as per your snapshot.

https://github.com/kubernetes/minikube/releases/tag/v1.18.1

It also appears you have kubectl v1.16.6-beta.0 installed. Try upgrading kubectl to a more recent version and see if that will fix the issue for you.

[2021-03-15 16:46] bacongobbler commented on #907
Hmm... Thanks for the report. I don't know where this error message might be reported from but perhaps other maintainers may know more.

[2021-03-15 18:53] nicole-chen-fivestars commented on #908
Hey @bacongobbler,

Yes, you're correct. I meant Kubernetes 1.19.7 and updated the issue description.

Upgrading my kubectl client version did indeed solve the issue. Thanks so much for your help!

[2021-03-15 18:53] #908 closed

[2021-03-16 07:58] McMac opened #909 "IAP tunnel support"
**Use case**
I am developing against a GKE cluster that does not have a public IP.

I need to use "gcloud beta compute ssh... --tunnel-through-iap ... to access e.g. the VM.

The Clusters view shows the name etc however cannot connect as it is trying to connect to an internal IP.

**Feature**
support the use of "--tunnel-through-iap"

[2021-03-18 15:07] LGNorris opened #910 "clusters no longer visible in sidebar"
Just out of the blue my clusters have stopped appearing in my toolbar. However, running _Kubectl config view_ returns a kubeconfig with expected clusters and contexts. Anyone had a similar problem?

Clicking on Set Kubeconfig from the sidebar yields not response but running the same command from the command palette gives this error:

![image](https://user-images.githubusercontent.com/42153969/1116

[2021-03-18 15:35] bacongobbler commented on #910
Hmm... If the command cannot be found I wonder if your vscode environment is out of whack. Have you tried reinstalling the kubernetes extension to see if it is repopulated?

For context, here is where it is declared:

https://github.com/Azure/vscode-kubernetes-tools/blob/cda741dbb442823e4cd87812139d5c7bb6bd4f16/package.json#L57

[2021-03-18 15:58] LGNorris commented on #910
Yeah it seems my VS code was out of whack. Did a fresh install to the latest build of VS Code and it seems to of fixed the issue.

[2021-03-18 15:58] #910 closed

[2021-03-18 16:35] cfiderer opened #911 "Kubernetes:Debug doesn't provide Go debugging"
I have the Kubernetes extension (ms-kubernetes-tools.vscode-kubernetes-tools v1.3.0) and the Go extension (golang.go v0.23.2)
installed in VS Code 1.54.3. I use Go 1.16.2, all tools requested by VS Code are up-to-date. I have configured the `vsdocker.imageUser` setting in my User settings.

But the `Kubernetes: Debug (Launch)` and `Kubernetes: Debug (Launch)` commands do not offer a Go environment

[2021-03-23 16:36] thernstig commented on #146
@bacongobbler I just tried to add a `values.schema.json`. I also added this:

[code]
and noticed that when I tried to auto-comlete things in in values.yaml in VS Code, it did not give me IntelliSense for the items I had specified. Since Helm 3 has been out for quite some time now, (and Helm 2 has been deprecated), is there a chance this feature could get some priority? :)

I have no idea how you r

[2021-03-23 17:09] thernstig commented on #146
In addition, https://github.com/redhat-developer/vscode-yaml/issues/196 seems to have an issue here as well. What is the reason the `values.yaml` file has this identifier? I need to manually change the language mode to `yaml` for the `yaml.schemas` setting to work with my `values.yaml`.

[code]

[2021-03-23 21:13] kvenkat367 opened #912 "Setting KUBECONFIG fails with error"
Issue Type: <b>Bug</b>

Hi Team ,

echo $KUBECONFIG
/Users/mylocation/.kube/config

Clicking on kubernetes panel and cluster give the error

command 'extension.vsKubernetesRefreshExplorer' not found

Clicking on setKubeconfig give following
command 'extension.vsKubernetesUseKubeconfig' not found

Thanks

Extension version: 1.2.4
VS Code version: Code 1.38.1 (b37e54c98e1a74ba89e03073e5a3761284e3ffb

[2021-03-23 21:24] bacongobbler commented on #912
Hmm... This is the second report in a week reporting the same error. Can you have a look at https://github.com/Azure/vscode-kubernetes-tools/issues/910 and see if reinstalling the extension works for you?

[2021-03-23 22:01] kvenkat367 commented on #912
@bacongobbler . I have reinstalled the extension (a couple of times) and the error is still there, I will reinstall VS code and see if it fixes it.

[2021-03-24 16:37] kvenkat367 commented on #912
@bacongobbler Worked after updating VS code itself.
Version: 1.54.3 (Universal)

[2021-03-25 11:14] lstocchi commented on #911
Hi @cfiderer, sorry for the late response. The current kubernetes extension (the one in the marketplace) still doesn't have the go debugger feature. It has been implemented and merged to the master https://github.com/Azure/vscode-kubernetes-tools/pull/875 but we haven't released the new extension yet. We'll ping you when it'll be published.

In the meantime, if you want, you can manually install t

[2021-03-25 11:47] yurigene opened #914 "Unable to parse config file .aws/config"
We use okta for authentication.
Using latest VSCode and the plugin version.
AWS Toolkit is working fine.
kubectl get pods works fine from terminal.

Kubernetes extension showing the cluster, BUT while trying to open Nodes or other things getting this error:

`Unable to parse config file: /Users/yurib/.aws/config Unable to parse config file: /Users/yurib/.aws/config Unable to parse config file: /Us

[2021-03-26 20:26] sdwerwed opened #915 "List namespaces for quick switching [Future request]"
Hello as I am working full time with Kubernetes switching between namespaces is a bit not practical and time-consuming while switching context is fast. Could you add the list in the search bar or somewhere else so we can switch quicker?
![image](https://user-images.githubusercontent.com/51335355/112688902-d1fae580-8e79-11eb-8e10-732ddd907cf5.png)

[2021-03-26 20:26] #915 closed

[2021-03-28 01:57] seandjones92 commented on #670
Also now seeing the issue with the stable build on an M1 MacBook Air
[code]

Behavior still matches what was seen above

[2021-03-29 05:36] ketanhdoshi opened #916 "Extension stopped working after upgrade to Docker Desktop 3.1"
The extension was working perfectly for many months. I am using the Kubernetes that is included with Docker Desktop on Windows (both Docker Desktop 2.x and 3.0)

Then I upgraded to Docker Desktop 3.1, and suddenly the extension no longer works. No other settings or configuration has been changed.

I am able to run kubectl and helm from the Terminal just fine, execute commands and view my cluster w

[2021-03-30 13:59] apupier opened #917 "How to have completion for Custom Resource Definitions"
based on https://github.com/Azure/vscode-kubernetes-tools/pull/583#issue-298696614 i would expect to have completion in this case:
[code]
The kameletBinding CRD deployed
![Screenshot from 2021-03-30 15-14-19](https://user-images.githubusercontent.com/1105127/113000955-9c534680-9170-11eb-9a47-ab8fc89b501f.png)

I would expect the "integration" completion https://github.com/apache/camel-k/blob/9e384

[2021-03-30 17:31] lstocchi commented on #917
Quick answer: I tried it and it seems working for me (you can see the json schema file used at the top in the image) so my guess is that you already had the file opened while vscode was fetching the schemas.
![image](https://user-images.githubusercontent.com/49404737/113030392-d4b54d80-918d-11eb-9586-9128e6b972e6.png)

The problem is that this doesn't solve your issue. The schema fetched is
[code]

[2021-03-31 02:04] doncarlosx commented on #739
I'm also having this problem. I would love to help debug it if anyone can point me towards debugging Visual Studio Code tips.

[2021-03-31 04:50] ketanhdoshi commented on #916
I figured out why the extension was not working even after a clean reinstall (and deleting existing extension settings).

I turned on "Help->Toggle Developer Tools" and saw an error in the Console that it was unable to activate the Red Hat YAML extension because my VSCode version was 1.47, and it required 1.52.

So after upgrading my VSCode version, the extension is now working.

I don't know what

[2021-04-01 21:33] ztaylor797 commented on #916
Thank you so much, this was my issue as well. I was struggling to find anything remotely similar online.
This was a fresh Kubernetes extension and Docker desktop install for me. Very odd to realize that it was VSCode's version itself that was the issue. Not intuitive.

[2021-04-04 18:48] sdwerwed commented on #828
This freezes my VS Code because logs are too big, RAM and CPU are getting too high (and wouldn't blame the laptop, it is a good one).
Could we give it a bit higher priority as it is not just an enhancement, it will prevent issues like this.

(I never coded in this typescript so not sure how much helpful I would be here)

[2021-04-05 23:57] shoyooyo opened #918 "Unable to view Clusters and Set ConfigPaths"
Issue:
Unable to view Clusters or set ConfigPaths

Getting the following error if I try CTRL+SHIFT+P > Kubernetes: Set Kubeconfig
![image](https://user-images.githubusercontent.com/57291541/113640215-8b3a9600-9698-11eb-9502-b123c7d2619a.png)
Command 'Kubernetes: Set Kubeconfig' resulted in an error (command 'extension.vsKubernetesUseKubeconfig' not found)

I manually tried to add a Json, but doesn

[2021-04-06 00:00] shoyooyo commented on #918
Okay let me try the below issue and update

clusters no longer visible in sidebar #910

[2021-04-06 00:08] shoyooyo commented on #918
so i updated my vs > resintalled k8 extension and it worked. Hence closing

[2021-04-06 00:08] #918 closed

[2021-04-07 14:52] tigerinus opened #919 "Kubernetes schema parser conflicts with OpenAPI schema parser"
Steps:

1. Install Kubernetes extension (this project - v1.3.0)
2. Install https://marketplace.visualstudio.com/items?itemName=redhat.vscode-yaml (v0.17.0)
3. Install https://marketplace.visualstudio.com/items?itemName=42Crunch.vscode-openapi (v4.3.1)
4. Open a OpenAPI spec file in yaml format

Expect: the yaml file gets parsed correctly.
Actual: yaml file gets picked up by Kubernetes extension an

[2021-04-09 19:00] tigerinus commented on #919
As suggested in https://github.com/redhat-developer/vscode-yaml/issues/474, this seems to be an issue in this extension.

Re-opening...

[2021-04-13 08:33] lstocchi commented on #919
Thanks for opening this @tigerinus . We'll give it a look and get back to you asap.

[2021-04-14 04:48] itowlson commented on #907
That message is coming via the Helm output logger (defined in `src/logger.ts`.  I can't see anywhere it outputs that message format in the extension, which means it's coming either from Helm itself, via stdout or stderr, or from some other external source such as the YAML extension.  The fact that you see it on load (without running any explicit commands) makes me wonder if it's coming from the co

[2021-04-15 01:26] itowlson commented on #914
That's very weird - I don't know where that message is coming from or why that file is being parsed.  I wonder if `kubectl` is trying to read it while trying to authenticate to the cluster, but I don't understand why you then wouldn't see the same issue when running `kubectl` from the command line.

The only thing I can suggest is if you are willing to debug into the extension and see where the me

[2021-04-15 17:49] CodingSpiderFox opened #923 "Allow adding kubernetes cluster installed on local network with kubespray"
For my homelab, I have 3 Kubernetes Clusters: dev, staging, prod

I want to be able to add them easily via the GUI in VSCode.

Please add an option to not only be able to add Azure clusters or Minikube but also clusters bootstrapped with kubespray

[2021-04-15 23:57] #901 closed

[2021-04-17 15:36] yurigene commented on #914
I rearranged the config file and it works now. Closing the issue.

Working aws config:

`[okta]
# Okta Dev APP
#####################
aws_saml_url = home/amazon_aws/yyYYhshdYndmd/313

[profile dev]
source_profile = dev
role_arn = arn:aws:iam::xxxxxxxxxxxx:role/okta-admin-role
region = us-east-1
session_ttl = 12h

[profile crispr]
source_profile = dev
role_arn = arn:aws:iam::xxxxxxxxxxxx:role/aws-ok

[2021-04-17 15:36] #914 closed

[2021-04-18 15:50] aelij opened #925 "Support for AKS private clusters"
AKS has a feature that allows communicating with private clusters (non-public IP of management nodes) using the ARM management endpoint:
https://docs.microsoft.com/en-us/azure/aks/private-clusters#aks-run-command-preview

It could be very useful if the extension would have even partial support for this. I realize that not all commands would work.

[2021-04-19 00:39] itowlson commented on #917
@apupier What cluster version are you on?  From my digging, k8s should be providing us full CRD structural schemas in the Swagger from 1.16 onwards.  There is a slightly enigmatic restriction to "Structural Schemas" though - I wonder if that CRD schema doesn't count as 'structural.'

https://v1-17.docs.kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions/#pub

[2021-04-19 01:09] itowlson commented on #925
This would be super challenging given our current architecture, but for customers using private clusters it feels like a must have!

I assume that these clusters don't appear in kubeconfig because you don't access them directly via kubectl.
 If that assumption is correct, we would need:

* A way to maintain a list of "my private AKS clusters"
* A way to identify if a private AKS cluster (rather th

[2021-04-19 01:19] itowlson commented on #923
Does kubespray provide a way to add these clusters to your kubeconfig?  As long as you can do that you don't need to use the wizard.

If you're interested in a more integrated experience, then the way to go about it is to create a kubespray cloud provider (so that your kubespray clusters would appear in the Clouds pane and could be added to your kubeconfig from there).  I'm not familiar with kubes

[2021-04-19 01:22] itowlson commented on #916
Sorry for the frustrating experience (and thank you for keeping the issue open).  Unfortunately the VS Code version thing is enforced by VS Code, and for whatever reason they have chosen not to alert if an extension can't be loaded for this reason.  I'm not sure if this issue has already been raised with them - but it has certainly bitten me too.

[2021-04-19 06:59] apupier commented on #917
@itowlson I'm using `minikube version: v1.18.1` with the default Kubernetes version which is `Kubernetes v1.20.2`

[2021-04-19 11:52] apupier commented on #917
From this [blogpost](https://kubernetes.io/blog/2019/06/20/crd-structural-schema/#conclusion):

The apiversion used is the one mentioned

https://github.com/apache/camel-k/blob/9e384110be106b4970af2e967e28e0877fa78359/config/crd/bases/camel.apache.org_kameletbindings.yaml#L18

so I guess that the schema is "structural".

[2021-04-19 12:35] apupier commented on #917
I also mixed a bunch of things :-)
Finally made it working, several things:
- it seems that a structural schema is required. For my initial example of Camel K, it wil be available with Camel K 1.4.0 thanks to https://github.com/apache/camel-k/pull/1914 . I initially tried with Camel K 1.3.2.
- I tried to close/reopen the editor without success a first time. I reloaded VS Code and then this time th

[2021-04-19 12:49] apupier opened #926 "After accepting some completion, the schema of a kubernetes CRD used is changing and thus wrong validation error appears"
using this CRD: https://github.com/apache/camel-k/blob/9e384110be106b4970af2e967e28e0877fa78359/config/crd/bases/camel.apache.org_kameletbindings.yaml
with this file:
[code]

calling completion and accepting on `flows` is giving a validation error. the schema used is no more the same.

![wrongSchemaCRDUsed](https://user-images.githubusercontent.com/1105127/115238776-5b6ea200-a11e-11eb-8441-324052e

[2021-04-19 14:56] squillace commented on #925
the core extension must not know about any provider api. That is not its purpose. So the question is what extension should implement support for this. My guess is that this is a custom AKS extension built on the api, but then how would the "base" api delegate contacting the cluster if not through the kubeconfig? I take it that @itowlson is navigating through this thicket at the moment.

Nor do I s

[2021-04-19 19:54] itowlson commented on #917
Re needing to reload: there is indeed a timing issue due to one of our underlying components that we haven't found a workaround for yet.  I *think* it may be enough to close and reopen the document, but my memory is a bit fogged on this!  In any case, as you say, Luca's approach may be more broadly applicable and I'll try to get his PR reviewed today.

[2021-04-19 20:00] itowlson commented on #925
Absolutely agree this would have to be an extensibility point rather than core behaviour, but we still need to do most of the work in core to _provide_ that extensibiity.point.  The actual cloud-provider-side wrapping and list provision _should_ then be relatively easy,

[2021-04-21 05:42] dcermak commented on #836
@lstocchi @itowlson Forgive me my super late reply, other things unfortunately took over priority.

I don't have a very concrete proposal for an API because my initial use case turned out to not be that viable after all. However, I would suggest to keep the API as generic as possible. The main issue I see with external/remote builders is how to handle authentication (this should be done by the ext

[2021-04-21 05:56] bacongobbler commented on #836
It might be worth looking at Draft for inspiration. The project is archived and it isn’t exactly the best code we’ve written, but there is a remote container builder interface available with support for an early version of ACR Build as well as Docker. We were working on Buildah and Google Cloud Builder adapters at one point as well. It’s written in Go, but you could draw similar conclusions or sol

[2021-04-21 07:44] dcermak commented on #836
Matthew Fisher ***@***.***> writes:

This looks like a viable start, albeit I would suggest that we initially
use a `any` type for the app parameter as I find it hard to judge
initially which parameters the builder will actually use, store and
need.

[2021-04-21 08:11] maver1ck commented on #496
With Helm 3 we have error
![image](https://user-images.githubusercontent.com/4006010/115519904-eae49400-a289-11eb-84d5-4ebc211eabe5.png)

[2021-04-21 20:15] #923 closed

[2021-04-21 20:15] CodingSpiderFox commented on #923
OK thanks for the info

[2021-04-22 08:18] timirnich commented on #911
What's the ETA for a release that contains the go debugging feature? I'd like to use this in a training I'm currently building, but if it's coming later than say mid-May I'd have to skip it for now.

[2021-04-25 18:47] idusortus commented on #562
Version 2.22.1 still happens in Admin powershell as well as Git Bash.

[2021-04-25 18:59] artisticcheese opened #928 "Terminal for Windows containers shall be launching powershell and not sh"
When using Kubernetes extension with Windows containers if you choose to launch terminal against the pod, it tries to launch `sh` instead of `powershell` and hence failure below
![image](https://user-images.githubusercontent.com/13176884/116005838-53a37780-a5ce-11eb-8620-15ac0df48e74.png)

[2021-04-25 21:00] stackedsax opened #929 "Don't automatically switch to Output window"
The Helm-Intellisense Output window keeps on popping up whenever I make a change to a helm chart that has problems.  Sometimes I want to see what it has to say, other times I don't.  It becomes frustrating whenI'm trying to do something in a terminal or I just want to keep the editor maximized on my code -- the Output window keeps taking control.

I didn't see an obvious way to turn off this behav

[2021-04-26 13:44] thernstig commented on #907
I have seen this issue for a long time, but never reported it. It happens every time I open a repo with Helm where I have the `values.yaml` file open. The output is the same as in the original post: `Unexpected characters ().` (seen in the Output for Helm). The annoying part is that this error actually _opens_ the Output panel automatically, so I have to manually close it every time.

[2021-04-27 00:53] Tatsinnit commented on #925
Thank you so much, Ivan and Ralph has kindly provided there really nice feedbacks above, hence just adding my 2 cents, I just want to add that currently with `private-cluster` still evolving, supporting something half way could avoid long term design understanding issues which we could require for this extension.

Like mentioned, I hope/feel immediate need is surely not what is in need. For long t

[2021-04-27 18:24] derba opened #930 "Values JSON schema validation"
I do not know how to activate values.yaml [validation using values.schema.json](https://helm.sh/docs/topics/charts/#schema-files).

When I disable Kubernetes plugin, RedHat's YAML plugin takes over the editor. With YAML plugin JSON schema validation works. It is a bit inconvenient to activate it, as one needs to set the schema to be used. But when it is done, it works pretty well. Pointing to valu

[2021-04-28 12:04] derba commented on #930
Related to https://github.com/redhat-developer/yaml-language-server/issues/371#issuecomment-827682818

[2021-04-28 14:36] lstocchi commented on #911
@timirnich it's going to be released soon (hopefully tomorrow) https://github.com/Azure/vscode-kubernetes-tools/pull/931

[2021-04-28 21:35] lstocchi opened #932 "Logs view is not working in new release"
@itowlson I tried the new release and the logs view is empty. We forgot to update the package.json command to build it https://github.com/Azure/vscode-kubernetes-tools/pull/905#discussion_r615495082  The release workflow misses that step

[2021-04-29 06:03] lstocchi commented on #932
Closing it as it works now. Thanks @itowlson and sorry for the trouble :+1:

[2021-04-29 06:03] #932 closed

[2021-04-29 21:54] sdwerwed opened #936 "Switch config using KUBECONFIG env variable"
On startup, the extension reads the KUBECONFIG, but once I update that environment variable with a new kube config path it is not updating the extension configuration even if I click the refresh button.  Because of this, there is drift, the extension uses another cluster and the console use another cluster. Some commands then will fail, one example is the port forward, it will paste the `kubectl p

[2021-05-02 22:56] andyljones opened #938 "Launch-from-terminal command"
To launch a vscode instance in a SSH remote, I'd use a command like
[code]
as taken from [here](https://github.com/microsoft/vscode-remote-release/issues/656#issuecomment-584209378). What's the equivalent syntax for a kubernetes pod?

Poking through the stack trace when I try random words, I think it's the 'remote authority' I'm after:
[code]
but so far I've failed to figure out what that is.

[2021-05-03 21:09] daxmc99 commented on #615
### Workaround for Mac
Add
[code]
to your settings.json

I previously had

[code]

The `mac` arg has been deprecated and the extension no longer recognizes it.

[2021-05-04 17:19] lszomoru opened #939 "Support Workspace Trust"
Hello :wave: I'm from the VS Code team.

Recently, we have been exploring a security feature we refer to as _Workspace Trust_. This feature is intended to centralize and unify a security conscious decision required by a variety of VS Code features. With workspace trust, the user will be able to declare whether or not they trust the folder that is opened in VS Code before these features are execute

[2021-05-05 16:36] afmsavage commented on #907
I think I know why this is occurring in at least my project.  The only place that I have `( )`'s in my chart is in the `serviceMonitor.spec.endpoints.sourceLabels.regex` field where we are using this to ignore certain Prometheus metrics to save cycles.  Not sure if this helps to track this issue down or not.

[code]

EDIT: Actually I completely missed that I have other parentheses in my statefulSe

[2021-05-05 18:01] sidewinder12s opened #940 "Support relative path in tool location settings"
Using the following to point VS Code at the Helm install doesn't appear to work:

[code]

Is this expected? I've noticed some extensions support this while others do not.

[2021-05-06 01:19] montgomerybc opened #941 "Attaching terminal to pod displaying debugging information"
# Extension Version
v0.0.8

# VSCode Version
Version: 1.55.2 (system setup)
Commit: 3c4e3df9e89829dce27b7b5c24508306b151f30d
Date: 2021-04-13T09:35:57.887Z
Electron: 11.3.0
Chrome: 87.0.4280.141
Node.js: 12.18.3
V8: 8.7.220.31-electron.0
OS: Windows_NT x64 10.0.19042

# Repro
Navigate to pod: CLUSTERS / Workloads / Deployments / my-k8s-deployment / my-k8s-pod
Right Click / Terminal

Following is r

[2021-05-06 01:21] itowlson commented on #941
@montgomerybc Sorry for the lack of reply - this was filed on the AKS repo but I am pretty sure it is an issue with the core Kubernetes extension.  I have transferred it.

@lstocchi @Tatsinnit does either of you have bandwidth to look at this please?

[2021-05-06 20:12] Xan2063 opened #942 "Log view filling up very slow for larger logfiles"
Hi everyone,

first of all thank you for providing such an improved log exploration experience with the new release.

I have some issues while digging into "large" logfiles (>2MB). If I try to follow that file from the beginning, it takes ages until the log is loaded and continues to follow the log.

If I use the tail option for the last 500 lines, scrolling is nearly instant.
Filtered output is a

[2021-05-07 08:02] lstocchi commented on #942
Thanks for opening this @Xan2063. I'm giving it a look. Unfortunately i don't think there is any setting you can change to improve this. I'll keep you updated.

[2021-05-07 08:13] lstocchi commented on #941
@itowlson maybe next week but i cannot guarantee anything. I'll keep you updated.

[2021-05-07 11:52] lszomoru opened #943 "Support virtual workspaces"
👋 Hi there, Martin here, from the VS Code team.

Recently we've announced the [Remote Repository feature](https://code.visualstudio.com/updates/v1_56#_remote-repositories-remotehub) that lets you browse and edit files and folders directly on GitHub.

`Open Remote Repository...` opens VSCode on a folder or workspace located on a virtual file system. We call this a **virtual workspace**. We observed

[2021-05-07 19:11] arisewanggithub opened #945 "Can't add existing cluster"
I want to add an existing AKS cluster. but every time after choosing the subscription in the add existing cluster process, the page just shows empty, nothing happens forever.
I've tried re-install visual studio code. Tried re-installing the kubernetes extension. But either helps. There is also no error in the output. What should I do next to fix the issue?
I'm using windows 10.

[2021-05-08 04:05] thistlillo opened #946 "Minikube upgrade"
Some days ago VS code starting saying "Minikube upgrade available to v1.20.0, currently on v1.19.0".  Each time the dialog is shown I press on 'install'. I think I accepted to install the upgrade 4-5 times per workspace: after clicking on "install" I do not see any other message (either confirmation or error, absolutely nothing), so I always think the upgrade succeeded. But that is not the case.

[2021-05-09 22:42] itowlson commented on #946
Do you have any keys in your VS Code config settings that relate to the Minikube path?  If so, could you let us know what they are (especially if there is more than one!), and what versions of Minikube are at those paths please?  Thanks!

[2021-05-09 22:49] itowlson commented on #945
Could you try:

* Install the AKS extension from the Marketplace (https://marketplace.visualstudio.com/items?itemName=ms-kubernetes-tools.vscode-aks-tools).
* In the Kubernetes sidebar, go to the Clouds pane (at the bottom by default).
* You should see an "Azure" entry there (it sometimes takes a few seconds to appear).
* Expand this and click the login option.
* After logging in, you should see y

[2021-05-09 22:59] itowlson commented on #940
Hmm, I don't know if VS Code is meant to expand that automatically or if it is extension-specific functionality.  Could you let us know one that does support it and we'll ~see how they do it and copy that~ investigate?  Thanks!

By the way, we recently removed support for configuring binaries at the workspace level, because of the security risk of a malicious workspace [say, a public repo pretendi

[2021-05-09 23:02] itowlson commented on #928
Our current logic is to check if `bash` is present and run that if it is, otherwise `sh`.  Clearly this isn't right for Windows containers.  I'll have a look and see how we can detect that case.  Thanks for flagging this!

[2021-05-09 23:05] itowlson commented on #907
@bacongobbler Would Helm emit this message under these circumstances?

[2021-05-10 10:45] thistlillo commented on #946
Hello and thank you for your answer.

The only reference I found using either `minikube` or `kube` as search keys is:
[code]

[2021-05-10 17:38] arisewanggithub commented on #945
Wow, this way works. Thanks!

[2021-05-10 17:38] #945 closed

[2021-05-10 19:32] lopes-leonardo commented on #522
Thanks @Dringho, reinstalling the kubectl from google solved for me. I was also not able to expand any of the kubernetes items in the VSCode extension after installing from snap.

[2021-05-10 20:04] MrLuje opened #947 "[Question] Helm lint + k8s yaml validation"
You can helm lint/preview a chart to make sure your helm & generated yaml are correct but AFAIK, you can't validate/lint that a resulting deployment.yaml from a chart is a valid deployment resource

See example below :

*deployment.yaml*
[code]

helm lint is fine with it (and it's ok because it is legal yaml syntax) but it is wrong in term of k8s resource.
Resource is badly indented and should be

[2021-05-12 05:10] sidewinder12s commented on #940
The Terraform extension appears to support it, at the workspace level.

I'll have to try without workspace, I was trying to configure it as part of the workspace (for a company wide workspace).

[2021-05-12 15:47] bacongobbler commented on #907
It's not an error message I'm familiar with. Usually Helm/Go errors also include some indication what file/line this error was emitted from.

https://github.com/helm/helm/search?q=Unexpected+characters&type=

[2021-05-13 15:36] lstocchi commented on #942
Hi @Xan2063, i created a PR with a possible solution. Could you please give it a try and tell me if it works for you? https://github.com/Azure/vscode-kubernetes-tools/issues/942
Everything is explained there. If you want i can also create a vsix for you, just let me know.

The result is really dependent on the user machine so a feedback from you would be extremely helpful. Thanks!!

[2021-05-13 20:45] Xan2063 commented on #942
I can check this on monday. Is there an easy way to patch the current installation?

[2021-05-14 13:05] mateka opened #950 "Extension downloads wrong binary on Apple M1"
Extension downloads wrong minikube binary. After the extension update, I have to manually download minikube binary from GitHub, rename it, make it executable and move it to the proper folder.

[2021-05-17 08:11] lstocchi commented on #942
The fastest way is to debug the PR or create a vsix from that one and upgrade the installed extension.
I created this vsix https://github.com/lstocchi/vscode-kubernetes-tools/blob/master/vscode-kubernetes-tools-1.3.2.vsix . You can use this one if you want.
You should be able to see if the upgrade successfully worked by checking the log viewer toolbar, if you see the new `enable highlighting` opti

[2021-05-17 12:01] craph opened #951 "Helm command not found after installing Kubernetes extension"
Hi,

In VSCode, I have just install the extension Kubernetes and after that I have the message that the Helm binary is not found and I have the possibility to install it by clicking on the button install.

After I select "Install it" in the output I can see :
[code]

But then If I go to the terminal and I run `helm version` I have command not found :
[code]

Is it normal ?

[2021-05-18 06:06] brittblak4 opened #952 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `vscode-kubernetes-tools`
- Extension Version: `1.3.2`
- OS Version: `Windows_NT x64 10.0.19042`
- VS Code version: `1.56.2`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2021-05-18 08:14] Xan2063 commented on #942
Hi @lstocchi,

I tried your changes. Now I can see nothing until the log is fully loaded which takes something like 11s for 10000 lines or 40s for 100.000 lines. The scrolling experience without highlighting is nearly instant, with highlighting it stutters directly after loading but reaches the same level after some seconds. Is there a way to introduce paging to the initial loading?

Thanks for yo

[2021-05-18 08:59] lstocchi commented on #942
Hi @Xan2063

Thanks for your quick response.
Unfortunately I don't think we can do much more or atleast i don't have many ideas to optimize the loading time of 20x. The outcome really depends on the machine the developer is working on.
We build our webview by appending HTML elements, right now there is no optimization on the numbers of tags created (we add a tag to color words) but even if we work

[2021-05-18 09:54] Xan2063 commented on #942
Hi @lstocchi,

I checked with the follow option activated and then the log is really struggling to fill. It starts immediately to fill but takes several minutes for 10000 lines regardless of the highlighting option.

I think the machine I work on should not be a problem, it is a i7 with 32 GB RAM, could it be latency to the cluster? Pipeing the result to a file is pretty quick.

With pagination I

[2021-05-18 10:23] lstocchi commented on #942
No, your machine is definitely not the problem.
This rings a bell. I created a pod which generates huge logs for testing, i guess it makes long logs but they match few regex rules and this impacts on the results i have. Otherwise i cannot explain the difference in the rendering time we have. I will also try to change it and see if i can achieve your results.
Thanks for the feedback and the hints.

[2021-05-18 22:29] itowlson commented on #952
Kia ora @brittblak4, do you have any more information about this issue?  Thanks!

[2021-05-18 22:35] itowlson commented on #951
The extension installs Helm in a private directory, and sets up VS Code configuration with the installed path.  It doesn't modify the global environment to make Helm available in the terminal.  So you should see that Helm features of the extension are working but if you want to use it in the terminal you will need to add it to your PATH as you have found.

I'd welcome feedback on how we can make t

[2021-05-18 22:36] itowlson commented on #950
Thanks for spotting and letting us know about this.  We need to check where we are assuming `amd64` architecture in our download paths.

[2021-05-21 12:16] andyljones commented on #938
Resolved over on the [vscode-remote-release](https://github.com/microsoft/vscode-remote-release/issues/5070) tracker.

[2021-05-21 12:16] #938 closed

[2021-05-25 17:06] lstocchi commented on #942
@Xan2063 I'm very close to have a working viewer with the enhancement you suggested. Everything seems working fine for me but i wanted you to give it a look with your huge logs and see if the experience is better or you face any other issue. I still need to fix some minor things but the logs rendering should be complete.
Could you please test it whenever you have time and let me know? This is the

[2021-05-26 11:17] andyljones opened #954 "Right-click 'get' on a pod doesn't respect `terminal.integrated.inheritEnv`"
vscode on macos has a known issue with the [PATH being corrupted](https://code.visualstudio.com/docs/editor/integrated-terminal#_why-are-there-duplicate-paths-in-the-terminals-path-environment-variable-andor-why-are-they-reversed) that's fixed by setting `terminal.integrated.inheritEnv` to `false`. I do this for my standard integrated terminal and it works, but when right-clicking a pod in the UI

[2021-05-26 13:51] ahmetgeymen commented on #853
It seems this issue has been resolved with release 1.3.1.
https://github.com/Azure/vscode-kubernetes-tools/blob/master/CHANGELOG.md#131

Thanks contributors for their efforts. 👏
https://github.com/Azure/vscode-kubernetes-tools/pull/905

[2021-05-26 13:51] #853 closed

[2021-05-26 13:58] ahmetgeymen commented on #592
This issue might have been resolved after release 1.3.1.

[2021-05-26 14:59] cilerler opened #955 "Missing JSON object responses in the log"
The cronjob below generates two lines of output
- **(a)** writes `vscodek8s`
- **(b)** writes your external IP address as a JSON object like `{"ip":"35.???.???.252"}`

When I look at the output through the extension log viewer, it shows me different result than what I see in the console with `kubectl logs <pod-name>`

![image](https://user-images.githubusercontent.com/385958/119661475-55936d00-bdf

[2021-05-27 23:01] casp4 commented on #364
Same issue in mid 2021

[2021-06-01 00:29] bnookala commented on #364
hiya folks, wanted to provide a quick update as i've been doing a bit of research on this issue

the root of this problem stems from windows running a command in cmd.exe rather than powershell (which is able to understand Tee) _however_, digging a bit deeper, i've also found:

- the kubernetes dashboard is no longer deployed in a kubernetes cluster, and is considered an _optional_ component, so it

[2021-06-01 00:30] bnookala commented on #500
oh hey, this is done! https://github.com/Azure/vscode-kubernetes-tools/pull/586

[2021-06-01 00:30] #500 closed

[2021-06-01 00:33] #542 closed

[2021-06-01 00:33] bnookala commented on #532
Should be resolved now as a consequence of https://github.com/Azure/vscode-kubernetes-tools/pull/586

[2021-06-01 00:33] #532 closed

[2021-06-01 00:38] bnookala commented on #787
See for some more info; https://github.com/Azure/vscode-kubernetes-tools/issues/364#issuecomment-851728773

[2021-06-02 03:28] sandipchitale opened #956 "UX: Status bar select namespace should directly show the list of available namespaces"
Clicking on current namespace name in status bar should show the (second) prompt which shows the list of available namespaces.

Why show the first prompt which asks user to type the name of the namespace - which is possible to be typed in the second prompt anyway - which nicely works as a filter.

I understand the current implementation may have been done for performance reasons and for good typis

[2021-06-02 03:32] sandipchitale opened #957 "UX: Bring back one click Follow logs context command"
The new unified Log context menu command on Pod resources is highly flexible (well and good), but a simple use case of one click Follow Logs and Logs command is now missed sorely.

[2021-06-04 04:22] sandipchitale commented on #574
Here is an idea:

By default look for a file ```.helmpreview``` in the root folder of the root chart. This file can contain the template command with all the specified override files, values except for the ```--show-only``` flag (Helm3). Use that command to generate the preview using the ```helm template``` command by adding the ``---show-only``` flag followed by currently edited template file's p

[2021-06-05 19:45] sandipchitale commented on #574
I have implemented it in an extension. See: https://github.com/sandipchitale/vscode-kubernetes-helm-extras/blob/3c77e494d5d2ebdb4b9415a876465f526c579552/src/extension.ts#L55

README: https://github.com/sandipchitale/vscode-kubernetes-helm-extras#preview-of-helm-templates-using-custom-values

Try the extension here: https://marketplace.visualstudio.com/items?itemName=sandipchitale.vscode-kubernetes

[2021-06-07 19:43] cforce commented on #957
I don't get it showing anything to me. Since the new UI came up a switched back to use the console due to the not intuitive interface and  just not working as expected

[2021-06-08 03:32] Tatsinnit commented on #941
💡 loop back, I am **not** able to replicate this issue, I am on `version: 1.3.3` Might be in the new version it is fixed? since this specific case for version `0.0.8`

<img width="947" alt="Screen Shot 2021-06-08 at 3 24 11 PM" src="https://user-images.githubusercontent.com/6233295/121118776-8b106f80-c86e-11eb-8f4a-eaebacd8e989.png">

FYI: cc: @itowlson & @lstocchi for information share and In cas

[2021-06-08 07:18] Xan2063 commented on #942
Hey @lstocchi,

sorry for the late feedback, I was on vacations and didn't have access to the server producing the logs. Tested your changes now:
Here are my results:

* With Highlighting enabled
  * the loading and scrolling is very nice, I like the experience
  * It seems to take some time until the log file is fully loaded as the scrollbar is still expanding. Some feedback on the loading status

[2021-06-08 07:47] lstocchi commented on #942
@Xan2063 no worries and thanks for the feedback.
Cool, so it works fine with the highlighting now. Need to check why with the highligthing disabled it is slow but i'm also thinking that that option has no reason to exist anymore. I created it as a hack for the slowness issue we had at the beginning but now that the loading process changed we can keep the highlighting always enabled. Or would you l

[2021-06-08 09:36] Xan2063 commented on #942
I don't think the other view is necessary, if needed I can always export to a file or the terminal.

[2021-06-08 22:33] montgomerybc commented on #941
Still happens, but it _must_ be a conflict with another extension.  If I
disable _all_ extensions except those needed by k8s, it works.  I'll bisect
my way down to find the extension causing grief and reply here.

On Mon, 7 Jun 2021 at 20:33, Tatsinnit ***@***.***> wrote:

[2021-06-09 10:02] vBitza opened #958 "[Question] Debug(Launch) set custom yaml values for deployment"
Hi!
I'm trying to Debug (Launch) on a Remote Cluster but the remote cluster has some strict naming conventions of container names. The automated name the container receives is based on "vsdocker.imageUser" variable but that conflicts with the container name regex. Is it possible to assign a value to the spec.containers.name variable ?

`[Docker build/push 2021-06-09 09:56:55.477]
Starting to build