[2018-12-10 17:07] itowlson commented on #414
These are present in the code (added in #377) but has not yet made it into a release.  Sorry for the delay - I'll try to push these up to the marketplace soon.

[2018-12-10 17:07] #414 closed

[2018-12-11 10:50] EranIsraeli opened #415 "Installing the extension via the vsix file on a air-gapped network"
Hi,
The plugin will not install and I'm getting the following errors:

1. In the Visual Studio Code console:
Error
t.onDidNotificationChange @workbench.main.js:2429
(anonymous)                       @workbench.main.js:2429
e.fire                       @workbench.main.js:183
t.notify                       @workbench.main.js:2484
t.error                       @workbench.main.js:3530
(anonymous)

[2018-12-12 09:54] EranIsraeli commented on #415
Alright, it seems the problem was indeed the RedHat YAML dependency which was missing.
Isn't there a way to somehow bundle it in the VSIX or at least give the user a proper notification that a dependency is missing ?
As for me, thanks A LOT!!! I can finally use the extension on my target machine 👍

[2018-12-12 16:35] bnookala commented on #415
@itowlson, @EranIsraeli - this is interesting since I'm noticing that building and installing the vsix on mac os is also installing the red hat yaml extension

[2018-12-12 16:46] #407 closed

[2018-12-12 17:02] itowlson commented on #415
@bnookala Maybe it tries, gets the network error (maybe HTML from a proxy on the airgapped network?) and misinterprets that to be JSON from the marketplace.

[2018-12-12 17:10] itowlson commented on #415
@EranIsraeli We can't bundle the RedHat dependency because it's a VS Code extension rather than a library. And unfortunately no, we can't intercept the missing dependency, because if the dependency is missing, VS Code won't even load us.  Sorry - this is confusing and frustrating; it confuses and frustrates our contributors too.

I'd suggest you/we raise an issue on VS Code itself, asking for them

[2018-12-12 18:57] bnookala commented on #415
@itowlson Just for context, I built a vsix and tried to install it from both the code cli and the code window with the wifi disconnected:

Logs from the window (it failed to install the extension, and asked me to check the logs):

[code]

Logs when installing from the CLI:

[code]

[2018-12-13 00:11] bnookala opened #417 "Unexpected output from minikube version check"
Started the extension (built on master), and immediately received this error in a toast notification:

[code]

[2018-12-13 13:14] EranIsraeli commented on #415
@itowlson  Hi, please do. I think it's should be more verbose while installing via a VSIX that certain dependencies are needed but missing. Especially on air-gapped networks, where an internet connection isn't available and VSC wouldn't be able to fetch them automatically in the background.

[2018-12-17 03:51] #417 closed

[2018-12-18 22:55] itowlson opened #420 "Startup feels slow again"
I haven't measured it but it feels subjectively like extension startup has slowed down again.  This issue is to track:

* Is there a slowdown or am I just imagining it?
* If there is a slowdown, what has caused it?

[2018-12-21 14:23] mccrackend commented on #303
Found this issue/pr looking for a solution to a similar x509 error I was receiving.  Worked around it by  following the ideas from https://stackoverflow.com/questions/43776504/kubernetes-cluster-x509-certifcate-issue, where you make this adjustment on a per-cluster basis in your ~/.kube/config.

In the attached PR, as @itowlson suggests, I agree the feature request of this issue is still relevant

[2018-12-22 02:28] #335 closed, assigned to radu-matei

[2018-12-22 02:36] brendandburns commented on #227
@itowlson i think this is fixed, right?

[2018-12-23 19:00] itowlson commented on #303
That's really useful to know - thanks Dan.  Since `kubeconfig` supports a way to turn off TLS verification, we should arguably lean on that (so that users get a consistent experience across `kubectl` and the extension), rather than implementing our own config option for it.  @bnookala thoughts?

[2018-12-23 19:03] itowlson commented on #227
@brendandburns The error Sally reported is transient as far as we know so there's nothing to fix on that side.  We haven't done anything about skipping downloading `kubectl` though.  We can probably close this as the latter is an optimisation we could raise as a separate issue, though Sally has a point that it's a confusing failure mode!

[2018-12-27 00:50] #408 closed

[2019-01-01 20:52] sethmccombs commented on #12
Hey @itowlson I was looking to for @ipedrazas extension and add snippets. If it is being folded into this extension then I'll sit tight.

[2019-01-02 10:48] hbokh opened #422 "Empty dir $HOME/.kube/schema blocks extension from working"
Took me some time to get this fixed, but whenever there is an empty directory named `$HOME/.kube/schema`, the extension fails.\
The GUI will show `There is no data provider registered that can provide view data.`.

More output:
[code]

Code that pointed me to this is
https://github.com/Azure/vscode-kubernetes-tools/blob/master/src/helm.resources.ts#L12

Upon deleting that specific directory and re

[2019-01-07 01:12] #303 closed

[2019-01-07 01:41] itowlson commented on #422
Well, that's weird and frustrating!  Thanks heaps for tracking down where it was happening!  My guess is that the problem is a few lines further down, where `_.last` returns `undefined` if there are no entries in the directory, and we don't check for that case.  Should be an easy fix I think - thanks again!

[2019-01-07 20:16] #422 closed

[2019-01-07 21:36] itowlson commented on #420
Extension startup per se remains relatively fast, but if the first thing you do is a command, then there _is_ a delay in launching that while telemetry spins up.  Funnily enough, if the first thing you do is a _non_-command (e.g. opening the explorer or a Helm Chart.yaml file), then by the time you get to the first command, it's quick.

So it looks like telemetry starts initialising in the backgro

[2019-01-08 02:16] itowlson commented on #420
It's not the telemetry - it's the inferring of the cluster type.

Lesson 1 when working with Ivan code: it is _always_ the Ivan code.

[2019-01-08 07:17] #415 closed

[2019-01-08 21:06] itowlson commented on #389
Closed via #391.

[2019-01-08 21:06] #389 closed

[2019-01-09 11:42] adamgit commented on #311
It seems that the flag "--hyperv-virtual-switch" is now broken/unsupported and should no longer be used.

Most of the web results for minikube with hyperV say to use this, otherwise it won't start. They also show how to create a Virtual Switch (not listed in the Minikube docs/install guide :( ).

If you create the HyperV switch, but *do not use the command line flag to minikube*, then minikube v32

[2019-01-09 19:15] dgkanatsios opened #431 "CRD support"
It would be cool if the extension supported Kubernetes [Custom Resource Definitions](https://kubernetes.io/docs/concepts/extend-kubernetes/api-extension/custom-resources/). Ideally, the extension could allow

- showing installed CRD *types* on the cluster
- showing/editing actual CRD *instances* on the cluster

[2019-01-15 01:52] #401 closed

[2019-01-15 16:22] #399 closed

[2019-01-16 01:02] #431 closed

[2019-01-16 06:10] shreyu86 opened #435 "CRD explorer throws error"
Thanks for adding support for browsing CRD's while trying out I noticed that the explorer throws an error in the following form:
![image](https://user-images.githubusercontent.com/311217/51229731-3f15a680-1912-11e9-8b17-b1a8bd4f3467.png)

[2019-01-17 00:20] brendandburns commented on #406
@itowlson I'm going to take this one on if it's ok with you...

[2019-01-17 01:09] itowlson commented on #406
@brendandburns Go for it!

[2019-01-18 01:36] itowlson commented on #12
I talked to @ipedrazas at Kubecon in mid-December, and I believe he's still willing to let us integrate his snippets but he's pretty snowed under at the moment, so I'm not sure what the timeframe on this will be.

@ipedrazas Would it be okay if / would you like me to look at your work and see if I can fold it in without imposing any more work on you?

[2019-01-18 07:17] apupier opened #441 "Checking minikube updates doesn't support space in path to check"
I got this notification message poping up:

`Error checking for minikube updates: 'C:\Users\Aurelien' is not recognized as an internal or external command, operable program or batch file.`

my username is Aurelien Pupier

[2019-01-18 07:19] apupier commented on #441
I think on this line https://github.com/Azure/vscode-kubernetes-tools/blob/d4834fc95bc2f42bb6f70f683595e3d73420ffb0/src/components/clusterprovider/minikube/minikube.ts#L94

double quotes needs to be provided around ${context.binPath}

[2019-01-21 20:56] itowlson commented on #441
Fixed via #442.

[2019-01-21 20:56] #441 closed

[2019-01-22 16:32] bitfield opened #443 ""Could not find minikube binary" error"
I don't use Minikube, but the Kubernetes extension is complaining that it's not there nevertheless:

![screen shot 2019-01-22 at 16 28 48](https://user-images.githubusercontent.com/142262/51549849-0c643480-1e63-11e9-8639-50d9e62dc965.png)

I'm guessing this is related to #300, but the fact is, I don't _want_ to install Minikube, and I'm not doing anything that requires it. I don't think I should b

[2019-01-22 20:13] itowlson commented on #443
Agree, this is an annoyance; I think we are trying to check if Minikube is up to date and are not doing the 'find Minikube to run this check' bit silently.  We should prompt only if there is a Minikube cluster in kubeconfig, or indeed only if Minikube is activated.  Thanks for flagging this!

[2019-01-23 00:38] itowlson opened #445 "View and operate on custom resource definitions"
We now show custom resource types in the tree.  But these are folders that only provide access to instances of the CRD.  There should be a way to view the CRD YAML itself, and to perform operations on the CRD itself (e.g. Delete).  Possible UIs:

1. CRD folder acts like CRD node - clicking it loads, has right-click menu, etc.  This is analogous to clicking on other resources, but it makes it a bit

[2019-01-23 00:39] itowlson opened #446 "Navigate from a custom resource to its CRD"
It might be useful in CRD instance YAML to make the `kind` a clickable link that takes you to the CRD (the definition).

[2019-01-23 00:47] itowlson opened #447 "Intellisense and validation for CRD instance YAML"
At the moment we have no schemas for CRDs, so we offer no intellisense or validation on CRD instance YAML (and indeed have errors saying in effect 'what the bloody hell is this and how the devil do you expect me to edit it' because VS Code error messages are written in the style of Michael Caine everybody knows that).  Kubernetes 1.13 allows CRDs to contain a `validation` element (or, for multi-ve

[2019-01-23 02:04] itowlson commented on #446
Is the only way to locate a CRD from an instance to grovel through all CRDs to find one whose `names/kind` matches?

Because, you know, that seems expensive, especially when there's no way to be sure if a kind _is_ a CRD.

[2019-01-23 08:03] apupier opened #449 "Cannot read property 'some' of undefined: TypeError: Cannot read property 'some' of undefined at linterDisabled (C:\Users\Aurelien Pupier\.vscode\extensions\ms-kubernetes-tools.vscode-kubernetes-tools-0.1.15\out\src\extension.js:1740:28)"
in output -> Log (Window) I have this error:

[code]

[2019-01-23 08:53] itowlson commented on #449
PR already out (#448).  Thanks for reporting though, and apologies for letting this through!

[2019-01-24 08:56] robcowart opened #450 "Kubernetes extension consumes excessive CPU anytime a YAML file is open."
macOS mojave 10.14.2
vscode 1.30.2
Kubernetes extension 0.1.15

For the following tests, all unnecessary apps were fully closed.

### 1. vscode w/o kubernetes extension, *no* `yml` file open
CPU utilization is almost nothing.

![screenshot 2019-01-24 at 09 29 29](https://user-images.githubusercontent.com/10326954/51665861-f8cce100-1fbc-11e9-97e5-c38482e7760d.png)

### 2. vscode w/o kubernetes exte

[2019-01-24 12:11] bhack commented on #403
See also https://github.com/Microsoft/vscode/issues/29194

[2019-01-24 20:44] jnummelin commented on #450
I have similarly feeling issue. Looking at the process monitor (open from Help --> Open Process Explorer) there seemed to be 2 `while true` loops running `kubectl version -o json`. I really do not  access my Kuberenetes clusters through VS Code, I merely want the editor to be k8s friendly so I wanted to disable the kubectl loops. I didn't really find out how to do that, but I found a really super

[2019-01-24 21:35] itowlson commented on #450
@robcowart Just a quick note to say thanks heaps for taking the time to put this into an issue, and thanks @jnummelin for the pointer as to what might be going on.  We'll take a look at this as a high priority, and I hope make it usable for you Rob.

[2019-01-24 22:55] itowlson commented on #450
It looks like we would call `kubectl version -o json` if another `kubectl` call failed (to determine if the failure might be down to client-server version mismatch).  Not sure why we would be calling `kubectl` in a loop as soon as the first YAML file gets loaded.  But it means one quick fix might be to not re-check on every failure.  Though that might still leave the failing call looping, so I sti

[2019-01-25 00:35] brendandburns commented on #450
@itowlson as a first quickfix, maybe add a config option to disable retry?

[2019-01-25 03:03] itowlson commented on #450
I don't need we need to resort to a config option.  It's easier just to change it to only do the compatibility check a maximum of once.  I'll have the PR out shortly but today has been a bit fraught.

[2019-01-27 21:01] itowlson commented on #449
Closed via #448.

[2019-01-27 21:01] #449 closed

[2019-01-27 21:39] itowlson commented on #450
It looks like we can get into this loop if the `kubectl-path` setting (or the kubectl binary on the path) is a valid binary but one which errors when called with `kubectl version -o json`.  I don't see it whomping the CPU (about 1% usage on my machine), but I do see the infinite loop so I can see how it might use up a lot of CPU depending on the host system.

[2019-01-28 06:12] #450 closed

[2019-01-28 21:50] itowlson commented on #450
Fix released in 0.1.16 which is up on the Marketplace now.  If folks who were having problems have the time and patience to give it a try then that would be awesome.  Either way, thanks again for taking the time to report the bug!

[2019-01-28 22:15] robcowart commented on #450
I can confirm that this has fixed the issue. Below is the a screenshot of the same scenario I mentioned above, and you can easily see the low CPU compared to before.

<img width="1279" alt="screenshot 2019-01-28 at 23 09 49" src="https://user-images.githubusercontent.com/10326954/51869863-2cf42900-2352-11e9-80a6-c1653e03995a.png">

Thanks for the quick turnaround!

[2019-01-28 22:22] robcowart commented on #450
BTW, I have updated my initial review in the marketplace.

Thanks again!

[2019-01-29 01:28] squillace opened #458 "Cluster operations hang if Azure cluster requires AAD authentication"
azure-cli (2.0.55)
Happened both on Mac and Ubuntu 18.04 LTS.

when opening an AKs cluster that is AAD controlled, the extension cannot detect the output from the login tool and thus simply hangs, and you have to kill the instance to break out of it.

here's the experience.

![aad aks cluster](https://user-images.githubusercontent.com/1422718/51877615-c0613600-2321-11e9-9623-409a99961105.gif)

I d

[2019-01-29 02:56] itowlson commented on #458
Can you provide info on setting up a cluster that is "AAD controlled" please?  I tried the RBAC option in the portal, but am still not seeing the AAD prompt on `kubectl` commands.

[2019-01-29 15:53] bnookala commented on #458
@itowlson I sent it in teams, but here are the docs on how to set up an AAD backed cluster: https://docs.microsoft.com/en-us/azure/aks/aad-integration

[2019-01-29 20:51] itowlson commented on #458
It was going so well until "Step 7: Obtain Microsoft domain admin permissions."

[2019-01-30 17:17] enozero opened #460 "Have logs go into a window instead of terminal"
The logs feature is a great feature that I use frequently. However, it would be great if the logs would go to a window instead of a terminal. This would give me greater flexibility with the logs (better searching, saving, etc).

[2019-01-30 18:40] itowlson commented on #460
We have a PR (#452) from @brendandburns for sending logs to a HTML web view.  This offers some of the facilities you need (e.g. filtering), but I'm dithering between accepting that (as being better than the terminal) or wanting to send logs to a document (which Brendan argues doesn't/shouldn't support the operations people want to carry out on log files).  It would be great to have user feedback o

[2019-02-02 04:46] brendandburns commented on #460
Yep, happy to have feedback on what is the best thing. (I'll definitely add 'search' if that doesn't already 'just work')

[2019-02-02 04:52] squillace opened #463 "Services and Ingress tree nodes appear in two places"
Is this by design? Because there is no _natural or intuitive_ reason why there's a Kubernetes service under Network and under Services. A new user will not understand what is going on there. Is there a way to clarify this?

Windows 10, azure-cli (2.0.57), VS Code
Version: 1.30.2 (system setup)
Commit: 61122f88f0bf01e2ac16bdb9e1bc4571755f5bd8
Date: 2019-01-07T22:54:13.295Z
Electron: 2.0.12
Chrome:

[2019-02-03 22:11] itowlson commented on #463
This looks like a glitched merge/rebase.  It looks like @brendandburns moved Services under a new Network node on [13 December](https://github.com/Azure/vscode-kubernetes-tools/commit/7ac3e7823875483df7d49baa8015bd83a22bc573), but then had a [PR in flight](https://github.com/Azure/vscode-kubernetes-tools/commit/df3742e1f24831ea7a338542a3769807b5280eba) which was based off the old structure.  When

[2019-02-06 12:09] cmeyertons opened #464 "Describe command could use an auto refresh option"
Great work on the new updates, it's been a huge productivity win!

I really like the new describe how it outputs to the editor window vs the terminal.

When I'm troubleshooting container start ups, I find myself re-clicking describe over and over.  It would be great if there was a capability to auto refresh describe on a specified interval (it would stop once the editor window was closed by the us

[2019-02-06 21:34] itowlson commented on #464
Would an auto refresh checkbox on the describe window do it?  It's a HTML view rather than a plain editor window so we have more than the usual latitude to do wild UI.

cc @brendandburns

[2019-02-06 22:05] itowlson commented on #464
Now I have bizarre fantasies of an 'auto diff' view where every time it auto refreshes it shows you the diff from the previous description.  SEND HELP

[2019-02-07 00:08] cmeyertons commented on #464
Checkbox in the view is fine, just as long as I have the ability to configure that it defaults to “true”.

Lol at the auto diff view. Might be kind of cool. Maybe instead of a diff, as changes occur there’s some sort of green animation that fades away so it’s noticeable

[2019-02-07 07:32] itowlson commented on #464
Hmm, this one might take some pondering.  I worry about using global config for things where I think users will often really want the behaviour to depend on context, but I take your point about configuring the default.  And thinking further about it, I'm not sure we want the clutter of a toolbar-style UI just for a Describe which should have more of an editor window feel.

Yeah, I think briefly hi

[2019-02-07 12:59] cmeyertons opened #465 "Terminal command inoperable when using minikube"
### Description
When I use the `Terminal` command on a minikube pod, the terminal does not properly load.  I can see `/ #` but cannot interact with it at all.  I am currently using `Powershell` as my terminal, but ruled that out as a cause by trying `cmd` and `git-bash`.

I have confirmed in my environment that this is isolated to `minikube` - I can terminal just fine into my AKS pods.

Looking th

[2019-02-08 01:26] itowlson commented on #465
Can you (from a Powershell window) run an interactive session within a Minikube pod from the `kubectl` CLI?  E.g.

`kubectl exec -it <podname> -- sh`

[2019-02-08 02:03] #463 closed

[2019-02-08 03:32] cmeyertons commented on #465
Yes! From powershell or from integrated Code terminal. I resorted to writing some “remote into xxx” VS code tasks that accomplish this as a workaround - the interactive shell produced by the task has some really weird quirks as well

[2019-02-09 05:21] brendandburns commented on #460
I looked into this, it turns out that the native 'search' functionality works in webviews (which is cool)

So I think once the HTML5 webview PR merges, this will be fixed.

[2019-02-09 05:22] brendandburns commented on #458
@itowlson we have the magic incantation in our KeyVault.

Send me a mail and I'll send you the links...

[2019-02-09 13:10] scrossan-crown opened #467 "Minikube Status command fails with 'Error executing status template'"
When trying to run minikube status in vscode I get the following error
[code]

[2019-02-10 16:32] enozero commented on #460
Mostly I would just like the functionality to go to a window for easier filtering, searching, and saving the logs. It’s also a janky experience when describes go into a document window but logs are in the terminal. The follow issue is very intriguing (probably why it goes to the terminal). Either a document window or an HTML5 webview would work well. It would be great if the document window were t

[2019-02-10 20:37] itowlson commented on #467
1. What operating system are you on?
2. What version of Minikube are you running?
3. If you go to your OS command line (or the Code integrated terminal) and run `minikube status`, what do you see?

Thanks!

[2019-02-10 22:16] itowlson commented on #465
Hmm, it's working for me (well, after some shenanigans getting Minikube to work _at all_), at least in an application pod (e.g. an `nginx` container).  But you mentioned that you were terminal-ing into a system pod.  If I try that, even from the command line, I get:

[code]

If I try to use the VS Code Terminal command on this pod, then it briefly flashes a terminal window which (presumably displa

[2019-02-11 11:58] cmeyertons commented on #465
sorry i'm not actually remoting into a system pod -- I mentioned that for brevity in the steps to reproduce.  I have nginx deployed and that didn't work.

soooo as a "workaround"? i did just realize that if i do either of the following it starts working:

1. enter junk command 3 times (`asdf + ENTER`)
2. spam enter 6 times

note the quantities above -- they are consistent across different pods
![k

[2019-02-11 19:13] itowlson commented on #465
That's super weird.  Clearly the `exec` is working and creating the `bash` session on the pod.  But somehow the terminal isn't getting you to the shell prompt without a bit of help.  I've not seen this before and am not sure how to diagnose it.  We're not doing anything weird in the way of creating the terminal that I know of...

[2019-02-12 11:12] cmeyertons commented on #465
yeah super weird -- now that i have a workaround, I probably wouldn't have even gone to the effort of creating an issue...

i'm fine w/ you closing this as others can still try to navigate to it

[2019-02-12 11:35] cmeyertons opened #469 "CronJob - add "Run Now" action"
I typically have a Code task to do this,

[code]

which I had to spend some cycles to go look up how to do in the k8s documentation.  I think this would:

1. be of great utility in the context menu
2. further help new people better learn the `kubectl` commands by showing them real world examples as this outputs to the terminal window. (I know this is how I personally have gained a lot of know-how)

[2019-02-13 03:17] itowlson commented on #469
I like this idea!  Thanks!  To be clear, you envisage this not as a VS Code task, but as a right-click command on CronJob resources?  And that it would prompt for a job name, with a suitable default?  (If the job name already exists we could offer to delete and recreate, would that work?)  Users with particular jobs they wanted to run on demand could set up keybindings to the command bound to a pa

[2019-02-13 11:19] cmeyertons commented on #469
Sweet!  Yeah, right-click command! (That is also mapped to a VS command palette command like the other commands are)

good idea on prompting for the name -- I think from a complexity standpoint it's probably easier to not automate a delete & recreate.  I was thinking of incrementing the default but thats hard to do too.  What if the default just had a timestamp in it?  That provides some signfican

[2019-02-13 21:17] brendandburns commented on #464
@itowlson do you mind if I take this one? Have you already started work?

[2019-02-13 21:20] itowlson commented on #464
@brendandburns Go for it!  Thanks!

[2019-02-18 04:08] testforstephen opened #475 "Always show "Error checking prerequisites" when exec Create Kubernetes Cluster wizard"
[code]

When exec "Create Kubernetes Cluster" wizard, it always show the error below even though i installed the azure-cli 2.0.58.

[code]

[2019-02-18 21:28] itowlson commented on #475
Hmm, I can't reproduce this I'm afraid.  Can you dump your PATH in the VS Code terminal window and verify that the Azure CLI is on it?  If you run `az --version` from the VS Code terminal window, what are the first few lines of the output?

Also, since installing Azure CLI have you closed _all_ instances of VS Code and restarted _from the shell_?  Sometimes VS Code can cling onto old environment v

[2019-02-19 01:48] testforstephen commented on #475
I tried in VS Code terminal, `az` command is there.
![image](https://user-images.githubusercontent.com/14052197/52984670-6a1c7a00-342b-11e9-9a74-328e4fb23950.png)

YES, i closed all VS Code instances, and start again.

[2019-02-19 01:59] itowlson commented on #475
Eeyargh, they changed the format of `az --version`.

If you're able to temporarily downgrade to Azure CLI 2.0.57, then that should fix your problem.  Otherwise, I'll aim to get a fix out ASAP.  Thanks for the heads up on this!

[2019-02-19 03:25] #475 closed

[2019-02-22 18:44] chuckstar76 opened #478 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `vscode-kubernetes-tools`
- Extension Version: `0.1.16`
- OS Version: `Darwin x64 18.2.0`
- VSCode version: `1.31.0`

:warning: Make sure to **attach** this file from your *home*-directory: `/Users/chope2/ms-kubernetes-tools.vscode-kubernetes-tools-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Microsoft/vscode/wiki/

[2019-02-22 18:45] chuckstar76 opened #479 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `vscode-kubernetes-tools`
- Extension Version: `0.1.16`
- OS Version: `Darwin x64 18.2.0`
- VSCode version: `1.31.0`

:warning: Make sure to **attach** this file from your *home*-directory: `/Users/
[ms-kubernetes-tools.vscode-kubernetes-tools-unresponsive.cpuprofile.txt]
ms-kubernetes-tools.vscode-kubernetes-tools-unresponsive.cpuprofile.txt` :warning

[2019-02-24 23:53] itowlson commented on #478
@chuckstar76 Is it okay to close this as a duplicate of #479 which has the `cpuprofile` file attached?  Thanks!

[2019-02-25 00:01] itowlson commented on #479
@chuckstar76 Sorry you're hitting this - we fixed one cause of this in 0.1.16 but it looks like something is still going on for you.  Are you able to provide any more info e.g.

* Does CPU load go up as soon as the extension is activated, or only after you take a particular action?
* Did you experience this with previous versions of the extension?
* Are you using a configured path to `kubectl` or

[2019-02-25 00:17] itowlson commented on #479
The profiler trace you supplied seems to mostly concern itself with extension loading.  Can you let me know what was happening while the profiler was running e.g. was this extension startup, idle, or you doing something e.g. editing, viewing, browsing tree view?  Thanks!

[2019-02-25 09:18] chuckstar76 commented on #478
Hi - yes please close, I realised the attachment was missing and added to [#479](https://github.com/Azure/vscode-kubernetes-tools/issues/479) - as indicated.

[2019-02-25 09:18] #478 closed

[2019-02-26 17:03] meeech opened #481 "Suppress minikube upgrade available message"
Hi

Would a PR that allows a config to supress Minikube upgrade message be welcomed?
I use an older version of minikube, and the constant messaging is getting annoying.

thanks

[2019-02-26 19:56] chuckstar76 commented on #479
@itowlson
Since you posted the comments I've started VS Code a number of times.
The problem around CPU load has not repeated itself.

The initial report came immediately at application start, so I'm presuming as this extension and others were activated something triggered the file an issue on this topic.

Here's the output of the VS Code Process Explorer:
CPU %	Memory (MB)	pid	Name
7	98	94242	code

[2019-02-26 20:06] itowlson commented on #481
It sure would!  Thanks!

[2019-02-27 02:02] itowlson commented on #479
Thanks @chuckstar76 for taking the time to post all this info, and I'm glad it's looking like a one-off.  I'll keep an eye on startup performance, but as we have no repro for this particular incident I'll close this one.  Thanks again!

[2019-02-27 02:02] #479 closed

[2019-02-27 19:30] squillace opened #482 "Delete context fails because cluster already deleted"
With two contexts pointing at the same cluster, if you delete one context it will delete the cluster. Then attempting to delete the second context fails because the cluster doesn't exist. Result: Must manually hack the config.

![image](https://user-images.githubusercontent.com/1422718/53517275-1a6d2c80-3a83-11e9-8434-e6da13844487.png)

Build: January 2019.

[2019-02-28 19:00] meeech commented on #481
👍 i'll tackle this

[2019-02-28 19:52] itowlson commented on #481
Thanks!  Let me know if you need any pointers.

[2019-03-01 23:08] ghost opened #485 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `vscode-kubernetes-tools`
- Extension Version: `0.1.16`
- OS Version: `Windows_NT x64 10.0.17763`
- VSCode version: `1.31.1`

:warning: Make sure to **attach** this file from your *home*-directory: `C:\Users\jk\ms-kubernetes-tools.vscode-kubernetes-tools-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Microsoft/vscode

[2019-03-02 02:26] brendandburns commented on #485
Can you add some more detail? What were you doing in the extension? What were you viewing?

(Also, the profile referred to in report would be useful)

Thanks!

[2019-03-02 02:30] brendandburns commented on #467
This looks to me like the minikube on your machine is mis-configured. I suspect that `minikube` at the CLI won't work correctly...

Did you install minikube using this extension?

Thanks

[2019-03-02 02:32] brendandburns commented on #460
fwiw, #252 is merged and this is now available for 'show logs', I'm working on it for 'follow logs'

[2019-03-02 02:37] brendandburns commented on #458
Ok, I know what is going on here, what's more interesting is figuring out how to fix it...

Generally, this will work, but the first time that kubectl authenticates it kicks the oauth/device login web flow.

That's what is getting stuck. I think the right thing to do is load the kubeconfig in javascript in the extension and attempt to detect that there's no token...

I'll take a stab at it.

[2019-03-02 02:38] brendandburns commented on #446
The name of the crd is required to be `<api-group>.<kind>`

[2019-03-03 14:57] yehiyam opened #487 "When will 0.1.17 be available?"
Hi
is there a time frame for the next version? I'm looking forward to use the nodejs debug feature

[2019-03-05 01:47] itowlson commented on #487
Hopefully this week, but I'm not promising to hit that.  We are definitely due, but there are a few pull requests outstanding that I'd like to land.  If 1.17 isn't out by the weekend, please follow up on this issue for an update.

[2019-03-05 01:49] itowlson commented on #485
Possible duplicate of #479, which went away after occurring once, though hard to be sure unless we have more details.  Sounds like I might need to look at what it's doing during startup.

[2019-03-05 01:50] #482 closed

[2019-03-05 03:32] #469 closed

[2019-03-06 00:22] #385 closed

[2019-03-06 21:33] itowlson opened #489 "Update AKS region list"
https://media1.tenor.com/images/2550bac86c9dfdf5c2cba45829a8594e/tenor.gif?itemid=5156736

[2019-03-07 23:47] itowlson commented on #487
I don't think I'm going to get this over the line this week I'm afraid.  Will aim for early next week.  Sorry.

[2019-03-08 01:34] daneroo commented on #284
Any updates on this? Last comment is more than 6 months old.
Perhaps moving to [skaffold](https://github.com/GoogleContainerTools/skaffold) would be a better plan for **watching**, since this issue seems to have gone stale.

[2019-03-10 23:18] #261 closed

[2019-03-11 20:46] cpunella opened #491 "Add .net core as debug provider"
Hi,

With latest release nodejs has been added as debug provider. I was wondering when .net core will be supported as well.

Thanks

[2019-03-11 22:18] derekyle opened #492 "Kubernetes extension tree shows helm release templates with secrets in plaintext"
When I click a deployed chart under helm releases, it opens a file helmrelease-{chart-name}.txt file. This file shows all the templates with variables expanded thus exposing any secrets like passwords.

I am not able to figure out where the helmrelease-*.txt content is coming from. Are they being pulled from the cluster or just saved locally from when the chart was published or dynamically generat

[2019-03-11 22:18] itowlson commented on #491
We don't have this planned in at the moment.  Would you be interested in collaborating on implementing one?  If so we can definitely provide guidance and support; but not sure we have the resource to work on it ourselves at the moment I'm afraid.

cc @radu-matei

[2019-03-11 22:23] itowlson commented on #492
This looks like it's coming from the `helm get <release_name>` CLI command.  Could you try running that and see if that gives the same output?  The output is not stored; the `.txt` document is purely virtual.  There are no `.txt` files on disk unless the user opts to save one of these 'virtual' documents.

cc @technosophos

[2019-03-11 22:53] itowlson commented on #487
Released went out yesterday - enjoy!  (And please report any bugs!)

[2019-03-11 22:53] #487 closed

[2019-03-11 23:30] Petrox opened #493 "Add executable flag to the kubectl infer versioning method downloader"
Using ubuntu 16.04

Vscode
[code]

With infer kubectl versioning:

When connecting to a kubernetes cluster, the "downloading ..." popup appeared. Went fine.

Then I've received an error:
[code]

The reason is that the downloaded executable is not executable:
[code]

So a chmod +x would be a nice addition to the download process.

[2019-03-12 00:15] itowlson commented on #493
Aargh!  Thanks for reporting this... this is what I get for living almost entirely on Windows.  I'll get this fixed pronto - thanks for your patience and for taking the time to let me know.

[2019-03-12 02:12] #493 closed

[2019-03-12 02:45] itowlson commented on #493
Thanks again for the bug report, @Petrox - a fix should land in the marketplace in the next half an hour or so.  And apologies for the inconvenience.

[2019-03-12 17:20] squillace commented on #458
Thanks, @brendandburns, I have been flying around so haven't been able to get back to this to help Ivan out.

[2019-03-12 17:22] squillace commented on #347
yes, more generally, I would start with specific objects and work up from there. Secrets/configmaps are good starts. :-)

[2019-03-12 17:23] squillace commented on #284
Sorry @daneroo -- it sucks having a great project and having not enough devs. I use this feature all the time, so I'll figure out how to fix it.

[2019-03-13 09:47] maver1ck commented on #492
@technosophos
Can we change extension of this info to .yaml ?

[2019-03-13 09:50] maver1ck opened #496 "Helm Releases view has wrong file extension"
Hi,
After clicking on one of the helm realeases I'm getting description in .txt file.
Is it possible to change extension to .yaml ?

![image](https://user-images.githubusercontent.com/4006010/54269525-cdf31800-457d-11e9-8e89-6853a304f4d9.png)

![image](https://user-images.githubusercontent.com/4006010/54269573-de0af780-457d-11e9-8816-ab5d0852b840.png)

[2019-03-13 14:38] loshurik commented on #475
Hi there=)
I have the same issue with az cli 2.0.59
![image](https://user-images.githubusercontent.com/1557456/54287447-b8e6ab00-45b6-11e9-8ce4-d775582271fc.png)
Could you have a look, please?

[2019-03-13 22:49] itowlson commented on #475
They added a star.  Why did they add a star?  Why?  Why?  _bursts into tears_

Thanks for the heads up @loshurik - I'll take a look.

[2019-03-14 14:32] gdamberg commented on #467
I have a similar problem. Complete error output:
`Error getting status Error: failed to get status: E0314 15:24:44.532956   17828 status.go:137] Error executing status template: template: status:1:4: executing "status" at <.MinikubeStatus>: can't evaluate field MinikubeStatus in type cmd.Status
`

Ubuntu 18.04, VS Code 1.32.1, Kubernetes extension 0.1.18

Minikube output:
`
$  minikube status
host

[2019-03-14 20:42] itowlson commented on #467
Looking at the code, the status command we run is:

`minikube status --format '["{{.MinikubeStatus}}","{{.ClusterStatus}}","{{.KubeconfigStatus}}"]'``

Could you try that at the CLI please?  Thanks!  @brendandburns is that format string likely still to be correct or might Minikube have made a breaking change?

[2019-03-14 21:25] itowlson commented on #496
The trouble is that `helm get` output (which is what you see when you select a Helm release) isn't actually YAML - large chunks of it are embedded YAML, but some of the section titles (like `USER-SUPPLIED VALUES:`) make the document as a whole not valid YAML.  So near and yet so far...

I'm told that in Helm 3 will fix this and we'll be able to force it to emit a fully valid YAML document.  For th

[2019-03-15 08:54] maver1ck commented on #496
@itowlson You're right.
But still changing language of this file to YAML make it look great (at least when talking about syntax highlighting)
Sample:
![image](https://user-images.githubusercontent.com/4006010/54419659-53a2cf00-4708-11e9-9c9b-eb2c2c3fb24b.png)

[2019-03-15 08:59] gdamberg commented on #467
`$ minikube status --format '["{{.MinikubeStatus}}","{{.ClusterStatus}}","{{.KubeconfigStatus}}"]'
["E0315 09:15:29.033089   28619 status.go:137] Error executing status template: template: status:1:4: executing "status" at <.MinikubeStatus>: can't evaluate field MinikubeStatus in type cmd.Status
`
Output of status seems to have changed at some point: https://godoc.org/k8s.io/minikube/cmd/minikube/

[2019-03-16 05:21] daneroo commented on #284
@squillace  Thanks for looking into it. I know what you mean about being short on devs. I really appreciate the work you and all the contributors have done on this project.

[2019-03-17 20:35] itowlson commented on #496
I know!  I think I even originally gave it the `.yaml` extension until the Helm folks flagged that this wasn't right.  I'm really not sure what to do here... the syntax colouring is really nice to have, but it gives a misleading impression.  Given that Helm 3 will sort this out, maybe we should wait for that and switch over at that point...?

[2019-03-17 20:46] itowlson commented on #467
Thanks @gdamberg.  @brendandburns the current Status properties are documented at https://godoc.org/k8s.io/minikube/cmd/minikube/cmd#Status - looks like they now have Host, Kubelet, ApiServer and Kubeconfig.  How do these map to what you want the status command to display?  Is there a way we can make this robust across versions?

[2019-03-18 23:29] technosophos commented on #492
It is not guaranteed to be YAML in Helm 2

[2019-03-25 17:02] bnookala opened #500 "Build process: bundle extension"
When packaging the extension, we get this lovely notification about the number of files we package:

[code]

The aka link points to here: https://code.visualstudio.com/api/working-with-extensions/bundling-extension

We should consider utilizing webpack for extension bundling.

[2019-03-25 21:10] itowlson commented on #492
Proposing to close, as this is the underlying `helm get` behaviour.  If folks want to keep this open then sing out!

[2019-03-25 21:11] itowlson commented on #481
Fixed via #488.

[2019-03-25 21:11] #481 closed

[2019-03-25 21:17] itowlson commented on #500
We have been seeing reports of high CPU load on initial load, and it has felt to me like loading has been getting slower again; perhaps this is why.

[2019-03-26 13:10] benmed00 opened #501 "Extension causes high cpu load"
[ms-kubernetes-tools.vscode-kubernetes-tools-unresponsive.cpuprofile.txt](https://github.com/Azure/vscode-kubernetes-tools/files/3008244/ms-kubernetes-tools.vscode-kubernetes-tools-unresponsive.cpuprofile.txt)
- Issue Type: `Performance`
- Extension Name: `vscode-kubernetes-tools`
- Extension Version: `0.1.18`
- OS Version: `Windows_NT x64 10.0.17134`
- VSCode version: `1.32.3`

:warning: Make sur

[2019-03-26 21:04] itowlson commented on #501
Thanks @benmed00 - could you let us know, does this happen on activation (e.g. when you first load the tree view, or issue a command) or while the extension is running?  Does it happen frequently or was this a one-off?  Thanks!

[2019-03-28 14:05] benmed00 commented on #501
the error is produced in the First Run of the extension

[2019-03-28 16:42] itowlson commented on #500
See e.g. #501 where we get high load on the first run, though I'd expect this issue to us on unpack and/or on every activation, not specifically on first activation.

[2019-03-29 00:51] itowlson opened #504 "Extended cluster providers do not always appear first time"
If you use the API to register a cluster provider on the `Create Cluster` command, and the user activates the extension via that command, the registered provider does not consistently appear the first time - sometimes you need to close the cluster wizard and run the command again to see it.  So there is a race condition somewhere.

[2019-03-29 19:21] #489 closed

[2019-03-29 19:25] #464 closed

[2019-03-30 00:05] #504 closed

[2019-04-01 03:25] squillace opened #507 "Helm commands and Kube commands do not agree on $KUBECONFIG"
Issue Type: <b>Bug</b>

1. Create two different kubeconfigs, one against a cluster without tiller installed for Helm 2.X.
2. Use Kubernetes: Select KubeConfig command to view config with tiller installed.
3. Install something, anything.
4. Open "Helm Releases", and you should see the release.
5. Now open a console and do "export KUBECONFIG="<name of non-tiller cluster config>"
6. refresh VS Code K

[2019-04-01 13:03] eabalo commented on #291
I know this issue is closed but I found --namespace vs.  --tiller-namespace giving me an error in file helm.exec.js function helmListAll.  Line 521.  I looked for other places but I still have some research.  Updating this line allowed my Explorer list to display release(s).  I'm not sure how this would affect Azure implementations but for me this helped display the list and not Helm List Error.

[2019-04-01 15:22] itowlson commented on #291
@eabalo Happy to look into this - could you open a new issue with more details of what went wrong, how your system was set up and how you fixed it please?  Thanks!

[2019-04-01 21:03] itowlson commented on #507
I can't reproduce this, and I'm puzzled why these steps should lead to the result described.  If the extension settings override the default kubeconfig, we set the KUBECONFIG environment variable when we shell out to Helm.  Clearing KUBECONFIG in an unrelated shell session shouldn't affect this.  I might need to get some of your time to drill into this...

[2019-04-01 22:50] itowlson opened #510 "Incorrect handling of embedded newlines in Helm chart descriptions"
Helm chart descriptions can be multi-line:

[code]

At the moment, we assume that the first non-empty field on a line is the name of a chart.  But in this case, `Weave Cloud is a add-on to...` is a continuation of the description from the previous line.  We would currently incorrectly display it as a chart in its own right.

[2019-04-01 23:29] eabalo opened #512 "Helm --namespace vs. --tiller-namespace can cause error."
Issue 291 was submitted and similar to an issue I was having.  It is closed.  I found --namespace vs. --tiller-namespace giving me an error in file helm.exec.js function helmListAll. I looked for other places this issue would exist but I still have some research. Updating this line allowed my Explorer list to display release(s). I'm not sure how this would affect Azure implementations but for me t

[2019-04-02 15:17] itowlson commented on #512
Is the issue that the extension behaves incorrectly if Tiller is in a custom namespace?  The use of `--namespace` is intentional, to show only releases in the active namespace; but we don't currently account for where Tiller has been installed in a namespace other than the default `kube-system` namespace.

If that's the issue, we probably need a way to configure the Tiller namespace on a per-clust

[2019-04-03 16:00] #510 closed

[2019-04-04 05:25] #492 closed

[2019-04-04 19:43] eabalo commented on #512
You hit the issue on the head.  I’m trying to account for where tiller is.  My tiller is not installed in Kube-System but in a dynamic namespace.  Looks like I will have to wait until Helm 3 is released and we go to H3.

Thanks.
  Eric

________________________________
From: itowlson <notifications@github.com>
Sent: Tuesday, April 2, 2019 11:17:28 AM
To: Azure/vscode-kubernetes-tools
Cc: eabalo; A

[2019-04-07 23:20] itowlson commented on #512
Is it practical for you to set the `TILLER_NAMESPACE` environment variable, or does the namespace vary from cluster to cluster?  (You mention a 'dynamic' namespace so I'm guessing it might be the latter.)  We use the Helm CLI so any global or process settings that affect that will also apply to VS Code.

[2019-04-08 07:39] ipedrazas commented on #12
Had a chat with @squillace who brought my attention back to this repo. I've seen that the extension has evolved a bit. I hadn't realised that with the extension you can author helm charts also 👍 in fact, I've been working on a `cookie cutter` for helm charts that can be brought back into this extension.

I would add the followings snippets:

* rbac: sa, cluster/role, cluster/rolebinding
* hpa
* pd

[2019-04-11 11:31] cmeyertons opened #516 "More descriptive port forward terminal name"
When performing multiple port forwards, it would be nice if the pod name was displayed.

![image](https://user-images.githubusercontent.com/19917677/55954113-718a2380-5c23-11e9-94c6-923479f2558b.png)

[2019-04-11 11:35] cmeyertons opened #517 "Port forward global exclude"
Great work getting the pods ports to automatically show up, that's awesome.

In some cases where we have sidecar that we usually do not want to terminal into (istio).  These sidecars typically all share the same port and make performing multiple port forwards annoying as I have to go in and delete the shared port.  In this case, port 15090

![image](https://user-images.githubusercontent.com/199176

[2019-04-11 20:37] squillace commented on #12
Yes! @itowlson let's figure this out.

[2019-04-12 02:11] itowlson commented on #516
It sure would!  Sorry about that, I'll take a look.

[2019-04-12 02:15] itowlson commented on #517
@brendandburns Thoughts on this?  It makes sense, but feels a bit awkward to have this as a global config setting.

[2019-04-12 02:50] cmeyertons commented on #517
In case you were wondering, I was imagining adding it as a workspace setting which I have committed to source.  That way the problem is solved for my team and everyone has the annoyance lifted automagically :)

[2019-04-12 03:11] cmeyertons opened #518 "Does this extension have autocomplete features?"
I saw #447 in the backlog and #147 .  Does this extension have autocomplete??

Is there something special about the folder structure you have to do in order to enable it?  I haven't had any autcomplete capabilities the duration of my usage.

I currently have my helm chart under `/folder/k8s/chart-name`

![image](https://user-images.githubusercontent.com/19917677/56009334-1862d400-5ca5-11e9-9a1e-b1

[2019-04-13 05:16] bnookala commented on #518
Hey there, @cmeyertons!

Thanks for raising this - I've spoken with @itowlson, and confirmed with him that we don't currently provide autocomplete - but we do have a (somewhat) borked snippet insertion mechanism that gets triggered when our k8s yaml schema support detects a k8s yaml file. You can see the same in your screenshot as the option to insert a `Deployment`. I tried myself to insert a `Po

[2019-04-14 15:13] cspencerjr opened #519 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `vscode-kubernetes-tools`
- Extension Version: `0.1.18`
- OS Version: `Darwin x64 18.5.0`
- VSCode version: `1.33.1`

:warning: Make sure to **attach** this file from your *home*-directory:
'ms-kubernetes-tools.vscode-kubernetes-tools-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:-extension-cause

[2019-04-15 08:39] isidorn opened #521 "Do not activate on the general onDebug activation event"
Related https://github.com/Microsoft/vscode/issues/72123

Hello VSCode dev here,

Why is the kubernetes extension activating on the `onDebug` activation event.
Is the kubernetes extension interested in a specific debug type or in all types? Because we have more fine grained event.

With the current approach kubernets is slowing down the first debug of an unrealted debug session like java (as seen

[2019-04-15 10:06] dholbach opened #522 "Kubernetes extension does not work with snap version of VS Code"
I have the latest version of VS Code install through `snap install code --classic` on Ubuntu.

When starting the Kubernetes extension (latest, installed through VSIX), I see the following error messages in `/var/log/syslog`:

[code]

In another round of testing, I saw:

[code]

I turned there for help as I couldn't figure out why the extension simply didn't work for me with a local `minikube` clus

[2019-04-15 21:20] itowlson commented on #521
@radu-matei @testforstephen You folks know more about the debug features than I do - any insight on this?

[2019-04-15 21:22] itowlson commented on #522
Hmm, okay.  I'm not familiar with `snap` but will take a look.  Are you able to work around this by installing VS Code via another mechanism?  Thanks for letting us know!

[2019-04-15 22:07] itowlson commented on #521
@isidorn Is your recommendation that we activate on specific `onDebugResolve:...` events?

[2019-04-16 02:37] testforstephen commented on #521
@itowlson The `onDebug` activationEvent is added by Draft Debug feature. Given the [draftConfigurationProvider](https://github.com/Azure/vscode-kubernetes-tools/blob/master/src/draft/draftConfigurationProvider.ts#L11) implementation, changing the activationEvent to `onDebugResolve:draft` is enough.

[2019-04-16 05:58] dholbach commented on #522
The [.deb version](https://code.visualstudio.com/docs/setup/linux#_debian-and-ubuntu-based-distributions) works fine.

[2019-04-16 07:31] isidorn commented on #521
Great. So my recommendation is to change this to `onDebugResolve:draft` as @testforstephen is saying.

[2019-04-18 16:43] bunnyc1986 opened #523 ""command 'extension.vsKubernetesRefreshExplorer' not found" on code-server"
I couldn't use the plugin in code-server. It's giving "command 'extension.vsKubernetesRefreshExplorer' not found" error. I have tried reinstall the plugin and I have all dependencies installed.

![image](https://user-images.githubusercontent.com/1644274/56377059-53da3280-61be-11e9-8703-0b7d9d0850de.png)

[2019-04-18 20:23] DerSalvador commented on #467
Yes, make the --format string configurable through ENV or config file, thanks

[2019-04-18 21:18] bnookala commented on #523
Hi there @bunnyc1986 - I'm not familiar with code-server - a quick search turned this up: https://github.com/codercom/code-server. Is this the project you're using?

[2019-04-19 00:26] bnookala opened #524 "Cloud Provider: Install call to action should link to cloud provider extensions"
![Screen Shot 2019-04-18 at 2 04 59 PM](https://user-images.githubusercontent.com/87996/56398675-9faccc00-61fe-11e9-8341-da4e985aad83.png)

Right now it is quite hard to identify what the cloud provider extensions appear like in the marketplace - we should make this easier to surface at the cloud provider level.

[2019-04-19 16:02] bnookala opened #525 "Allow port-forwarding a service/deployment"
As a user, I'd like to be able to invoke port-forward to a deployment or service:

API:
`await this.kubectl.portForward('svc/service', ''ns', 8080, 8080);`

Cluster Explorer:
Right clicking on a deployment/service should offer the option to invoke port-forward to the backing resource

[2019-04-23 06:46] ibuziuk opened #527 "Only preview releases contain `vsix` files (regular releases do not)"
Currently, only preview releases contain the `vsix` files and regular releases have only sources i place. Will it be possible to add the `vsix` files also for the regular releases to make it consistent?

[1] https://github.com/Azure/vscode-kubernetes-tools/releases

[2019-04-23 21:30] itowlson commented on #527
Regular release VSIXes can be downloaded from the VS Code Marketplace using the Download Extension link on the right.  But from the linked issue it looks like you want to do something more than this?

Anyway, yes... we should aim to provide the VSIXes via the GitHub releases page, but at the moment that's a manual step which is why it hasn't been happening for the Marketplace releases.  We should

[2019-04-23 21:30] itowlson commented on #527
Assigning this to lucky ol' @bnookala as he assigned himself #262 *grin*.

[2019-04-23 21:36] ibuziuk commented on #527
thank you @itowlson
there is no urgency per se, but I would be really gladful if `vsix` for `0.1.17` is manually added since this is the version we are currently using in Eclipse Che and marketplace is pretty vscode centric atm and we are hitting the marketplace rate limit errors every now and than

[2019-04-23 21:57] itowlson commented on #527
Sure!  Can you give https://github.com/Azure/vscode-kubernetes-tools/releases/tag/0.1.17 a try please, and let me know if you run into any problems?  I had to do some URL munging which I never trust myself with, but I think it's right...!

[2019-04-23 22:00] ibuziuk commented on #527
works like a charm ;-) Thanks again!

[2019-04-24 14:48] rhysjtevans commented on #140
Looking upstream, for me it was a dependency issue on npm package clipboardy looking for 'xsel' on my ubuntu distro.

[https://github.com/sindresorhus/clipboardy/issues/36](https://github.com/sindresorhus/clipboardy/issues/36)

[2019-04-30 13:22] saikojosh opened #532 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `vscode-kubernetes-tools`
- Extension Version: `0.1.18`
- OS Version: `Darwin x64 18.5.0`
- VSCode version: `1.33.1`

[ms-kubernetes-tools.vscode-kubernetes-tools-unresponsive.cpuprofile.txt](https://github.com/Azure/vscode-kubernetes-tools/files/3131380/ms-kubernetes-tools.vscode-kubernetes-tools-unresponsive.cpuprofile.txt)

Find more details here: h

[2019-05-01 01:54] #524 closed

[2019-05-01 23:20] itowlson opened #534 "Reduce keyword list to 5 keywords"
@brendandburns turns out that when we package the extension it limits the `keywords` section to 5 keywords, which we now go over.  What are your preferences in terms of pruning it back to 5?

cc @squillace

[2019-05-02 04:41] itowlson commented on #500
I tried webpack-ing it and it was a bit of a disaster.  `vsce package` keeled over with a totally opaque error message; `npm run compile` (which called `webpack --mode none`) produced a big pile of warnings, two errors about unresolvable `require` expressions in some deeply indirect thing called `got`, and a version conflict for the Node.JS types between `@types/node` and `@types/shelljs`.  In con

[2019-05-03 00:08] itowlson opened #535 "Provide 'extension kubeconfig' via API"
The user can override the default kubeconfig or KUBECONFIG environment variable using an extension setting.  The `kubectl` API respects this.  But it can cause confusion with API consumers shelling out to tools _other_ than kuectl that use kubeconfig.  E.g. suppose I have two kubeconfigs, the default and KC1.  The active context in the default is D.  The active context in KC1 is K.  The extension

[2019-05-04 00:39] bnookala commented on #532
Possibly related #519

We should consider bundling the extension, as suggested here: https://github.com/Microsoft/vscode/wiki/Explain:-extension-causes-high-cpu-load#code-loading

There's an open ticket for this #500 - which I'll try to do this weekend.

[2019-05-05 06:20] squillace opened #536 "Tiller-deploy not listed in kube-system namespace"
This doesn't seem to be the same as #512.

helm 2.13.1, default rbac'd installation. Although kubectl directly CAN see that the tiller-deploy pod is on a node, VS Code displays nothing on that node at all. See the image. Curious about the discrepancy.

VS Code 0.1.19+preview6

![image](https://user-images.githubusercontent.com/1422718/57189368-e408bf00-6ec2-11e9-87ac-30deac2260af.png)

[2019-05-05 20:55] itowlson commented on #536
What does `kubectl get pods --all-namespaces` print?

[2019-05-08 15:50] wolverian opened #538 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `vscode-kubernetes-tools`
- Extension Version: `0.1.18`
- OS Version: `Darwin x64 18.6.0`
- VSCode version: `1.33.1`

[ms-kubernetes-tools.vscode-kubernetes-tools-unresponsive.cpuprofile.txt](https://github.com/Azure/vscode-kubernetes-tools/files/3158181/ms-kubernetes-tools.vscode-kubernetes-tools-unresponsive.cpuprofile.txt)

[2019-05-09 07:57] pereiren commented on #491
Hi @itowlson, @ismael-soriano and me could be interested in collaborating on this. We want to debug our microservices using Minikube. Do you have any guide for starters?

[2019-05-09 23:06] squillace commented on #536
[code]

[2019-05-09 23:14] itowlson commented on #491
@pereiren @ismael-soriano That would be lovely - thank you heaps for the offer!

In terms of a starter guide, I'd suggest reviewing this PR which added the Node.js debug provider:

https://github.com/Azure/vscode-kubernetes-tools/pull/451/files

The key files of interest in that PR are `nodejsDebugProvider.ts` (where all the actual functionality sits) and `providerRegistry.ts` (which registers the

[2019-05-09 23:16] itowlson commented on #536
*cough* Aargh, sorry, that should have been `kubectl get pods -o wide --all-namespaces` - could you run that for me instead please?

[2019-05-09 23:18] squillace commented on #536
No, because it is now not repro'ing, and therefore I suspect user error. Closing.

[2019-05-09 23:18] #536 closed

[2019-05-10 05:17] itowlson opened #540 "Formatting error if kubeconfig merging from Cloud Explorer exists"
If you go into Cloud Explorer and choose a cluster that is already in kubeconfig, and choose Merge Into Kubeconfig, the error reads `[object Object] already exists - skipping`.  This should show the name of the context.

[2019-05-10 13:55] cdbyrd opened #541 "Helm template editing always defaults to 4 spaces"
When editing helm templates, the file type association in vs-code is "helm-template".  When you attempt to edit language specific editor settings, it identifies the editor as "helm".

[code]
Despite the fact that I have set tab size to 2 spaces, I constantly get my helm template definitions formatted with 4 spaces.  Does anyone have any idea how to correct this behavior to support tabs as 2 spaces

[2019-05-10 15:13] cdbyrd commented on #541
Okay, I can self resolve this thing.  It looks like at some point in the ancient history of the project someone added a .editorconfig file that had a definition for '.yml' files, but not '.yaml'.  The default of the .editorconfig was 4 spaces, and that was overriding the configuration of the kubernetes plugin.

[2019-05-10 15:13] #541 closed

[2019-05-12 00:14] itowlson opened #542 "Fix slow initial load"
We have a number of autogenerated reports of high CPU load during the first run of the extension; anecdotally it is feeling slow to load/unpack again.  This is a tracking issue for that problem.  See also #500.

[2019-05-12 10:48] radu-matei commented on #542
FWIW, I can also confirm the initial load time of the extension when VS Code starts has significantly increased.

[2019-05-12 11:01] radu-matei opened #543 "Settings for running the extension in a remote environment"
With the new [VS Code remote capabilities](https://code.visualstudio.com/docs/remote/remote-overview), users can set certain extensions to run either locally, or in the remote context (WSL, a local container, or a remote SSH machine).

This can be done by adding the following in the user settings:

[code]

Setting the extension to run in the remote environment (`workspace`) and then  restarting VS

[2019-05-13 08:29] pereiren commented on #491
@itowlson Thank you for the information! We will analyze during this sprint (next 2 weeks) how much effort we need for it and if everything fits with our company goals we would define all the tasks required for it.

I'll keep you updated! Best regards!

[2019-05-13 12:48] kristopherjturner opened #544 "ERROR: Operation failed with status: 'Bad Request'. Details: Service principal clientID"
When trying to create an AKS cluster I run into the error that the service principal client ID was not found in Active Directory tenant.  Where does it pull this information?  I have checked the ~/.azure/aksserviceprincipal.json file on my WSL instance.   I do not see any reference to that ID.  I would assume that it would either ask me to supply a SPN or automatically create one like it does if u

[2019-05-13 21:34] itowlson commented on #544
It should create a service principal as part of AKS cluster creation.  The extension is just calling the Azure CLI so it should have the same behaviour.

I _have_ seen this (or similar) as a transient error from Azure CLI.  So it's possible that this is what you're seeing.  But if it's happening consistently then maybe something else is going on.

Just to check, you mention your WSL instance - are

[2019-05-16 18:05] flynnduism opened #546 "[site] improve mobile and tablet layout"
Follow up to [#545](https://github.com/Azure/vscode-kubernetes-tools/pull/545) - to improve the [promo landing page](https://flynnduism.github.io/vscode-kubernetes-tools/).

@itowlson pointed out the layout looks  odd on an iPad, so adjustments to the `@media-queries` CSS are needed.

Will add them asap once I have bandwidth.

[2019-05-21 13:40] itowlson opened #548 "Helm: Convert to Template Parameter has stopped working"
I think this is because VS Code changed the way it surfaced document symbols, but I'm not sure yet.  Anyway, it gives a spurious "not a Helm chart" error.

[2019-05-23 06:19] fr-ser commented on #408
Sorry foropening up this old issue, but how exactly does the (JSON) config have to look like to apply this disabling rule?
At least the vs code auto complete is giving me no hints...

[2019-05-23 07:58] TristanFAURE opened #550 "Workloads pods not visible"
Thanks for this extension (and thank you for the presentation at KubeCon 2019)

I succeed to run the extension but I can't see my workloads this is what I see :

- cluster name
  - namespaces
     - namespace1
     - namespace2
  - nodes : OK
  - workloads
     - Pods : nothing :(

Is it normal that i don't see my pods ?

My environment :
- kubectl
Client Version: version.Info{Major:"1", Minor:"14

[2019-05-23 13:37] kosnkow opened #551 "Ibm cloud support"
Hi, is it possible to use this extension with ibm bluemix kubernetes ?

[2019-05-31 20:59] dgolovin opened #554 "Commands 'Get', 'Describe' and 'Delete' don't work for tree items created through ClusterExplorerV1.NodeContributor"
Using New API new kinds of resource can be contributed to the Clusters View. There are two way to contribute:
1. Using factory method  `clusterExplorer.api.nodeSources.resourceFolder` to create NodeContributor and then fluent API methods `if` and `at` to place contributed nodes in tree;
2. Implementing NodeContributor interface directly

For the first method all commands for contributed tree item

[2019-05-31 22:20] brendandburns commented on #551
Yes, this extension works with any Kubernetes.  If your ${HOME}/.kube/config file is configured correctly (e.g. 'kubectl' works) the extension should work great too.

Please re-open and let us know if it doesn't.

Thanks!

[2019-05-31 22:20] #551 closed

[2019-05-31 22:21] brendandburns commented on #550
By default the extension uses the `default` namespace. You may need to right-click on a namespace and activate that namespace as the selected namespace. If that still doesn't work, please let us know.

[2019-05-31 22:57] brendandburns commented on #519
Closign this one, since there is no profile actually attached....

[2019-05-31 22:57] #519 closed

[2019-05-31 23:16] #525 closed

[2019-05-31 23:20] #534 closed

[2019-06-02 21:42] bnookala commented on #550
Hi @TristanFAURE - were you able to resolve your issue by right clicking the namespace you'd like to view pods in?

[2019-06-03 07:54] levrik opened #558 "Extension causing issue with Git integration of VS Code"
See microsoft/vscode#69334 for details.
There was some bug on VS Code which was fixed but the same bug as described over there still occurs when the Kubernetes extension is active. As soon as I disable it and reload VS Code the issue is gone.
Here's a video of demonstrating this issue: https://youtu.be/-ZTeocap3uw

[2019-06-03 09:03] TristanFAURE commented on #550
Hello
Thank you for your answers !
I have no possibility to test before 11th June. But as soon as I have the connection back I'll let you know

[2019-06-04 05:01] #521 closed

[2019-06-04 22:40] itowlson commented on #558
How weird.  We don't do anything with SCM _or_ with images so I don't know why a deleted image in Git would cause us to blow up.  I'll take a look - thanks for letting us know!

[2019-06-04 22:51] itowlson commented on #554
How are you associating the `Describe` etc. commands with the contributed node?  Those commands are implemented within the extension and use the extension's internal representation of tree node objects; I wouldn't expect them to work with custom objects (the `resourceFolder` API provides that same internal representation, which is why it works).  Can you provide us with some information about what

[2019-06-04 23:36] itowlson commented on #408
@fr-ser Sorry for the delay in getting back to you - I have been away.  The config you want looks like this:

[code]

[2019-06-05 01:00] dgolovin commented on #554
I want to build node hierarchy similar to Network/Services/<Service1>/<ServicePod1>. In my case I am trying to extend Clusters View and add Workloads/BuildConfigs/<BuildConfig>/<Build>. Where <BuildConfig> and <Build> are OpenShift resources with relationship `1<->0..many`.

[2019-06-05 01:09] itowlson commented on #554
Are BuildConfigs a resource kind/CRD that you want to add under Workloads?  In which case you should be able to use `resourceFolder` I think.  Or are they something else that is defined in a way _other_ than a k8s resource?  In which case what should `Get`, `Describe`, etc. do?

Or are they a resource kind/CRD that you want to behave differently from a normal `resourceFolder`?

Ah... wait... I thi

[2019-06-05 01:12] itowlson commented on #554
Okay, so the requirement is to present a `resourceFolder` style view of a set of resource nodes (e.g. `BuildConfig` resources) with all the features built into `resourceFolder`, but to have additional nodes appear _under_ each resource, instead of the resource being terminal.  Let me take a look at that...

[2019-06-05 01:59] dgolovin commented on #554
That is correct.
In my case I was trying to to show several Build resources as child nodes for BuildConfig resource. I used NodeUICustomizer and changed collapsibleState for TreeItems representing BuildConfigs to force NodeContributor.getChildren call for nodes representing BuildConfigs.

[2019-06-05 02:00] dgolovin commented on #554
@itowlson Here is how it looks like https://github.com/redhat-developer/vscode-openshift-tools/pull/882/files.

[2019-06-05 02:16] itowlson commented on #554
The easiest solution to this with the current API is to have _two_ contributors, one to contribute the folder and 'standard' resource tree nodes, and the other to contribute the 'non-standard' children to appear under the resources.  Here is a very silly example:

[code]

We should probably create an issue to track how widely people want this built into the API; but in the meantime the above seems

[2019-06-05 02:18] itowlson commented on #554
Oh... aargh... no, I still misunderstood, sorry... you want the things _under_ the resources to be resources themselves.  Let me go back and try that again.

[2019-06-05 02:30] itowlson commented on #554
That is to say... the above will work in terms of showing the `ClusterRole` resources with working Get, Describe, etc., together with custom children... but it _won't_ work in terms of providing Get, Describe, etc. on the children if those are also resources.

[2019-06-05 02:49] itowlson commented on #554
Ugh.  I don't see an easy way to provide the built-in commands on those second-level nodes using the current API.  You can get part of the way by putting a `resourceFolder` under the first-level node:

[code]

But the `resourceFolder` doesn't give you a way of filtering based on the parent - in the above (silly) example, it displays all pods rather than just the pods that are (cough) relevant (cou

[2019-06-05 05:26] levrik commented on #558
@itowlson Yep. Of course I disabled all SCM related extensions first and was surprised when disabling this extension, fixed the problem.
Let me know if you can reproduce.

[2019-06-05 23:25] itowlson commented on #558
Yes, it's reproducing for me (on Windows).  THIS IS SO WEIRD.

But it gets weirder.  The hang happens EVEN IF THE EXTENSION DOESN'T ACTIVATE.

I don't know how this is even possible.

^^ reassuring maintainer comments

[2019-06-06 00:47] itowlson commented on #558
Found it, and I'm afraid it's a VS Code bug, which I will raise on their repo.

[2019-06-06 01:16] itowlson commented on #558
@levrik Is it okay if I close this on the k8s extension side please?

[2019-06-06 06:50] levrik commented on #558
@itowlson Sure.

[2019-06-06 20:51] #558 closed

[2019-06-07 18:59] chetansurwade opened #561 "support for microk8s"

[2019-06-10 17:25] dgolovin commented on #554
@itowlson thank you for suggestions. I think I'll use different contextValues for second level nodes, so no default context menus would be available. That way I would at least present relation between BuldConfig and Build resources. Will add commands later.

[2019-06-11 09:18] levrik commented on #558
@itowlson This issue was fixed on VS Code's side in the latest 1.36.0 insiders version (https://github.com/microsoft/vscode/commit/7bc29bf67c17608b11e23a8497c8f1de5a0922cf, 2019-06-11T08:29:28.099Z)

[2019-06-11 20:49] itowlson commented on #558
That's great @levrik - thanks for the followup and for your help in identifying this.

[2019-06-12 01:43] itowlson commented on #554
@dgolovin I'm making progress on this but it's taking a while to come up with a nice composable API (also I had to refactor the entire cluster explorer internals because it had reached the point where I could no longer follow them).  I will hopefully have something to run past you soon but wanted to assure you that it's not being left to slide!

[2019-06-12 01:46] itowlson commented on #561
What sort of support are you looking for @chetansurwade?  The extension works with your kubeconfig and via kubectl, so it should work with your microk8s cluster once you have added it to kubeconfig.  The touch points we have with specific cluster types are:

* Add Existing Cluster wizard (prompts for an existing cluster and merges it into kubeconfig)
* Create Cluster wizard (creates a cluster)
* C

[2019-06-12 05:59] chetansurwade commented on #561
@itowlson thanks for the information, apprently i got this working using this command `microk8s.kubectl config view --raw > $HOME/.kube/config` but it would be really nice to have the cluster creation directly from the extension with microk8s.

[2019-06-12 09:43] TristanFAURE commented on #550
You were right it is working ! You can close the ticket

[2019-06-12 17:30] bnookala commented on #550
Thanks!

[2019-06-12 17:30] #550 closed

[2019-06-12 23:27] itowlson commented on #561
Let's reopen this for the cluster creation side of things then - definitely something we are happy to look at, though I can't make any promises on priority.

[2019-06-12 23:28] itowlson commented on #561
(And glad to hear that you have it working via the Microk8s CLI in the meantime!)

[2019-06-12 23:35] itowlson opened #562 "Spurious failure to run Azure CLI if update check fails"
In https://github.com/Azure/vscode-kubernetes-tools/pull/476, @jvermast reports that the `az --version` check spuriously fails in his environment because the Azure CLI prints a message _WARNING: Unable to check if your CLI is up-to-date. Check your internet connection._ to stderr.  Although the CLI returns 0 and has displayed the version, we see the stderr and incorrectly treat this as a failure.

[2019-06-13 10:31] trym opened #563 "Extension interferes with http requests made by other extensions"
Having the kubernetes extension enabled breaks certain http requests in other extensions.
Disabling it fixes the issue.

[code]

[2019-06-13 14:02] trym commented on #563
From what I can tell, application insights cannot be disabled via configuration, and there is no way of using the helm yaml support without everything else enabled.

[2019-06-13 19:58] itowlson commented on #563
Could you provide an example of another extension that we break, and steps for how to reproduce the issue in that extension, please?  We certainly shouldn't be doing anything with global HTTP configuration....

I see Application Insights on that stack trace so this may be something we need to get fixed in the Insights upstream.  In the meantime you could try turning telemetry off (`telemetry.enabl

[2019-06-13 21:32] aklintsevich commented on #475
Has this been resolved? I'm hitting this on version 2.0.64

[2019-06-13 21:51] itowlson commented on #475
It has been resolved, but it seems that Azure CLI has introduced a new thing that has caused a new bug.  See https://github.com/Azure/vscode-kubernetes-tools/pull/476#issuecomment-501491637 (I have not yet raised the issue for it, will do that now).

The workaround is to use the `vscode-aks-tools` package (https://marketplace.visualstudio.com/items?itemName=ms-kubernetes-tools.vscode-aks-tools) wh

[2019-06-13 21:52] itowlson commented on #475
Correction, I did raise an issue: https://github.com/Azure/vscode-kubernetes-tools/issues/562

[2019-06-14 01:13] derekyle opened #565 "Can no longer see all pods in a node"
Previously, I could click on a node and get a listing of all pods on that node. However, it seems that after upgrading to somewhere around gke's k8s version 1.12+ I no longer have this capability. I am still able to list pods using my local k8s which is running v 1.10.

Obviously, this is due to some change with K8s. Is this a known issue with newer versions of Kubernetes?

[2019-06-14 01:19] itowlson commented on #565
Hmm, no, I haven't seen this.  Which version of kubectl are you running with your 1.12 cluster?  Could you run `kubectl get pods -o wide --all-namespaces` and paste in the first few lines of the output please?  (And would you mind doing the same for your 1.10 local cluster please, just for comparison?)  (Feel free to anonymise anything sensitive of course.)

[2019-06-14 01:22] itowlson commented on #563
Could you also let me know if you have any other extensions installed please?  We configure AI so that it doesn't go through that code path, but reading the module it seems like if _another_ extension is already using Application Insights then we might share its configuration... though in that case I'd expect the other extension to also be triggering this issue...  Thanks!

[2019-06-14 01:28] itowlson commented on #563
I can see we are on a very old version of Application Insights so I should update that anyway, and perhaps that might help...

[2019-06-14 01:30] derekyle commented on #565
Hopefully images are ok. Line wrapping makes a mess otherwise. The first image is from 1.13.6-gke.6 and the second is from my local v1.10.  Kubectl version, while connected to the gke cluster shows this:

`Client Version: version.Info{Major:"1", Minor:"12+", GitVersion:"v1.12.8-dispatcher", GitCommit:"1215389331387f57594b42c5dd024a2fe27334f8", GitTreeState:"clean", BuildDate:"2019-05-13T18:28:02Z"

[2019-06-14 01:38] itowlson commented on #565
Yes, the extension parses the kubectl output.  I'm wondering if something is confusing it - I notice that the new output has spaces in column headers which might be causing us problems.  Just taking a look now.

[2019-06-14 01:38] itowlson commented on #565
Forgot to say thanks!

[2019-06-14 01:52] derekyle commented on #565
No, thank you for taking a look!

[2019-06-14 01:52] itowlson commented on #565
We're mishandling the `NOMINATED NODE` column.  We incorrectly treat it as two column headers, `NOMINATED` and `NODE`, and this spurious `NODE` column (which picks up the values in the `READINESS GATES` column) effectively overwrites the real `NODE` column with a nonsense value... and so we don't match the pods up with the node names.

I can get this fixed pretty quickly but probably won't push ou

[2019-06-14 01:54] derekyle commented on #565
Sure, not a problem. I've been dealing with it for a few weeks now. It's just a nice-to-have when I need to quickly see which pods are having trouble at a glance. I appreciate the extension.

[2019-06-14 02:35] itowlson commented on #565
Gah.  Using `kubectl get -o custom-columns=...` gives us control over the output format... but the `STATUS` field in the default output is NOT a server field, it's a composite of pod `.status.phase` and the container status(es), and so cannot be mapped this way as far as I can tell.

[2019-06-14 02:38] itowlson commented on #565
And there used to be a convention that 'Column titles and values should not contain spaces in order to facilitate commands that break lines into fields: cut, awk, etc.'  https://github.com/kubernetes/kubernetes/pull/12515/files  But it seems to have been removed when they rewrote the docs: https://github.com/kubernetes/website/blob/master/content/en/docs/reference/kubectl/conventions.md

[2019-06-14 03:39] itowlson commented on #565
`kubectl` output tables always provide at least 3 characters of padding between fields:

https://github.com/kubernetes/kubernetes/blob/master/pkg/printers/tabwriter.go#L28

https://github.com/liggitt/tabwriter/blob/master/tabwriter.go#L209

This is sufficiently buried in the implementation that I probably shouldn't rely on it long term, but I'll take it for now.

[2019-06-14 05:31] #565 closed

[2019-06-14 05:34] #540 closed

[2019-06-14 10:40] trym commented on #563
The extension I'm experiencing this with is yet to be published. It does not use application insights.

Steps to reproduce:
* generate a new vscode extension
* install the aws-sdk npm package
* from within the extension, upload of a file (stream) to a bucket using S3#upload() - it has to be large enough to trigger multiple parts (>5MiB I think)

Disabling telemetry does not make a difference it se

[2019-06-14 15:59] OmriHarary opened #569 "Helm values Intellisense seems to only update when VS Code is restarted"
When writing templates, Intellisense/autocomplete suggestions for values pulled from values.yaml seems only to update when VS Code is restarted.

[2019-06-17 01:14] itowlson commented on #563
Thanks @trym - I've reproduced the problem, investigating now.

[2019-06-17 01:41] itowlson commented on #563
Test harness exhibits the problem with old telemetry package but not new telemetry package.  If that's the issue then #566 will fix it.  Testing now.

[2019-06-17 02:05] itowlson commented on #563
Confirmed my test harness doesn't show the behaviour when k8s extension is built from tip.  I'll publish a release to the store shortly - hopefully it will resolve your more realistic scenario too!

[2019-06-17 02:15] #562 closed

[2019-06-17 03:10] itowlson commented on #563
Could you grab the new (1.0.1) version of the extension off the Marketplace please (should auto-update I believe, otherwise update manually), and let us know whether it fixes your problem or not?  Thanks!

[2019-06-17 03:12] itowlson commented on #565
@derekyle Fix should be live in the Marketplace now - if the problem persists after the update, please reopen the issue and we'll investigate further!

[2019-06-18 12:46] trym commented on #563
Problem fixed, thanks :)

[2019-06-18 12:46] #563 closed

[2019-06-18 14:02] ahmadalli opened #571 "[Helm] `{{` Autocomplete adds extra `-}}` when `-` is typed"
If I type `{{` code automatically adds `}}` and everything is fine. but if I write `-`, then code automatically adds `-}}` and I'll end up with `{{--}}}}` which is not fine.

[2019-06-18 14:11] ahmadalli commented on #571
![vid](https://user-images.githubusercontent.com/2167301/59691731-ba002780-91f8-11e9-9eb0-885912936299.gif)

[2019-06-18 14:38] an-excellent-choice commented on #571
Autocomplete also results in extra brackets on both sides.

After the initial `{{--}}}}` shown in capture, if I then attempt an `if`, I end up with:

`{{- {{- if condition -}}`
`{{- end -}}-}}}}`

[2019-06-18 14:52] ahmadalli commented on #571
I think there shouldn't be any autocomplete for `-` since `{{- ... }}` is used in many cases too

[2019-06-19 17:14] Morriz opened #573 "There is no formatter for 'helm'-files installed."
This plugin can't format helm template files. Please defer to yaml formatter when it has extension yaml or yml.

[2019-06-19 19:58] itowlson commented on #573
Thanks for raising this.  Could you clarify what you mean by the second sentence?  Is it a suggestion for how we could implement a fix, or is it expanding on the problem?  Sorry for not understanding!

[2019-06-26 09:17] Morriz commented on #573
This plugin is taking responsibility for formatting, since it's registered itself as the handler for helm template files. Now, since this plugin has no implementation for formatting of the resulting output, I suggest to defer formatting to the default formatters already installed by the user (*.yaml|json|etc). If they don't have formatters installed for the generated files, then your plugin should

[2019-06-27 07:43] cforce commented on #291
I still have the error and i also have a custum tiller ns which would need  --tiller-namespace to be set.  How do i do that?

[2019-07-01 08:03] jungopro opened #574 "helm: preview template with multiple values files"
Hi

I have a chart that the values are spread across multiple files (values.yaml, dev.values.yaml, stg.values.yaml, etc.)

When I run the preview I get an error that the value for a specific key can't be found. This is expected since the key is not in the default values.yaml file.

My question is - is there a way to provide multiple values files to the helm preview command?

Thanks
Omer

[2019-07-01 23:26] itowlson commented on #574
This isn't currently possible, but we can look at implementing it.  The Preview command calls down the `helm template` which can take a `-f` argument specifying where to get values from, so we just need to figure out what to pass to `-f`. The user experience for this might be tricky though.  From your description, we don't want to bring in _all_ the values files - I assume you want to preview the

[2019-07-02 00:16] itowlson commented on #291
@cforce We don't have cluster-by-cluster support built in for this at the moment.  Can you work around this limitation by setting the `TILLER_NAMESPACE` environment variable?

[2019-07-03 06:17] bacongobbler commented on #574
I know that when I invoke the debugger, local configuration about a repository's settings are stored in a `.vscode/launch.json`. In there, it's possible to provide arguments/flags that the user can add to the program when it is invoked by the debugger. Would that type of workflow be a possibility to handle a case like this?

[2019-07-03 06:29] bacongobbler commented on #573
This is actually an issue with the Helm Chart Specification more-so than the plugin itself. A chart's templates has no defined for a given template file. The file extension doesn't actually signify that the file is written in YAML/JSON/what-have-you. In reality, the file extension of the templates SHOULD be of type `.tpl`, but the keyword there is SHOULD. The chart specification just defines that

[2019-07-03 06:37] bacongobbler commented on #512
ping RE: ^. Would love to hear the outcome of this discussion! Helm 3 will certainly provide a nicer experience in this case.

[2019-07-03 06:44] bacongobbler commented on #496
I think the best course of action is to wait for Helm 3, yes. The output of `helm get` should now properly display as YAML. If it doesn't, you can blame me for it :)

[2019-07-03 06:51] bacongobbler commented on #163
Does the existing "Convert to Template" functionality cover this scenario, or is there something else that's missing that chartify covers?

I would note that chartify hasn't seen any active development in the last 2 years. It even relies on an ancient version of Helm [(v2.4.2 to be exact)](https://github.com/appscode/chartify/blob/master/glide.yaml#L7-L8) and an even older version of client-go, so

[2019-07-03 07:01] bacongobbler commented on #146
Helm 3 introduces JSONSchema support for chart values (see https://github.com/helm/helm/pull/5350). Once Helm 3 lands, the extension could load the `values.schema.json` (if present) to provide validation against what the user has provided in the values.yaml. That should handle use cases such as the few cases provided here.

[2019-07-03 07:06] bacongobbler commented on #39
Seems like the `Helm: Install` and other workspace commands seem to fit the use case provided here. Is there something else missing that's preventing this issue from being closed? :)

[2019-07-04 17:03] robsonpeixoto opened #577 "Show current context on status bar"
Show the current context on status bar is very useful if the user go to the terminal to execute some commands

[2019-07-04 19:43] itowlson commented on #577
That's a good thought.  We don't want to over-clutter the status bar so we might want to explore alternative approaches to this - e.g. keeping each terminal associated with a specific context (by injecting a KUBECONFIG environment variable) and opening a new one if the user changes context, and showing the context in the terminal name.  But that wouldn't help with the default terminal of course.

[2019-07-04 20:51] robsonpeixoto commented on #577
Or the status bar be an optional feature where the user need to activate.

[2019-07-05 03:33] itowlson commented on #542
The good news: Webpack does make this _hugely_ faster.

The bad news: Webpack is currently blocked by the `jsonpath` dependency (via `@kubernetes/client-node`): https://github.com/webpack/webpack/issues/9367

[2019-07-05 19:34] tarioch commented on #447
It looks like even with newer kubernetes version this is still not working (1.15), I'm getting the error

`Unable to load schema from 'kubernetes://schema/flux.weave.works/v1beta1@helmrelease': No content.`

and the crd has a validation block: https://github.com/weaveworks/flux/blob/master/deploy-helm/flux-helm-release-crd.yaml

[2019-07-07 23:57] itowlson commented on #447
Thanks for the heads up.  We may not yet be loading the schema from the cluster (this is fairly old code).  I'll have a look at how we're loading the schema and, if it doesn't Just Work TM, how k8s is surfacing the CRD schemas.  Thanks again - I had missed that this was now in a Kubernetes release,

[2019-07-11 01:12] vdefeo commented on #347
Hey guys, would be also nice to edit ConfigMaps and Secrets from the extension. :)

[2019-07-11 01:38] itowlson opened #579 "Create and edit ConfigMaps/Secrets from editor"
Per #347, we'd like to be able to create new config maps and secrets quickly and easily.  (Then we can easily use e.g. Add File to add values to them.)

[2019-07-11 01:38] itowlson commented on #347
Raised a new issue #579 for the specific case of ConfigMaps and Secrets because those are more specific, we have more concrete use cases and it's a bit more bounded.

[2019-07-11 06:51] sbibow commented on #571
I could disable it when disabling the linters. I don't know which linter is responsible for this so for a quick fix I just set the following setting in my `settings.json`:

[code]

[2019-07-11 11:14] baracoder opened #580 "Opening secret entry freezes up vscode"
I have some secrets with entries containing configuration files up to 100 lines.
Opening them through the browser, only 10 to 30 lines were displayed.
Trying to create an example to reproduce the problem, vscode is actually freezing up.

Extension version: 1.0.1

How to reproduce:

1. Create secret with big entry
[code]
2. Open the entry `prometheus-kubernetes.yml` from the sidebar

Expected outco

[2019-07-12 06:34] cforce commented on #291
I can't as i need to manage two clusters, one AKS and one dedicated with different TILLER_NAMESPACE

[2019-07-12 08:50] iliatages commented on #522
+1

[2019-07-15 04:03] brendandburns commented on #580
I'll try to reproduce this...

[2019-07-17 16:28] dariuszbz opened #582 "Unable to connect to the server: proxyconnect tcp: dial tcp 127.0.0.1:3128: connectex: No connection could be made because the target machine actively refused it."
since yesterday it wont work :(
firewall is off

[2019-07-17 22:12] itowlson commented on #582
Are you able to connect with `kubectl`?

What are your client and server versions?

Does this happen with all operations or only specific operations?

Which cloud is your cluster in, if any?

[2019-07-18 00:15] itowlson opened #584 "Fix error message when custom resource schema not available"
If the user edits custom resource YAML, and the CRD is not available (e.g. because it is a pre-1.15 version of k8s, the feature gate is not set to true, or the CRD is not installed in the active cluster), we have reports that the extension displays an error message `Unable to load schema from 'kubernetes://schema/flux.weave.works/v1beta1@helmrelease': No content.`

This is probably more intrusive

[2019-07-18 00:15] itowlson commented on #447
@tarioch I had a look at this.  We had a local copy of the k8s schema so it wasn't picking things up from the cluster.  There's now a PR (#583) to address that, though it is somewhat flawed due to issues with the underlying YAML tools - specifically documents that are open when the extension loads will still get the fallback schema and will need to be closed and reopened to get the schema from the

[2019-07-18 10:05] dariuszbz commented on #582
Hello,

Thank you for your response.

It's AKS. Clusters around the word.
I can connect, but not from VS Code Kubernetes extension.

It looks like minikube problem .

What server version do you mean? It's AKS windows.
My client it's windows 10 with docker desktop and visual studio code.

On Wed, 17 Jul 2019, 23:12 itowlson, <notifications@github.com> wrote:

[2019-07-18 13:30] dariuszbz commented on #582
just after I started VSCode and click kubernetes icon in the right pane, the error message comes in the left bottom corner:

Error checking for minikube updates:
X Unable to fetch latest version info: Error getting json from minikube version url: error with http GET for endpoint https://storage.googleapis.com/minikube/releases.json: Get https://storage.googleapis.com/minikube/releases.json: proxyc

[2019-07-18 18:53] alexkreidler commented on #571
I have the same issue. I love this extension, but this is a dealbreaker for me. Please fix!

[2019-07-18 21:32] #571 closed

[2019-07-19 00:54] squillace commented on #582
Error checking for Minikube updates. OK, so the extension checks https://storage.googleapis.com/minikube/releases.json, which currently works but didn't at this moment. It seems to be trying to dial through localhost, however.... @itowlson, what do you think? It appears to be trying to connect outbound to localhost and is stunned when it's rejected. Do I interpret this correctly?

[2019-07-19 00:56] squillace commented on #532
@bnookala you wanna circle round here? We don't get a lot of these complaints, so I suspect it might be gone yet, but just doing due diligence...

[2019-07-19 00:58] squillace commented on #527
hmmmm. rate limiting is a bummer.

[2019-07-19 00:59] itowlson commented on #582
I believe this error is coming from Minikube.  My guess is that the `proxyconnect tcp: dial tcp...` stuff is Minikube error spew related to implementation details of how Minikube looks for the latest version (which as you rightly say is actually hosted on Google storage).  We've got PRs in flight around this and I will try to tidy up once those land.

@dariuszbz, are you still experiencing the err

[2019-07-19 00:59] itowlson commented on #532
It still needs work, if only because the extension is still slow to start up.  I have a proof of concept of Webpacking the extension but it's brittle as.

[2019-07-19 01:04] squillace commented on #573
I think more to the point, until someone sits down and writes a yaml reader/writer that handles go templating inside.... well, until that point, we'll take a PR that does this! :-)

[2019-07-19 09:00] dariuszbz commented on #582
I install new VM, Vs code, extension, and it works. If you want I will not
delete the old one where the error occurred, and we can carry on with this
case.
Up to you gents.

On Fri, 19 Jul 2019, 01:54 Ralph Squillace, <notifications@github.com>
wrote:

[2019-07-21 23:35] itowlson commented on #582
If recreating the Minikube VM fixed the problem, then don't worry about keeping the old one around for diagnostics.  I've had numerous problems with borked Minikube VMs but these are Minikube issues not VS Code extension issues; unfortunately there isn't anything we can do about this on the VS Code side.

Is it okay if we close this issue now that you have a working Minikube?

[2019-07-22 16:11] dariuszbz commented on #582
I was not able to recreate minikube. I just shutdown the VM and create new
one 😄 since than never started the broken one.

On Mon, 22 Jul 2019, 00:35 itowlson, <notifications@github.com> wrote:

[2019-07-23 10:35] kapodes opened #587 "Right click scale functionality for deployments and stateful-sets"
It would be nice if I could scale my deployments and stateful-sets right from UI.
I propose adding "right-click" menu item that would say `scale` and after clicking it and entering a number a scale for that resource would trigger.

We have a lot of similar stuff for PODs like port-forward and terminal but no scaling :(

[2019-07-23 20:23] itowlson commented on #587
Good point.  We have the Scale command on the command palette, but it dates from before the explorer, and never got added to the right-click.  Sorry for overlooking that and thanks for flagging it!

[2019-07-23 23:46] #587 closed

[2019-07-23 23:52] itowlson commented on #467
Fixed via #575.

[2019-07-23 23:52] #467 closed

[2019-07-24 17:13] rl-msft opened #590 "can you allow this extension to be installed on azure data studio? this would help with SQL 2019 bdc"
can you allow this extension to be installed on azure data studio? this would help with SQL 2019 bdc

[2019-07-24 20:13] itowlson commented on #590
I'm not sufficiently familiar with Azure Data Studio to know what this would entail.  The ADS extension authoring page says it supports VS Code APIs, so that side should be okay I guess.  But I don't know what we would need to do in terms of the extension manifest.  The ADS page talks about a bunch of different contribution points from VS Code, and I'm not sure whether they are 'in addition to' or

[2019-07-25 19:20] bnookala commented on #582
@dariuszbz I'll close this issue for now, but if it is still causing trouble, please let us know :)

[2019-07-25 19:20] #582 closed

[2019-07-25 20:37] itowlson commented on #590
Related: https://github.com/Microsoft/azuredatastudio/issues/4599

[2019-07-25 20:47] itowlson commented on #590
@rl-msft It's not mentioned in the linked issue, but @SQLvariant says that he got the k8s extension working a couple of months ago and that what he had to do was manually download and load the `redhat.vscode-yaml` extension before loading the k8s extension.  Could you give that a go please?

[2019-07-25 21:02] rl-msft commented on #590
thanks, yeah, I 've tried yesterday and got it working under Azure data studio, it needed actually 2  prerequisites

vscode-yaml-0.4.1.vsix
technosophos.vscode-helm-0.4.0.vsix

after that installed it manually it worked just fine

thanks

[2019-07-25 21:09] itowlson commented on #590
That's super weird.  `technosophos.vscode-helm` is long obsolete and we have no dependency on it.  I wonder why you needed it!

Anyway - glad you got it working.  Thanks for closing the loop on this!

[2019-07-25 21:14] rl-msft commented on #590
it was throwing dependency error saying missing "helm" so had to install it.
thanks!

[2019-07-28 14:47] liranmauda opened #592 "Show/Follow Logs are not working in Failed Pods"
in V1.0.2 after "Use webview for Follow Logs command" the Show/Follow Logs are not working in Failed Pods.

[2019-07-28 19:25] itowlson commented on #592
Thanks for the heads up - looking.

[2019-07-28 19:35] itowlson commented on #592
Do you get any errors retrieving logs with `kubectl`?  I ask because I have a failed pod which gives me a "You must be logged into the server" error while a sibling running pod returns logs just fine.

[2019-07-28 19:42] itowlson commented on #592
Okay, I tried a different failed pod and it came up okay in the web view (I think the one in the previous message was running on a bad node).  I was trying this on latest master rather than RTM but didn't think they'd be any different (but will go back and check).  Can you provide any more details about the pod on which you're seeing the problem, and the specific container if there's more than one

[2019-07-28 19:50] itowlson commented on #592
Tested on 1.0.2 release and it's working for me (except for the "you must be logged in" pod).  I see you mention it's intermittent though...

[2019-07-29 05:16] liranmauda commented on #592
`kubectl logs pod/<pod name> ` works when the Show/Follow Logs are not working.
It doesn't always happens, it happened 2 times out of 8.
every other command worked (such as describe) when the logs didn't.

my k8s is with 3 nodes and i had around 10 namespaces.
on the namespace that i tried to log there were 3 secrets, 1 job and 1 pod which had 1 container inside.

[2019-07-29 21:53] finsterdexter commented on #460
Looks like this went out in the newest release (v1.0.2) and we need an option to disable this. The webview doesn't auto scroll to follow the latest logs so it just dumps and dumps and isn't useful for pods where log volume is heavy. Need to go back to using the terminal `tail -f` style in order to actually be useful.

[2019-07-29 22:24] itowlson commented on #460
@brendandburns I thought we got the auto scroll for follow working?  If not then @finsterdexter is right, we need to either fix or roll back...

[2019-07-30 01:17] itowlson opened #593 "Follow logs webview not autoscrolling"
Per https://github.com/Azure/vscode-kubernetes-tools/issues/460#issuecomment-516176958, the Follow Logs webview is not autoscrolling as new logs arrive.

cc @brendandburns - I am happy to tackle this if you want though

[2019-07-30 20:16] shroudedcode opened #594 "URI query parameters are not shown in secret preview"
For some obscure reason query parameters are stripped from URIs when viewing an individual value of a secret through the Clusters panel.

## How to reproduce

1. Create a secret like this and apply it:

[code]

2. Reload the Clusters panel.

3. Click on the `test` secret in the tree view. You'll see that the `URI` value has been correctly Base64-encoded:

[code]

4. Now click on `URI` (the individ

[2019-07-30 23:40] itowlson commented on #594
This is a bug with how we pass the base64 encoded data around.  We currently stuff it into a URI.  But the base64 encoding of your URL-with-query includes a slash.  And we don't handle that correctly, resulting in truncation when we try to pull it out of the URI again.

Thanks for flagging this - looking at a fix now.

[2019-07-31 02:52] itowlson commented on #593
@finsterdexter I'm looking at this issue now and would value thoughts on the desired behaviour.  Presumably if you have found an interesting log and scrolled to it, you do _not_ want the next log message in Follow mode to cause the view to scroll back to the bottom?  So should the rule be (in Follow mode):

1. If the user has not scrolled up, keep the view tracking the most recent log messages.
2.

[2019-07-31 16:54] finsterdexter commented on #593
For my use case, what you outline there is exactly what happens in iterm and the vscode terminal, so that makes sense to me.

[2019-08-05 00:20] branttaylor opened #596 "Unable to load schema from 'kubernetes://schema/monitoring.coreos.com/v1@prometheusrule': No content."
Issue Type: <b>Bug</b>

Opened a .yaml file and I'm getting this error at the top of the file, and the file path is red:

Unable to load schema from 'kubernetes://schema/monitoring.coreos.com/v1@prometheusrule': No content.

Extension version: 1.0.2
VS Code version: Code 1.36.1 (2213894ea0415ee8c85c5eea0d0ff81ecc191529, 2019-07-08T22:56:38.504Z)
OS version: Darwin x64 18.7.0

<details>
<summary>Sy

[2019-08-05 00:22] itowlson commented on #596
Thanks for reporting this.  Does the `.yaml` file include a line of the form `kind: <something>`?  Is the `<something>` a custom resource name?  We have a known bug (#584) around this I'm afraid...

[2019-08-05 00:29] branttaylor commented on #596
Yes, the beginning of the file looks like this:
[code]
Thanks for the quick response!

[2019-08-06 00:55] #594 closed

[2019-08-06 07:38] liguobao commented on #491
Looking forward to it, thanks!

[2019-08-06 08:15] jungopro commented on #574
I would recommend a 2nd option in VSCode next to the original one:
_**Helm: Preview Template (with custom values)**_.
Ideally the command will either accept a path to a values file or the --set option for command-line style key-value input

[2019-08-06 19:17] bfitzpat commented on #579
This would be a fantastic enhancement. I was going to make an enhancement request for it, but here it is!

[2019-08-08 17:03] moebius87 opened #597 "NOTES.txt preview produce no output"
If you try to launch the preview of the _NOTES.txt_ file nothing is shown.
This is exactly what happens when you run the command: `helm template -x templates/NOTES.txt myChart`
Instead, for this particular file, the expected behavior is what you would get by launching the command: `helm template -x templates/NOTES.txt myChart --notes`

[2019-08-11 01:21] cig0 opened #598 "Make extension cross-platform compatible"
Hi,

I use VSCode on both my GNU+Linux and macOS systems, keeping configuration in sync between them three.

A shortcoming of this extension is the way it specifies the path where it stores the external tools:

[code]

Because the user home directory path differ on different platforms - or even in custom OS installations -, the way paths are stored right now breaks the extension when syncing VSCod

[2019-08-11 21:25] itowlson commented on #598
Hmm, we support this manually via the `....(os)` suffixes to the path, but we don't do it for automatic tool download.  This would be a good thing to do - thank you!

[2019-08-11 21:27] itowlson commented on #598
As an manual measure you can fix up your configuration as per https://github.com/Azure/vscode-kubernetes-tools#portable-extension-configuration - hope this helps!

[2019-08-16 06:43] coding2012 opened #599 "Restore "old" follow logs (in a terminal)"
Just a thought since there is a lot more power in using the cmd line for this action (even if it's just a kubectl command line - VSCode's integration made it easy to know what that cmd line is). Perhaps if the new web view is staying, maybe make the terminal method an option?

[2019-08-16 23:36] mjbvz opened #600 "Webview does not set a content security policy"
Hi, I'm the developer of VS Code's webview API. I noticed that your extension seems to create a webview that does not set a content security policy. All webviews (even very simple ones) should set a content security policy. This helps limit the potential impact of content injections and is generally a good measure for defense in depth.

We've documented how to add a content security policy to VS C

[2019-08-20 01:30] itowlson commented on #597
Thanks for spotting this!

[2019-08-20 01:31] itowlson commented on #599
Semi-related: #593 (this is a note to myself, not a comment to you @coding2012 - thanks for the feedback!).

[2019-08-23 04:11] itowlson opened #601 "No completion or hover tips after Red Hat YAML auto-upgrades"
We believe users may stop seeing code completion, hover tips etc. after receiving an automatic update of the Red Hat YAML extension.  We are working with Red Hat to resolve what appears to be a regression in the YAML language server, and tracking it here: https://github.com/redhat-developer/vscode-yaml/issues/216.

The workaround is to downgrade the YAML extension to 0.4.1.  To do this, open the c

[2019-08-24 20:59] roblourens opened #602 "Avoid using workspace.rootPath"
This extension appears to be using the `workspace.rootPath` API. This is a deprecated property and may not work as expected. Please use `workspaceFolders` instead. More info:  https://github.com/microsoft/vscode/wiki/Adopting-Multi-Root-Workspace-APIs#eliminating-rootpath

https://github.com/microsoft/vscode/issues/69335

[2019-08-27 23:11] #447 closed

[2019-08-28 10:03] bnookala commented on #599
Fixed in master - next release will have this feature :)

[2019-08-28 10:03] #599 closed

[2019-08-28 12:13] AceHack opened #604 "Support Spark operator CRD syntax in yaml"
Not sure where to best ask for this feature so I've put it in both places
https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/issues/586

[2019-08-29 01:50] itowlson commented on #604
I've just shipped an update so that if the CRD includes a structural schema _and_ the cluster is running a version of Kubernetes that incorporates CRD schemas into its Open API (Swagger) document, then you should see intellisense in the YAML (though note #601 for the time being).

I don't know the details of the Spark operator - you can probably review the CRD to determine if it provides a structu

[2019-08-29 01:53] itowlson commented on #596
If the CRD includes a structural schema, _and_ the cluster publishes CRD schemas in its Swagger (which currently requires the `CustomResourcePublishOpenAPI` feature flag), then this should work as of 1.0.3.  If not, let me know and we can discuss other ways for users to bring in CRD schemas.

In any event, I still need to bugfix the message when we can't retrieve the schema.  Apologies for the del

[2019-08-29 15:17] branttaylor commented on #596
I updated to 1.0.3 and it looks to be resolved now. Thanks!

[2019-08-29 15:17] #596 closed

[2019-08-29 22:48] shamera82 opened #608 "kuberneties extension configmaps display broken for json files contains with special characters"
Issue Type: <b>Bug</b>
when json file contains special characters, it shows broken json file in kuberneties extension under Config Maps

Replicate Issue:
in helmcharts
configs -> sample-service-config -> sample-tenant- -> dev.json

[code]
in helmchart configmaps
[code]

**BUG/Problem**: Kuberneties extension under Sample-k8s-Cluster -> Configuration -> Config Maps -> sample-resource-config -> dev.

[2019-08-29 22:51] itowlson commented on #608
@shamera82 I see you're on v1.0.2 of the k8s extension. Could you update to 1.0.3 and see if that helps?  We have a bugfix in that version related to truncated configmap entries, and hopefully it will solve your issue.  Let us know, and we will investigate further if you're still experiencing it.  Thanks!

[2019-08-30 12:39] d4nyll opened #610 "Error loading config file"
# Problem

The extension is spewing out the following error (appears to be around once every minute):

[code]

It is throwing the error because `/home/d4nyll/.kube/config` is a directory, and not a configuration file. However, this should not be an error because Kubernetes allows the configuration files to be split into multiple files. Indeed, from the [documentation](https://kubernetes.io/docs/ta

[2019-09-02 00:41] itowlson commented on #610
Thanks for the bug report and the detailed suggestions!  I agree we should be checking that environment variable when we get the kubeconfig path.  However, I don't _think_ this is the source of the error message you're seeing.  The `kubeconfigPath` function appears to be called only from `mergeToKubeconfig`, which is called when a user right-clicks a Cloud Explorer node - not every minute as you a

[2019-09-02 00:59] #584 closed

[2019-09-02 01:00] #597 closed

[2019-09-04 13:48] MikeRalphson opened #613 "Array.prototype pollution causing interactions in other extensions"
I've had a [couple of reports](https://github.com/Mermade/openapi-lint-vscode/issues/9) of `Array.prototype` pollution which we have narrowed down to this extension, a quick search points to this code probably being the culprit:

https://github.com/Azure/vscode-kubernetes-tools/blob/070b7d4278b13f2d24fa17c5fb2ccc208becaf30/src/utils/array.ts#L16

Is it possible this function could be made non-enum

[2019-09-05 09:25] d4nyll commented on #610
Hi @itowlson I have just downgraded the extension version to v1.0.2, waited for a few minutes, and can confirm that the error messages no longer appear. I also upgraded it back to v1.0.4, waited for a few minutes, and can confirm the error messages appear again. Downgraded, and they are gone again. So it seems like what you said was correct!

[2019-09-05 10:42] d4nyll commented on #610
I think it may be an issue with how the extension uses the official Kubernetes JavaScript client.

I tested it by creating a **`test.js`** file:
[code]

Then ran it with `node`:

[code]

So it appears `loadFromFile()` only accepts a file as the argument. I did further tests and found that `loadFromDefault()` _does_ load properly:

**test2.js**
[code]

(I ran it in VSCode's Debug console, and can s

[2019-09-10 13:31] tanujmittal opened #615 "Plugin tries to determine minikube version and fails"
On Windows 10 Pro with Kubernetes single node cluster installed as part of Docker Desktop and not separately as Minikube, the extension throws error:

"Failed to determine minikube version: Error: Error checking for minikube updates: * X Unable to fetch latest version info: Error getting json from minikube version url: error with http GET for endpoint https://storage.googleapis.com/minikube/releas

[2019-09-11 06:57] itowlson commented on #615
Can you clarify your environment - do you have a Minikube cluster present in your kubeconfig (Cluster Explorer)?  Are you saying that we are mistaking the Docker Desktop cluster for a Minikube cluster?  This _looks_ like a Minikube error so I'm not quite sure why you would get it if you're not using Minikube... and clearly the Minikube CLI is present and responding... Thanks!

[2019-09-11 09:19] tanujmittal commented on #615
Environment:
Windows 10 Pro with Docker Desktop
Kubernetes has been installed as part of the Docket Desktop. No minikube installed. My Kubernetes Clusters show two entries:
1. docker-desktop
2. docker-for-desktop

Replication steps:

1. Switch to Kubernetes extension
2. Click the Refresh on the Helm Repos section.
3. Output shows the followings messages - not sure if it is related to the problem a

[2019-09-11 10:35] itowlson commented on #613
Thanks for flagging this.  The shared extension host process can be a pain - apologies for the impact this has had on you.  I'm travelling at the moment and won't be able to get to this for a couple of weeks I'm afraid.

Can you clarify how it results in the issue in your extension?  The easiest fix (converting it to a toplevel function instead of a method) will make it fiddlier for me to work wit

[2019-09-11 10:40] itowlson commented on #610
Yes, `loadFromDefault` probably makes more sense (unless the user has set a non-default kubeconfig in their VS Code settings).  And I should dig into that to see how it handles the multi-file case so we can support that in the settings override case.  Thanks!

I'm travelling at the moment, but will hopefully get to this in a couple of weeks when I get back.  Sorry for the delay, and thanks for all

[2019-09-11 10:53] MikeRalphson commented on #613
Hi @itowlson - in my extension I'm creating plain JS objects (containing arrays) from the contents of the editor and passing them to an OpenAPI validator/linter. The validator isn't expecting additional enumerable properties on arrays (it could be coded more defensively, but this would be a lot of work and reduce code readability) and is so blowing up when it hits the unexpected function.

I've ad

[2019-09-11 12:45] d4nyll commented on #610
Thanks @itowlson, bon voyage!

[2019-09-13 06:30] Slywire opened #616 "Show logs - no logs shown, follow logs disappear when switching tabs"
Firstly, I love this package and I'm using it extensively. Just some minor issues on viewing the logs on VS Code for Windows.

When I right-click on a Node and select "Show Logs" it opens a logs tab in the editor, but with only the filter options and no logs displayed.

To view a Node's logs, I can select "Follow Logs", which opens the same tab, but with logs and I can scroll through. The moment I

[2019-09-13 07:11] itowlson commented on #616
cc @brendandburns

[2019-09-17 12:55] dfgrosso opened #617 "Open dashboard not working for AKS 1.4+"
Issue Type: <b>Bug</b>

Greetings.

I´ve been using this extension to open the dashboard on my Azure AKS cluster. It's been working fine but once I've upgrade the AKS to version 1.14 e stopped working. I'm getting this error:

 kubectl proxy | tee c:\Users\daniel.grosso\.vscode\extensions\ms-kubernetes-tools.vscode-kubernetes-tools-1.0.4\out\src\components\kubectl\proxy.out
out-file : The process

[2019-09-18 05:59] cforce commented on #617
same heree:

[code]

[2019-09-18 12:42] shacharSilbert opened #618 "Lint on maxUnavailable in rollingUpdate showing on correct numbers"
Issue Type: <b>Bug</b>

Looking at a deployed Deployment YAML file on Kubernetes, with:
maxSurge: 25%
maxUnavailable: 0

I get a lint error on the 0 in maxUnavailable although there shouldn't be:
Incorrect type. Expected "string".

Extension version: 1.0.4
VS Code version: Code 1.38.1 (b37e54c98e1a74ba89e03073e5a3761284e3ffb0, 2019-09-11T13:31:32.854Z)
OS version: Darwin x64 18.7.0

<details>
<sum

[2019-09-18 21:18] ifridemberg commented on #617
same here

[2019-09-19 12:41] jacobwgillespie opened #619 "Extension spawns many copies of kubectl proxy on startup"
When I open up VS Code for the first time and open a Kubernetes YAML file, the Kubernetes extension seems to be spawning **a lot** of instances of `kubectl proxy --port=0` for every Kubernetes API object in the file.

For instance, opening this file (one of `cert-manager`'s resources), results in spawning 28 copies of `kubectl`:

<details>
<summary>cluster-role.yaml</summary>

[code]

</details>

[2019-09-19 16:37] rtim75 opened #620 "Extension adds one additional curly brace in helm-related files"
**vs-code-kubernets version: 1.0.4**
**vs-code version: 1.38.1**

When the extension is enabled hitting '{' key once creates '{}' as it should do. But, if I hit  '{' two times I get '{{}}}' which brakes every helm template and forces to manually remove that curly brace.

[2019-09-23 05:41] thuandt commented on #574
I have the same case when working with multiple values file for each environment. I would like to see the option to choose my values file when using "Helm: Preview Template"

[2019-09-23 10:18] RafaelAybar opened #621 "Linter shows false mistake in Ingress config"
I have the following config:
[code]
Visual Studio Code version: ```1.38.1
b37e54c98e1a74ba89e03073e5a3761284e3ffb0
x64 (snap)```

Plugin version: `Kubernetes 1.0.4`
But I see this issue with no reason, as far i know it is configured as official docs says:
![imagen](https://user-images.githubusercontent.com/21227176/65418196-3314a980-ddfc-11e9-85df-3c4b8c478788.png)

[2019-09-24 11:03] segevfiner opened #622 "Configuration doesn't match VS Code settings editor expectations"
VS Code settings editor expects flat settings with dotted keys, but this extensions uses a single key as an object with the rest of the keys under it (And with a duplicated prefix, you get `vs-kubernetes` twice, once in the object key, and once in the setting key itself). This results in the settings editor not working correctly for this extensions settings.

![screenshot](https://user-images.gith

[2019-09-24 12:05] ugumba commented on #617
Likewise!

Also, after trying a couple of times (and closing some Powershell terminals), I end up with this popup message instead:
```Something went wrong when ensuring the Kubernetes API Proxy output stream existed```
Restarting VSCode gets rid of that, and brings back "The process cannot access the file ...".

"kubectl proxy" works as normal, but i was hoping the extension would be able to deduc

[2019-09-25 07:13] zackijack commented on #571
Hi @itowlson still happening on me, but in my case, every time  I type `{{` auto closed with triple bracket `}}}` instead of double `}}`

[2019-09-25 08:55] ahmadalli commented on #571
same here

[2019-09-25 10:29] xarek1986 commented on #620
I found that with vscode v1.37.1 it works as it has to, but with vscode v1.38.1 it adds additional brace

[2019-09-25 10:45] Slywire commented on #616
Anyone else been able to replicate this issue?

[2019-09-26 23:50] itowlson commented on #616
Sorry, I've been away and haven't had the chance to look at this.  Thanks for reporting it - I will see if I can get to it soon.

[2019-09-26 23:51] itowlson commented on #617
Sorry for the delay on replying to this - I've been away.  I see @bnookala is planning to pick this up.

[2019-09-26 23:53] itowlson commented on #618
Thanks for reporting this.  This looks like a mismatch between the OpenAPI schema reported by the cluster and what RedHat YAML is willing to treat as a string.  I'll investigate further and raise it upstream if necessary.

[2019-09-26 23:55] itowlson commented on #619
Sorry for the delay in replying to this - I've been away.  I think your diagnosis is correct - this is trying to retrieve the Swagger for each resource, and not taking account of the fact that a Swagger download for the cluster has already been kicked off.  I will take a look asap.

[2019-09-26 23:57] itowlson commented on #620
Sorry for the delay in replying to this - I've been away.  @xarek1986 thanks for the version info - this may be a regression (or the fix of a bug we inadvertently relied on!) in VS Code so I may need to flag it upstream to them.  Thanks all for reporting it!

[2019-09-26 23:59] itowlson commented on #621
This looks like the same underlying issue as #618.

Out of interest did this happen on older versions?  We are using 'live' Swagger for validation now, and I'm wondering if the Swagger we get from the cluster is somehow different from what we had when we used a static Swagger schema.

[2019-09-27 00:03] itowlson commented on #622
Yes, this frustrates me a bit.  The reasons are historical - when Brendan wrote the very first k8s extension he did it this way I think because he was learning his way, and by the time we realised that the flat way was 'better', there were lots of installations already out there!  So in order to migrate to the flat style, we need to figure out how to handle backward compatibility... not rocket sci

[2019-09-27 02:28] itowlson commented on #619
Hmm, I'm not seeing the multiple spawn behaviour with `cluster-role.yaml`.  On my system it spawns `kubectl proxy --port=0` once, and this terminates correctly.  I also tried a YAML file with multiple subdocuments and that seemed to act correctly too.

I'm on Windows, so it's possible this is an OS-specific issue.  I'll keep digging.

[2019-09-27 03:09] itowlson commented on #619
Reproduced it.  When the extension knows the active context _before_ a document causes it to request the schema, we attempt schema download multiple times simultaneously (and much more often than is necessary).  I wasn't seeing it because in my environment it didn't get the active context quickly enough to trigger the problem, so it was doing all those hundreds of loads from the fallback Swagger b

[2019-09-27 08:58] RafaelAybar commented on #621
If i am not mistaken, in older versions i had not any issues like this

[2019-09-29 22:51] itowlson commented on #620
@rtim75 @xarek1986 Would you mind giving this a go with #623 and let me know if that fixes this issue as well as the one it cites, please?

[2019-09-30 00:16] dacapoday opened #626 "Intellisense not work with Remote-Extention"
when vscode link to remote server by Remote-SSH, the kubernetes Intellisense don't work on .yaml file.
I waited for a long enough time to load the kubernetes extenion for the vscode, but kubernetes Intellisense never appears.

[2019-09-30 00:26] itowlson commented on #626
Could you try downgrading to 1.0.2 and see if it works better there?  In 1.0.2 we used a bundled schema to provide intellisense; in 1.0.3 and above we try to download one from the cluster, which puts `kubectl` and API proxying in play, which might not work right in remote contexts.  (Though it should still fall back to the bundled schema.)  Thanks!  (You can downgrade by choosing `Extensions: Inst

[2019-09-30 01:10] itowlson commented on #608
@shamera82 Is this still happening on the latest version?

[2019-09-30 01:47] shamera82 commented on #608
@itowlson it's working perfectly on Kubernetes 1.03 and later versions. Thanks for the followup.

[2019-09-30 01:47] #608 closed

[2019-09-30 02:16] itowlson commented on #615
It looks like we might be trying to check for Minikube upgrades if Minikube is present at all, even if you are not using it.  Could you check if `minikube` is on your path or specified in the extension settings?  If so, what version of Minikube is it?  Thanks!

@brendandburns I wonder if we should perform the upgrade check only if the user has an active Minikube cluster.  If we are prompting just

[2019-09-30 02:30] itowlson commented on #610
This is very weird.  We _do_ use `kc.loadFromFile`, but only in the explain subsystem, which only runs when invoked.  The per-minute thing relates to a background check for whether you have switched to a different context so we can update the expected resource schemas (according to k8s version and installed CRDs).  That does _not_ appear to use the `@kubernetes/client-node` library.  It _does_ rea

[2019-09-30 03:14] itowlson commented on #610
Ugh, I'm not managing to reproduce this on Windows.  (I can confirm that the Explain command fails, for the reasons you give... but can't reproduce the error you're seeing.)

[2019-09-30 03:22] itowlson commented on #610
Correction.  I think I have a repro now.  Was trying to reproduce it in the wrong way (the problem is not the multiple paths - it's that the _default_ path, `$HOME/.kube/config`, is a directory rather than a file).

[2019-09-30 03:45] itowlson commented on #610
@d4nyll This may be a stupid question, but can you check in your VS Code settings and see if it contains an override for kubeconfig?  I see an error like yours when `$HOME/.kube/config` is a directory and my settings contains an override to use `$HOME/.kube/config` as the KUBECONFIG (instead of the environment $KUBECONFIG).  When I remove the override the error goes away.

[2019-09-30 10:06] dacapoday commented on #626
I have downgrading to 1.0.2 and intellisense still not work.

[2019-09-30 10:23] dacapoday opened #627 "[UI] "Cannot read property 'forEach' of undefined" when click "Refresh" button"
I click the kubernetes clusters view "Refresh" button.
vscode show notic: "Cannot read property 'forEach' of undefined" when the cluster has been restart(means resource has been released) but old resource tree item not closed.

[2019-09-30 10:23] dacapoday commented on #626
I also encountered a UI problem(not critical) when i tracking problem. detail in [here](https://github.com/Azure/vscode-kubernetes-tools/issues/627#issue-500186224)

[2019-09-30 13:41] pereiren commented on #491
@liguobao Hi, unfortunately I moved to another company and we didn't have time to invest on this. Sorry :(

In any case, you can do it using vsdbg and then attaching the code to the running process. The only thing you cannot debug is the startup process of the microservice (if I am not wrong)

[2019-09-30 16:34] #613 closed

[2019-09-30 21:08] #619 closed

[2019-09-30 21:55] itowlson commented on #610
Okay, so here is what I have.

* I have set up the environment so that `.kube/config` is a directory, and `KUBECONFIG` is a list of multiple files under that directory.
* This appears to work without errors.
* However, if I delete `KUBECONFIG`, or override it in VS Code settings to point to the default location (which is now the directory), _then_ I see your error.  This is unavoidable because the

[2019-09-30 22:40] itowlson commented on #627
Just to be clear - the issue arises when the cluster is offline (restarting) when you press Refresh - is that correct?

* Is the cluster expanded at this point?  Or does the error happen even if the cluster explorer is completely collapsed?
* Do you have any Kubernetes YAML documents open at this point?
* Once the cluster is back up again, does it work okay?

[2019-10-01 01:42] itowlson commented on #620
I believe #623 fixes this.

[2019-10-01 07:15] xarek1986 commented on #620
@itowlson Yes, it works, thank you, I guess this issue can be closed

[2019-10-01 15:01] #620 closed

[2019-10-01 22:36] d4nyll commented on #610
Hey @itowlson apologies for the slow response, I am bit swamped this week. I _am_ up for in investing more time to get to the bottom of this, and will try out your suggestions and answer your questions, but it's looking more like a task for the weekend! :sweat_smile:

[2019-10-01 22:43] d4nyll commented on #610
@itowlson to answer your question about the settings override, the only settings relating to this extension is to do with Minikube. (But I've included my whole `settings.json` in case I missed anything)

[code]

[2019-10-01 23:25] d4nyll commented on #610
:sweat_smile: It's late but I can't sleep without digging into it a bit more! So I upgraded the extension to v1.0.4 and it's giving me a better error message:

[code]

This bamboozled me because Project X was a very old project, and `/home/d4nyll/.kube/project-x-kubeconfig.yaml` no longer exists. I checked the `KUBECONFIG` on my terminal and by looking into `.bashrc` - nothing that mentions `proje

[2019-10-01 23:25] #610 closed

[2019-10-01 23:35] itowlson commented on #610
Oh no!  Thank you for closing the loop on this one - I'm almost disappointed that it turned out to be a configuration error at your end - it would have been a very satisfying bug to fix!  But having it working for you is the most important thing!

[2019-10-04 02:25] dacapoday commented on #627
A:  the issue arises when the cluster is online (restart completed).

    A: yes, the cluster expanded. and collapsed will not happen.

    A: no

    A: no

[2019-10-09 04:55] hAh0L13 commented on #523
Hi all. Have similar issue with snap-installed VS Code 1.38.1 on Ubuntu 18.04 x64. Extension installed from VSIX version 1.0.4.

Cannot use any command -

What can I do?

[2019-10-09 13:54] mabouchacra opened #629 "Minikube upgrade check does not work anymore"
The Minikube ugrade check does not work anymore.
There is an error in the `getVersionInfo` method : it gets the same value for both the `currentVersion` and the `availableVersion`.

Here are my installations details :

- VS Code v1.37.1
- VS Code kubernetes extension v1.0.4
- Minikube v1.3.1 (the v1.4 is currently available)

By the way, i have made the correction and will submit the pull request.

[2019-10-09 20:36] itowlson commented on #523
@hAh0L13 I've had several problems with VS Code installed from snap - it seems like it may have some sort of permissions problem.  Are you able to uninstall the snap VS Code and clean-install from the Debian package?  It's more fiddly but has been more reliable for me.

If the k8s installation works with the package install, then we will work with the VS Code folks to determine if the problem lies

[2019-10-09 20:51] #629 closed

[2019-10-10 03:29] hAh0L13 commented on #523
Good. I reinstalled VS Code from the official repo and nothing has changed in the kubernetes extension, except for one thing - VS Code could not check for updates. So I found a similar [problem](https://github.com/Microsoft/vscode/issues/53856) and enabled proxy settings through the OS GUI tool. And now everything works - the kubernetes extension (it requests the YAML extension), the extension tab

[2019-10-10 04:19] itowlson commented on #523
Great!  Glad to hear this is working even if via a roundabout route.  Thanks for letting us know about the workaround - my guess is that we failed to activate because of being unable to fetch the YAML dependency.  I'll add this to documentation (and leave this issue open as a reminder if that's okay).  Thanks again!

[2019-10-10 07:47] dacapoday commented on #627
when pod is stop but click the refresh button.
![bug](https://user-images.githubusercontent.com/9378047/66549129-325a7200-eb75-11e9-8d19-56b35fb6a758.png)

[2019-10-14 07:00] bdelsaz commented on #364
I have the same problem. Specs:

[2019-10-14 22:51] brandonkal opened #632 "targetPort does not accept integer as valid"
targetPort can be an integer, but VSCode reports a linting error that it expected a "string."

[code]

[2019-10-14 22:53] itowlson commented on #632
This seems to be an issue with what Kubernetes reports to us as the OpenAPI specification for the cluster.  I'll take a look; we might need to do some massaging.  Thanks for reporting it!

[2019-10-14 22:54] itowlson commented on #632
Related: #618, #621,

[2019-10-15 04:59] brandonkal commented on #626
I am seeing this as well. However, it is possible to see suggestions with "ctrl+space" after typing characters.

However, when multiple pods are in one file (seperated by "---" for instance), no intellisense is available at all.

[2019-10-15 05:10] brandonkal opened #633 "No intellisense with multiple resources in one file"
When multiple resources are in one file (seperated by "---" for instance), no intellisense is available at all.

<details><summary>Example file</summary>
<p>

[code]

</p>
</details>

I've made a note of this [here](https://github.com/Azure/vscode-kubernetes-tools/issues/626#issuecomment-542037029) but because the issue occurs locally as well, I am opening a new issue.

[2019-10-17 01:12] itowlson commented on #632
I think the problem is this in the k8s Swagger `definitions` section:

[code]

The Red Hat YAML handler is seeing the `type: string` and going "well but this is an integer" even though a sequence of numeric digits is still a valid string.  I need to raise this upstream.  In the meantime we may be able to work around it by massaging the definition of `IntOrString` before we load the cluster Swagger

[2019-10-17 01:24] itowlson commented on #632
Weirdly I am not seeing this behaviour in development - if I enter an integer for something really stringy like `name` then I get a validation warning as expected, but an integer for `targetPort` doesn't result in a warning.

@brandonkal Could you let me know what OS you are on, and also check the version of the YAML extension that you have installed (via the VS Code Extensions tab), please?  Tryi

[2019-10-17 01:28] itowlson commented on #618
@shacharSilbert I believe this is due to incorrect handling of the k8s `IntOrString` type by the Red Hat YAML extension.  I can try to patch this while we request an upstream fix, but at the moment I can't reproduce it in my dev environment.  Can you let me know what OS you're on and the version of the YAML extension you have installed, please?  I'm trying to isolate a repro scenario so I can veri

[2019-10-17 01:30] itowlson commented on #621
@RafaelAybar I believe this is due to incorrect handling of the k8s `IntOrString` type by the Red Hat YAML extension.  I can try to patch this while we request an upstream fix, but at the moment I can't reproduce it in my dev environment.  Can you let me know what OS you're on and the version of the YAML extension you have installed, please?  I'm trying to isolate a repro scenario so I can verify

[2019-10-17 03:02] shreyu86 commented on #621
@itowlson I'll add a gist that can be used to test tomorrow. Thanks for looking into this.

[2019-10-17 04:47] shacharSilbert commented on #618
@itowlson I'm using MAC with latest

Extension data:
Name: YAML
Id: redhat.vscode-yaml
Description: YAML Language Support by Red Hat, with built-in Kubernetes and Kedge syntax support
Version: 0.5.3
Publisher: Red Hat
VS Marketplace Link: https://marketplace.visualstudio.com/items?itemName=redhat.vscode-yaml

VSC data:
Version: 1.39.1
Commit: 88f15d17dca836346e787762685a40bb5cce75a8
Date: 2019-10-

[2019-10-17 06:12] brandonkal commented on #632
MacOS 10.12.6 SSH remote to Ubuntu 18.014

Here are the specs:

VSCode version reported on MacOS:
Version: 1.39.2
Commit: 6ab598523be7a800d7f3eb4d92d7ab9a66069390
Date: 2019-10-15T15:33:00.827Z
Electron: 4.2.10
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Darwin x64 16.7.0

I don't recall specifically installing this one:
Name: YAML
Id: redhat.vscode-yaml
Description: YAML

[2019-10-17 22:10] squillace commented on #632
I have 18.04; lemme give this a shot.

[2019-10-17 22:17] squillace commented on #632
Can't repro:
![image](https://user-images.githubusercontent.com/1422718/67051853-51737980-f10a-11e9-8f6c-ac62b407ea25.png)

[2019-10-17 22:19] itowlson commented on #632
Might be specific to Mac then - the other report of this for which I have an OS was also Mac.  Or that might be a red herring.

[2019-10-17 22:19] squillace commented on #632
or could the kube version affect this at all, on client or server?

[2019-10-17 22:19] itowlson commented on #632
@brandonkal Could I also ask you for the version of Kubernetes running in the cluster?  Thanks!

[2019-10-17 22:21] brandonkal commented on #632
1.16 on microk8s install

[2019-10-17 22:31] brandonkal commented on #632
I have no kubernetes installed on the Mac. It doesn't report an error for local files. So it is either microk8s specific or SSH extension related.

[2019-10-17 22:45] itowlson commented on #632
Hmm, okay.  It should be using the version of the active cluster for both local files and live resources, but if the k8s client/connection is on the Ubuntu side and the Mac doesn't have a local kubeconfig then I guess it will be using the fallback schema (which is packaged with the extension) for those and we know the fallback schema _doesn't_ have this issue.

I'll spin up a 1.16 cluster and see

[2019-10-17 22:56] shreyu86 commented on #621
@itowlson here is the gist https://gist.github.com/shreyu86/356cb039bccc70bd795d415a7c538890
[code]

redhat.vscode-yaml vesion: 0.5.3
ms-kubernetes-tools.vscode-kubernetes-tools version: 1.0.4

[2019-10-17 23:07] itowlson commented on #621
@shreyu86 Thanks!  One more question, what is the version of Kubernetes on the active cluster?

[2019-10-17 23:19] itowlson commented on #632
Aargh.  No repro on Windows with with k8s 1.16 on Kind and referring to a live service resource.  So most likely microk8s or Mac related; I hear you about the SSH factor and I'm not ruling it out, but other users reporting similar issues haven't mentioned having SSH in play, so this feels less likely.  Famous last words.

[2019-10-17 23:29] itowlson commented on #621
@shreyu86 Also, I see you're on Mac OS; do you have any remote extensions or SSH in play, or is everything (except the k8s hosting) happening on the Mac?  What k8s are you using e.g. AKS, Minikube, Kind, GKE, etc.?  Sorry for the random questions, trying to track down possible environmental factors because this stubbornly refuses to reproduce for me!

[2019-10-17 23:33] shreyu86 commented on #621
@itowlson I have SSH extensions installed but everything in this case is happening locally on Mac OS.  Using EKS for K8s. Happy to provide more context too.

[2019-10-17 23:37] itowlson commented on #632
Got a report from @shreyu86 on #621 - he is on Mac, but using EKS and there is no SSH involved.  So I'm currently thinking Mac related and trying to get hold of a colleague to see if we can reproduce it in that environment.

[2019-10-18 07:21] RafaelAybar commented on #621
@itowlson i am using `Linux WS189 5.0.0-31-generic #33~18.04.1-Ubuntu SMP Tue Oct 1 10:20:39 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux`

[2019-10-20 20:13] itowlson commented on #632
Comment from @RafaelAybar on #621 reports seeing it on Ubuntu too, so it's not Mac related...  https://github.com/Azure/vscode-kubernetes-tools/issues/621#issuecomment-543563706

[2019-10-20 20:13] itowlson commented on #621
Thanks @RafaelAybar.  Could I also ask what Kubernetes version you are running on your cluster?  Thanks!

[2019-10-20 21:52] itowlson commented on #632
Got a repro on Ubuntu!  Thank you @RafaelAybar.

[2019-10-20 22:00] itowlson commented on #632
The difference between the fallback schema (which behaves correctly) and the schema given by Kubernetes itself is that in the fallback schema we have:

[code]

whereas live clusters tell us to use:

[code]

The latter feels semantically less correct, though arguably Red Hat YAML mishandled it by requiring the quotation marks; I wonder if we should raise an issue against upstream k8s to represent i

[2019-10-20 22:56] itowlson commented on #621
Fix on its way (#636) - thanks for your patience!

[2019-10-20 22:57] itowlson commented on #632
Fix on its way (#636) - thanks for your patience!

[2019-10-20 22:58] itowlson commented on #618
Fix on its way (#636) - thanks for your patience!

[2019-10-21 02:09] itowlson commented on #633
Curses.  I thought we had fixed ages ago but evidently not.  Or it came back when I did the live schemas thing.  I'll take a look - thanks for letting us know.

[2019-10-21 02:32] itowlson commented on #633
Possible regression in the Red Hat YAML language service, maybe due to a big architectural change they did a few months back.  It may be that there's a new contract we are meant to use to access multi-document schemas; otherwise this may require a fix upstream.

https://github.com/redhat-developer/yaml-language-server/pull/81#issuecomment-544325131

[2019-10-21 20:03] JohnGalt1717 opened #637 "Tool throws an error saying that the command isn't recognized when User Name has spaces in path"
if you have a space in your user name like "c:\users\some body" the extension doesn't work correctly.

[2019-10-21 20:12] itowlson commented on #637
Yikes, sorry about that!  I thought we had handled this everywhere but evidently not.  Does this happen everywhere or only on specific commands?  Is `kubectl` on your path, or did you install it using Install Dependencies or the infer versioning option?  Is the file/folder you're working on under your user profile (i.e. spaces in the path to the folder) or somewhere else without spaces?  Thanks!

[2019-10-21 20:14] JohnGalt1717 commented on #637
Just clicking on the icon on the left bar throws the error. Then hitting refresh on clusters also throws it. Help repros refresh doesn't seem to throw it.

[2019-10-21 20:18] itowlson commented on #637
Thanks.  I'll get a user account set up and try to reproduce this.

[2019-10-21 21:04] itowlson commented on #637
What's the location of:

* your `kubectl` binary
* your `kubeconfig` file

please?  There may actually be a bug in `kubectl` here (`kubectl config view` is showing an empty config when my config is under a directory with spaces in it) though it may be different from what you're running into...

[2019-10-21 21:15] JohnGalt1717 commented on #637
where kubectl returns nothing.  But it executes fine. It was installed with chocolaty.

there's also a copy in <userpath>/.azure-kubectl (which isn't on the path)

There also a copy of kubectl.exe in <userpath>/.vs-kubernetes\tools\kubectl (draft, helm, kubectl, and minikube are in there)

<userpath/.kube has a file named "config" in it that appears to be the kubeconfig file. There's also a config

[2019-10-21 21:24] itowlson commented on #637
Gotcha.  It sounds like the extension may be using the `kubectl` in `/.vs-kubernetes\tools\kubectl`, but just to confirm that, could you look in your VS Code settings (`Preferences: Open Settings (JSON)` command) and verify that the `vs-kubernetes.kubectl-path` setting points there?  Thanks!

[2019-10-21 22:01] itowlson commented on #637
Is the specific error message of the form `'c:\users\some' is not recognized as an internal or external command, operable program or batch file.`, please?  I'm seeing that but want to check it's the same thing you're hitting.  Thanks!

[2019-10-21 23:10] JohnGalt1717 commented on #637
Yes, that's the error message.

Here's the paths:

    "vs-kubernetes": {
        "vs-kubernetes.helm-path": "<user dir>\\.vs-kubernetes\\tools\\helm\\windows-amd64\\helm.exe",
        "vs-kubernetes.minikube-path": "<user dir>\\.vs-kubernetes\\tools\\minikube\\windows-amd64\\minikube.exe",
        "vs-kubernetes.kubectl-path": "<user dir>\\.vs-kubernetes\\tools\\kubectl\\kubectl.exe",
        "vs

[2019-10-21 23:59] itowlson commented on #637
Thanks for reporting this - should be fixed by #638 which will hopefully go into a release in the next couple of days.

In the meantime you can work around this by moving `kubectl.exe` to a directory without a space, and changing the path appropriately in your VS Code settings.

[2019-10-22 13:33] JohnGalt1717 commented on #637
Awesome! Thanks!

[2019-10-22 13:33] #637 closed

[2019-10-22 17:11] Pasukaru opened #639 "Broken highlighting of helm-template with multiline value"
The highlighting does not work properly when using a multiline string value.

See the following example:
![image](https://user-images.githubusercontent.com/1093680/67311203-6fbce900-f4ff-11e9-95a9-04956df494c7.png)

As text, for easy copy/paste:
[code]

[2019-10-22 23:16] #618 closed

[2019-10-23 01:09] shreyu86 opened #641 "Kubernetes Config Linter Mistake"
Similar to #621 found that the linter used with this extension highlights (using latest version `1.0.6`)
[code]
as mistake
![image](https://user-images.githubusercontent.com/311217/67347370-b65a1580-f4f6-11e9-969c-7d1488bf7a20.png)
![image](https://user-images.githubusercontent.com/311217/67347391-c07c1400-f4f6-11e9-863d-06aaa2c22cfa.png)

Platform information:
[code]

Kubernetes Config to Repro:

[2019-10-23 01:14] itowlson commented on #641
Ugh, this might be another upstream problem.  I'll check the Swagger and see what it prescribes and how we can work around it.  Thanks for letting me know!

[2019-10-23 01:16] shreyu86 commented on #641
@itowlson Thanks for looking into this.

[2019-10-23 01:38] itowlson commented on #641
The reason it is validating it at all is because it the k8s Go code declares it in a way that we understand to indicate an enum:

[code]

I don't yet understand why it is objecting to what appears to be a perfectly legal _value_ of the enum!

[2019-10-23 01:46] itowlson commented on #641
Possible error in the way we merge the enum values derived from Go into the k8s Swagger definitions:

[code]

Pretty sure that `enum` needs to be within the `items` attribute (modifying `type: string`) rather than at the top level (modifying `type: array`)...

[2019-10-23 01:46] itowlson commented on #641
cc @andxu

[2019-10-23 02:19] itowlson commented on #641
Found it and fixed it - thanks for the report!

[2019-10-23 20:40] #641 closed

[2019-10-23 20:43] itowlson commented on #639
At the risk of sounding like I'm always passing the buck, this might be another issue with the Red Hat YAML extension that handles YAML parsing and highlighting for us.  I will take a look but we may need to go upstream for a fix.  Thanks for flagging it!

[2019-10-24 00:43] itowlson commented on #632
Closed via #636.

[2019-10-24 00:43] #632 closed

[2019-10-24 00:44] itowlson commented on #621
Closed via #636.

[2019-10-24 00:44] #621 closed

[2019-10-24 00:57] itowlson commented on #617
@bnookala do you have any bandwidth to look at this?

[2019-10-30 00:05] itowlson commented on #639
Confirmed that this is an upstream issue and raised an issue for it.  I'm not sure if Red Hat have resource to fix it; if not, I can see if we have anyone.

[2019-10-30 00:32] itowlson commented on #633
Sorry @brandonkal, we're still trying to get clarity on this - we have a possible replacement approach but it's one that we rejected before because it caused other bugs, but it might be working now.

A _possible_ workaround is to downgrade the YAML extension to 0.4.1. To do this, open the command palette (using Ctrl+Shift+P or F1 depending on your OS), choose Install Specific Version of Extension.

[2019-10-30 00:49] itowlson commented on #561
It's not in the marketplace yet, but I finally stated tinkering with a Microk8s widget to go in the Cloud Explorer.  This would make it easy to add a Microk8s cluster to your kubeconfig via the GUI.  I'd be interested to hear thoughts on what else could be done with this, e.g. creating a cluster, status operations, etc.

https://github.com/deislabs/microk8s-vscode

Please do feel free to raise fea

[2019-11-01 18:35] raushan2016 opened #643 "CustomResources doesn't work if you implement using APIService with aggregated api-server"
There are 2 ways to build CRDs.

- Using Controllers and CRD yaml files. In this case you create object of type `apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition`
- Using APIService and writing your own api-server and wiring it up with aggregated api-server.
`apiVersion: apiregistration.k8s.io/v1
kind: APIService`

Currently extension works fine if you go with option1, but i

[2019-11-01 22:59] sandipchitale opened #644 "Add support for browsing file system of Kubernetes pods (containers)"
For example see: https://marketplace.visualstudio.com/items?itemName=sandipchitale.kubernetes-file-system-explorer

Basically use:

`kubectl exec -it podname -- ls /`

to get the listings of files starting at /. Show them as tree nodes. Also using the command:

`kubectl exec -it podname -- cat /path/to/file`

and showing the returned content in a editor.

Both supported by the extension above.

La

[2019-11-04 01:35] itowlson commented on #644
This is super cool!  Thank you for letting us know about this @sandipchitale!  Is there anything specifically you'd like the core extension to do?  Because it looks like your project is working great as an extension that builds on top via the API, and if we implemented this ourselves then it would just suck the oxygen out of your project.  But if there are limitations in the core extension API tha

[2019-11-04 16:44] technosophos commented on #644
Do we have a place to post "related extensions"? It might be good to start building up a list of extensions that build on top of the API.

[2019-11-04 21:22] sandipchitale commented on #644
@itowlson I am glad you find the extension useful. I will be happy for it to continue as a separate extension. It could be an example of how to extend your extension via API.

Your API is already good. The only thing I would request is availability of context of custom nodes to be used in the `when` clause of menu contributions. That way I could show the **Find** command for `FolderNode`s only and

[2019-11-04 22:30] itowlson commented on #639
@Pasukaru I'm afraid the news is bad: this has been traced upstream through VS Code itself and to the TextMate grammar that VS Code uses, and it's a known issue there which has gone unfixed for 3 years.

https://github.com/textmate/yaml.tmbundle/issues/17

This is probably beyond us to get fixed unless the Code and TextMate teams can put their heads together and find a way to move this forward.  S

[2019-11-05 00:41] itowlson commented on #643
You are right, the `Custom Resources` folder does do `kubectl get crd`.  Is there a standard way to discover CRDs in the aggregated api-server design?  If not, we can work with you to build something custom that can hook up your particular CRDs.

[2019-11-07 11:09] bhack commented on #644
I think that having Kubernetes support in vscode remote will be more useful that just browsing POD file.
Please check https://github.com/microsoft/vscode-remote-release/issues/12

[2019-11-07 11:13] bhack commented on #403
Ok the final placeholder for this Is https://github.com/microsoft/vscode-remote-release/issues/12

[2019-11-07 16:02] sandipchitale commented on #644
@bhack thanks for the reference. I agree that will be more complete solution. My integration was a quick and simple implementation to get browsing going.

In first comment I suggested using FileSystemProvider based on Kubectl command integration via this extension.

[2019-11-07 16:42] bhack commented on #644
Yes the plugin is closed source so we can just upvote that issue to prioritize It.

[2019-11-08 18:57] dgolovin opened #647 "Update Kubernetes Clusters View content automatically when something changed"
Current implementation for Kubernetes Clusters view shows only snapshot of resources that was taken at specific time.
Every time after resource is created Clusters View should be refreshed and then sometimes searched for that new resource.
It works when you need to do something once, refresh and then keep working on your code.
When you doing something that creates kubernetes resources frequently i

[2019-11-11 00:19] itowlson commented on #647
Related: #398

There are two issues here: performance and visual stability.

The performance issue is that right now we don't have any infrastructure for refreshing only part of the tree.  The VS Code API does provide for this, but we don't currently make use of it.  So updating the tree means refreshing the _whole_ tree - and that takes a while.  We can tackle this, but it involves a bunch of wor

[2019-11-12 10:17] leninhasda opened #648 "[Question] See the actual kubectl command its running?"
Is there a way to see the actual kubectl command that it's running? Maybe in output or debug console ?

[2019-11-12 19:18] liggitt commented on #643
aggregated resources are not CRDs. using the `/apis` endpoint to discover served groups/versions, then requesting `/apis/<group>/<version>` to discover served resources for that group/version is how clients are expected to discover available resources (regardless of whether they are built-in, crds, or aggregated)

[2019-11-12 20:15] itowlson commented on #643
Okay, that makes sense.  We currently surface only specific resource kinds, so I guess we would need to request `/apis` and sort them into:

* Known resources, which have defined locations in the tree
* Custom resources (the `CustomResourceDefinition` type and any resources defined by an instance of `CustomResourceDefinition`), which go in the Custom Resources folder
* Everything else (which might

[2019-11-12 20:38] itowlson commented on #648
I don't think we do this at the moment.  Some commands get sent to the Output pane but most are issued silently.  It would be good to have at least an option for this, though the places where we invoke `kubectl` are rather disorganised at the moment so I'll need to figure out where to add this logging.  Thanks for the suggestion!

[2019-11-12 21:31] #548 closed

[2019-11-12 21:34] itowlson commented on #601
Fixed upstream.

[2019-11-12 21:34] #601 closed

[2019-11-16 19:57] sandipchitale commented on #647
One heuristic that could be used for optimizing the refreshing could be that - if the Cluster changing action originated from the VSCode Kubernetes extension context and the affected nodes are expanded in the tree, then refresh those. For example if I use **Delete** or **Delete Now** commands on a Pod, do a refresh on the Pods node. Of course the user may use kubectl command in a termnal or instal

[2019-11-25 03:58] itowlson commented on #633
I believe this should now be fixed - the YAML extension updated a few days ago - check you have 0.6.1 of the YAML extension and let us know if the issue is still occurring.

Sorry this has taken a while - it's a non-trivial dependency chain unfortunately - many thanks to Josh from Red Hat for figuring out how to fix the regression after a significant architectural rework.

[2019-11-25 07:27] brandonkal opened #657 "Auto Suggestions missing in Remote-Extension"
Now that issue #633 is fixed, Intellisense suggestions are available with <kbd>control</kbd> + <kbd>Space</kbd>.

But, I am still not seeing automatic suggestion pop-up though through the Remote-Extension. Other languages show automatic suggestions and automatic suggestions are also available locally in k8s yaml files.

[2019-11-25 07:27] brandonkal commented on #633
Thank you @itowlson
I can confirm that it suggestions are available <kbd>control</kbd> + <kbd>Space</kbd>.

[2019-11-25 07:27] #633 closed

[2019-11-26 02:46] itowlson commented on #657
Related: #626.

[2019-11-26 11:22] ugumba opened #658 "Allow port-forward to target a port name"
The extension does not allow targeting port names - this would be convenient.

[2019-11-26 11:34] ugumba opened #659 "Provide a default port-forward mapping from the service YAML"
The extension should be able to extract the port number(s) or port name(s) from the service YAML, and provide those as a default - e.g. "80" or "http".

[2019-11-26 19:29] akath19 commented on #523
Sorry to hijack this but I'm getting the same error on a Windows 10 with WSL (Ubuntu 18.04 LTS).

Here's my entire vs-kubernetes config:

[code]

The error is exactly the same as @hAh0L13  and none of the commands work, I also don't see anything strange in the extension host logs, only this:

[code]

[2019-11-26 21:16] itowlson commented on #523
@akath19 That's really weird - often this can be related to not having the Red Hat YAML extension, or an old version of VS Code, but you did a fresh install, and I can see the YAML extension in your log.  (Just in case... could you check in the Extensions panel and confirm that it's there please?)  Can you also confirm that you are installing from the marketplace (not from a `.vsix` file)?

Could

[2019-11-26 21:26] itowlson commented on #658
This would be a really nice idea, especially if we can find a good UX for it.  Of course we can easily allow names but I wonder if we can also allow users to _browse_ for port names on the pod...  Thanks for the suggestion!

[2019-11-26 21:29] itowlson commented on #659
Good idea!  I wonder if we can make this work if the service defines multiple ports without blocking the option to type... the VS Code UI can be a bit limiting for that though...

[2019-11-26 23:53] mcajkovs opened #660 "kubectl with insufficient permissions"
Env:
OS Windows 10 Home: latest
VS Code: latest
MS Remote SSH extension: latest
MS Kubernetes extension: latest

Not sure if this is bug for Remote SSH extension or Kubernetes extension. If I login to remote machine using Remote SSH I have empty Clusters. Connection is successful because I can see my Helm repos and also VS console works. Following message is still appearing

My k8s server is micro

[2019-11-27 00:06] itowlson commented on #660
I don't want to pass the buck but looking at your comment "in VS console I can see that after login the user `excalibur` is not member of `microk8s` group" it _sounds_ like this may be on the Remote SSH extension side.  From your comment about `su` it sounds almost like there are two `excaliburs`, one of which is being used by Remote SSH and is _not_ a member of the `microk8s` group, the other of

[2019-11-27 00:40] mcajkovs commented on #660
Thanks for reply. I do not know what happened but now it works. Should I open issue on SSH extension anyway?

[2019-11-27 00:43] itowlson commented on #660
Great to hear it's working!  I wouldn't bother opening an issue on the SSH extension unless it reoccurs - I think it will be hard for them to diagnose if the problem no longer reproduces.  And thanks for closing the loop on this!

[2019-11-27 18:27] sandipchitale commented on #644
For anyone coming here...the above extension supports:

- shelling into nodes using nsenter
- exploration of container files, viewing, tailing, kubectl cp from/to container folders and files to local folder and files

BTW this issue can be closed if there are no plans to implement the issue functionality in the Kubernetes extension's code.

[2019-12-03 21:14] itowlson opened #667 "Make API documentation more prominent at aka.ms link"
If I go to aka.ms/vscodekubeapi, I get this:

![image](https://user-images.githubusercontent.com/865538/70090090-51a9e300-167e-11ea-8fb8-cabead06e096.png)

Which is fine but there's no obvious documentation link and the 'API' link in the header just takes me back to where I am.

If I scroll down then the documentation link comes into view - but the documentation is probably the thing I _most want

[2019-12-04 14:14] nwipfli opened #669 "ReplicaSet snippet"
Hi,

Is it possible to add a snippet for the ReplicaSet ?

Thanks
Nicolas

[2019-12-05 20:56] patrickcarnahan commented on #491
I might want to pick this work up, or someone from my team anyway. Still something that is interesting for a new feature?

[2019-12-05 20:57] itowlson commented on #491
@patrickcarnahan Yes, very much of interest.  Thanks!

[2019-12-05 20:58] patrickcarnahan commented on #491
@itowlson we will very likely be happy with just the attach functionality and have no immediate need for launch. Is a version trimmed down in this manner acceptable as a standalone PR?

[2019-12-05 21:01] itowlson commented on #491
@patrickcarnahan Yes, absolutely, as long as it fails gracefully if the user tries to use it in launch mode.

[2019-12-09 11:52] dominik-fielmann opened #670 "Kubeconfig not loaded - without any response"
After adding the extension to vscode and opening the Kubernetes tab, no clusters or other data is shown.

When I then select "Set Kubeconfig" from the menu and point it to my kube config file, nothing happens.

No clusters or other data is shown, the log remains empty, no error messages, nothing.

The kubeconfig should be fine, my teammates use it without problems.

How to proceed?

1.40.2
f359dd6

[2019-12-09 16:26] dominik-fielmann commented on #670
Update: A popup plopped up from the extension, saying `need to run as root or suid`

I installed vscode as a snap package with classic confinement. How do I fix this?

[2019-12-11 07:11] vic-marroquin opened #671 "Extension causes high cpu load"
[ms-kubernetes-tools.vscode-kubernetes-tools-unresponsive.cpuprofile.txt](https://github.com/Azure/vscode-kubernetes-tools/files/3948905/ms-kubernetes-tools.vscode-kubernetes-tools-unresponsive.cpuprofile.txt)
- Issue Type: `Performance`
- Extension Name: `vscode-kubernetes-tools`
- Extension Version: `1.0.9`
- OS Version: `Darwin x64 19.0.0`
- VSCode version: `1.33.1`

Find more details here: htt

[2019-12-11 14:18] Fredrik-C commented on #616
Yes, I've got the same issue.
Follow logs and show logs works the first time and if you switch tabs the content disappears.
If you close the (now blanc) log tab you can not re-open any new "show logs" or "follow logs"

[2019-12-12 19:37] lamLeX opened #672 "Is it posible to delete namespace in the context menu?"
Current there is no option to delete namspace from the context menu
![image](https://user-images.githubusercontent.com/4281894/70742865-61a37180-1cd3-11ea-8ce9-cf7a5518f34a.png)

Is it missing because of technical limitation?

[2019-12-12 21:48] visortelle opened #673 "Ability to disable resource kind in resources list"
Our use-case: we run VSCode instances remotely for our non-DevOps colleagues in cloud environment. Extra information and errors like `blabla:serviceaccount:blabla don't right to list blabla` scare 😨our colleagues.

They don't want to see "Helm releases", "Helm repos", "Clouds", "Namespaces", other cluster-wide resources in the resource tree. Also it should be possible to disable Draft, Minikube se

[2019-12-18 17:19] tedchamb commented on #491
I added PR #674, to support dotnet debugging in the attach scenario,

[2019-12-18 17:53] patrickcarnahan commented on #491
@itowlson @tedchamb is a co-worker of mine who pursued the fix we discussed previously. Definitely open for feedback!

[2019-12-22 21:44] harshthakur9030 opened #675 "Intellisense needs updates"
I'm running a k8s cluster of version 1.17.0 in which the resource Deployment is no longer in extensions/v1beta1 , instead it lies in apps/v1 which the Intellisense didn't know about. It's not just the version but also extra fields like "selector" which were made mandatory to be added.

[2019-12-24 08:20] Sensarg22 commented on #617
same here

[2019-12-27 16:49] neaplus commented on #615
it also fails on macos, everytime i open vscode, i see that error.
Failed to determine minikube version: Error: Error checking for minikube updates: /bin/sh: /Users/xxx/.kube/config: Permission Denied.

[2019-12-27 20:53] felixwa commented on #592
I met the same issue - kubectl logs <pod> <container> works but the VSC extension shows a blank page.

[2019-12-31 09:31] alexkreidler opened #677 "Move Ingress and Secret snippets from Helm language to regular K8s as well"
Right now the extension contributes both the `Ingress` and `Secret` snippets in the `helm` language, but they are not in the regular k8s YAML snippets. This is frustrating b/c when I'm switching between environments I expect the same snippets to be available, just modified to work for Helm or not.

https://github.com/Azure/vscode-kubernetes-tools/blob/127ec070c8dabd56901ce13ff81bd6f561e4f087/snipp

[2020-01-03 17:14] mxplusb commented on #615
I also have this same problem on macOS, but I don't have minikube installed, just docker desktop.

[2020-01-07 01:02] brandonkal opened #678 "Snippet fills in wrong location"
If you type:
[code]
You will get a suggestion for the Kubernetes Service snippet. If if it chosen, the YAML is not correct:
[code]
As you can see, it fills in the wrong location. Smarter completion is needed here.

[2020-01-07 10:01] chrmarti opened #679 "Empty Clusters view"
Starting from zero I see an empty Clusters view on the Kubernetes viewlet. It would be nice to have some message shown in the view (like for the Clouds view) telling me how to get started and maybe executing a command when clicking it.

[2020-01-07 10:13] chrmarti opened #680 "Clusters view not updated after creating cluster in Azure"
The refresh button didn't make it show up, reloading the window did:
![image](https://user-images.githubusercontent.com/9205389/71887403-4d219000-313e-11ea-9e4e-58ff1bdd6793.png)

Related to #647 which mentions refreshing worked, it did not work in my case.

[2020-01-07 21:35] tillig commented on #574
It'd be good to have this same feature for dry-run and install, too, should it be added. My use case is more about testing during the authoring experience - I'm working on a reusable chart, but I have a set of test values to use to override the defaults so I can deploy it, test it out, and so on. I need to have, say, the namespace, release name, and some override values available to specify so my

[2020-01-08 09:15] chrmarti opened #681 ""describe" editor grabs focus after switching applications"
I'm on Mac:
- Use the "describe" command for a deployment that opens the custom editor with the result.
- Place focus in the integrated terminal.
- Alt-Tab to other application.
- Alt-Tab back.
- Observe that the focus has changed away from the integrated terminal to the custom editor.

[2020-01-08 10:24] chrmarti opened #682 ""diff" shows more changes than CLI"
When I change the number of replicas, the `kubectl diff` shows that line and the `generation` line as changed. When I run the extension's Diff command I get many more changes which seems unexpected and makes it hard to read:
![image](https://user-images.githubusercontent.com/9205389/71970638-5b88ae00-3209-11ea-97f7-427dbd93b39b.png)

[2020-01-08 10:37] chrmarti commented on #682
The same diff is shown with the "Apply" command.

[2020-01-09 22:23] itowlson commented on #682
Thanks.  I'm guessing `kubectl diff` uses some awareness of defaults and metadata of what can be skipped, whereas we do a `kubectl get` and a naive VS Code diff.  I'll take a look.

[2020-01-09 22:25] itowlson commented on #681
Hmm, I'll take a look.  This may be a VS Code issue - I'm not sure that we do anything to force focus to the webview - but if it is then I can at least bounce it up to them.  Thanks!

[2020-01-09 22:27] itowlson commented on #680
Thanks for reporting this - I'll take a look.  The refresh should just re-read your kubeconfig so not sure why refresh would be different from reload, but I'll try to repro and investigate.  You're on Mac right?

[2020-01-09 22:27] itowlson commented on #679
Ooh, good idea - thanks!

[2020-01-09 22:29] itowlson commented on #669
Sorry for the slow reply - I've been on holiday.  Yes, we can add a snippet - would you be able to suggest text?  (If not I can look it out from the documentation.)

[2020-01-09 22:31] itowlson commented on #670
Sorry for the slow reply - I've been on holiday.  There's definitely something fishy going on in the Snap install scenario and I'm not sure what it is.  It sounds like VS Code isn't able to run `kubectl` with the permissions Snap gives it, but I'm not sure what needs to be done to work around this (or who to contact for guidance).

[2020-01-09 22:32] itowlson commented on #670
At the very least we should provide a more informative error in this case of course!

[2020-01-09 22:33] itowlson commented on #671
Thanks (and sorry for the slow reply - I've been on holiday).  We need to run a packing/pruning tool on the extension to reduce the startup load, but this is proving difficult - I have it 90% working but it's still a bit shonky.  Hope to make more progress on this now I'm back.

[2020-01-09 22:35] itowlson commented on #672
No, it's just that we didn't think to do it!  Seems like it would be consistent, though blowing away a whole namespace is higher impact than our normal resource deletion commands - I'll have to have a think about the user experience...

[2020-01-09 22:43] itowlson commented on #673
Sorry for the slow reply - I've been on holiday.

There isn't an easy way to hide these items.  Some of the items in cluster explorer could possibly be hidden using the API (specifically the NodeUICustomizer), but even with the API we don't offer a facility to hide the Helm Repos or Clouds views, and I'm not sure how easy it would be to hide commands because those are defined in `package.json`.  P

[2020-01-09 23:03] itowlson commented on #675
Sorry for the slow reply on this - I've been on holiday.  This is a tricky one because some users will still be on older k8s versions, but I think `apps/v1` has been permitted long enough that it's safe to change!  I see @amirschw has already sent a PR for this - I will review and merge asap.

[2020-01-09 23:04] itowlson commented on #677
This sounds like a great point and we'd be delighted if you could send a PR for it.  Thanks!  (And sorry for the slow reply - I've been away.)

[2020-01-09 23:07] itowlson commented on #678
Hmm, this is tricky - I'm not sure if plain ol' snippets can reach 'backward' and overwrite stuff that's not part of their 'trigger' (in this case the name 'Service').  We may be able to do this programmatically with completion items but that's a great deal more complicated.  The intended usage of the snippet is that you type "service" for 'I want to create a service YAML" rather than "I have alre

[2020-01-09 23:10] amirschw commented on #675
Thanks @itowlson. Deployment's API was promoted to `apps/v1` in kubernetes version 1.9 so I figured it's safe to change :)

[2020-01-09 23:54] brandonkal commented on #678
Yes. It seems like snippets are mostly static. One thought is to have the snippets surrounded in brackets since they are top-level objects. That would at least make it more obvious that something went wrong and allow for quicker navigation to the start. Then the formatter would remove the brackets on save or make it obvious that something is wrong.

[2020-01-10 01:52] mipnw opened #683 "Follow Logs with a Match Expression receives updates that do not match"
- In VSCode Kubernetes extension, click on a Pod and select "Follow Logs"
- A VS code tab opens with the selected log
- Set Show logs: "that don't match"
- Set Match Expression "an expression"
- At that point note the tab is redrawn to match the "does not match an expression". So far so good.
- Do something on your pod that would log "an expression"
- Witness that new log entry appears in followed

[2020-01-10 03:36] itowlson commented on #683
Thanks for flagging this - we'll take a look.

cc @brendandburns

[2020-01-10 06:49] chrmarti commented on #680
Yes, this is on Mac.

[2020-01-11 20:00] derekyle commented on #616
I am getting the same issue as described by @Fredrik-C . I am able to 'show logs' or 'follow logs' for a pod one time per pod per vs code session. If I close the tab and try again for that same pod it will not work until restarting vscode completely.

[2020-01-14 06:56] nwipfli commented on #669
Do you have an example from another existing snippet so that I make sure to understand exactly what is needed ?

[2020-01-14 18:25] harshthakur9030 commented on #675
To solve the versioning issue , I think it would be better if we relied on the API to give out the fields required. What I mean is: when we do a kubectl explain RESOURCE , we know which fields are required. Would like to know your thoughts on this

[2020-01-16 00:49] akath19 commented on #523
@itowlson everything was installed from the marketplace and I updated everything to latest versions before testing again, I'm seeing this behavior:

* Setting `use-wsl` to `false` makes the extension complain about not finding kubectl, helm, etc., which was expected and extensions get installed to .vs-kubernetes
* Setting `use-wsl` to `true` automatically picks up the kubectl installed in `/usr/bi

[2020-01-18 20:07] DaveWK opened #684 ""Unable to list helm repos" -- enhancement request"
When using the kubernetes extension in vscode I get the message:

"Unable to list helm repos"

I do have helm repos on my cluster, which is displayed.

This doesn't really tell me why it can't display them, or provide me with a "call to action" of how to fix it.

VSCode is a tool for developers and I think most devs would rather just see a raw error message than a vague statement, or at least a wa

[2020-01-20 19:54] itowlson commented on #684
There should be a hover message if you hover over the "Unable to list Helm repos" tree item.  If there isn't, that's a bug - let me know and I'll investigate.

I'd love thoughts on how to make this more discoverable, though I don't want to clog the tree display with a full error message.  Right-click > `Show Error Details` or something like that maybe?

[2020-01-23 13:38] JohnGalt1717 opened #687 "Please end the madness with the install dependencies prompt!"
I think I might go insane. I need the Kubternetes extension because we use Azure K8s in production.  But when I use it just for standard development without k8s, it's constantly prompting on my local machine.

It does this even after I choose to install dependencies.  It looks like it's getting completely confused because we use Remote Docker as well, and hop between both. (i.e. we'll load the sam

[2020-01-23 16:13] DaveWK commented on #684
Ah ok, I think I see what my issue was -- so I (out of habit) usually click on the message when I see it, or am using tab and end up using the keyboard to nav to that frame. When the message is highlighted/clicked it does not display that pop-up.  Right-click > Show Error Details would be good, as well as possibly when the message has the cursor hover it should also underline the text, and when cl

[2020-01-26 18:33] seandjones92 commented on #670
I'm getting the same issue with snap based install. I also have Helm installed but don't see anything there either.

![Screenshot from 2020-01-26 11-16-02](https://user-images.githubusercontent.com/17571045/73139833-6f1c7d00-402f-11ea-9411-3a18bc335e8c.png)

This is the contents of the main log
[code]

This is the contents of the extension host log
[code]

kubectl with the same config file is able

[2020-01-28 20:19] BernierCR commented on #543
Hey first thanks for the post.

However, it's been 8 months. Shouldn't someone have fixed this by now? This bug steals several minutes of productivity every day.

Also, it isn't working. I tried the first part, and the extension became grayed out. There is no Kubernetes icon on the toolbar anymore. I didn't try setting the paths yet, as with no UI, no need for the paths really.

Most developers ar

[2020-01-28 22:50] squillace commented on #543
Hi @BernierCR, we'll have another look. BTW, most developers using VS Code are not on Windows, but we'd love it to work everywhere.

[2020-01-29 22:49] itowlson commented on #543
@BernierCR Sorry you are having a frustrating time with this.  I just opened one of my test folders using the "Reopen Folder in WSL" command and most things seem to work okay (using the marketplace version of the k8s extension).

There is a one-off problem if you have explicit Windows binary paths in your VS Code settings file.  This can be fixed by changing them to apply on Windows only:

[code]

[2020-01-29 22:57] itowlson opened #688 "What the heck has happened to port forward?"
It used to work.  Now `kubectl` moans that we prefix the target pod name with `pods/`.  So either we've changed or `kubectl` has changed and now nobody is happy.

![image](https://user-images.githubusercontent.com/865538/73404876-6db4c280-4357-11ea-861e-088f61a7a616.png)

[2020-01-29 23:00] itowlson commented on #543
@BernierCR I realised I focused very much on the remote-into-WSL context because that was what you seemed to feel was the main use case (and, I have to admit, because it was the easiest for me to check the behaviour).  If there are other remote contexts such as local container or SSH where you're seeing other issues, or where the basic functionality isn't working even with the path stuff and manua

[2020-01-29 23:02] itowlson opened #689 "Install dependency binaries correctly in remote environment"
The Install Dependencies feature doesn't work correctly in a remote context such as WSL.  It should.  And it should do it without messing with the host context, e.g. setting OS-specific paths in config rather than overwriting the global one.

[2020-01-29 23:20] itowlson commented on #688
The code says we used to be able to port-forward to services and deployments, not just pods.  But `kubectl` now claims to be all about the pods.  Is there a breaking change in `kubectl`?  Sigh.

[2020-01-29 23:27] itowlson commented on #687
As a heads up, you can specify separate paths for Windows and Linux (via `.windows` and `.linux` suffixes on the property name in `settings.json`).  That might reduce your pain somewhat.

But yeah, I get where you're coming from.  The extension does stuff in the background, and that's not well separated from when you are actively using it.  And it activates whenever you open a YAML file, so it is

[2020-01-29 23:45] itowlson commented on #688
Okay, so _old_ versions of `kubectl` could only do pods.  And I have some randomly stupidly old versions of kubectl scattered around that _both_ of my environments were picking up as their defaults.  Everything is fine with `kubectl` 1.10 or above, and we don't need to support 1.9-era builds unless someone asks for them.

[2020-01-29 23:45] #688 closed

[2020-01-29 23:54] itowlson commented on #543
Circling round on port forward, the issue was that my WSL environment somehow had a home-built version of kubectl from several years ago on its PATH (and my default kubectl on Windows was also preposterously old).  Deleting it and using a more recent of `kubectl` worked, at least for the scenario I was thinking of - I was able to port-forward in remote VS Code, and then fire up a browser in Window

[2020-01-30 01:43] itowlson opened #690 "Bootstrap auto versioning"
If `kubectl-versioning` is `infer`, the Install Dependencies command assumes that `kubectl` will be available when needed, and so thinks it doesn't need to install it.  This is a false assumption, because we need a `kubectl` to work out the server version in order to download the right `kubectl`.

Install Dependencies should install a bootstrap version of `kubectl`, or auto versioning should handl

[2020-01-30 02:31] bnookala commented on #690
@itowlson I love circular dependencies!!

[2020-01-30 02:32] #689 closed

[2020-01-30 03:07] #675 closed

[2020-01-30 17:14] JohnGalt1717 commented on #687
Thanks!!!!

I'd suggest that it would be a major improvement for the extension to be aware of the environment and use the right paths (.windows and .linux) automatically without me having to separate them manually. It should just work.

And yes, if a project doesn't have k8s in it it shouldn't be active at all nor nag in the long run.

[2020-02-02 20:04] #690 closed

[2020-02-07 06:12] uc-msft opened #693 "Extension causes high CPU load"
[ms-kubernetes-tools.vscode-kubernetes-tools-unresponsive.cpuprofile.txt](https://github.com/Azure/vscode-kubernetes-tools/files/4169257/ms-kubernetes-tools.vscode-kubernetes-tools-unresponsive.cpuprofile.txt)

Issue Type: Performance
Extension Name: vscode-kubernetes-tools
Extension Version: 1.09
OS Version: Windows_NT x64 10.0.19559
VSCode version: 1.42.0 (user setup)

[2020-02-08 16:35] ericvh opened #695 "document use-wsl"
I found the patches which are supposed to redirect kubernetes commands to wsl but am having a hard time getting the configuration right.  This doesn't seem to be mentioned in the documentation anywhere (just in the patches)

[2020-02-09 08:58] yanivpaz1973 commented on #695
can you please refer to these documentation
the plugin is looking for helm.exe and kubectl.exe

[2020-02-09 22:46] itowlson commented on #695
@ericvh Thanks, we'll try to make this clearer.  The idea should be:

* If you set the `use-wsl` config entry to `true`, then all command line tools will be invoked via WSL instead of via Windows - that is, we will run the Linux versions.
* This requires the tools (e.g. `kubectl`) to be on your WSL PATH.  _You will need to install these manually_ - I don't think the Install Dependencies button wor

[2020-02-10 17:25] bradygaster opened #696 "add "delete namespace""
I mentioned this to @squillace, who advised I create an issue. The one thing I'd like to see added to the extension (which is **amazingly awesome**, btw), is right-click-delete support for namespaces. Ideally, it would bark when the user tried it on a non-empty namespace, advising them to clear out said namespace prior to deletion. But for dev/test it'd be rad to have the delete namespace capabili

[2020-02-10 22:01] itowlson commented on #696
Yes, this omission feels artificial.  I'll take a look - thanks!

[2020-02-11 00:10] itowlson opened #699 "Snippet warning on load in latest build"
Current `master` gives the warning:

_[ms-kubernetes-tools.vscode-kubernetes-tools]: One or more snippets from the extension 'vscode-kubernetes-tools' very likely confuse snippet-variables and snippet-placeholders (see https://code.visualstudio.com/docs/editor/userdefinedsnippets#_snippet-syntax for more details)_

This may be a result of the snippet changes since last release e.g. #676 - I need t

[2020-02-11 02:51] itowlson commented on #699
Confirmed that this issue started after I merged #676, but I can't see what in that changeset it's complaining about: it all looks good to me!  @amirschw do you see this warning?  Can you spot what might be causing it?

[2020-02-11 03:00] itowlson commented on #699
Ah, I think it's the regeneration of the `range-*` snippet JSON.  E.g. previously `helm.json` line 192 read `"{{- range \\$i, \\$val := ${1:list} }}"` but now that last bit is `${1:$list} }}` (note the extra `$` in front of `list`).  I suspect this error occurred before and was 'fixed' by editing the generated `helm.json` - and when @amirschw regenerated it, that kludge got overwritten.  So I need

[2020-02-12 21:48] itowlson commented on #699
Closed via #701.

[2020-02-12 21:48] #699 closed

[2020-02-13 03:55] #696 closed

[2020-02-13 09:02] LeNouveau opened #703 "Reduce or hide panels"
Hi,

With the plugin, I'm only using the panel "Clusters".
Every time I start a new instance, I have to reduce "Helm Repos" and "Clouds", because I have a lot of configured namespaces.
This is not much, but it would be useful to hide/reduce those tabs, once for all.

I looked for an option in the config file, but I found nothing.

Is there any trick ?

PS : In my case, I'm only using the plugin to

[2020-02-13 18:05] bfitzpat commented on #593
May I propose this simple solution we came up with locally? It may not be the cleanest solution but may offer a route for you to explore. https://github.com/Azure/vscode-kubernetes-tools/pull/704

[2020-02-17 01:52] itowlson commented on #703
If you right-click the title bar and choose `Hide`, or uncheck the panel you don't want to see, VS Code appears to remember this across sessions.  Give this a go, and let me know if it doesn't work for you and I will do some more digging!

![image](https://user-images.githubusercontent.com/865538/74618051-09866100-5195-11ea-8092-76caa1781dec.png)

[2020-02-17 04:02] jcowhigjr commented on #684
the brew package of helm 3.1 on a mac installs the repo preferences with the repo locations $HOME/Library/Preferences/helm
also there is no helm init command as the hover message indicates

[2020-02-17 12:09] LeNouveau commented on #703
You're right, looks like what I'm looking for.
I did not try to use "right click" on panels.

Thank your for the information ! :)

[2020-02-17 12:09] #703 closed

[2020-02-25 05:17] a-h-abid opened #706 "Extension causes high CPU load"
[ms-kubernetes-tools.vscode-kubernetes-tools-unresponsive.cpuprofile.txt](https://github.com/Azure/vscode-kubernetes-tools/files/4248159/ms-kubernetes-tools.vscode-kubernetes-tools-unresponsive.cpuprofile.txt)

Issue Type: Performance
Extension Name: vscode-kubernetes-tools
Extension Version: 1.09
OS Version: Windows 10 Enterprice x64 Build 1909
VSCode version: 1.42.1 (user setup)

[2020-02-26 00:50] mjbvz commented on #600
Friendly ping. All Microsoft extensions should really have the extra level of protection a strict CSP brings :)

[2020-03-02 14:58] nrapopor opened #707 "Removing the need for explicit paths in VSCode portable"
Hi first of al,l love the product -- use it to manage various kubernetes clusters (at work and at home) very nice interface. So this is not an issue, more of an enhancement request.

When you run VSCode in "portable" mode -- meaning you install the the extensions and user data under "data" folder. We still need the explicit paths for the tools installed for the extension -- kubectl, helm, etc. Is

[2020-03-02 20:24] itowlson commented on #707
Hmm, this is an interesting point.  We currently install tools under the user's home directory and configure them by absolute path.  There is a VS Code API for an 'extension data folder', which I have been meaning to switch to, but I'm not sure where it puts that in Portable mode - whether it is under the `data` folder or still under the the user home folder.  Let me test it out, and if it does ex

[2020-03-02 21:48] nrapopor commented on #707
I did not know the config would respect variables .... That opens possibilities ...
Not neccesarily a problem with multiple portable versions -- just add a wrapper script that sets the <current folder>/data as the variable then launch vscode ...

As a thought -- the way "Portable mode" works for VSCode is: if "data" directory exists in the instalation location ... it then looks for "extensions" an

[2020-03-04 20:02] JingangLi opened #708 "Execute helm install with VSCode command fails: Error: cannot set --generate-name and also specify a name"
Extension Name: vscode-kubernetes-tools
Extension Version: 1.1.0
OS Version: Windows 10 Enterprice x64 Build 1909
VSCode version: 1.42.1
Helm version: 3.1.1
![image](https://user-images.githubusercontent.com/1295882/75917985-33a97580-5e5b-11ea-9a7f-02974219f824.png)

When I use Ctrl + shift + P to execute helm:install command, it fails as Error: cannot set --generate-name and also specify a name
!

[2020-03-04 21:08] itowlson commented on #708
The `Helm: Install` command automatically passes `-g` at the moment.  We should provide support for setting a name.

[2020-03-04 21:10] itowlson commented on #708
Is it okay if I rename this issue to make it an enhancement request for setting an explicit name?  Otherwise I'll open a new one and link this.  Thanks!

[2020-03-04 22:28] itowlson commented on #600
@mjbvz I'm struggling with the documentation and sample - I get `property 'cspSource' does not exist on type 'Webview'` on the img-src fragment, and I don't understand the `script-src 'nonce=${nonce}'` fragment well enough to understand what I should replace it with.

None of my HTML files reference any external resources (though they do need to run JS that is included inline in the HTML, and to t

[2020-03-04 22:31] mjbvz commented on #600
Are you using TypeScript? Can you link to your branch?

Content security policies are a general web concept so there's also lots of documentation on how to use them for websites that should help you get started

[2020-03-04 22:43] itowlson commented on #600
Yes, I'm using TypeScript.  Here's an example of one of our webviews, picked at random but fairly typical:

https://github.com/Azure/vscode-kubernetes-tools/blob/c34d7d11aaccaad55fcffe126caa14366d053d90/src/components/describe/describeWebview.ts#L71

(That's my master branch; I don't have a branch showing what I'm trying in context.  The fragment I was trying to adapt was from the Cat Coding sampl

[2020-03-04 23:20] mjbvz commented on #600
Do the VS Code extension samples not work for you?

CSP are important because—if your html sanitization fails—content injected into a webpage could run scripts or do other bad things. They are a security best practice even if you don't think you will ever be exposed to content injection.

For your CSP, you should use `none` as the default and then only opt in what you need to (such as running scri

[2020-03-05 04:26] itowlson commented on #687
Proposed experience (WIP):

* On activation:
  * kubectl not present: suppressible message
  * minikube, Helm or Draft not present: no message
* On command invocation:
  * tool required for that command not present: message always because the command was an explicit invoke
    * NOTE: API-driven tree view refresh is routed through a command; ideally that should never show a message
  * review if t

[2020-03-05 15:59] JingangLi commented on #708
Hi @itowlson ,

If you can change the ticket to an enhancement request it is great!
Before it is ready, I need to use teminal command line to deploy some chart package.

Rgds,
Jingang Li

[2020-03-06 15:16] sebascomeau opened #709 "Cannot resolve %USERPROFILE%"
I updated VS Code Kubernetes extension to the newest version 1.1.0.

It cannot resolved %USERPROFILE%\.kube\config when trying to merge cluster in kubeconfig. I need to set the setting vs-kubernetes.kubeconfig with the kubconfig absolute path (ie: C:\\users\\[username]\\.kube\\config).

I tried version 1.0.9 and everything works as expected.

[2020-03-06 19:33] sebascomeau commented on #709
Problem was caused by the following system variable on my computer.

HOME = %USERPROFILE%

I removed it and added HOME to the user variable with absolute path to C:\users\[username].

It was causing problem with git too.

[2020-03-06 19:33] #709 closed

[2020-03-13 10:36] lstocchi opened #711 "Add new api to support Watch"
After merging #686 users can now watch resources and see their tree refreshed automatically. As discussed in the PR, It would be nice if the extension also allowed external extensions that extend this one to have access to this feature.

[2020-03-16 15:38] lslavkov opened #713 "Kubernetes denying permission"
I have permission to one OpenShift project but I am unable to interact with the project in VSCode. I get an error:

`Error from server (Forbidden): namespaces is forbidden: User cannot list namespaces at the cluster scope: no RBAC policy matched`

I do not care about listing all namespaces. I only want to work with one namespace where I do have permissions.

Is this expected error?

[2020-03-18 12:50] KristofKlein commented on #617
same here

[2020-03-18 19:12] itowlson commented on #617
@bnookala do you have bandwidth for this?

[2020-03-18 22:38] itowlson opened #715 "Cloud Explorer > Merge to Kubeconfig should handle if kubeconfig doesn't exist"
In this case it should:

* Create a kubeconfig file at the default location
* Merge the cluster config into the empty file
* Make the cluster active

before refreshing the Cluster Explorer.

cc @bradygaster

[2020-03-22 04:44] fuzznsit commented on #707
Hi ,

where do i need to set the env variable ?
can you please help by pasting and example for the same.

I have been struggling to enable use of portable mode in WTS where we have very less user space.

Thanks

[2020-03-22 23:02] itowlson commented on #707
@fuzznsit The environment variable would need to be set before you launch VS Code (which isn't ideal because it means you need to either set it globally per machine or have a little wrapper script to launch Code, but it's the best I can think of until I have time to implement Portable Mode properly).  @nrapopor did you manage to get this working and do you have an example you can share?

[2020-03-23 08:05] jiridanek commented on #713
@lslavkov Can you comment here if the OpenShift Connector extension worked for you?

[2020-03-23 11:33] lslavkov commented on #713
@jiridanek I just checked if does this have dependency. Since I got on my machine Openshift 3.X version I need either [minishift](https://github.com/minishift/minishift) or [cdk](https://developers.redhat.com/products/cdk/download).

[2020-03-23 12:37] jiridanek commented on #713
That sounds wrong. You should be able to connect it to existing deployed cluster somehow. Same as the Kubernetes for vscode one.

[2020-03-23 19:06] Evilazaro opened #718 "Extension is not working with the Latest Version of Azure CLI - 2.2.0 or later"
When I try to add a new cluster in the Kubernetes tools window, I got the error below:

![image](https://user-images.githubusercontent.com/20006379/77353655-99707b00-6cfe-11ea-8425-60e8689d4431.png)

I'm using Windows and I did not find a way to install a specific version of the Azure CLI, just the latest one.

[2020-03-23 23:28] gorkem commented on #713
OpenShift Connector should work with **any** OpenShift cluster 3.x, 4.x. If it does not it is a bug report it on https://github.com/redhat-developer/vscode-openshift-tools

[2020-03-24 14:39] trhumphries opened #719 "Kubernetes: Debug (Attach) prompts to install for c#"
It prompts to install C# for Visual Studio Code even when its already installed. And won't attach to a Dotnet process

[2020-03-24 23:22] #715 closed

[2020-03-24 23:32] itowlson commented on #719
I think this might be because the C# extension changed its ID.  If so, this is fixed in #710 but it hasn't been shipped yet.  I will prioritise doing a new release to address this.

[2020-03-24 23:35] itowlson commented on #718
Hmm, that seems to be a warning coming from the Azure CLI `interactive` extension, which we are incorrectly treating as an error.  If you are not using the `interactive` extension to the CLI, could you try uninstalling it using `az extension remove` please, and see if the problem goes away?  Thanks!

[2020-03-26 01:01] daniv-msft opened #721 "Active namespace should be more prominent in the UI"
As of today the active namespace isn't very visible in the UI. Because of that, extensions contributing to the UI and relying on the current namespace are nested in a specific tree node that is hard to access/discover.

Also, because the resources nodes are at the same level as the namespace node, it is not clear that the resources are actually filtered by the currently active namespace.

Here is

[2020-03-26 01:08] daniv-msft opened #722 "Add an option to view resources for all namespaces"
As of today, the resources nodes only show resources for the currently active namespace.
It would be great to add a way to list resources across **all namespaces**.

I understand that this has side-effects in the UI (specifically: how to keep showing the active namespace while listing resources for all namespaces), but it would be a great feature to add to the Kubernetes extension.

[2020-03-26 14:20] trhumphries commented on #719
Any estimated ETA on the new release?

[2020-03-26 19:56] itowlson commented on #719
Oops, sorry, should have posted.  A release went out yesterday that includes @devlead's change.  Check if you have 1.1.1; if you still have the problem with that version then let us know and we will investigate.

[2020-03-26 20:24] itowlson opened #723 "Formulate governance model"
As this project is now widely used, and provides critical foundations for other extensions, we should put some (light touch?) governance in place so that:

* We have a clear equitable process for appointing maintainers
* Stakeholders can be sure their interests are represented
* The project moves more predictably than "when the spirit moves Ivan"

This issue is to discuss what such governance shou

[2020-03-26 21:03] bradygaster commented on #715
Will try this out!

[2020-03-26 21:21] jiridanek commented on #713
@lslavkov Can you ready to close this issue please, since you are ok with the resolution?

[2020-03-27 16:48] Evilazaro commented on #718
I've removed the interactive extension and now it is working, thanks.

[2020-03-27 22:44] bradygaster commented on #715
Worked like a champ. I went from a GitHub repo to having the extension lit-up-and-ready in 30 seconds. Within two minutes I was successfully executing `apply` commands on an AKS cluster using the tools. Fantastic.

[2020-03-27 23:33] theoharr commented on #593
Any update on this one? The follow logs function isn't really usable without the autoscrolling.

[2020-03-27 23:44] theoharr commented on #683
I can confirm this is still an issue in the current version

[code]

[2020-03-28 21:26] #713 closed

[2020-03-30 12:35] Slywire commented on #616
This issue seems to be resolved after I updated to VS Code version 1.43.2

[2020-03-30 12:35] #616 closed

[2020-03-30 14:51] brendandburns commented on #695
We should consider ripping out the `use-wsl` feature, the integration with the Remote-Containers plugin works much cleaner, and I don't think there's much that you can do with `use-wsl` that you can't do with remote-containers.

The one caveat would be that all of the YAML files etc would need to be in the WSL workspace instead of the Windows workspace, but I'm not sure that's a blocker...

[2020-03-30 14:58] brendandburns commented on #682
Docs are here:
https://kubernetes.io/blog/2019/01/14/apiserver-dry-run-and-kubectl-diff/

We should do `kubectl apply --dry-run` instead of just using the file-system.

[2020-04-02 18:47] mmoron opened #724 "breakpoints in vscode not working as expected when debugging in docker container"
I'm trying to debug .netcore mvc application running in a docker container with kubernetes.

I've installing `vsdbg` inside a container and run it. Here is my dockerfile:

[code]

and this is my deployment yaml:
[code]

Application starts as expected and I'm running `Kubernetes: Attach (Attach)` in vscode. Debugger is being attached as expected. So far so good. Unfortunately when I hit a breakpoin

[2020-04-03 15:38] mattjanson commented on #724
Same issue here for vscode-kubernetes-tools 1.1.1 using kubernetes 1.17.3 on minikube.
I assume that is because of the lack of a "sourceFileMap" entry for the generated launch configuration.
If I am not mistaken, that is solved for nodejs with the following settings:
"vs-kubernetes.nodejs-autodetect-remote-root":true,
"vs-kubernetes.nodejs-remote-root": "/src",
It would be great to have the posibi

[2020-04-03 17:10] lstocchi opened #725 "Error when opening "show log" webview after having already opened and closed it"
I found an error when trying to open the `show logs` webview for the second time after having already opened and closed it.

![image](https://user-images.githubusercontent.com/49404737/78385261-de888d00-75db-11ea-8513-06728fdf4e61.png)

The issue sits in the `currentPanels` map. When the new webview is created it is added to the map with a key `namespace/resource/name`. When the panel is closed, t

[2020-04-06 07:38] lstocchi commented on #719
@trhumphries is this issue solved?

[2020-04-06 07:48] #711 closed

[2020-04-06 12:11] trhumphries commented on #719
Yes it is

[2020-04-06 12:11] #719 closed

[2020-04-07 01:55] itowlson commented on #718
Closing as this was an Azure CLI issue where the error message was misleading, and is now resolved, but this may imply we are being oversensitive to errors-that-are-actually-warnings...

[2020-04-07 01:55] #718 closed

[2020-04-07 02:09] itowlson opened #728 "Automate release process"
Currently the release process for the extension is:

* I go "what ho, I think I'll do a release"
* I create a publish-x.x.x branch to update the version and the changelog (and any other docs etc. that didn't get updated in the course of the feature work)
* I build a VSIX locally and do some smoke testing
* I create a PR and merge the publish branch
* I pull upstream/master, build a VSIX locally an